@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ServiceRecipientModels.ServiceRecipientModel[];

<nhs-table>
<nhs-table-column>
    <div class="nhsuk-checkboxes__item">
        <div class="nhsuk-label nhsuk-checkboxes__label">
            Organisation
        </div>
    </div>
</nhs-table-column>
<nhs-table-column>ODS code</nhs-table-column>
@foreach (var (item, rIndex) in Model.Select((x, i) => (x, i)))
{
    <nhs-table-row-container id="@item.OdsCode">
        <nhs-table-cell>
            <nhs-checkbox-container>
                <nhs-checkbox asp-for="@Model[rIndex].Selected"
                              label-text="@item.Name"
                              hidden-input="@Model[rIndex].Name"
                              checkbox-class="modal-checkbox"/>
            </nhs-checkbox-container>
        </nhs-table-cell>
        <nhs-table-cell>
            <div class="nhsuk-input--width-10 nhsuk-u-margin-top-2">@item.OdsCode</div>
            <input id="ods-code-hidden" type="hidden" asp-for="@Model[rIndex].OdsCode" />
        </nhs-table-cell>
    </nhs-table-row-container>
}
</nhs-table>
