@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ServiceRecipientModels.ImportServiceRecipients.ImportServiceRecipientModel
@{
    ViewBag.Title = "Upload Service Recipients";
}

<partial name="Partials/_BackLink" model="@Model"/>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.Caption"
                        advice="Create a CSV with your Service Recipients in the first column and their ODS codes in the second column."/>

        <p>
            Add your Service Recipients to a template and import them for @Model.Caption.
            You’ll be able to edit them later.
            If you import Service Recipients more than once, they’ll be overwritten each time.
        </p>

        <vc:nhs-secondary-button text="Download template (CSV)"
                                 type="Secondary"
                                 url="@Model.DownloadTemplateLink"/>
        
        <hr class="nhsuk-section-break--m" />

        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="DownloadTemplateLink"/>
            <input type="hidden" asp-for="Caption"/>

            <nhs-fieldset-form-container asp-for="@Model" label-text="Upload a file" size="Medium">
                <nhs-file-upload file-type="Csv" asp-for="File"></nhs-file-upload>
            </nhs-fieldset-form-container>

            <nhs-submit-button></nhs-submit-button>
        </form>
    </div>
</div>
