@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ServiceRecipientModels.ImportServiceRecipients.ValidateOdsModel

@{
    ViewBag.Title = "There is a problem with your ODS codes";
}

<partial name="Partials/_BackLink" model="@Model"/>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.Caption"
                        advice="We cannot import all the Service Recipients in your CSV file."/>

        <div data-test-id="validate-ods-table">
            <nhs-table label-text="Failed imports">
                <nhs-table-column>Service Recipient</nhs-table-column>
                <nhs-table-column>ODS code</nhs-table-column>

                @for (var i = 0; i < Model.InvalidServiceRecipients.Count; i++)
                {
                    var local = i;
                    <nhs-table-row-container>
                        <input type="hidden" asp-for="InvalidServiceRecipients[local].Organisation"/>
                        <input type="hidden" asp-for="InvalidServiceRecipients[local].OdsCode"/>

                        <nhs-table-cell>@Model.InvalidServiceRecipients[local].Organisation</nhs-table-cell>
                        <nhs-table-cell>@Model.InvalidServiceRecipients[local].OdsCode</nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        </div>

        <h2>Why have these Service Recipients failed to import?</h2>
        <p>We’ve not been able to match your ODS codes with the ones we have on record. This is because either:</p>

        <ul>
            <li>the wrong ODS code has been entered in your CSV file</li>
            <li>there is an ODS code missing from your CSV file</li>
            <li>the ODS code does not belong to a Service Recipient for your organisation</li>
            <li>the Service Recipient no longer exists</li>
            <li>the Service Recipient is new and has not yet been added to our records. You can <a href="@Url.Action(nameof(HomeController.ContactUs), typeof(HomeController).ControllerName())">contact us to find out when it will be added</a></li>
        </ul>

        <p>If you continue with your import, any Service Recipients that have failed to import will not be included.</p>

        <vc:nhs-secondary-button type="Primary"
                                         text="Continue"
                                         url="@Model.ValidateNamesLink" />

        <div>
            <a href="@Model.CancelLink">
                Cancel
            </a>
        </div>
    </div>
</div>
