@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Order.CompleteOrderModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title"
                            advice="You’re about to complete this order and will be unable to make any further changes. As you're paying for this order in full using your GP IT Futures centrally held funding allocation, payment will be centrally processed. Once your order is completed, you'll be able to get a copy of your order summary to include in the contract you send to the supplier." />
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <input type="hidden" asp-for="@Model.Description" />
                <nhs-fieldset-form-container asp-for="@Model"
                                             label-text="Order description">
                    @Model.Description<br />
                    <p style="margin-bottom:30px"></p>

                    <nhs-submit-button text="Complete Order" /><br />

                    <vc:nhs-secondary-button text="Continue editing order"
                                             use-primary-colour="false"
                                             url="@Url.Action(
                                                 nameof(OrderController.Order),
                                                 typeof(OrderController).ControllerName(),
                                                 new { Model.OdsCode, Model.CallOffId })" />
                </nhs-fieldset-form-container>
            </form>
        </div>
    </div>
</div>
