@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Order.DeleteOrderModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="delete-order-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" title-advice="Confirm you want to delete this order." />
            <h2 data-test-id="order-description-title">Order description</h2>
            <p data-test-id="order-description">@Model.Description</p>
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="bc-u-inline-block">
                            <div data-test-id="no-button">
                                <a class="nhsuk-button nhsuk-u-margin-top-9 nhsuk-u-margin-right-5" href="@Model.BackLink" draggable="false">
                                    Cancel delete
                                </a>
                            </div>
                        </div>
                        <div class="bc-u-inline-block">
                            <div data-test-id="yes-button">
                                <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                                    Confirm delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
