@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Order.OrderModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="@Model.CallOffId-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@Model.Title"
                            advice="Complete the following steps to create an order" />

            <nhs-fieldset-form-container asp-for="@Model"
                                         label-text="Order Description"
                                         label-hint="@Model.Description">
                <br />
                <nhs-task-list>
                    <nhs-task-list-section label-text="Start your order">
                        <nhs-task-list-item label-text="Provide a description of your order"
                                            url="@Url.Action(
                                                action:"OrderDescription",
                                                controller:"Order",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Organisation Information">
                        <nhs-task-list-item label-text="Provide Call-off Ordering Party Information"
                                            url="@Url.Action(
                                                action:"OrderingParty",
                                                controller:"Order",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                        <nhs-task-list-item label-text="Provide Supplier information"
                                            url="@Url.Action(
                                                action:"Supplier",
                                                controller:"Supplier",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Add services">
                        <nhs-task-list-item label-text="Provide commencement date for this agreement"
                                            url="@Url.Action(
                                                action:"CommencementDate",
                                                controller:"Order",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                        <nhs-task-list-item label-text="Add Catalogue Solutions to your order"
                                            url="@Url.Action(
                                                action:"Index",
                                                controller:"CatalogueSolutions",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                        <nhs-task-list-item label-text="Add Additional Services to your order"
                                            url="@Url.Action(
                                                action:"Index",
                                                controller:"AdditionalServices",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                        <nhs-task-list-item label-text="Add Associated Solutions to your order"
                                            url="@Url.Action(
                                                action:"Index",
                                                controller:"AssociatedServices",
                                                values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Indicate funding source">
                        <nhs-task-list-item label-text="Explain how you're paying for this order"
                                            url="@Url.Action(
                                                    action:"FundingSource",
                                                    controller:"Order",
                                                    values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId})"
                                            status="Completed" />
                    </nhs-task-list-section>
                </nhs-task-list>
            </nhs-fieldset-form-container>

            <vc:nhs-secondary-button text="Complete Order"
                                     url="@Url.Action(
                                            action:"CompleteOrder",
                                            controller:"Order",
                                            values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId })"
                                     use-primary-colour="true"/><br />

            <vc:nhs-secondary-button text="Preview order summary"
                                     url="@Url.Action(
                                            action: "Summary",
                                            controller:"Order",
                                            values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId })"
                                     use-primary-colour="false"/><br />

            <vc:nhs-delete-button text="Delete order"
                                  url="@Url.Action(
                                            action: "DeleteOrder",
                                            controller:"Order",
                                            values: new { odsCode = Model.OdsCode, CallOffId = Model.CallOffId })"/>
        </div>
    </div>
</div>
