@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Order.OrderModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="@Model.CallOffId-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title"
                            advice="@Model.TitleAdvice" />

            <nhs-fieldset-form-container asp-for="@Model"
                                         label-text="Order Description"
                                         label-hint="@Model.Description">
                <br />
                <br />
                <nhs-task-list>
                    <nhs-task-list-section label-text="Prepare order">
                        <nhs-task-list-item label-text="Provide a description of your order"
                                            url="@Model.DescriptionUrl"
                                            status="@Model.SectionStatuses.DescriptionStatus" />
                        <nhs-task-list-item label-text="Provide Call-off Ordering Party Information"
                                            url="@Url.Action(
                                                nameof(OrderController.OrderingParty),
                                                typeof(OrderController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.OrderingPartyStatus" />
                        <nhs-task-list-item label-text="Provide Supplier information"
                                            url="@Url.Action(
                                                nameof(SupplierController.Supplier),
                                                typeof(SupplierController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.SupplierStatus" />
                        <nhs-task-list-item label-text="Provide commencement date for this agreement"
                                            url="@Url.Action(
                                                nameof(OrderController.CommencementDate),
                                                typeof(OrderController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.CommencementDateStatus" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Add services">
                        <nhs-task-list-item label-text="Add Catalogue Solutions to your order"
                                            url="@Url.Action(
                                                nameof(CatalogueSolutionsController.Index),
                                                typeof(CatalogueSolutionsController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.CatalogueSolutionsStatus" />
                        <nhs-task-list-item label-text="Add Additional Services to your order"
                                            url="@Url.Action(
                                                nameof(AdditionalServicesController.Index),
                                                typeof(AdditionalServicesController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.AdditionalServiceStatus" />
                        <nhs-task-list-item label-text="Add Associated Services to your order"
                                            url="@Url.Action(
                                                nameof(AssociatedServicesController.Index),
                                                typeof(AssociatedServicesController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.AssociatedServiceStatus" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Complete order">
                        <nhs-task-list-item label-text="Indicate funding source"
                                            url="@Url.Action(
                                                    nameof(OrderController.FundingSource),
                                                    typeof(OrderController).ControllerName(),
                                                    new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.FundingSourceStatus" />
                        <nhs-task-list-item label-text="Review and complete order"
                                            url="@Url.Action(
                                                    nameof(OrderController.Summary),
                                                    typeof(OrderController).ControllerName(),
                                                    new { Model.OdsCode, Model.CallOffId })"
                                            status="@Model.SectionStatuses.ReviewAndCompleteStatus" />
                    </nhs-task-list-section>
                </nhs-task-list>
            </nhs-fieldset-form-container>

            <vc:nhs-secondary-button text="Preview order summary"
                                     url="@Url.Action(
                                            nameof(OrderController.Summary),
                                            typeof(OrderController).ControllerName(),
                                            new { Model.OdsCode, Model.CallOffId })"
                                     use-primary-colour="false" /><br />

            <vc:nhs-delete-button text="Delete order"
                                  url="@Url.Action(
                                            nameof(OrderController.DeleteOrder),
                                            typeof(OrderController).ControllerName(),
                                            new { Model.OdsCode, Model.CallOffId })" />
        </div>
    </div>
</div>
