@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Order.OrderModel
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="@Model.CallOffId-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            advice="@Model.TitleAdvice"
							caption = "@Model.OrganisationName" />

				@if (!string.IsNullOrWhiteSpace(Model.Description)){
					<h2 class="nhsuk-heading-s">Description</h2>
					<p>@Model.Description</p>
				}

                <nhs-task-list>
                    <nhs-task-list-section label-text="Prepare order">
                        <nhs-task-list-item label-text="Order description"
                                            url="@Model.DescriptionUrl"
                                            status="@Model.SectionStatuses.DescriptionStatus" />
                        <nhs-task-list-item label-text="Call-off Ordering Party contact details"
                                            url="@Url.Action(
                                                nameof(OrderingPartyController.OrderingParty),
                                                typeof(OrderingPartyController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.OrderingPartyStatus" />
                        <nhs-task-list-item label-text="Supplier information and contact details"
                                            url="@Url.Action(
                                                nameof(SupplierController.Supplier),
                                                typeof(SupplierController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.SupplierStatus" />
                        <nhs-task-list-item label-text="Commencement date for this Call-off Agreement"
                                            url="@Url.Action(
                                                nameof(CommencementDateController.CommencementDate),
                                                typeof(CommencementDateController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.CommencementDateStatus" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Add services">
                        <nhs-task-list-item label-text="Add Catalogue Solutions to your order"
                                            url="@Url.Action(
                                                nameof(CatalogueSolutionsController.Index),
                                                typeof(CatalogueSolutionsController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.CatalogueSolutionsStatus" />
                        <nhs-task-list-item label-text="Add Additional Services to your order"
                                            url="@Url.Action(
                                                nameof(AdditionalServicesController.Index),
                                                typeof(AdditionalServicesController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.AdditionalServiceStatus" />
                        <nhs-task-list-item label-text="Add Associated Services to your order"
                                            url="@Url.Action(
                                                nameof(AssociatedServicesController.Index),
                                                typeof(AssociatedServicesController).ControllerName(),
                                                new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.AssociatedServiceStatus" />
                    </nhs-task-list-section>
                    <nhs-task-list-section label-text="Complete order">
                        <nhs-task-list-item label-text="Indicate funding source"
                                            url="@Url.Action(
                                                    nameof(FundingSourceController.FundingSource),
                                                    typeof(FundingSourceController).ControllerName(),
                                                    new { Model.OdsCode, Model.CallOffId})"
                                            status="@Model.SectionStatuses.FundingSourceStatus" />
                        <nhs-task-list-item label-text="Review and complete order"
                                            url="@Url.Action(
                                                    nameof(OrderController.Summary),
                                                    typeof(OrderController).ControllerName(),
                                                    new { Model.OdsCode, Model.CallOffId })"
                                            status="@Model.SectionStatuses.ReviewAndCompleteStatus" />
                    </nhs-task-list-section>
                </nhs-task-list>

            <vc:nhs-secondary-button text="Preview order summary"
                                     url="@Url.Action(
                                            nameof(OrderController.Summary),
                                            typeof(OrderController).ControllerName(),
                                            new { Model.OdsCode, Model.CallOffId })"
                                     use-primary-colour="false" /><br />

            <vc:nhs-delete-button text="Delete order"
                                  url="@Url.Action(
                                            nameof(DeleteOrderController.DeleteOrder),
                                            typeof(DeleteOrderController).ControllerName(),
                                            new { Model.OdsCode, Model.CallOffId })"/>
        </div>
    </div>
</div>
