@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions; 
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.DeleteCatalogueSolution.DeleteSolutionModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="delete-catalogue-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewBag.Title"
                            advice="This Catalogue Solution will be deleted from all the Service Recipients in your order along with any of its Additional Services." />
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.InternalOrgId" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-submit-button text="Delete" />
                <br/>
                <a asp-action="@nameof(CatalogueSolutionsController.EditSolution)"
                    asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                    asp-route-internalOrgId="@Model.InternalOrgId"
                    asp-route-callOffId="@Model.CallOffId"
                    asp-route-catalogueItemId="@Model.SolutionId">Cancel</a>
            </form>
        </div>
    </div>
</div>
