@model NHSD.GPIT.BuyingCatalogue.WebApp.Views.ComponentTestModel
@{ 
    ViewBag.ListOfCrap = new List<string> { "hello", "goodbyee" };

    ViewBag.BreadCrumbList = new Dictionary<string, string>
    {
        {"first crumb", "a/ref" },
        {"second crumbs", "b/ref" },
    };
}

<vc:nhs-breadcrumbs items="@ViewBag.BreadCrumbList" />
<br/>
<br/>
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="This is the Test Component Title"
                            caption="This is the Caption"
                            advice="This is the Test Component Title Advice"
                            additional-advice="This is the Test Component Title Advice Additional" />

            <vc:nhs-care-card title="This is the Non-Urgent Test Care Card"
                              list-options="@Model.ListOfStringOptions"
                              footer="This is the Non-Urgent Footer"
                              display-type="NonUrgent" />


            <vc:nhs-care-card title="This is the Urgent Test Care Card"
                              list-options="@Model.ListOfStringOptions"
                              footer="This is the Urgent Footer"
                              display-type="Urgent" />

            <vc:nhs-care-card title=""
                              list-options="@Model.ListOfStringOptions"
                              footer=""
                              display-type="Immediate" />

            <vc:nhs-do-list items="@Model.ListOfStringOptions" />

            <vc:nhs-dont-list items="@Model.ListOfStringOptions" />

            <vc:nhs-image url="https://i.kym-cdn.com/entries/icons/original/000/032/279/Screen_Shot_2019-12-30_at_11.26.24_AM.png"
                          alt="helth"
                          caption="my helth so stronk my stonks go up" />

            <nhs-inset-text>
                this is some inset text
            </nhs-inset-text>

            <nhs-inset-text>
                this is some inset text with some text and a component
                <vc:nhs-action-link url="some/blah" text="go somewhere laddy" />
            </nhs-inset-text>

            <nhs-details label-text="This is an NHS Details">
                <p>And this is some random Html that i put into the details</p>
                <nhs-inset-text>
                    and this is the NHS inset text view component i put in here aswell
                </nhs-inset-text>
                <nhs-details label-text="and here is another details i put inside the other details">
                    <p>and some more random html besides</p>
                </nhs-details>
            </nhs-details>

            <nhs-expander label-text="And this is an expander">
                <p>and this is some random Html that i put into the expander</p>
                <nhs-inset-text>
                    and this is the NHS inset text view component running under the expander
                </nhs-inset-text>
                <nhs-expander label-text="and here is another expander">
                    <nhs-details label-text="that contains a details">
                        <vc:nhs-image url="https://i.kym-cdn.com/entries/icons/original/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg"
                                      alt="stonk"
                                      caption="and here are some stonks because its 9pm and i'm bored" />
                    </nhs-details>
                </nhs-expander>
            </nhs-expander>

            <nhs-summary-list>
                <nhs-summary-list-row label-text="This is a Summary Row Label">
                    <p>and here is a bit of custom text inside the summary list</p>
                    <p>with a paragraph per row</p>
                    <vc:nhs-address address="@Model.Adress" />
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="And another row">
                    <nhs-inset-text>
                        that contains another component
                    </nhs-inset-text>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="and a final row with input">
                    <nhs-input asp-for="UnpostedInputText" label-text="a test" />
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="And this contains a bunch of Tags">
                    <nhs-tag text="Active" />
                    <nhs-tag text="Inactive" colour="Grey" />
                    <nhs-tag text="Red" colour="Red" />
                    <nhs-tag text="Aqua Green" colour="AquaGreen" />
                    <nhs-tag text="Orange" colour="Orange" />
                    <nhs-tag text="and a really long random tag in purple" colour="Purple" />
                </nhs-summary-list-row>
            </nhs-summary-list>

            <vc:nhs-action-link url="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                text="This is an Action Link" />

            <nhs-warning-callout label-text="This is a warning callout">
                and this is some text content
            </nhs-warning-callout>

            <nhs-warning-callout label-text="This is another warning callout">
                and this is some text content and a component
                <nhs-inset-text>
                    which also has some random text
                </nhs-inset-text>
            </nhs-warning-callout>

            <nhs-table label-text="This is a Table">
                <nhs-table-row-container>
                    <nhs-table-cell column-name="Test 1">SOME TEXT OR SOMMIT</nhs-table-cell>
                    <nhs-table-cell column-name="TEST 2">SOME MORE TEXT OR SOMMIT</nhs-table-cell>
                    <nhs-table-cell column-name="An Input"><nhs-input asp-for="UnpostedInputText" /></nhs-table-cell>
                </nhs-table-row-container>
            </nhs-table>
            <br />
            <br />
            <nhs-table label-text="This is a table From a Model List">
                @foreach (var item in Model.TableRows)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell column-name="Column 1">@item.Col1</nhs-table-cell>
                        <nhs-table-cell column-name="Column 2">@item.Col2</nhs-table-cell>
                        <nhs-table-cell>@item.Col3</nhs-table-cell>
                        <nhs-table-cell column-name="Column 4">@item.Col4</nhs-table-cell>
                        <nhs-table-cell column-name="Column 5">@item.Col5</nhs-table-cell>
                        <nhs-table-cell column-name="Column 6">@item.Col6</nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
            <nhs-endnote>
                Page last reviewed : 10 June 2021
            </nhs-endnote>
            <br />
            <br />

            <form method="post">
                <nhs-page-title title="and this is the post form as a title with no hints" />

                <nhs-validation-summary />

                <nhs-input asp-for="InputText"
                           label-text="This is an input with a label"
                           label-hint="and a hint (counter is turned on)"
                           character-count="true" />

                <nhs-input asp-for="InputTextSecond"
                           label-text="this is an input with no counter or hint" />

                <nhs-input asp-for="InputTextPassword"
                           label-text="This is an input with a password attribute" />

                <nhs-bookended-input asp-for="BookendedInputText"
                                     label-text="This is Bookended"
                                     label-hint="with a hint"
                                     Prefix="£"
                                     Suffix="Per Consultation" />

                <nhs-bookended-input asp-for="SecondBookendedInput"
                                     label-text="This is Bookended no suffix"
                                     Prefix="£" />

                <nhs-bookended-input asp-for="ThirdBookenedInput"
                                     label-text="This is Bookended no prefix"
                                     Suffix="Per Consultation" />

                <nhs-textarea asp-for="TextAreaText"
                              label-text="This is a Text area with a label"
                              label-hint="and a hint (counter is on)" />

                <nhs-textarea asp-for="TextAreaTextSecond"
                              label-text="This is a text are with no hint or counter"
                              character-count="false" />

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="This is a date input"
                                         label-hint="and it has a hint">
                    <nhs-date-input asp-for="@Model" day="Day" month="Month" year="Year" />
                </nhs-fieldset-form-label>

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="This is a yes no radio list">
                    <nhs-yesno-radio-buttons asp-for="YesNoRadio" />
                </nhs-fieldset-form-label>

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="This is a radio from list">
                    <nhs-radio-buttons asp-for="SelectedRadio"
                                       values="@Model.RadioFromList"
                                       value-name="Value"
                                       display-name="Name" />
                </nhs-fieldset-form-label>

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="This is a checkbox from a bool with a label"
                                         label-hint="And another from an object">

                    <nhs-checkbox-container>
                        <nhs-checkbox asp-for="CheckBox" />

                        <nhs-checkbox asp-for="@Model.SecondCheckBox.Checked"
                                      hidden-input="@Model.SecondCheckBox.Name" />
                    </nhs-checkbox-container>
                </nhs-fieldset-form-label>

                <nhs-select asp-for="SelectedItemForSelectList"
                            asp-items="@(new SelectList(Model.SelectListItems,"Value","Text"))"
                            label-text="and this is a select list"
                            label-hint="with a hint" />

                <nhs-fieldset-form-container asp-for="@Model"
                                             label-text="This is a fieldset for multiple inputput groupings"
                                             label-hint="it has a hint">
                    <nhs-input asp-for="FormLine1"
                               label-text="this has a label" />
                    <nhs-input asp-for="FormLine2" />
                    <nhs-input asp-for="FormLine3" />
                    <nhs-input asp-for="SelectedRadio"
                               label-text="this also has a label" />
                </nhs-fieldset-form-container>

                <nhs-submit-button text="Submit Button Text" />

                <vc:nhs-secondary-button href="some/href" text="A Secondary Button" />

                <vc:nhs-delete-button href="some/other/href" text="A Delete Button" />
            </form>
        </div>
    </div>
</div>





