@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.FilterCapabilitiesModel

@{
    if (Model.IsFilter)
    {
        Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    }
    else if (User.IsAdmin())
    {
        Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    }
}

<partial name="Partials/_BackLink" model="Model.NavModel" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />
        @{
            var PageTitle = Model.GetPageTitle();
        }
        <nhs-page-title model="@PageTitle" />

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.IsFilter" />
            @foreach (var (kvp, i) in Model.GroupedItems.Select((kvp, i) => (kvp, i)))
            {
                <input type="hidden" name="@(Html.NameFor(m => m.GroupedItems[i])).Key" value="@kvp.Key" />
                @foreach (var (value, j) in kvp.Value.Select((value, j) => (value, j)))
                {
                    <input type="hidden" name="@(Html.NameFor(m => m.GroupedItems[i])).Value[@j]" value="@value" />
                }
            }

            <nhs-card>
                <nhs-table>
                    <nhs-table-column>Capability</nhs-table-column>
                    @{
                        var index = 0;
                        foreach (var (category, i) in Model.Groups.Select((value, i) => (value, i)))
                        {
                            var capabilities = Model.Items(category.Id);
                            <input type="hidden" asp-for="@Model.Groups[i].Id" />
                            <input type="hidden" asp-for="@Model.Groups[i].Name" />

                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    <strong>
                                        @category.Name
                                    </strong>
                                </nhs-table-cell>
                            </nhs-table-row-container>
                            @foreach (var capability in capabilities)
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>
                                        <nhs-checkbox-container>
                                            <nhs-checkbox asp-for="SelectedItems[index].Selected"
                                                          hidden-input="SelectedItems[index].Id"
                                                          label-text="@capability"
                                                          sub-group="@category.Name" />
                                        </nhs-checkbox-container>
                                    </nhs-table-cell>
                                </nhs-table-row-container>
                                index++;
                            }
                        }
                    }
                </nhs-table>
                <nhs-submit-button text="Apply Capabilities" />
            </nhs-card>
        </form>
    </div>
</div>
