@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.FilterCapabilitiesModel
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
    if (Model.IsFilter)
    {
        Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    }
    else if (User.IsAdmin())
    {
        Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    }
}

<partial name="Partials/_BackLink" model="Model.NavModel" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />
        @{
            var PageTitle = Model.GetPageTitle();
        }
        <nhs-page-title model="@PageTitle" />

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.IsFilter" />
            @foreach (var (kvp, i) in Model.CapabilityGroupsAndItems.Select((kvp, i) => (kvp, i)))
            {
                <input type="hidden" name="@(Html.NameFor(m => m.CapabilityGroupsAndItems[i])).Key" value="@kvp.Key" />
                @foreach (var (value, j) in kvp.Value.Select((value, j) => (value, j)))
                {
                    <input type="hidden" name="@(Html.NameFor(m => m.CapabilityGroupsAndItems[i])).Value[@j]" value="@value" />
                }
            }

            <nhs-card>
                <partial name="FilterCapabilitiesModal" model="@Model" />
                <nhs-submit-button text="Apply Capabilities" />
            </nhs-card>
        </form>
    </div>
</div>
