@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.EditSolutionModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="order-item-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title" advice="The information we have about this order has been included, but can be changed if required." />
        </div>
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.BackLinkText" />
            <input type="hidden" asp-for="@Model.OdsCode" />
            <input type="hidden" asp-for="@Model.Title" />
            <input type="hidden" asp-for="@Model.CurrencySymbol" />
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-u-margin-bottom-5">
                    <div>
                        <nhs-bookended-input asp-for="@Model.OrderItem.Price"
                                             label-text="What price have you agreed, in pounds?"
                                             label-hint="You can change the list price if you've agreed a different rate with the supplier."
                                             Prefix="@Model.CurrencySymbol"
                                             Suffix="@Model.OrderItem.ItemUnit.Description @Model.OrderItem.TimeUnit?.Description" />

                        <nhs-details label-text="How to fill this form">
                            <p><b>@Model.SecondColumnDetailsTitle</b></p>
                            <p>@Model.SecondColumnDetailsContent</p>
                            <p><b>What date should i enter?</b></p>
                            <p>Enter the planned delivery date you've agreed with the supplier. This is the day that each of the listed Service Recipients will start using this Catalogue Solution.</p>
                            <p>We've included the commencement date for this Call-off Agreement, but you can change it if you’ve agreed a different delivery date.</p>
                        </nhs-details>
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-column-full">
                <nhs-table>
                    <nhs-table-column>Recipient name (ODS Code)</nhs-table-column>
                    <nhs-table-column>@Model.SecondColumnName</nhs-table-column>
                    <nhs-table-column>Planned delivery date</nhs-table-column>
                    @for (int i = 0; i < Model.OrderItem.ServiceRecipients.Count; i++)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                <input type="hidden" asp-for="@Model.OrderItem.ServiceRecipients[i].Name" />
                                <input type="hidden" asp-for="@Model.OrderItem.ServiceRecipients[i].OdsCode" />
                                <div style="margin-bottom: 1.9em;"></div>
                                <div class="bc-c-data-text">@Model.OrderItem.ServiceRecipients[i].Name (@Model.OrderItem.ServiceRecipients[i].OdsCode)</div>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <div style="margin-bottom: 1.7em;"></div>
                                <nhs-bookended-input asp-for="@Model.OrderItem.ServiceRecipients[i].Quantity"
                                                     Suffix="@Model.SecondColumnSuffix" />
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <nhs-fieldset-form-label asp-for="@Model">
                                    <nhs-date-input asp-for="@Model"
                                                    day="@Model.OrderItem.ServiceRecipients[i].Day"
                                                    month="@Model.OrderItem.ServiceRecipients[i].Month"
                                                    year="@Model.OrderItem.ServiceRecipients[i].Year" />
                                </nhs-fieldset-form-label>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
                <div style="margin-top:30px">
                    <nhs-submit-button text="Save" /><br />
                    <vc:nhs-secondary-button url="/order/organisation/@Model.OdsCode/order/@Model.CallOffId/catalogue-solutions/select/solution/price/recipients"
                                             text="Edit Service Recipients" /><br />
                    <vc:nhs-delete-button url="/order/organisation/@Model.OdsCode/order/@Model.CallOffId/catalogue-solutions/delete/@Model.OrderItem.CatalogueItemId/confirmation/@Model.OrderItem.CatalogueItemName"
                                          text="Delete Catalogue Solution" />
                </div>
            </div>
        </form>
    </div>
</div>
