@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Models.Ordering;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.NewOrderItemModel;
@{
    ViewData["Title"] = Model.Title;

    ViewBag.SecondColumnName = Model.OrderItem.ProvisioningType switch
    {
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.Declarative => "Quantity",
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.OnDemand => "Quantity" + Model.OrderItem.TimeUnit.Description,
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.Patient => "Practice list size",
        _ => "Practice list size",
    };

    ViewBag.SecondColumnDetailsTitle = Model.OrderItem.ProvisioningType switch
    {
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.Declarative => "What quantity should I enter?",
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.OnDemand => "What quantity should I enter?",
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.Patient => "What list size should I enter?",
        _ => "What list size should I enter?",
    };

    ViewBag.SecondColumnDetailsContent = Model.OrderItem.ProvisioningType switch
    {
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.Declarative => "Enter the total amount you think you'll need for the entire duration of the order.",
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.OnDemand => "Estimate the quantity you think you'll need either per month or per year.",
        var _ when Model.OrderItem.ProvisioningType == ProvisioningType.Patient => "Enter the amount you wish to order. This is usually based on each Service Recipient's practice list size to help calculate an estimated price, but the figure can be changed if required.<br><br>As you’re ordering per patient, we've included each practice list size if we have it. If it's not included, you'll need to add it yourself.",
        _ => "Enter the amount you wish to order. This is usually based on each Service Recipient's practice list size to help calculate an estimated price, but the figure can be changed if required.<br><br>As you’re ordering per patient, we've included each practice list size if we have it. If it's not included, you'll need to add it yourself.",
    };

}

<div class="nhsuk-width-container" data-test-id="order-item-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title" title-advice="The information we have about this order has been included, but can be changed if required." />
        </div>
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.BackLinkText" />
            <input type="hidden" asp-for="@Model.OdsCode" />
            <input type="hidden" asp-for="@Model.Title" />

            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-u-margin-bottom-5">
                    <div>
                        <nhs-bookended-input asp-for="@Model.OrderItem.Price"
                                             label-text="What price have you agreed?"
                                             Prefix="@Model.CurrencySymbol"
                                             Suffix="@Model.OrderItem.ItemUnit.Description @Model.OrderItem.TimeUnit?.Description" />

                        <nhs-details label-text="What price should I enter?">
                            You can change the list price if you’ve agreed a different rate with the supplier.
                        </nhs-details>
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-column-full">
                <nhs-table>
                    <nhs-table-column>Recipient name (ODS Code)</nhs-table-column>
                    <nhs-table-column>@ViewBag.SecondColumnName</nhs-table-column>
                    <nhs-table-column>
                        Planned delivery date
                        <span data-test-id="column-heading-2-hint" class="nhsuk-hint">For example 14 01 2020</span>
                    </nhs-table-column>
                    @for (int i = 0; i < Model.OrderItem.ServiceRecipients.Count; i++)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                <input type="hidden" asp-for="@Model.OrderItem.ServiceRecipients[i].Name" />
                                <input type="hidden" asp-for="@Model.OrderItem.ServiceRecipients[i].OdsCode" />
                                @Model.OrderItem.ServiceRecipients[i].Name (@Model.OrderItem.ServiceRecipients[i].OdsCode)
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <nhs-input asp-for="@Model.OrderItem.ServiceRecipients[i].Quantity" />
                                <nhs-details label-text="@ViewBag.SecondColumnDetailsTitle">
                                    @ViewBag.SecondColumnDetailsContent
                                </nhs-details>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <nhs-fieldset-form-label asp-for="@Model">
                                    <nhs-date-input asp-for="@Model"
                                                    day="@Model.OrderItem.ServiceRecipients[i].Day"
                                                    month="@Model.OrderItem.ServiceRecipients[i].Month"
                                                    year="@Model.OrderItem.ServiceRecipients[i].Year" />
                                </nhs-fieldset-form-label>
                                <nhs-details label-text="What date should i enter?">
                                    <p>Enter the planned delivery date you've agreed with the supplier. This is the day that each of the listed Service Recipients will start using this Catalogue Solution.</p>
                                    <p>We've included the commencement date for this Call-off Agreement, but you can change it if you’ve agreed a different delivery date.</p>
                                </nhs-details>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
                <div style="margin-top:30px">
                    <vc:nhs-delete-button url="/order/organisation/@Model.OdsCode/order/@Model.CallOffId/catalogue-solutions/delete/neworderitem/confirmation/@Model.OrderItem.CatalogueItemName"
                                          text="Delete Catalogue Solution" />
                    <div class="bc-u-float-right">
                        <vc:nhs-secondary-button url="/order/organisation/@Model.OdsCode/order/@Model.CallOffId/catalogue-solutions/select/solution/price/recipients"
                                                 text="Edit Service Recipients" />
                        <nhs-submit-button text="Save" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
