@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.SelectSolutionServiceRecipientsModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="solution-recipients-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" title-advice="These are all the possible Service Recipients for this Call-off Ordering Party. Select those you’ll be ordering this Catalogue Solution for." />
        </div>
        <div class="nhsuk-grid-column-full">            
            <div data-test-id="select-deselect-button">
                <a class="nhsuk-button nhsuk-button--secondary" href="/order/organisation/@Model.OdsCode/order/@Model.CallOffId/catalogue-solutions/select/solution/price/recipients?selectionMode=@Model.SelectionParameter" draggable="false">
                    @Model.SelectionPrompt
                </a>
            </div>            
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <div id="selectSolutionRecipients" data-test-id="recipients-table" class="">
                    <table data-test-id="table" class="" style="page-break-inside:auto">
                        <thead data-test-id="table-headings" style="display:table-header-group;">
                        <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-12" style="width:50%">
                            <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Organisation</div>
                        </th>
                        <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-12" style="width:50%">
                            <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">ODS Code</div>
                        </th>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ServiceRecipients.Count(); i++)
                            {
                                <tr data-test-id="table-row-@i" style="page-break-inside:avoid; page-break-after:auto">
                                    <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                        <div data-test-id="@Model.ServiceRecipients[i].OdsCode-organisationName">
                                            <div class="nhsuk-form-group">
                                                <div class="nhsuk-checkboxes">
                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input" asp-for="@Model.ServiceRecipients[i].Checked" type="checkbox">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label" asp-for="@Model.ServiceRecipients[i].Checked">
                                                            @Model.ServiceRecipients[i].Name
                                                        </label>
                                                        <input type="hidden" asp-for="@Model.ServiceRecipients[i].Name" />
                                                        <input type="hidden" asp-for="@Model.ServiceRecipients[i].OdsCode" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                        <div data-test-id="@Model.ServiceRecipients[i].OdsCode-odsCode" class="bc-c-data-text nhsuk-input--width-10 nhsuk-u-margin-top-2">@Model.ServiceRecipients[i].OdsCode</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div data-test-id="continue-button">
                    <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
