@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.SelectFlatDeclarativeQuantityModel;
@{
    ViewData["Title"] = Model.Title;
}

<div data-test-id="order-item-provisiontype-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <nhs-validation-summary />
        <nhs-page-title title="@Model.Title" advice="Enter the total amount you think you'll need." />
        <div class="nhsuk-grid-column-full">
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-bookended-input asp-for="@Model.Quantity"
                                     label-text="How many do you need?" />

                <nhs-details label-text="What quantity should i enter?">
                    Enter the total amount you think you'll need for the entire duration of the order.
                </nhs-details>
                <nhs-submit-button text="Continue" />
            </form>
        </div>
    </div>
</div>
