@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.SelectSolutionPriceModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="solution-price-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" 
                            advice="Select the list price for this Catalogue Solution. If you’ve agreed a different price with the supplier, the values can be altered later." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-fieldset-form-label asp-for="@Model"
                                    label-text="Select list price">
                    <nhs-radio-buttons asp-for="@Model.SelectedPrice"
                                        values="@Model.Prices"
                                        value-name="CataloguePriceId"
                                        display-name="Description" />
                </nhs-fieldset-form-label>
                <nhs-submit-button text="Continue"/>
            </form>
        </div>
    </div>
</div>
