@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.SelectSolutionModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="solution-select-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="SelectedSolutionId"/>
            <nhs-page-title title="@ViewBag.Title"
                            advice="These are the Catalogue Solutions provided by the supplier you’ve chosen. Select the one you want to purchase from the list." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Select a Catalogue Solution">
                    <nhs-radio-buttons asp-for="SelectedSolutionId"
                                       values="@Model.Solutions"
                                       value-name="@nameof(CatalogueItem.Id)"
                                       display-name="@nameof(CatalogueItem.Name)" />
                </nhs-fieldset-form-label>
                <br/>
                <nhs-submit-button text="Continue" />
            </form>
        </div>
    </div>
</div>
