@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.OrderTriage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.InsetText
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.OrderTriage.TriageDueDiligenceModel
@{
    ViewBag.Title = Model.Title;
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary RadioId="@nameof(Model.Selected)" />
            <nhs-page-title title="@ViewBag.Title"
                            advice="@Model.Advice"
                            caption="@Model.OrganisationName" />

            <form method="post">
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="BackLinkText" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="Advice" />
                <input type="hidden" asp-for="Option" />
                <input type="hidden" asp-for="OrganisationName" />

                @if (Model.Option == OrderTriageValue.Under40K)
                {
                    <nhs-inset-text data-test-id="triage-selection-inset">
                        <p>Your contract value should include everything you intend to spend.</p>
                        <p>It would not, for example, be acceptable to execute a number of Direct Awards to the same supplier to avoid carrying out a competition.</p>
                    </nhs-inset-text>
                } else if (Model.Option == OrderTriageValue.Between40KTo250K)
                {
                    <nhs-inset-text data-test-id="triage-selection-inset">
                        <p>When executing a competition, you cannot create requirements that result in a shortlist of one Catalogue Solution.</p>
                    </nhs-inset-text>
                }

                <nhs-fieldset-form-label asp-for="@Model" label-text="Have you identified what you want to order?" size="Medium">
                    <nhs-radio-buttons asp-for="Selected"
                                       values="Model.SelectListItems.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text" />
                </nhs-fieldset-form-label>

                <nhs-submit-button text="Continue" />
            </form>
        </div>
    </div>
</div>
