@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Tags
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierDefinedEpics.SupplierDefinedEpicsDashboardModel
@{
    ViewBag.Title = "Supplier defined Epics";
}

@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(HomeController.Index)" 
                       asp-controller="@typeof(HomeController).ControllerName()" 
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
            </ol>
        </div>
    </nav>
}

<nhs-page-title title="@ViewBag.Title"
                advice="Add a supplier defined Epic or edit an existing one."/>

<vc:nhs-action-link url="@Url.Action(
                             nameof(SupplierDefinedEpicsController.SelectCapabilities),
                             typeof(SupplierDefinedEpicsController).ControllerName())"
                    text="Add a supplier defined Epic"/>

@if (Model.SupplierDefinedEpics.Any())
{
    <nhs-checkbox-container Id="inactive-items-checkbox" style="display: none;">
        <nhs-checkbox asp-for="ShowInactiveItems"
                      label-text="Show inactive supplier defined Epics" />
    </nhs-checkbox-container>

    <nhs-card>
        <h4>Supplier defined Epic details</h4>
        <nhs-table data-test-id="sde-table">
            <nhs-table-column>Epic</nhs-table-column>
            <nhs-table-column>Status</nhs-table-column>
            <nhs-table-column>Action</nhs-table-column>
            @foreach (var supplierDefinedEpic in Model.SupplierDefinedEpics)
            {
                <nhs-table-row-container class="@(!supplierDefinedEpic.IsActive ? "inactive" : null)">
                    <nhs-table-cell>
                        <span data-test-id="epic-name" data-name="@supplierDefinedEpic.Name">
                            @supplierDefinedEpic.Name
                        </span>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag colour="@GetTagColour(supplierDefinedEpic.IsActive)"
                                 text="@GetTagText(supplierDefinedEpic.IsActive)"/>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a data-test-id="epic-link"
                           data-id="@supplierDefinedEpic.Id"
                           asp-area="@typeof(SupplierDefinedEpicsController).AreaName()"
                           asp-controller="@(typeof(SupplierDefinedEpicsController).ControllerName())"
                           asp-action="@nameof(SupplierDefinedEpicsController.EditSupplierDefinedEpic)"
                           asp-route-epicId="@supplierDefinedEpic.Id">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>
    </nhs-card>
}
else
{
    <div id="search-error-message" class="nhsuk-u-margin-top-9">
        <p>
            Try entering a different search term, or
            <a id="reset-search-link"
               asp-area="@typeof(SupplierDefinedEpicsController).AreaName()"
               asp-controller="@typeof(SupplierDefinedEpicsController).ControllerName()"
               asp-action="@nameof(SupplierDefinedEpicsController.Dashboard)">select an epic from the complete list</a>.
        </p>
    </div>
}

@{
    NhsTagsTagHelper.TagColour GetTagColour(bool status) =>
        status ? NhsTagsTagHelper.TagColour.Green : NhsTagsTagHelper.TagColour.Grey;

    string GetTagText(bool status) => status ? "Active" : "Inactive";
}
