@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Supplier.SupplierSearchSelectModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="supplier-select-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-validation-summary RadioId="SelectedSupplierId" />
                <nhs-page-title title="@ViewBag.Title"
                                caption="Order @Model.CallOffId"/>

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-hint="Select the supplier you want to order from.">
                    <nhs-radio-buttons asp-for="SelectedSupplierId"
                                       values="@Model.Suppliers"
                                       value-name="Id"
                                       display-name="Name" />
                </nhs-fieldset-form-label>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
