@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Supplier.SupplierSearchSelectModel;
@{
    ViewData["Title"] = Model.Title;
}

<div data-test-id="supplier-select-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-validation-summary RadioId="SelectedSupplierId" />
                <nhs-page-title title="@Model.Title" advice="These are the suppliers that match the search terms you provided. Select the one you're looking for." />

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Select Supplier">
                    <nhs-radio-buttons asp-for="SelectedSupplierId"
                                       values="@Model.Suppliers"
                                       value-name="Id"
                                       display-name="Name" />
                </nhs-fieldset-form-label>
                <nhs-submit-button text="Continue" />
            </form>
        </div>
    </div>
</div>
