@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.OrderingParty.OrderingPartyModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="ordering-party-page">
    <partial name="Partials/_BackLink" model="Model" />

    <form method="post">
        <input type="hidden" asp-for="@Model.BackLink" />
        <input type="hidden" asp-for="@Model.BackLinkText" />
        <input type="hidden" asp-for="@Model.OdsCode" />
        <input type="hidden" asp-for="@Model.Title" />
        <input type="hidden" asp-for="@Model.OrganisationName" />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <nhs-validation-summary />
                <nhs-page-title title="@Model.Title" advice="Check the organisation information and edit details for the primary contact for this order." />

                <h2 data-test-id="organisation-name-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Organisation name</h2>
                <div data-test-id="organisation-name" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">@Model.OrganisationName</div>

                <h2 data-test-id="organisation-ods-code-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">ODS code</h2>
                <div data-test-id="organisation-ods-code" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">@Model.OdsCode</div>

                <h2 data-test-id="organisation-address-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Organisation address</h2>
                <div data-test-id="organisation-address-1" class="nhsuk-u-font-size-19">@Model.Address.Line1</div>
                <input type="hidden" asp-for="@Model.Address.Line1" />
                <div data-test-id="organisation-address-2" class="nhsuk-u-font-size-19">@Model.Address.Line2</div>
                <input type="hidden" asp-for="@Model.Address.Line2" />
                <div data-test-id="organisation-address-3" class="nhsuk-u-font-size-19">@Model.Address.Line3</div>
                <input type="hidden" asp-for="@Model.Address.Line3" />
                <div data-test-id="organisation-address-4" class="nhsuk-u-font-size-19">@Model.Address.Line4</div>
                <input type="hidden" asp-for="@Model.Address.Line4" />
                <div data-test-id="organisation-address-5" class="nhsuk-u-font-size-19">@Model.Address.Line5</div>
                <input type="hidden" asp-for="@Model.Address.Line5" />
                <div data-test-id="organisation-address-town" class="nhsuk-u-font-size-19">@Model.Address.Town</div>
                <input type="hidden" @Model.Address.Town />
                <div data-test-id="organisation-address-county" class="nhsuk-u-font-size-19">@Model.Address.County</div>
                <input type="hidden" asp-for="@Model.Address.County" />
                <div data-test-id="organisation-address-postcode" class="nhsuk-u-font-size-19">@Model.Address.Postcode</div>
                <input type="hidden" asp-for="@Model.Address.Postcode" />
                <div data-test-id="organisation-address-country" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">@Model.Address.County</div>
                <input type="hidden" asp-for="@Model.Address.County" />
            </div>
        </div>
        <hr class="bc-c-order-table__hr" />
        <div class="nhsuk-grid-row">
            <div data-test-id="primary-contact-fields" class="nhsuk-grid-column-two-thirds">
                <h2 data-test-id="primary-contact-details-heading" class="nhsuk-u-font-size-32 nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3">Primary contact’s details</h2>

                <div data-test-id="multi-question-questions">
                    <nhs-input asp-for="@Model.Contact.FirstName"
                                          label-text="First name" />
                    <nhs-input asp-for="@Model.Contact.LastName"
                                          label-text="Last name" />
                    <nhs-input asp-for="@Model.Contact.EmailAddress"
                                          label-text="Email address" />
                    <nhs-input asp-for="@Model.Contact.TelephoneNumber"
                                          label-text="Phone number" />
                </div>

                <nhs-submit-button />
            </div>
        </div>
    </form>
</div>
