@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.OrganisationModels.DetailsModel
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsAddress
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.SummaryList
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@{
    ViewBag.Title = "Organisation details";
}
@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a href="@Model.HomeLink"
                   class="nhsuk-breadcrumb__link">Home</a>
                </li>
                @if (User.IsAdmin())
                {
                    <li class="nhsuk-breadcrumb__item">
                        <a href="@Url.Action(
                                     nameof(OrganisationsController.Index),
                                     typeof(OrganisationsController).ControllerName())"
                           class="nhsuk-breadcrumb__link">Manage buyer organisations</a>
                    </li>
                }
            </ol>
        </div>
    </nav>
}

<div data-test-id="organisation-page">
    <nhs-page-title title="@ViewBag.Title"
                    caption="@Model!.Organisation.Name"
                    advice="These are the details for the organisation and its users." />
    <nhs-summary-list>
        <nhs-summary-list-row label-text="ODS code">
            <p data-test-id="org-page-external-identifier">
                @Model.Organisation.ExternalIdentifier
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Business address">
            <div data-test-id="org-page-address">
                <vc:nhs-address address="@Model.OrganisationAddress" />
            </div>
        </nhs-summary-list-row>
    </nhs-summary-list>

    <h2>Further details</h2>
    <ul>
        <li>
            <a href="@Url.Action(
                         nameof(OrganisationBaseController.Users),
                         Model.ControllerName,
                         new { organisationId = Model.Organisation.Id })"><strong>User accounts</strong></a>
            <p>Add, edit and view user accounts for @Model.Organisation.Name.</p>
        </li>
        @if (!Model.IsGpPractice)
        {
            <li>
                <a href="@Url.Action(
                             nameof(OrganisationBaseController.RelatedOrganisations),
                             Model.ControllerName,
                             new { organisationId = Model.Organisation.Id })"><strong>Related organisations</strong></a>
                <p>View and remove organisations that @Model.Organisation.Name can act on behalf of.</p>
            </li>
            <li>
                <a href="@Url.Action(
                             nameof(OrganisationBaseController.NominatedOrganisations),
                             Model.ControllerName,
                             new { organisationId = Model.Organisation.Id })"><strong>Nominated organisations</strong></a>
                <p>Add, remove and view organisations that can act on behalf of @Model.Organisation.Name.</p>
            </li>
        }
    </ul>
</div>

