@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.OrganisationModels.RelatedOrganisationsModel
@{
    ViewBag.Title = "Related organisations";
}
@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a href="@Model.HomeLink"
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
                @if (User.IsAdmin())
                {
                    <li class="nhsuk-breadcrumb__item">
                        <a href="@Url.Action(
                                     nameof(OrganisationsController.Index),
                                     typeof(OrganisationsController).ControllerName())"
                           class="nhsuk-breadcrumb__link">Manage buyer organisations</a>
                    </li>
                }
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(OrganisationBaseController.Details)"
                   asp-controller="@Model.ControllerName"
                       asp-route-organisationId="@Model!.OrganisationId"
                       class="nhsuk-breadcrumb__link">Organisation details</a>
                </li>
            </ol>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model!.OrganisationName"
                        advice="View and remove organisations that @Model.OrganisationName can act on behalf of." />

        <h3>Related organisations</h3>

        @if (Model.RelatedOrganisations.Any())
        {
            <div data-test-id="related-organisations-table">
                <nhs-table>
                    @foreach (var heading in new[] { "Organisation name", "ODS code", "Action" })
                    {
                        <nhs-table-column>@heading</nhs-table-column>
                    }

                    @foreach (var item in Model.RelatedOrganisations)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                <span data-test-id="related-organisation-name">
                                    @item.Name
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <span data-test-id="related-organisation-ods-code">
                                    @item.ExternalIdentifier
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <span data-test-id="remove-related-organisation-link">
                                    <a asp-action="@nameof(OrganisationBaseController.RemoveRelatedOrganisation)"
                                       asp-controller=@Model.ControllerName
                                       asp-route-organisationId="@Model.OrganisationId"
                                       asp-route-relatedOrganisationId="@item.Id">Remove</a>
                                </span>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
            </div>
        }
        else
        {
            <div data-test-id="related-organisations-error-message">
                <p>@Model.OrganisationName can not act on behalf of any related organisations.</p>
            </div>
        }

        <vc:nhs-secondary-button text="Save and continue" 
                                 url="@Url.Action(
                                          nameof(OrganisationBaseController.Details),
                                          Model.ControllerName,
                                          new { Model.OrganisationId })"
                                 type="Primary" />
    </div>
</div>
