@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Enums
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.OrganisationModels.UsersModel
@{
    ViewBag.Title = "User accounts";
}
@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a href="@Model.HomeLink"
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
                @if (User.IsAdmin())
                {
                    <li class="nhsuk-breadcrumb__item">
                        <a href="@Url.Action(
                                     nameof(OrganisationsController.Index),
                                     typeof(OrganisationsController).ControllerName())"
                           class="nhsuk-breadcrumb__link">Manage buyer organisations</a>
                    </li>
                }
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(OrganisationBaseController.Details)"
                       asp-controller="@Model.ControllerName"
                       asp-route-organisationId="@Model!.OrganisationId"
                       class="nhsuk-breadcrumb__link">Organisation details</a>
                </li>
            </ol>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model!.OrganisationName"
                        advice="Add, edit and view user accounts for this organisation." />

        <vc:nhs-action-link text="Add a user"
                            url="@Url.Action(
                                     nameof(OrganisationBaseController.AddUser),
                                     Model.ControllerName,
                                     new { Model.OrganisationId })" />

        <h3>Existing users</h3>

        @if (Model.Users.Any())
        {
            <div data-test-id="users-table">
                <nhs-table>
                    @foreach (var heading in new[] { "Full name", "Email address", "Account type", "Status", "Action" })
                    {
                        <nhs-table-column>@heading</nhs-table-column>
                    }

                    @foreach (var item in Model.Users)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                <span data-test-id="user-name">
                                    @item.GetDisplayName()
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <span data-test-id="user-email">
                                    @item.Email
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <span data-test-id="user-role">
                                    @item.GetDisplayRoleName()
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                @{
                                    var status = item.Disabled ? AccountStatus.Inactive : AccountStatus.Active;
                                    <nhs-tag status-enum="@status"/>
                                }
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <span data-test-id="user-edit-link">
                                    <a asp-action="@nameof(OrganisationBaseController.EditUser)"
                                           asp-controller=@Model.ControllerName
                                           asp-route-organisationId="@Model.OrganisationId"
                                           asp-route-userId="@item.Id">Edit</a>
                                </span>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
            </div>
        }
        else
        {
            <div data-test-id="users-error-message">
                <p>No user accounts have been created for this organisation.</p>
            </div>
        }

        <vc:nhs-secondary-button text="Save and continue" 
                                 url="@Url.Action(
                                          nameof(OrganisationBaseController.Details),
                                          Model.ControllerName,
                                          new { Model.OrganisationId })"
                                 type="Primary" />
    </div>
</div>
