@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ManageOrders.DeleteOrderModel;
@{
    var orderOrAmendment = Model.IsAmendment
        ? "amendment"
        : "order";

    var warningDetail = Model.IsAmendment
        ? "Deleting an amendment is permanent and any information already changed will be lost. The order will revert to its previous version."
        : "Deleting an order will remove it from the buyer’s orders dashboard permanently. It will still be visible on your orders dashboard with a status of deleted, but you’ll not be able to change the order status back once deleted.";
}

<div data-test-id="delete-order-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="Are you sure you want to delete this @orderOrAmendment?"
                            caption="Order @Model.CallOffId"
                            advice="Provide details for the person who requested that this @orderOrAmendment be deleted and the person who approved it." />

            <nhs-warning-callout label-text="Deleting an @orderOrAmendment" data-test-id="delete-warning-callout">
                <p>@warningDetail</p>
            </nhs-warning-callout>

            <form method="post">
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="OrderCreationDate" />

                <nhs-fieldset-form-container asp-for="@Model" data-test-id="delete-request-name"
                                             label-text="Who requested the deletion?"
                                             label-hint="Enter the name of the person who asked for this order to be deleted."
                                             size="ExtraSmall">
                    <nhs-input asp-for="@Model.NameOfRequester" />
                </nhs-fieldset-form-container>
                <br />
                <nhs-fieldset-form-container asp-for="@Model" data-test-id="delete-approve-name"
                                             label-text="Who approved the deletion?"
                                             label-hint="Enter the name of the person who gave approval for this order to be deleted."
                                             size="ExtraSmall">
                    <nhs-input asp-for="@Model.NameOfApprover" />
                </nhs-fieldset-form-container>

                <nhs-fieldset-form-label asp-for="@Model" data-test-id="delete-approve-date"
                                         label-text="What date was the approval given?"
                                         label-hint="Enter the date that approval was given to delete this order, for example 15 3 2020."
                                         size="ExtraSmall">
                    <nhs-date-input asp-for="@Model" day="ApprovalDay" month="ApprovalMonth" year="ApprovalYear" />
                </nhs-fieldset-form-label>

                <br />
                <nhs-submit-button text="Delete @orderOrAmendment" />
                <div>
                    <a href="@Model.BackLink">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
