@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ManageOrders.ViewOrderModel
@using EnumsNET
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Tags
@{
    ViewBag.Title = "Order summary";
}

<div data-test-id="organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="@ViewBag.Title"
                    caption="@Model.CallOffId"
                    advice="View information about this order." />
    <nhs-summary-list>
        @if (Model.SelectedFrameworkName is not null) {
            <nhs-summary-list-row label-text="Framework">
                <p data-test-id="view-order-framework">
                    @Model.SelectedFrameworkName
                </p>
            </nhs-summary-list-row>
        }
        <nhs-summary-list-row label-text="Organisation">
            <p data-test-id="view-order-organisation">
                @Model.OrganisationName
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Order description">
            <p data-test-id="view-order-description">
                @Model.Description
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Last updated by">
            <p data-test-id="view-order-lastupdatedby">
                @Model.LastUpdatedBy
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Supplier">
            <p data-test-id="view-order-supplier">
                @{ var supplierName = string.IsNullOrWhiteSpace(Model.SupplierName)
                    ? "No supplier has been selected for this order yet"
                    : @Model.SupplierName;
                }
                @supplierName
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Current status">
            <p data-test-id="view-order-status">
                <nhs-tag status-enum="@Model.OrderStatus" />
            </p>
        </nhs-summary-list-row>
    </nhs-summary-list>


    @if (Model.OrderItems.Any())
    {
        @if (Model.OrderStatus != OrderStatus.Deleted)
        {
            <div>
                <vc:nhs-secondary-button text="Download order summary PDF"
                                         url="@Url.Action(nameof(ManageOrdersController.Download), typeof(ManageOrdersController).ControllerName(), new { internalOrgId = Model.OrganisationInternalIdentifier, callOffId = Model.CallOffId })"
                                         type="Secondary"/>
                @if (Model.OrderStatus != OrderStatus.InProgress)
                {
                    <vc:nhs-secondary-button text="Download full order CSV"
                                             url="@Url.Action(nameof(ManageOrdersController.DownloadFullOrderCsv), typeof(ManageOrdersController).ControllerName(), new { externalOrgId = Model.OrganisationExternalIdentifier, callOffId = Model.CallOffId })"
                                             type="Secondary"/>
                    <vc:nhs-secondary-button text="Download patient only CSV"
                                             url="@Url.Action(nameof(ManageOrdersController.DownloadPatientNumberCsv), typeof(ManageOrdersController).ControllerName(), new { externalOrgId = Model.OrganisationExternalIdentifier, callOffId = Model.CallOffId })"
                                             type="Secondary"/>
                }
                <br/>
            </div>
        }
        <div data-test-id="order-items-table">
            <nhs-table label-text="Selected solutions and services">
                <nhs-table-column>
                    Solution or service name
                </nhs-table-column>
                <nhs-table-column>
                    Type of solution or service
                </nhs-table-column>
                <nhs-table-column>
                    Funding type
                </nhs-table-column>
                @foreach (var orderItem in Model.OrderItems)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            @orderItem.Name
                        </nhs-table-cell>
                        <nhs-table-cell>
                            @orderItem.Type.AsString(EnumFormat.DisplayName)
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="funding-type">@orderItem.SelectedFundingType.Description()</span>
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        </div>
    }
    else
    {
        <p data-test-id="no-order-items">No solutions or services have been added to this order yet</p>
    }

    <vc:nhs-secondary-button text="Continue" url="@Url.Action(
                                                      nameof(ManageOrdersController.Index),
                                                      typeof(ManageOrdersController).ControllerName())"
                             type="Primary" />
    @if (Model.OrderStatus is not OrderStatus.Deleted)
    {
        <br/>
        <vc:nhs-delete-button text="Delete order"
                                 url="@Url.Action(nameof(ManageOrdersController.DeleteOrder), typeof(ManageOrdersController).ControllerName(), new { Model.CallOffId })" />
    }
</div>
