@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.HiddenInputs
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.InputBoxes
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Pricing.ConfirmPriceModel;
@{
    ViewBag.Title = $"Price of {Model!.ItemType.Name()}";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
		<nhs-validation-summary/>
		<nhs-page-title model="Model" />

        <form method="post">
            <hidden-inputs title="Title" caption="Caption" advice="Advice"/>
            <input type="hidden" asp-for="@Model.BackLink"/>
            <input type="hidden" asp-for="@Model.Basis"/>
            <input type="hidden" asp-for="@Model.NumberOfTiers"/>
            <input type="hidden" asp-for="@Model.ItemName"/>
            <input type="hidden" asp-for="@Model.ItemType"/>
            <input type="hidden" asp-for="@Model.PriceType"/>
            <input type="hidden" asp-for="@Model.CalculationType"/>
            <input type="hidden" asp-for="@Model.Source"/>

            @if (Model.NumberOfTiers > 1)
            {
                <div class="nhsuk-u-margin-bottom-6">
                    <div class="nhsuk-label">
                        <strong>@Model.Label</strong>
                    </div>
                    <div class="nhsuk-hint">
                        @Model.Hint
                    </div>
                </div>
            }

            @for (var i = 0; i < Model.NumberOfTiers; i++)
            {
                <input type="hidden" asp-for="Tiers[i].Id"/>
                <input type="hidden" asp-for="Tiers[i].ListPrice"/>
                <input type="hidden" asp-for="Tiers[i].Description"/>
                <input type="hidden" asp-for="Tiers[i].LowerRange"/>
                <input type="hidden" asp-for="Tiers[i].UpperRange"/>

                var labelText = Model.NumberOfTiers > 1
                    ? $"For Tier {i + 1}"
                    : Model.Label;

                var labelHint = Model.NumberOfTiers > 1
                    ? Model.Tiers[i].Description
                    : Model.Hint;

                <div class="nhsuk-u-margin-bottom-6">
                    <nhs-bookended-input asp-for="Tiers[i].AgreedPrice"
                                         label-text="@labelText"
                                         label-hint="@labelHint"
                                         Prefix="£"
                                         Suffix="@Model.Basis"/>
                </div>
            }

            <div class="nhsuk-u-margin-bottom-9" data-test-id="price-details">
                <partial name="PriceDetails/_PriceDetailsComponent"
                         model="new PriceCalculationDetailsModel(Model.ItemType, Model.PriceType, Model.CalculationType)"/>
            </div>

            <nhs-submit-button/>
        </form>
	</div>
</div>
