@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Enums
@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Routing
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.Contracts
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.SolutionSelection
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.SolutionSelection.TaskList.TaskListOrderItemModel;
@{
    const RoutingSource source = RoutingSource.TaskList;
    var progress = 0;
    if (!(Model.PriceStatus == TaskProgress.NotStarted | Model.PriceStatus == TaskProgress.CannotStart))
    {
        progress++;
    }
    if (!(Model.QuantityStatus == TaskProgress.NotStarted | Model.QuantityStatus == TaskProgress.CannotStart))
    {
        progress++;
    }
}

<h3 style="text-align:left; display: inline-block;">
    @Model.Name  
</h3>
@if(!Model.IsAmendment)
{
    <span class="detail" style="float:right;">
        <strong>@progress</strong> of <strong>2</strong> started
    </span>
}

<nhs-table>
    <nhs-table-column>Section</nhs-table-column>
    <nhs-table-column>Status</nhs-table-column>
    <nhs-table-column><span class="nhsuk-u-visually-hidden">Action</span></nhs-table-column>

    <nhs-table-row-container>
        <nhs-table-cell>Price</nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag status-enum="@Model.PriceStatus" />
        </nhs-table-cell>
        <nhs-table-cell>
            @if (Model.NumberOfPrices == 1 && Model.PriceStatus == TaskProgress.NotStarted
            && !(Model.IsAmendment && Model.FromPreviousRevision))
            {
                <a id="Price_@Model.CatalogueItemId" style="float:right;"
                    href="@Url.Action(
                                nameof(PricesController.ConfirmPrice),
                                typeof(PricesController).ControllerName(),
                                new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId, Model.PriceId, source })">Start</a>
            }
            else
            {
                string actionName, actionText;
                if (Model.IsAmendment && Model.FromPreviousRevision)
                {
                    (actionName, actionText) = (nameof(PricesController.ViewPrice), "View");
                }
                else
                {
                    (actionName, actionText) = Model.PriceStatus == TaskProgress.Completed ?
                        (nameof(PricesController.EditPrice), "Change") :
                        (nameof(PricesController.SelectPrice), "Start");
                }
                <a id="Price_@Model.CatalogueItemId" style="float:right;"
                    href="@Url.Action(
                                actionName,
                                typeof(PricesController).ControllerName(),
                                new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId, source })">@actionText</a>
            }
        </nhs-table-cell>
    </nhs-table-row-container>

    <nhs-table-row-container>
        <nhs-table-cell>Quantity</nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag status-enum="@Model.QuantityStatus" />
        </nhs-table-cell>
        <nhs-table-cell>
            @if (Model.QuantityStatus != TaskProgress.CannotStart)
            {
                @if (Model.IsAmendment && Model.FromPreviousRevision && !Model.HasNewRecipients && Model.QuantityStatus != TaskProgress.InProgress)
                {
                    <a id="Quantity_@Model.CatalogueItemId" style="float:right;"
                        href="@Url.Action(
                                    nameof(QuantityController.ViewOrderItemQuantity),
                                    typeof(QuantityController).ControllerName(),
                                    new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId })">View</a>
                }
                else
                {
                    string action;
                    if(Model.QuantityStatus == TaskProgress.Completed)
                    {
                        action = Model.OrderType.MergerOrSplit ? "View" : "Change";
                    }
                    else
                    {
                        action = "Start";
                    }

                    <a id="Quantity_@Model.CatalogueItemId" style="float:right;"
                        href="@Url.Action(
                                nameof(QuantityController.SelectQuantity),
                                typeof(QuantityController).ControllerName(),
                                new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId, source })">@action</a>
                }
            }
        </nhs-table-cell>
    </nhs-table-row-container>
</nhs-table>
