@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Routing
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.SolutionSelection
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.SolutionSelection.TaskList.TaskListModel

@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />
        <nhs-page-title model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        @if (Model.CatalogueSolution != null || Model.OrderType.AssociatedServicesOnly)
        {
            <h2 class="nhsuk-u-margin-bottom-6">Catalogue Solution</h2>
            <nhs-card-v2>
                <nhs-card-content>
                @if (Model.OrderType.AssociatedServicesOnly)
                {
                    <h3 class="nhsuk-card__heading heading nhsuk-u-margin-bottom-5">@Model.SolutionName</h3>
                }
                else
                {
                    <partial name="TaskListOrderItem"
                                model="@Model.OrderItemModel(Model.CatalogueSolution.CatalogueItemId)" />
                }   
                </nhs-card-content>
                <nhs-card-footer>
                    @if (!Model.IsAmendment)
                    {
                        if (Model.AlternativeSolutionsAvailable)
                        {
                            <p>
                                <a class="nhsuk-link--no-visited-state" href="@Url.Action(
                                nameof(CatalogueSolutionsController.EditSolution),
                                typeof(CatalogueSolutionsController).ControllerName(),
                                new { Model.InternalOrgId, Model.CallOffId })">Change Catalogue Solution</a>
                            </p>
                        }
                        else
                        {
                            <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px"/><p>There is only 1 solution offered by this supplier.</p>
                        }
                    }
                    else
                    {
                        <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px"/><p>You cannot change your Catalogue Solution when amending an order.</p>
                    }
                </nhs-card-footer>

            </nhs-card-v2>
        }

        @if (!Model.OrderType.AssociatedServicesOnly)
        {
            <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">Additional Services</h2>
            <nhs-card-v2>
                @if (Model.AdditionalServicesAvailable)
                {
                    <nhs-card-content>
                        @if (Model.AdditionalServices.Any())
                        {
                            @foreach (var service in Model.AdditionalServices)
                            {
                                <partial name="TaskListOrderItem"
                                model="@Model.OrderItemModel(service.CatalogueItemId)" />
                            }
                        }
                        else
                        {
                            <p>No Additional Services have been added to this order yet.</p>
                        }
                    </nhs-card-content>
                    <nhs-card-footer>
                        @if (Model.UnselectedAdditionalServicesAvailable)
                        {
                            <p class="nhsuk-body-m">
                                <a class="nhsuk-link nhsuk-link--no-visited-state" href="@Url.Action(
                                        nameof(AdditionalServicesController.SelectAdditionalServices),
                                        typeof(AdditionalServicesController).ControllerName(),
                                        new { Model.InternalOrgId, Model.CallOffId })">
                                        <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true" />Add an Additional Service
                                </a>
                            </p>
                        }
                        else
                        {
                            <img src="~/images/circle-info-solid.svg" width="20px" aria-hidden="true"> <p>All the Additional Services available for this Catalogue Solution have already been added.</p>
                        }
                    </nhs-card-footer>
                }
                else
                {
                    <nhs-card-content>
                        <img src="~/images/circle-info-solid.svg" width="20px" aria-hidden="true" class="card-content-icon" /><span class="card-content-text-with-icon nhsuk-body-m">There are no Additional Services available for this Catalogue Solution.</span>
                    </nhs-card-content>
                }
            </nhs-card-v2>
        }

        <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">Associated Services</h2>

        <nhs-card-v2>
            @if (Model.IsAmendment && !Model.AssociatedServices.Any())
            {
                <nhs-card-content>
                    <img src="~/images/circle-info-solid.svg" class="card-content-icon" aria-hidden="true" width="20px" /><span class="card-content-text-with-icon nhsuk-body-m">You cannot add Associated Services when amending an order.</span>
                </nhs-card-content>
            }
            else if (!Model.AssociatedServicesAvailable)
            {
                <nhs-card-content>
                    <img src="~/images/circle-info-solid.svg" class="card-content-icon" aria-hidden="true" width="20px" /><span class="card-content-text-with-icon nhsuk-body-m">There are no Associated Services available for this Catalogue Solution.</span>
                </nhs-card-content>
            }
            else
            {
                <nhs-card-content>
                    @if (Model.AssociatedServices.Any())
                    {
                        @foreach (var service in Model.AssociatedServices)
                        {
                            <partial name="TaskListOrderItem"
                            model="@Model.OrderItemModel(service.CatalogueItemId)" />
                        }
                    }
                    else
                    {
                        <p>No Associated Services have been added to this order yet.</p>
                    }
                </nhs-card-content>
                <nhs-card-footer>
                    @if (Model.OrderType.MergerOrSplit)
                    {
                            <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px" /><p>Associated Services cannot be changed</p>
                    } 
                    else if (Model.IsAmendment)
                    {
                        <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px" /><p>You cannot add Associated Services or edit ones included in the original order when amending an order.</p>
                    }
                    else if (!Model.UnselectedAssociatedServicesAvailable)
                    {
                        <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px" /><p>All the Associated Services available for this Catalogue Solution have already been added.</p>
                    }
                    else
                    {
                        <p class="nhsuk-body-m">
                            <a class="nhsuk-link nhsuk-link--no-visited-state" href="@Url.Action(
                                nameof(AssociatedServicesController.SelectAssociatedServices),
                                typeof(AssociatedServicesController).ControllerName(),
                                new { Model.InternalOrgId, Model.CallOffId, source = RoutingSource.TaskList })">
                                <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true" />Add an Associated Service
                            </a>
                        </p>
                    }
                </nhs-card-footer>
            }
        </nhs-card-v2>

        <vc:nhs-secondary-button text="Continue"
                                 url="@Model.OnwardLink"
                                 type="Primary" />
    </div>
</div>
