@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.SolutionSelection.Quantity.SelectOrderItemQuantityModel;
@{
	ViewBag.Title = $"Quantity of {Model.ItemType}";

	var timeUnit = Model.BillingPeriod?.Description() ?? "";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
		<nhs-validation-summary/>

		<nhs-page-title title="@ViewBag.Title"
                caption="@Model!.ItemName"
                advice="Enter the total amount you want to order." />

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.ItemName" />
            <input type="hidden" asp-for="@Model.ItemType" />
            <input type="hidden" asp-for="@Model.QuantityDescription" />
            <input type="hidden" asp-for="@Model.Source" />
            
            <nhs-bookended-input asp-for="Quantity" 
                                 label-text="How many @Model.QuantityDescription @timeUnit do you want?"
                                 Suffix="@Model.QuantityDescription @timeUnit"/>

            <br/>

			<nhs-submit-button/>
		</form>
	</div>
</div>
