@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.ClientApplicationType.NativeMobileModel;
@{
    ViewData["Title"] = "Native mobile or tablet application – all sections";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Provide information about your native mobile or tablet Catalogue Solution." />
    </div>
    <div data-test-id="dashboard-sectionGroup-native-mobile-sections" class="nhsuk-u-padding-bottom-7 nhsuk-grid-column-full">
        <div class="bc-c-title">
            <h2>
                Native mobile or tablet sections
            </h2>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <p>
                        Let buyers know the minimum recommended technical specification to implement your Catalogue Solution effectively.
                    </p>
                </div>
            </div>
        </div>
        <ul class="bc-c-section-list__items">
            <li id="native-mobile-operating-systems" data-test-id="dashboard-section-native-mobile-operating-systems" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/operating-systems">
                        Supported operating systems
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Mandatory
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.SupportedOperatingSystemsStatus
                </strong>
            </li>
            <li id="native-mobile-first" data-test-id="dashboard-section-native-mobile-first" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/mobile-first-approach">
                        Mobile first approach
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Mandatory
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.MobileFirstApproachStatus
                </strong>
            </li>
            <li id="native-mobile-connection-details" data-test-id="dashboard-section-native-mobile-connection-details" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/connectivity">
                        Connectivity
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Optional
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.ConnectivityStatus
                </strong>
            </li>
            <li id="native-mobile-memory-and-storage" data-test-id="dashboard-section-native-mobile-memory-and-storage" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/memory-and-storage">
                        Memory and storage
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Mandatory
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.MemoryAndStorageStatus
                </strong>
            </li>
            <li id="native-mobile-third-party" data-test-id="dashboard-section-native-mobile-third-party" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/third-party">
                        Third-party components and device capabilities
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Optional
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.ThirdPartyStatus
                </strong>
            </li>
            <li id="native-mobile-hardware-requirements" data-test-id="dashboard-section-native-mobile-hardware-requirements" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/hardware-requirements">
                        Hardware requirements
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Optional
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.HardwareRequirementsStatus
                </strong>
            </li>
            <li id="native-mobile-additional-information" data-test-id="dashboard-section-native-mobile-additional-information" class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                    <a href="native-mobile/additional-information">
                        Additional information
                    </a>
                </div>
                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                    Optional
                </div>
                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                    @Model.AdditionalInformationStatus
                </strong>
            </li>
        </ul>
    </div>
</div>
