@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ClientApplicationTypeModels.BrowserBasedModels.BrowserBasedModel
@{
    ViewBag.Title = "Browser-based application";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <partial name="Partials/_BackLink" model="Model" />
        </div>
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Provide information about your browser-based Catalogue Solution." />

            <nhs-table>

                <nhs-table-column>Section</nhs-table-column>
                <nhs-table-column>Mandatory</nhs-table-column>
                <nhs-table-column>Status</nhs-table-column>
                <nhs-table-column>Action</nhs-table-column>

                <nhs-table-row-container>
                    <nhs-table-cell>Supported browsers</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ApplicationTypeProgress.SupportedBrowsersStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(BrowserBasedController.SupportedBrowsers)"
                           asp-controller="@typeof(BrowserBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Plug-ins or extensions required</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ApplicationTypeProgress.PluginsStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(BrowserBasedController.PlugInsOrExtensions)"
                           asp-controller="@typeof(BrowserBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Connectivity and resolution</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ApplicationTypeProgress.ConnectivityStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(BrowserBasedController.ConnectivityAndResolution)"
                           asp-controller="@typeof(BrowserBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Hardware requirements</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ApplicationTypeProgress.HardwareRequirementsStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(BrowserBasedController.HardwareRequirements)"
                           asp-controller="@typeof(BrowserBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Additional information</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ApplicationTypeProgress.AdditionalInformationStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(BrowserBasedController.AdditionalInformation)"
                           asp-controller="@typeof(BrowserBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

            </nhs-table>

            <vc:nhs-secondary-button text="Continue"
                                     type="Primary"
                                     url="@Url.Action(
                                     nameof(CatalogueSolutionsController.ApplicationType),
                                     typeof(CatalogueSolutionsController).ControllerName(),
                                     new { Model.SolutionId })" /><br />

            <vc:nhs-delete-button url="@Url.Action(
                                               nameof(DeleteApplicationTypeController.DeleteApplicationTypeConfirmation),
                                               typeof(DeleteApplicationTypeController).ControllerName(),
                                               new { Model.SolutionId, Model.ApplicationType })"
                                  text="Delete application type" />
        </div>
    </div>
</div>
