@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.BrowserBasedModels.PlugInsOrExtensionsModel;
@{
    ViewBag.Title = "Browser-based application – plug-ins or extensions required";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary RadioId="PlugInsRequired"/>
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know if any plug-ins or extensions are needed to use your Catalogue Solution." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Plug-ins or extensions required"
                                         label-hint="Does the device using your Catalogue Solution require plug-ins or extensions that customise its browsers or software to function?">
                    <nhs-yesno-radio-buttons asp-for="PlugInsRequired" />
                </nhs-fieldset-form-label>
                <nhs-textarea asp-for="AdditionalInformation"
                              label-text="Additional information (optional)"
                              label-hint="If your Catalogue Solution uses plug-ins or extensions, provide more information about them for buyers."
                              number-of-rows="5" />
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
