@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.BrowserBasedModels.SupportedBrowsersModel;
@{
    ViewBag.Title = "Browser-based application – suppported browsers";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary RadioId="MobileResponsive"/>
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know which types of browser will work with your Catalogue Solution." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Supported browser types"
                                         label-hint="Select all the types of browser and minimum version that are supported by your Catalogue Solution.">
                    <nhs-checkbox-container>
                        @for (var i = 0; i < Model.Browsers.Length; i++)
                        {
                            <nhs-checkbox asp-for="@Model.Browsers[i].Checked" label-text="@Model.Browsers[i].BrowserName" hidden-input="@Model.Browsers[i].BrowserName" >
                                <nhs-input
                                    asp-for="@Model.Browsers[i].MinimumBrowserVersion"
                                    label-text="Browser version (optional)"
                                    label-hint="e.g 96 and above, 96.0.1441.110"
                                    class="nhsuk-u-width-one-third"/>
                            </nhs-checkbox>
                        }
                    </nhs-checkbox-container>
                </nhs-fieldset-form-label>
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Mobile responsive"
                                         label-hint="Does the design of your Catalogue Solution adapt for use on mobile or tablet devices?">
                    <nhs-yesno-radio-buttons asp-for="MobileResponsive" />
                </nhs-fieldset-form-label>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
