@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.DeliveryDates.AmendDateModel
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title model="Model" />

        <form method="post">
            <hidden-inputs title="Title" caption="Caption" advice="Advice" />
            <input type="hidden" asp-for="@Model.BackLink"/>
            <input type="hidden" asp-for="@Model.CommencementDate"/>
            <input type="hidden" asp-for="@Model.ItemName"/>
            <input type="hidden" asp-for="@Model.MaximumTerm"/>
            <input type="hidden" asp-for="@Model.Source" />
            <input type="hidden" asp-for="@Model.TriageValue" />

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="What is the planned delivery date for this item?"
                                         label-hint="This is the date the item you're ordering will start being used, for example 15 1 2025"
                                         size="ExtraSmall">
                    <nhs-date-input asp-for="@Model" day="Day" month="Month" year="Year"/>
                </nhs-fieldset-form-label>
            </div>

            <nhs-submit-button/>
        </form>
    </div>
</div>
