@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.DeliveryDates.MatchDatesModel
@{
    ViewBag.Title = $"Match planned delivery dates for {Model.ItemType}";
    var advice = $"Select if you want the same delivery dates you used for your Catalogue Solution to be applied to your {Model.ItemType}.";
    var labelText = $"Do you want to use the same delivery dates for your {Model.ItemType}?";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary RadioId="MatchDates" />

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.ItemName"
                        advice="@advice" />
        
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.ItemType" />
            <input type="hidden" asp-for="@Model.ItemName" />

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-fieldset-form-label asp-for="MatchDates"
                                         label-text="@labelText"
                                         label-hint="If you choose not to match, then the planned delivery date for the majority of your Service Recipients will be applied. You'll be able to edit them later."
                                         size="Small">
                    <nhs-radio-buttons asp-for="MatchDates"
                                       values="@Model.Options.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text"
                                       inline="true" />
                </nhs-fieldset-form-label>
            </div>

            <nhs-submit-button />
        </form>
    </div>
</div>
