@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.DeliveryDates.SelectDateModel
@{
    ViewBag.Title = "Planned delivery date";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.ApplyToAll)" />

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Enter the date the solutions and services you’re ordering will start being used." />

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.CommencementDate"/>
            <input type="hidden" asp-for="@Model.MaximumTerm" />
            <input type="hidden" asp-for="@Model.IsAmend" />

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="What is the planned delivery date?"
                                         label-hint="If you have more than one planned delivery date, enter the date the majority of recipients will begin using the items you’re ordering."
                                         size="Small">
                    <nhs-date-input asp-for="@Model" day="Day" month="Month" year="Year" />
                </nhs-fieldset-form-label>
                
                <nhs-fieldset-form-label asp-for="ApplyToAll"
                                         label-text="Do you want to use the same delivery date for all recipients?"
                                         label-hint="Selecting yes will apply the date you’ve entered to all recipients. If you select no, you’ll be able to change the dates for individual recipients."
                                         size="Small">
                    <nhs-radio-buttons asp-for="ApplyToAll"
                                       values="@Model.ApplyToAllOptions.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text" 
                                       inline="true"/>
                </nhs-fieldset-form-label>
            </div>

            <nhs-submit-button />
        </form>
    </div>
</div>
