@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Tags;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels.EditSupplierModel
@{
    ViewBag.Title = "Supplier information";
}
<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="SupplierStatus"/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SupplierName"
                        advice="Provide information about this supplier." />

        <nhs-table data-test-id="edit-supplier-table">
            <nhs-table-column>Section</nhs-table-column>
            <nhs-table-column>Mandatory</nhs-table-column>
            <nhs-table-column>Status</nhs-table-column>
            <nhs-table-column>Action</nhs-table-column>
            <nhs-table-row-container>
                <nhs-table-cell>Details</nhs-table-cell>
                <nhs-table-cell>Yes</nhs-table-cell>
                <nhs-table-cell>
                    <nhs-tag colour="@GetTagColour(Model.DetailsStatus)"
                             text="@GetTagText(Model.DetailsStatus)" />
                </nhs-table-cell>
                <nhs-table-cell>
                    <a id="EditSupplierDetailsLink"
                       asp-controller="@typeof(SuppliersController).ControllerName()"
                       asp-action="@nameof(SuppliersController.EditSupplierDetails)"
                       asp-route-supplierId="@Model.SupplierId">Edit</a>
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>Address</nhs-table-cell>
                <nhs-table-cell>Yes</nhs-table-cell>
                <nhs-table-cell>
                    <nhs-tag data-test-id="address-status" colour="@GetTagColour(Model.AddressStatus)"
                             text="@GetTagText(Model.AddressStatus)" />
                </nhs-table-cell>
                <nhs-table-cell>
                    <a id="EditSupplierAddressLink"
                       asp-controller="@typeof(SuppliersController).ControllerName()"
                       asp-action="@nameof(SuppliersController.EditSupplierAddress)"
                       asp-route-supplierId="@Model.SupplierId">Edit</a>
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>Contacts</nhs-table-cell>
                <nhs-table-cell>Yes</nhs-table-cell>
                <nhs-table-cell>
                    <nhs-tag data-test-id="contact-status" colour="@GetTagColour(Model.ContactsStatus)"
                             text="@GetTagText(Model.ContactsStatus)" />
                </nhs-table-cell>
                <nhs-table-cell>
                    <a id="EditSupplierContactsLink"
                       asp-controller="@typeof(SuppliersController).ControllerName()"
                       asp-action="@nameof(SuppliersController.ManageSupplierContacts)"
                       asp-route-supplierId="@Model.SupplierId">Edit</a>
                </nhs-table-cell>
            </nhs-table-row-container>
        </nhs-table>
        <form method="post">
            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Supplier status"
                                     label-hint="Select one option.">
                <nhs-radio-buttons asp-for="SupplierStatus"
                                   values="@EditSupplierModel.EditSupplierRadioOptions"
                                   display-name="Display"
                                   value-name="Value" />
            </nhs-fieldset-form-label>

            <nhs-submit-button />
        </form>
    </div>
</div>

@{
    NhsTagsTagHelper.TagColour GetTagColour(bool status) =>
        status ? NhsTagsTagHelper.TagColour.Green : NhsTagsTagHelper.TagColour.Grey;

    string GetTagText(bool status) => status ? "Completed" : "Not started";
}
