@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels.EditContactModel
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SupplierName"
                        advice="Provide information for this contact." />
		@if(Model.ContactId > 0){
			@if(Model.SolutionsReferencingThisContact.Count > 0){
				<nhs-table data-test-id="supplier-contact-related-solutions-table" label-text="Solutions referencing this supplier contact">
					<nhs-table-column>Solution ID</nhs-table-column>
					<nhs-table-column>Solution name</nhs-table-column>
					<nhs-table-column>Action</nhs-table-column>
						@foreach(var referentialSolution in Model.SolutionsReferencingThisContact)
						{
							<nhs-table-row-container>
								<nhs-table-cell>@referentialSolution.Id</nhs-table-cell>
								<nhs-table-cell>@referentialSolution.Name</nhs-table-cell>
								<nhs-table-cell>
									<a asp-action="@nameof(CatalogueSolutionsController.EditSupplierDetails)"
									   asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
									   asp-route-solutionId="@referentialSolution.Id"
									   data-test-id="edit-contact-association-@referentialSolution.Id" style="white-space: nowrap;">
									Edit
									</a>
								</nhs-table-cell>
							</nhs-table-row-container>
						}
				</nhs-table>
			}
			else
			{
				<nhs-inset-text data-test-id="no-related-solutions-inset">
					<b>Solutions referencing this supplier contact</b>
					<br/><br/>
					This supplier contact is currently not being referenced by any solutions.
				</nhs-inset-text>
			}
		}

        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="SupplierName" />
            <input type="hidden" asp-for="SupplierId" />
            <input type="hidden" asp-for="ContactId" />
            <input type="hidden" asp-for="Title" />
            <nhs-fieldset-form-container asp-for="@Model">
                <nhs-input asp-for="FirstName"
                           label-text="First name" />
                <nhs-input asp-for="LastName"
                           label-text="Last name" />
                <nhs-input asp-for="Department"
                           label-text="Department name" />
                <nhs-input asp-for="PhoneNumber"
                           label-text="Telephone number" />
                <nhs-input asp-for="Email"
                           label-text="Email address" />
            </nhs-fieldset-form-container>
            <br />
            <nhs-submit-button />
        </form>
        @if (Model.ContactId > 0 && Model.SolutionsReferencingThisContact.Count == 0)
        {
        <vc:nhs-delete-button url="@Url.Action(
                nameof(SuppliersController.DeleteSupplierContact),
                typeof(SuppliersController).ControllerName(),
                new { supplierId = Model.SupplierId, contactId = Model.ContactId })"
                              text="Delete contact" />
        }
    </div>
</div>
