@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels.ManageSuppliersModel
@{
    ViewBag.Title = "Manage suppliers";
}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/InactiveItemManagement.min.js")" asp-append-version="true"></script>
}

<nhs-page-title title="@ViewBag.Title"
                advice="Add a new supplier or edit the details for one that's already been created." />

<vc:nhs-action-link url="@Url.Action(
                        nameof(SuppliersController.AddSupplierDetails),
                        typeof(SuppliersController).ControllerName())"
                    text="Add a supplier"
                    data-test-id="add-supplier" />

<vc:nhs-autocomplete id="manage-suppliers-autocomplete"
    ajax-url="@Url.Action(
    nameof(SuppliersController.FilterSearchSuggestions),
    typeof(SuppliersController).ControllerName())"
    title-text="Search by supplier name or Supplier ID"
    query-parameter-name="search"/>

@if (Model.Suppliers?.Count > 0)
{
    <nhs-checkbox-container Id="inactive-items-checkbox" style="display:none;">
        <nhs-checkbox asp-for="ShowInactiveItems"
                      label-text="Show inactive suppliers" />
    </nhs-checkbox-container>

    <nhs-table data-test-id="manage-suppliers-table">
        <nhs-table-column> Supplier name </nhs-table-column>
        <nhs-table-column> Supplier ID </nhs-table-column>
        <nhs-table-column></nhs-table-column>
        <nhs-table-column></nhs-table-column>
        @foreach (var supplierModel in Model.Suppliers)
        {
            <nhs-table-row-container class="nhsuk-table__row @(!supplierModel.IsActive ? "inactive" : null)">
                <nhs-table-cell>
                    @supplierModel.Name
                </nhs-table-cell>
                <nhs-table-cell>
                    @supplierModel.Id
                </nhs-table-cell>
                <nhs-table-cell>
                    @if (!supplierModel.IsActive)
                    {
                        <nhs-tag colour="Grey" text="Inactive" />
                    }
                </nhs-table-cell>
                <nhs-table-cell>
                    <a asp-controller="@typeof(SuppliersController).ControllerName()"
                       asp-action="@nameof(SuppliersController.EditSupplier)"
                       asp-route-supplierId="@supplierModel.Id"
                       data-test-id="edit-link">Edit</a>
                </nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>
} else {
    @if(Context.Request.Query["search"].Count > 0)
    {
        <h2 id="no-results-search">No results were found for "@Context.Request.Query["search"].FirstOrDefault()"</h2>
        <p style="white-space:nowrap;">
            Try entering a different search term, or <a
            data-test-id="clear-results-link"
            asp-action="@nameof(SuppliersController.Index)"
            asp-controller="@typeof(SuppliersController).ControllerName()"
            >select a supplier from the complete list</a>.
        </p>
    }
}
