@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels.ManageSupplierContactsModel
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />

        <nhs-page-title title="Supplier contacts"
                        caption="@Model.SupplierName"
                        advice="Provide information about the contacts for this supplier." />

        <vc:nhs-action-link text="Add a contact"
                            url="@Url.Action(
                                     nameof(SuppliersController.AddSupplierContact),
                                     typeof(SuppliersController).ControllerName(),
                                     new { Model.SupplierId })"/>

        <nhs-table data-test-id="contacts-table">
            <nhs-table-column>Contact</nhs-table-column>
            <nhs-table-column>Telephone</nhs-table-column>
            <nhs-table-column>Email</nhs-table-column>
            <nhs-table-column>Action</nhs-table-column>

            @foreach (var contact in Model.Contacts)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>@contact.Description</nhs-table-cell>
                    <nhs-table-cell>@contact.PhoneNumber</nhs-table-cell>
                    <nhs-table-cell>@contact.Email</nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(SuppliersController.EditSupplierContact)"
                           asp-controller="@typeof(SuppliersController).ControllerName()"
                           asp-route-supplierId="@Model.SupplierId"
                           asp-route-contactId="@contact.Id">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>
        
        <div class="nhsuk-u-margin-top-9">
            <vc:nhs-secondary-button text="Continue"
                                     type="Primary"
                                     url="@Url.Action(
                                              nameof(SuppliersController.EditSupplier),
                                              typeof(SuppliersController).ControllerName(),
                                              new { Model.SupplierId })"/>
        </div>
    </div>
</div>
