@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AssociatedServices.AddAssociatedServiceModel;
@{
    ViewBag.Title = "Associated Service details";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SupplierName (@Model.SolutionId.SupplierId)"
                        advice="Provide the following details for your Associated Service." />

        <nhs-inset-text>
            <p>This Associated Service will be available for selection with any of your Catalogue Solutions.</p>
        </nhs-inset-text>

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.SupplierName" />

            <nhs-input asp-for="IdDisplay"
                       label-hint="Associated Service IDs are made up of the supplier ID and a 3-digit code unique to this service, for example, @Model.SolutionId.SupplierId-S-001."
                       label-text="Associated Service ID" input-width="Thirteen" />
            <nhs-input asp-for="Name"
                       label-text="Associated Service name" />
            <nhs-textarea asp-for="Description"
                          label-text="Associated Service description"
                          label-hint="Describe how this Associated Service helps implement or optimise the live operation of your Catalogue Solution." />
            <nhs-textarea asp-for="OrderGuidance"
                          label-text="Order guidance"
                          label-hint="Help buyers understand how they should order the Associated Services by providing typical order volumes and implementation timescales." />
            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Does this Associated Service support practice reorganisation? (optional)"
                                     label-hint="Select all the types of practice reorganisation this Associated Service supports."
                                     size="ExtraSmall">
                <nhs-checkbox-container>
                    <nhs-checkbox asp-for="PracticeSplit" label-text="Practice split" />
                    <nhs-checkbox asp-for="PracticeMerger" label-text="Practice merger" />
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>
            <nhs-submit-button />
        </form>
    </div>
</div>
