@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.DesktopBasedModels.ConnectivityModel;
@{
    ViewBag.Title = "Desktop application ­– connectivity";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know about your Catalogue Solution’s connection requirements." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />

                <nhs-select asp-for="SelectedConnectionSpeed"
                            asp-items="@Model.ConnectionSpeeds"
                            label-text="Connection speed"
                            label-hint="Select the minimum bandwidth required for your Catalogue Solution to function." />
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
