@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Dashboard.OrganisationModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="dashboard-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewBag.Title"
                            advice="Manage orders currently in progress and view completed orders." />
            @if (Model.CanActOnBehalf)
            {
                <h2>Current organisation</h2>
                <p class="nhsuk-u-margin-bottom-2">You are currently acting on behalf of:</p>
                <p data-test-id="dashboard-page-proxy-on-behalf" class="nhsuk-u-margin-bottom-6">
                    @Model.OrganisationName <a asp-action="@nameof(DashboardController.SelectOrganisation)"
                                               asp-controller="Dashboard"
                                               asp-route-odsCode="@Model.OdsCode"
                                               class="nhsuk-u-margin-left-4">Change organisation</a>
                </p>
            }
            <vc:nhs-action-link text="Create a new order"
                                     url="@Url.Action(
                                         nameof(OrderTriageController.Index),
                                         typeof(OrderTriageController).ControllerName(),
                                         new { Model.OdsCode })" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-table label-text="Incomplete orders" data-test-id="incomplete-orders-table">
                <nhs-table-column>Call-off Agreement ID</nhs-table-column>
                <nhs-table-column>Order description</nhs-table-column>
                <nhs-table-column>Last updated by</nhs-table-column>
                <nhs-table-column>Last updated</nhs-table-column>
                <nhs-table-column>Date created</nhs-table-column>
                @for (int i = 0; i < Model.InCompleteOrders.Count; i++)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <a asp-action="@nameof(OrderController.Order)"
                               asp-controller="@typeof(OrderController).ControllerName()"
                               asp-route-callOffId="@Model.InCompleteOrders[i].CallOffId"
                               asp-route-odsCode="@Model.OdsCode">@Model.InCompleteOrders[i].CallOffId</a>
                        </nhs-table-cell>
                        <nhs-table-cell>@Model.InCompleteOrders[i].Description</nhs-table-cell>
                        <nhs-table-cell>@Model.InCompleteOrders[i].LastUpdatedByUser.FullName</nhs-table-cell>
                        <nhs-table-cell>@Model.InCompleteOrders[i].LastUpdated.ToLongDateString()</nhs-table-cell>
                        <nhs-table-cell>@Model.InCompleteOrders[i].Created.ToLongDateString()</nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>

            <nhs-table label-text="Completed orders" data-test-id="complete-orders-table">
                <nhs-table-column>Call-off Agreement ID</nhs-table-column>
                <nhs-table-column>Order description</nhs-table-column>
                <nhs-table-column>Last updated by</nhs-table-column>
                <nhs-table-column>Date Completed</nhs-table-column>
                <nhs-table-column>Date created</nhs-table-column>
                <nhs-table-column>Payment centrally processed?</nhs-table-column>
                @for (int i = 0; i < Model.CompleteOrders.Count; i++)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <a asp-action="@nameof(OrderController.Order)"
                               asp-controller="@typeof(OrderController).ControllerName()"
                               asp-route-callOffId="@Model.CompleteOrders[i].CallOffId"
                               asp-route-odsCode="@Model.OdsCode">@Model.CompleteOrders[i].CallOffId</a>
                        </nhs-table-cell>
                        <nhs-table-cell>@Model.CompleteOrders[i].Description</nhs-table-cell>
                        <nhs-table-cell>@Model.CompleteOrders[i].LastUpdatedByUser.FullName</nhs-table-cell>
                        <nhs-table-cell>@Model.CompleteOrders[i].Completed?.ToLongDateString()</nhs-table-cell>
                        <nhs-table-cell>@Model.CompleteOrders[i].Created.ToLongDateString()</nhs-table-cell>
                        <nhs-table-cell>@(Model.CompleteOrders[i].FundingSourceOnlyGms == true ? "Yes" : "No")</nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        </div>
    </div>
</div>
