@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Dashboard.OrganisationModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="dashboard-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <nhs-page-title title="@Model.Title" advice="Manage orders currently in progress and view completed orders." />

            @if (Model.CanActOnBehalf)
            {
                <h2>Current organisation</h2>
                <p class="nhsuk-u-margin-bottom-2">You are currently acting on behalf of:</p>
                <p data-test-id="dashboard-page-proxy-on-behalf" class="nhsuk-u-margin-bottom-6">@Model.OrganisationName <a href=/order/organisation/@Model.OdsCode/select class="nhsuk-u-margin-left-4">Change organisation</a></p>
            }

            <div data-test-id="new-order-button">
                <a class="nhsuk-button nhsuk-u-margin-bottom-3 nhsuk-u-padding-left-5 nhsuk-u-padding-right-5" href="/order/organisation/@Model.OdsCode/order/neworder" draggable="false">
                    Create new order
                </a>
            </div>
        </div>

        <div class="nhsuk-grid-column-full">
            <div data-test-id="incomplete-orders-table">
                <table data-test-id="table" class="" style="page-break-inside:auto">
                    <caption class="">
                        Incomplete orders
                    </caption>
                    <thead data-test-id="table-headings" style="display:table-header-group;">
                    <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:20%">
                        <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Call-off Agreement ID</div>
                    </th>
                    <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:20%">
                        <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">Order description</div>
                    </th>
                    <th data-test-id="column-heading-2" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:20%">
                        <div data-test-id="column-heading-2-data" class="nhsuk-u-font-weight-bold">Last updated by</div>
                    </th>
                    <th data-test-id="column-heading-3" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:20%">
                        <div data-test-id="column-heading-3-data" class="nhsuk-u-font-weight-bold">Last updated</div>
                    </th>
                    <th data-test-id="column-heading-4" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:20%">
                        <div data-test-id="column-heading-4-data" class="nhsuk-u-font-weight-bold">Date created</div>
                    </th>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.InCompleteOrders.Count(); i++)
                        {
                            <tr data-test-id="table-row-@i" style="page-break-inside:avoid; page-break-after:auto">
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <a data-test-id="@Model.InCompleteOrders[i].CallOffId-id" href="/order/organisation/@Model.OdsCode/order/@Model.InCompleteOrders[i].CallOffId">@Model.InCompleteOrders[i].CallOffId</a>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.InCompleteOrders[i].CallOffId-description" class="bc-c-data-text nhsuk-u-font-size-16">@Model.InCompleteOrders[i].Description</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <div data-test-id="@Model.InCompleteOrders[i].CallOffId-lastUpdatedBy" class="bc-c-data-text nhsuk-u-font-size-16">@Model.InCompleteOrders[i].LastUpdatedByName</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <div data-test-id="@Model.InCompleteOrders[i].CallOffId-lastUpdated" class="bc-c-data-text nhsuk-u-font-size-16">@Model.InCompleteOrders[i].LastUpdated.ToLongDateString()</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.InCompleteOrders[i].CallOffId-dateCreated" class="bc-c-data-text nhsuk-u-font-size-16">@Model.InCompleteOrders[i].Created.ToLongDateString()</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div data-test-id="complete-orders-table">
                <table data-test-id="table" class="" style="page-break-inside:auto">
                    <caption class="">
                        Completed orders
                    </caption>
                    <thead data-test-id="table-headings" style="display:table-header-group;">
                    <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:21%">
                        <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Call-off Agreement ID</div>
                    </th>
                    <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:21%">
                        <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">Order description</div>
                    </th>
                    <th data-test-id="column-heading-2" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:17%">
                        <div data-test-id="column-heading-2-data" class="nhsuk-u-font-weight-bold">Last updated by</div>
                    </th>
                    <th data-test-id="column-heading-3" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:17%">
                        <div data-test-id="column-heading-3-data" class="nhsuk-u-font-weight-bold">Date completed</div>
                    </th>
                    <th data-test-id="column-heading-4" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:17%">
                        <div data-test-id="column-heading-4-data" class="nhsuk-u-font-weight-bold">Date created</div>
                    </th>
                    <th data-test-id="column-heading-5" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:7%">
                        <div data-test-id="column-heading-5-data" class="nhsuk-u-font-weight-bold">Payment centrally processed</div>
                    </th>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.CompleteOrders.Count(); i++)
                        {
                            <tr data-test-id="table-row-@i" style="page-break-inside:avoid; page-break-after:auto">
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <a data-test-id="@Model.CompleteOrders[i].CallOffId-id" href="/order/organisation/@Model.OdsCode/order/@Model.CompleteOrders[i].CallOffId/summary">@Model.CompleteOrders[i].CallOffId</a>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.CompleteOrders[i].CallOffId-description" class="bc-c-data-text nhsuk-u-font-size-16">@Model.CompleteOrders[i].Description</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.CompleteOrders[i].CallOffId-lastUpdatedBy" class="bc-c-data-text nhsuk-u-font-size-16">@Model.CompleteOrders[i].LastUpdatedByName</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.CompleteOrders[i].CallOffId-dateCompleted" class="bc-c-data-text nhsuk-u-font-size-16">@Model.CompleteOrders[i].Completed?.ToLongDateString()</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.CompleteOrders[i].CallOffId-dateCreated" class="bc-c-data-text nhsuk-u-font-size-16">@Model.CompleteOrders[i].Created.ToLongDateString()</div>
                                </td>
                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                                    <div data-test-id="@Model.CompleteOrders[i].CallOffId-automaticallyProcessed" class="bc-c-data-text nhsuk-u-font-size-16">TODO</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  
