@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.MobileTabletBasedModels.AdditionalInformationModel;
@{
    ViewBag.Title = "Mobile or tablet application – additional information";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know any additional information about your Catalogue Solution." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />
                <nhs-textarea asp-for="AdditionalInformation"
                              label-text="Additional information (optional)"
                              label-hint="Provide additional information about your mobile or tablet Catalogue Solution." />
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
