@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.MobileTabletBasedModels.MemoryAndStorageModel;
@{
    ViewBag.Title = "Mobile and tablet application – memory and storage";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know the minimum requirements for your Catalogue Solution to function." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />

                <nhs-select asp-for="SelectedMemorySize"
                            asp-items="@Model.MemorySizes"
                            label-text="Memory size"
                            label-hint="Select the minimum memory size required for your Catalogue Solution to function." />
                <nhs-textarea asp-for="Description"
                              label-text="Storage space"
                              label-hint="Provide information about how much storage space a device will need to use your Catalogue Solution." />

                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
