@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.MobileTabletBasedModels.MobileTabletBasedModel
@{
    ViewBag.Title = "Mobile or tablet application";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <partial name="Partials/_BackLink" model="Model" />
        </div>
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Provide information about your mobile or tablet Catalogue Solution." />

            <nhs-table>

                <nhs-table-column>Section</nhs-table-column>
                <nhs-table-column>Mandatory</nhs-table-column>
                <nhs-table-column>Status</nhs-table-column>
                <nhs-table-column>Action</nhs-table-column>

                <nhs-table-row-container>
                    <nhs-table-cell>Supported operating systems</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.SupportedOperatingSystemsStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(MobileTabletBasedController.OperatingSystems)"
                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Connectivity</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ConnectivityStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(MobileTabletBasedController.Connectivity)"
                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Memory and storage</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.MemoryStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(MobileTabletBasedController.MemoryAndStorage)"
                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Third-party components and device capabilities</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.ThirdPartyStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(MobileTabletBasedController.ThirdPartyComponents)"
                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Hardware requirements</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.HardwareStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(MobileTabletBasedController.HardwareRequirements)"
                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

                <nhs-table-row-container>
                    <nhs-table-cell>Additional information</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.AdditionalInformationStatus()"/></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(MobileTabletBasedController.AdditionalInformation)"
                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId"
                           class="nhsuk-breadcrumb__link">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>

            </nhs-table>

            <vc:nhs-secondary-button text="Continue"
                                     type="Primary"
                                     url="@Url.Action(
                                     nameof(CatalogueSolutionsController.ApplicationType),
                                     typeof(CatalogueSolutionsController).ControllerName(),
                                     new { Model.SolutionId })" /><br />

            <vc:nhs-delete-button url="@Url.Action(
                                               nameof(DeleteApplicationTypeController.DeleteApplicationTypeConfirmation),
                                               typeof(DeleteApplicationTypeController).ControllerName(),
                                               new { Model.SolutionId, Model.ApplicationType })"
                                  text="Delete application type" />
        </div>
    </div>
</div>
