@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.MobileTabletBasedModels.OperatingSystemsModel;
@{
    ViewBag.Title = "Mobile or tablet application – supported operating systems";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know which operating systems will work with your Catalogue Solution." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Supported operating systems"
                                         label-hint="Select the operating systems supported by your Catalogue Solution.">
                    <nhs-checkbox-container>
                        @for (var i = 0; i < Model.OperatingSystems.Length; i++)
                        {
                            <nhs-checkbox asp-for="@Model.OperatingSystems[i].Checked"
                                          label-text="@Model.OperatingSystems[i].OperatingSystemName"
                                          hidden-input="@Model.OperatingSystems[i].OperatingSystemName" />
                        }
                    </nhs-checkbox-container>
                </nhs-fieldset-form-label>
                <nhs-textarea asp-for="Description"
                              label-text="Description of supported operating systems (optional)"
                              label-hint="Provide any additional information that may be helpful to buyers, for example which version of the operating system is supported." />

                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
