@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.DeleteAdditionalService.DeleteAdditionalServiceModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="delete-catalogue-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewBag.Title"
                            advice="This Additional Service will be deleted from your order." />
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />

                <nhs-fieldset-form-container asp-for="@Model"
                                             label-text="Order Description"
                                             label-hint="@Model.OrderDescription">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <div>
                                <nhs-submit-button text="Delete" />
                            </div>
                            <div>
                                <vc:nhs-backlink url="/order/organisation/@Model.OdsCode/order/@Model.CallOffId/additional-services/@Model.AdditionalServiceId"
                                                 text="Cancel" />
                            </div>
                        </div>
                    </div>
                </nhs-fieldset-form-container>
            </form>
        </div>
    </div>
</div>
