@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.MarketingPriceSummaryModel

@{
    var price = Model.Price;
    var priceType = Model.Price.CataloguePriceType;
}

<nhs-summary-list>
    <nhs-summary-list-row label-text="Description">
        <p data-test-id="description">
            @Model.ItemDescription
        </p>
    </nhs-summary-list-row>
    @if (!string.IsNullOrWhiteSpace(Model.CapabilitiesAndEpicsUrl))
    {
        <nhs-summary-list-row label-text="Capabilities and Epics" data-test-id="capability-epics">
            <a href="@Model.CapabilitiesAndEpicsUrl"
               class="nhsuk-breadcrumb__link">Check Capabilities and Epics</a>
        </nhs-summary-list-row>
    } else if (!string.IsNullOrWhiteSpace(Model.OrderGuidance))
    {
        <nhs-summary-list-row label-text="Order guidance">
            <p data-test-id="order-guidance">
                @Model.OrderGuidance
            </p>
        </nhs-summary-list-row>
    }
    <nhs-summary-list-row label-text="Price type">@priceType.ToString()</nhs-summary-list-row>
    <nhs-summary-list-row label-text="Price">
        @if (priceType == CataloguePriceType.Flat)
        {
            var tier = price.CataloguePriceTiers.First();

            @($"£{tier.Price:N4}")
        }
        else
        {
            @for (var i = 0; i < price.CataloguePriceTiers.Count; i++)
            {
                var tier = price.CataloguePriceTiers.ElementAt(i);

                @($"Tier {i + 1}: £{tier.Price:N4} {price.ToPriceUnitString()}")
                <br/>
            }
        }
    </nhs-summary-list-row>
    @if (priceType == CataloguePriceType.Tiered)
    {
        <nhs-summary-list-row label-text="Ranges">
            @for (var i = 0; i < price.CataloguePriceTiers.Count; i++)
            {
                var tier = price.CataloguePriceTiers.ElementAt(i);
                @($"Tier {i + 1}: {tier.GetRangeDescription()}")
                <br/>
            }
        </nhs-summary-list-row>
    }
    @if (!string.IsNullOrWhiteSpace(price.PricingUnit.Definition))
    {
        <nhs-summary-list-row label-text="Unit definition">
            <p>
                @price.PricingUnit.Definition
            </p>
        </nhs-summary-list-row>
    }
</nhs-summary-list>
