@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.MarketingPriceSummaryModel

<nhs-summary-list>
    <nhs-summary-list-row label-text="Service ID">
        <p data-test-id="serviceId">
            @Model.ServiceId
        </p>
    </nhs-summary-list-row>

    <nhs-summary-list-row label-text="Description">
        <p data-test-id="description">
            @Model.ItemDescription
        </p>
    </nhs-summary-list-row>

    @if (!string.IsNullOrWhiteSpace(Model.CapabilitiesAndEpicsUrl))
    {
        <nhs-summary-list-row label-text="Capabilities and Epics" data-test-id="capability-epics">
            <a href="@Model.CapabilitiesAndEpicsUrl"
               class="nhsuk-breadcrumb__link">Check Capabilities and Epics</a>
        </nhs-summary-list-row>
    } 
    else if (!string.IsNullOrWhiteSpace(Model.OrderGuidance))
    {
        <nhs-summary-list-row label-text="Order guidance">
            <p data-test-id="order-guidance">
                @Model.OrderGuidance
            </p>
        </nhs-summary-list-row>
    }

    @if (Model.Prices.Where(x => x.CataloguePriceType.Equals(CataloguePriceType.Flat)).ToList().Count <= 1
    && Model.Prices.Where(x => x.CataloguePriceType.Equals(CataloguePriceType.Tiered)).ToList().Count == 0)
    {
        foreach (var price in Model.Prices.Where(x => x.CataloguePriceType.Equals(CataloguePriceType.Flat)).ToList()){
            <nhs-summary-list-row label-text="Price type">
                @CataloguePriceType.Flat.ToString()
            </nhs-summary-list-row>

            <nhs-summary-list-row label-text="Price (excluding VAT)">
                @{
                    var tier = price.CataloguePriceTiers.First();
                }
                @($"£{tier.Price:N4} {price.ToPriceUnitString()}")
            </nhs-summary-list-row>

            var priceDefinition = price.PricingUnit.Definition;
            @if (!string.IsNullOrWhiteSpace(priceDefinition))
            {
                <nhs-summary-list-row label-text="Unit definition">
                    <p>
                        @priceDefinition
                    </p>
                </nhs-summary-list-row>
            }
        }
        
    } else
    {
        <nhs-summary-list-row label-text="Price">
            <a href=@Model.PricePageUrl>Check prices</a>
        </nhs-summary-list-row>

    }
</nhs-summary-list>
