@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.AdditionalServicesModel
@{
    ViewBag.Title = "Solution Additional Services";
}
<div>
    <p><strong>These are the Additional Services offered with this Catalogue Solution:</strong></p>

    <nhs-details label-text="What are Additional Services?">
        <p> Additional Services are add-ons that provide additional functionality to a Catalogue Solution for an extra cost. For example, enabling a Catalogue Solution to be used on a mobile device. </p>
    </nhs-details>

    <nhs-table label-text="Additional Services available" data-test-id="additional-services-table">
        <nhs-table-column> Additional Service </nhs-table-column>
        @foreach (var solution in Model.Services)
        {
            <nhs-table-row-container>
                <nhs-table-cell><a href="#@solution.Id">@solution.Name</a></nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>

    <div data-test-id="additional-services-details">
        @foreach (var solution in Model.Services)
        {
            <hr style="border-width: 4px;">
            <h3 id="@solution.Id">@solution.Name</h3>
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Description" data-test-id="full-description">
                    <p>@solution.AdditionalService.FullDescription</p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Capabilities and Epics" data-test-id="capability-epics">
                    <a asp-controller="@typeof(SolutionsController).ControllerName()"
                       asp-action="@nameof(SolutionsController.CapabilitiesAdditionalServices)"
                       asp-route-solutionId="@Model.SolutionId"
                       asp-route-additionalServiceId="@solution.Id"
                       class="nhsuk-breadcrumb__link">Check Capabilities and Epics</a>
                </nhs-summary-list-row>
            </nhs-summary-list>

            <partial name="_BackToTop" />
        }
    </div>
</div>
