@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionCheckEpicsModel;
@{
    Layout = "~/Views/Shared/Layouts/_SolutionsLayoutNoNav.cshtml";
    ViewBag.Title = $"{Model.Name} capabilites";
}

@section BackLink
{
    <partial name="Partials/_BackLink" model="@Model" />
}

<p>@Model.Description</p>

<hr />

@if (Model.HasNoEpics())
{
    <p>
        <strong>No Epics</strong>
    </p>
}
else
{
    @if (Model.HasNhsDefined())
    {
        <h2>NHS defined Epics</h2>

        <p>
            <a target="_blank" href="@Model.Url">
                View more details including acceptance criteria for Epics defined by the NHS</a>
            (opens in a new tab)
        </p>

        <ul data-test-id="nhs-defined-epics">
            @foreach (var epic in Model.NhsDefined)
            {
                <li>@epic.Name</li>
            }
        </ul>
    }

    @if (Model.HasSupplierDefined())
    {
        <h2>Supplier defined Epics</h2>


        <nhs-table data-test-id="supplier-defined-epics">
            <nhs-table-column>Name</nhs-table-column>
            <nhs-table-column>Description</nhs-table-column>

            @foreach (var epic in Model.SupplierDefined)
            {
                <nhs-table-row-container>
                    <nhs-table-cell data-test-id="supplier-defined-epic-name">@epic.Name</nhs-table-cell>
                    <nhs-table-cell>@epic.Description</nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>
    }
}
