@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionDescriptionModel;
@{
}
<article class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Supplier name">
                <a href="@Url.Action(nameof(SolutionsController.SupplierDetails)
                ,new { solutionId = Model.SolutionId })">
                    @Model.SupplierName
                </a>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Solution ID">
                <p>
                    @Model.SolutionId
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="@Model.FrameworkTitle()">
                <p>
                    <partial name="DisplayTemplates/TableListCell" model="@Model.Frameworks.Select(x => x.ShortName).ToArray()" />
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Foundation Solution">
                <p>
                    @Model.IsFoundation
                </p>
            </nhs-summary-list-row>
        </nhs-summary-list>

        @if (Model.IsSuspended())
        {
            <p data-test-id="solution-suspended-notice">This Catalogue Solution has been suspended from the Buying Catalogue and is not available at this time.</p>
            <p>The supplier did not satisfy an agreed remedial plan to meet outstanding compliance with required standards.</p>
        }
        else
        {
            @if (Model.HasSummary())
            {
                <h2>Overview</h2>

                <p style="white-space: pre-line">@Model.Summary</p>
            }

            @if (Model.HasDescription())
            {
                <nhs-card style="white-space: pre-line" title="Full description"
                  text=@Model.Description />
            }

            @if (Model.HasAboutUrl())
            {
                <p>
                    <a href="@Model.AboutUrl" target="_blank">More about this solution (opens in a new tab)</a>
                </p>
            }
        }
    </div>
</article>
