@using NHSD.GPIT.BuyingCatalogue.WebApp.Models
@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Models
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionsModel;
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["Title"] = "Find Buying Catalogue Solutions";
    var backLinkModel = new NavBaseModel { BackLink = "/", BackLinkText = "Go back" };

    string sortText = Model.Options.Sort switch
    {

        PageOptions.SortOptions.LastUpdated => "last updated.",
        _ => "A-Z."
    };

    string sortLinkText = Model.Options.Sort switch
    {

        PageOptions.SortOptions.LastUpdated => "A-Z",
        _ => "last updated",
    };

    string sortQueryParam = Model.Options.Sort switch
    {
        PageOptions.SortOptions.LastUpdated => PageOptions.SortOptions.Alphabetical.ToString().ToLower(),
        _ => PageOptions.SortOptions.LastUpdated.ToString().ToLower(),
    };

    bool showFrameworkAndCapabilitiesitems =
        (!string.IsNullOrWhiteSpace(Model.SelectedFramework) && Model.SelectedFramework != "All")
        || !string.IsNullOrWhiteSpace(Model.SelectedCapabilities);
}

@section Scripts{ 
    <script type="text/javascript" src="@Url.Content("~/js/CatalogueSolutionsFilter.min.js")" asp-append-version="true"></script>
}

@section Breadcrumbs {
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link"
                   data-test-id="home-crumb"
                   asp-action="@nameof(HomeController.Index)"
                   asp-controller="@typeof(HomeController).ControllerName()"
                   asp-area="@typeof(HomeController).AreaName()">Home</a>
            </li>
            @if (showFrameworkAndCapabilitiesitems)
            {
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link"
                       data-test-id="home-crumb"
                       asp-action="@nameof(SolutionsController.Index)"
                       asp-controller="@typeof(SolutionsController).ControllerName()"
                       asp-area="@typeof(SolutionsController).AreaName()">Catalogue Solutions</a>
                </li>
            }
        </ol>
    </div>
</nav>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Search for Catalogue Solutions that match the needs of your organisation." />
        <div id="filter-container">
            <partial name="_FilterNoJavascript" model="@Model" />
        </div>
        @if (showFrameworkAndCapabilitiesitems)
        {
            <h2>Showing results for selected filters</h2>
        }
        <p id="sorting">
            Results sorted by @sortText
            <a id="sortby-link"
               asp-area="@typeof(SolutionsController).AreaName()"
               asp-controller="@typeof(SolutionsController).ControllerName()"
               asp-action="@nameof(SolutionsController.Index)"
               asp-route-sortBy="@sortQueryParam"
               asp-route-selectedframework="@Model.SelectedFramework"
               asp-route-capabilities ="@Model.SelectedCapabilities">
                Sort by @sortLinkText
            </a>
        </p>
        <hr />
        @if (Model.CatalogueItems is not null && Model.CatalogueItems.Count() > 0)
        {
            <div id="solutions-list">
                @foreach (var item in Model.CatalogueItems)
                {
                    <partial name="_SolutionSearchDisplay" model="@item" />
                }
            </div>
            <div id="pagination">
                <nhs-page-number-pagination current-page-number="@Model.Options.PageNumber"
                                            total-number-of-pages="@Model.Options.NumberOfPages" />

            </div>
        }
        else
        {
            <h2 id="no-results">No results found that match your search criteria</h2>
            <p>Try a different search term or change any filters you've selected.</p>
        }
    </div>
</div>

