@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionsModel;
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = Model.TitleText;
}

@section Breadcrumbs {
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link"
                   data-test-id="home-crumb"
                   asp-action="@nameof(HomeController.Index)"
                   asp-controller="@typeof(HomeController).ControllerName()"
                   asp-area="@typeof(HomeController).AreaName()">Home</a>
            </li>
            @if (Model.SearchCriteriaApplied)
            {
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link"
                data-test-id="home-crumb"
                asp-action="@nameof(SolutionsController.Index)"
                asp-controller="@typeof(SolutionsController).ControllerName()"
                asp-area="@typeof(SolutionsController).AreaName()">Catalogue Solutions</a>
                </li>
                    @if (!string.IsNullOrWhiteSpace(Model.SearchSummary.SelectedCapabilityIds))
                    {
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link"
                    data-test-id="home-crumb"
                    asp-action="@nameof(FilterController.FilterCapabilities)"
                    asp-controller="@typeof(FilterController).ControllerName()"
                    asp-area="@typeof(FilterController).AreaName()"
                    asp-route-selectedCapabilityIds="@Model.SearchSummary.SelectedCapabilityIds"
                    asp-route-selectedEpicIds="@Model.SearchSummary.SelectedEpicIds"
                    asp-route-search="@Model.SearchSummary.SearchTerm">Filter Capabilities</a>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(Model.SearchSummary.SelectedEpicIds)){
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link"
                    data-test-id="home-crumb"
                    asp-action="@nameof(FilterController.FilterEpics)"
                    asp-controller="@typeof(FilterController).ControllerName()"
                    asp-area="@typeof(FilterController).AreaName()"
                    asp-route-selectedCapabilityIds="@Model.SearchSummary.SelectedCapabilityIds"
                    asp-route-selectedEpicIds="@Model.SearchSummary.SelectedEpicIds"
                    asp-route-search="@Model.SearchSummary.SearchTerm">Filter Epics</a>
                    </li>
                }
            }
        </ol>
    </div>
</nav>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        advice="@Model.AdviceText" />
         @if (!Model.SearchCriteriaApplied)
        {
            <vc:nhs-suggestion-search id="marketing-suggestion-search"
                                  ajax-url="@Url.Action(
                                                nameof(SolutionsController.FilterSearchSuggestions),
                                                typeof(SolutionsController).ControllerName())"
                                  title-text="Search for solution by solution name or supplier name"
                                  query-parameter-name="search"/>
        }

        <nhs-warning-callout label-text="GP IT Futures framework expired">
            <p>Lot 1 of the GP IT Futures framework expired on 31 March 2023. This means you can no longer carry out new procurements of solutions and services offered under that framework.</p>
            <p>Continuity contracts have been put in place to ensure that you continue to have access to purchased solutions and services between 1 April 2023 and the go live date of the replacement, which is scheduled for summer 2023.</p>
            <p>You’ll still be able to use the Buying Catalogue to browse and procure solutions and services from the Digital First Online Consultation and Video Consultation (DFOCVC) framework.</p>
            <p>However, orders placed under the GP IT Futures framework will not be completed until the replacement framework is live.</p>
        </nhs-warning-callout>
        @if (!Model.SearchCriteriaApplied)
        {
            <vc:nhs-action-link text="Filter Catalogue Solutions"
                            url="@Url.Action(
                                nameof(FilterController.FilterCapabilities),
                                typeof(FilterController).ControllerName(),
                                new { SelectedCapabilityIds = Model.SearchSummary.SelectedCapabilityIds,
                                      SelectedEpicIds = Model.SearchSummary.SelectedEpicIds, 
                                      search = Model.SearchSummary.SearchTerm})" />
        }


        @if (Model.SearchCriteriaApplied)
        {
            <hr />
            <h2 data-test-id="search-criteria-summary">@(SearchSummaryTitle(Model.PageOptions.TotalNumberOfItems))</h2>
            <br/>

            @if (!string.IsNullOrWhiteSpace(Model.SearchSummary.SearchTerm)){
                <h3 data-test-id="search-term-title">Selected Capabilities and Epics</h3>
                <p data-test-id="search-term-content">@($"'{Model.SearchSummary.SearchTerm}'")</p>
            }

            @if (Model.SearchSummary.CapabilitiesAndEpics.Count > 0)
            {
                <h3 data-test-id="filter-summary-title">@(FilterSummaryTitle(Model.SearchSummary.SelectedEpicIds))</h3>
                var filterContext = GetSearchSummary();
                <ul data-test-id="filter-summary-content">
                    @foreach (var item in filterContext)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
            <p>
                <a  style="margin-right:20px;"
                    asp-area="@typeof(FilterController).AreaName()"
                    asp-controller="@typeof(FilterController).ControllerName()"
                    asp-action="@nameof(FilterController.FilterCapabilities)"
                    asp-route-selectedCapabilityIds="@Model.SearchSummary.SelectedCapabilityIds"
                    asp-route-selectedEpicIds="@Model.SearchSummary.SelectedEpicIds"
                    asp-route-search="@Model.SearchSummary.SearchTerm">
                    Edit Capabilities
                </a>

                <a style="margin-right:20px;"
                    asp-area="@typeof(FilterController).AreaName()"
                    asp-controller="@typeof(FilterController).ControllerName()"
                    asp-action="@nameof(FilterController.FilterEpics)"
                    asp-route-selectedCapabilityIds="@Model.SearchSummary.SelectedCapabilityIds"
                    asp-route-selectedEpicIds="@Model.SearchSummary.SelectedEpicIds"
                    asp-route-search="@Model.SearchSummary.SearchTerm">
                    Edit Epics
                </a>

                <a asp-area="@typeof(SolutionsController).AreaName()"
                    asp-controller="@typeof(SolutionsController).ControllerName()"
                    asp-action="@nameof(SolutionsController.Index)">
                    Start a new search
                </a>
            </p>

            @if (Model.CatalogueItems.Count == 0 && !Model.AdditionalFiltersApplicable)
            {
                <p id="no-results">
                    Try a different search term or change any filters you've selected.
                </p>
            }
        }

        @if (Model.CatalogueItems is not null && Model.CatalogueItems.Count > 0)
        {
            <form id="sort-form" method="post">

                <nhs-select asp-for="SelectedSortOption"
                        asp-items="@Model.SortOptions"
                        label-text="Sort by:"
                        use-default-value="false" />

                <nhs-submit-button text="Sort results" class="nhsuk-button--secondary" style="display:inline" />
            </form>

            <script type="text/javascript" src="@Url.Content("~/js/SolutionSort.min.js")" asp-append-version="true"></script>

            <hr />
        }

            @if (Model.AdditionalFiltersApplicable)
            {
                <div class="nhsuk-grid-column-one-third" >
                    <h2>Additional Filters</h2>
                    <partial name="IncludeAdditionalfilters" model="@(Model.AdditionalFilters)" />

                <nhs-submit-button style = "width:100%"text="Save All Filters"/>
                <br/>
                <a asp-area="@typeof(SolutionsController).AreaName()"
                    asp-controller="@typeof(SolutionsController).ControllerName()"
                    asp-action="@nameof(SolutionsController.Index)"
                    asp-route-selectedCapabilityIds="@Model.SearchSummary.SelectedCapabilityIds"
                    asp-route-selectedEpicIds="@Model.SearchSummary.SelectedEpicIds"
                    asp-route-search="@Model.SearchSummary.SearchTerm">
                    Clear additional filters
                </a>
                <br/>
                <br/>
                <a asp-area="@typeof(SolutionsController).AreaName()"
                    asp-controller="@typeof(SolutionsController).ControllerName()"
                    asp-action="@nameof(SolutionsController.Index)">
                    Start a new search
                </a>
            </div>

                <div class = "nhsuk-grid-column-two-thirds" id="solutions-list">
                    <h2>Results</h2>
                    @foreach (var item in Model.CatalogueItems)
                    {
                        <partial name="_SolutionSearchDisplay" model="@(item, Model.SearchSummary.CapabilitiesAndEpics)" />
                    }
                    @if (Model.CatalogueItems.Count == 0 )
                    {
                        <p>
                          <strong>There was no Catalogue Solutions found with this search criteria.</strong>
                        </p>
                    <p>Try changing any filters you have selected.</p>
                    }
            </div>
            }
            else if (Model.CatalogueItems is not null && Model.CatalogueItems.Count > 0)
            {
                <div id="solutions-list">
                    <h2>Results</h2>
                    @foreach (var item in Model.CatalogueItems)
                    {
                        <partial name="_SolutionSearchDisplay" model="@(item, Model.SearchSummary.CapabilitiesAndEpics)" />
                    }
                </div>
            }
            <div id="pagination">
                <nhs-page-number-pagination current-page-number="@Model.PageOptions.PageNumber"
                                        total-number-of-pages="@Model.PageOptions.NumberOfPages" />

			</div>
    </div>
</div>

@{
    List<string> GetSearchSummary()
    {
        var searchSummary = new List<string>();

        var capabilities = Model.SearchSummary.CapabilitiesAndEpics;
        foreach (var capabilityContext in capabilities)
        {
            var capabilityText = capabilityContext.CapabilityName;
            var numberOfEpics = capabilityContext.CountOfEpics;
            if (numberOfEpics > 0)
            {
                capabilityText += $" and {numberOfEpics} {GetEpicDescriptor(numberOfEpics)}";
            }
            
            searchSummary.Add(capabilityText);
        }        
        
        return searchSummary;
    }

    static string GetEpicDescriptor(int numberOfEpics) => numberOfEpics == 1 ? "Epic" : "Epics";

    static string GetSolutionsDescriptor(int numberOfSolutions) => numberOfSolutions == 1 ? "Solution" : "Solutions";

    static string FilterSummaryTitle(string selectedEpicIds) =>
        string.IsNullOrEmpty(selectedEpicIds)
        ? "Selected Capabilities:"
        : "Selected Capabilities and Epics:";

    static string SearchSummaryTitle(int totalNumberOfItems) => 
        $"{totalNumberOfItems} Catalogue {GetSolutionsDescriptor(totalNumberOfItems)} found with this search criteria";
}
