@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionsModel;
@{
    var PageTitle = Model.GetPageTitle();
    ViewBag.Title = PageTitle.Title;
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["nhsuk-width-container"] = "bc-wider-container";
}

<script type="text/javascript" src="@Url.Content("~/js/Filters.min.js")" asp-append-version="true"></script>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title model="@PageTitle" />
        @if (!Model.SearchCriteriaApplied)
        {
            <partial name="Partials/_FrameworkExpiredAlert" />
        }
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third nshuk-card">
                @if (Model.FilterResultView)
                {
                    <partial name="_AdditionalFiltersView" model="@(Model.AdditionalFilters)" />
                }
                else
                {
                    <partial name="_AdditionalFilters" model="@(Model.AdditionalFilters)" />
                }
            </div>

            @if (!Model.FilterResultView)
            {
                <div class="nhsuk-grid-column-two-thirds" id="search">
                    <nhs-card title="Search Catalogue Solutions">
                        <div id="search-by">
                            <vc:nhs-suggestion-search id="marketing-suggestion-search"
                                                      ajax-url="@Url.Action(nameof(SolutionsController.FilterSearchSuggestions), typeof(SolutionsController).ControllerName())"
                                                      title-text="Filter Catalogue Solutions"
                                                      placeholder-text="Search by supplier or solution name"
                                                      query-parameter-name="search" />
                        </div>
                    </nhs-card>
                </div>
            }
            <div class="nhsuk-grid-column-two-thirds" id="solutions-list">
                <partial name="SearchResults" model="@Model.ResultsModel" />
            </div>
        </div>
    </div>
</div>

<vc:nhs-modal-search
    id="search-capabilities-modal"
    show-dialog-button-id="select-capabilities-button"
    callback-function="filters.updateCapabilities.bind(filters)"
    title="Select Capabilities"
    advice="Search for Capabilities and apply them as a filter."
    placeholder="Search by Capability name"
    not-found-text="There are no Capabilities that match. Try entering different search criteria."
    apply-button-text=" Apply Capabilities"
    table-content-function="filters.getCapabilitiesModelContent.bind(filters)"
    clear-search="true"
    clear-selection="false"/>

<vc:nhs-modal-search
    id="search-epics-modal"
    show-dialog-button-id="select-epics-button"
    callback-function="filters.updateEpics.bind(filters)"
    title="Select Epics"
    advice="Search for Epics and apply them as a filter."
    placeholder="Search by Epic name"
    not-found-text="There are no Epics that match. Try entering different search criteria."
    apply-button-text=" Apply Epics"
    table-content-function="filters.getEpicsModelContent.bind(filters)"
    clear-search="true"
    clear-selection="false"/>

