@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionsModel;
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["nhsuk-width-container"] = "bc-wider-container";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @{
            var PageTitle = Model.GetPageTitle();
        }
        <nhs-page-title model="@PageTitle" />
        @if (!Model.Filters.SearchCriteriaApplied)
        {
            <partial name="Partials/_FrameworkExpiredAlert" />
        }
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third nshuk-card">
                @if (Model.FilterResultView)
                {
                    <partial name="_AdditionalFiltersView" model="@(Model.AdditionalFilters)" />
                }
                else
                {
                    <partial name="_AdditionalFilters" model="@(Model.AdditionalFilters)" />
                }
            </div>

            @if (!Model.FilterResultView)
            {
                <div class="nhsuk-grid-column-two-thirds" id="search">
                    <nhs-card title="Search Catalogue Solutions">
                        <div id="search-by">
                            <vc:nhs-suggestion-search id="marketing-suggestion-search"
                                                      ajax-url="@Url.Action(nameof(SolutionsController.FilterSearchSuggestions), typeof(SolutionsController).ControllerName())"
                                                      title-text="Filter Catalogue Solutions"
                                                      placeholder-text="Search by supplier or solution name"
                                                      query-parameter-name="search" />
                        </div>
                    </nhs-card>
                </div>
            }
            <div class="nhsuk-grid-column-two-thirds" id="solutions-list">
                @{
                    var filterCount = Model.Filters.FilterCount;
                    var suffix = string.Empty;
                    if (filterCount > 0)
                    {
                        suffix = filterCount == 1
                        ? $" found using {filterCount} filter"
                        : $" found using {filterCount} filters";
                    }
                }
                <nhs-card>
                    <div class="nhsuk-u-clear">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s bc-u-block-float-left">@(Model.PageOptions.TotalNumberOfItems) Solutions@(suffix)</h2>
                        <div style="float: right" id="solution-sort-container"></div>
                        <script type="text/javascript" src="@Url.Content("~/js/SolutionSort.min.js")" asp-append-version="true"></script>
                    </div>

                    @if (!Model.FilterResultView)
                    {
                        if (Model.Filters.SearchCriteriaApplied)
                        {
                            <a asp-area="@typeof(SolutionsController).AreaName()"
                               asp-controller="@typeof(SolutionsController).ControllerName()"
                               asp-action="@nameof(SolutionsController.Index)">
                                Clear all filters
                            </a>
                            <div class="filtering-card">
                                <p class="info-text">
                                    Once you’re happy with your results, you can save your filters to create a shortlist. The shortlist can then be used to carry out a competition.
                                </p>
                                <nhs-submit-button form="filters" class="nhsuk-button--reverse" text="Save filters" formaction="@Url.Action(nameof(ManageFiltersController.SaveFilter), typeof(ManageFiltersController).ControllerName())" />
                            </div>
                        }
                    }
                    @if (Model.CatalogueItems.Count == 0)
                    {
                        if (Model.FilterResultView)
                        {
                            <p>
                                You'll need to use a different filter.
                            </p>
                        }
                    }
                    else
                    {
                        <hr class="nhsuk-section-break--s" />
                        @foreach (var item in Model.CatalogueItems)
                        {
                            <partial name="_SolutionSearchDisplay" model="@(new SolutionSearchResultModel(item))" />
                        }
                    }
                </nhs-card>
            </div>
        </div>
        <div id="pagination">
            <nhs-page-number-pagination current-page-number="@Model.PageOptions.PageNumber"
                                        total-number-of-pages="@Model.PageOptions.NumberOfPages" />
        </div>
    </div>
</div>
