@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.InteroperabilityModel;

<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <partial name="_solutionSummary" model="Model" />
            <p>View information about the systems this Catalogue Solution integrates with to exchange data:</p>
            <h2>
                NHS assured integrations
            </h2>
            <p>
                There are three types of integrations specified and assured by the NHS. Use the links to find out more about these integrations.
            </p>
            <ul>
                <li><strong>IM1: </strong><a href="https://digital.nhs.uk/services/gp-systems-of-choice/pairing-integration">https://digital.nhs.uk/services/gp-systems-of-choice/pairing-integration (opens in new tab)</a></li>
                <li><strong>GP Connect: </strong><a href="https://digital.nhs.uk/services/gp-connect">https://digital.nhs.uk/services/gp-connect (opens in new tab)</a></li>
                <li><strong>NHS App: </strong><a href="https://www.nhs.uk/nhs-app/"> https://www.nhs.uk/nhs-app/ (opens in new tab)</a></li>
            </ul>
            <hr>

            @if (Model.IM1Integrations.Any())
            {
                <h3>IM1 integrations</h3>

                @foreach (var qualifier in Model.IM1IntegrationQualifiers)
                {
                    <nhs-expander label-text="@($"IM1 {qualifier}")" open="false">
                        <nhs-table data-test-id="table-integrations-@qualifier.ToLowerInvariant().Replace(' ', '-')">
                            <nhs-table-column>
                             Provider or<br>consumer
                            </nhs-table-column>
                            <nhs-table-column>
                                Integrates with<br>system
                            </nhs-table-column>
                            <nhs-table-column>
                                Description
                            </nhs-table-column>
                            <nhs-table-column></nhs-table-column>
                            @foreach (var integration in Model.IM1Integrations.Where(i => i.Qualifier == qualifier))
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>
                                        @(integration.IsConsumer ? "Consumer" : "Provider")
                                    </nhs-table-cell>
                                    <nhs-table-cell>
                                        @integration.IntegratesWith
                                    </nhs-table-cell>
                                    <nhs-table-cell>
                                        <p class="nhsuk-u-margin-0">
                                            @integration.Description
                                        </p>
                                    </nhs-table-cell>
                                </nhs-table-row-container>
                            }
                        </nhs-table>
                    </nhs-expander>
                }
            }
            <hr>

            @if (Model.GpConnectIntegrations.Any())
            {
                <h3>GP Connect integrations</h3>

                @foreach (var qualifier in Model.GpConnectIntegrationQualifiers)
                {
                    <nhs-expander label-text="@($"GP Connect {qualifier}")" open="false">
                        <nhs-table data-test-id="table-gpconnect-@qualifier.ToLowerInvariant().Replace(' ', '-')">
                            <nhs-table-column>
                                Provider or<br>consumer
                            </nhs-table-column>
                            <nhs-table-column>
                                Additional information about the integration
                            </nhs-table-column>
                            <nhs-table-column></nhs-table-column>
                            @foreach (var integration in Model.GpConnectIntegrations.Where(i => i.Qualifier == qualifier))
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>
                                        @(integration.IsConsumer ? "Consumer" : "Provider")
                                    </nhs-table-cell>
                                    <nhs-table-cell>
                                        <p class="nhsuk-u-margin-0">
                                            @integration.AdditionalInformation
                                        </p>
                                    </nhs-table-cell>
                                </nhs-table-row-container>
                            }
                        </nhs-table>
                    </nhs-expander>
                }
            }
            <hr>
            @if (!string.IsNullOrWhiteSpace(Model.IntegrationsUrl))
            {
                <h2>Supplier asserted integrations</h2>
                <p>Supplier asserted integrations are interoperability interfaces prepared by a supplier and are not specified or assured by the NHS.</p>
                <p>
                    <a href="@Model.IntegrationsUrl" target="_blank">
                        View the Supplier Asserted Integrations for this Catalogue Solution
                    </a>
                </p>
            }
        </div>
    </div>
</article>
