@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ListPriceModel;
@{
    const string ContextualContent = "This is how much this Catalogue Solution costs:";
}

<article class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Supplier name">
                <a href="@Url.Action(nameof(SolutionsController.SupplierDetails), new { solutionId = Model.SolutionId })">
                    @Model.SupplierName
                </a>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Solution ID">
                <p>
                    @Model.SolutionId
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="@Model.FrameworkTitle()">
                <p>
                    <partial name="DisplayTemplates/TableListCell" model="@Model.Frameworks.Select(x => x.ShortName).ToArray()" />
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Foundation Solution">
                <p>
                    @Model.IsFoundation
                </p>
            </nhs-summary-list-row>
        </nhs-summary-list>

        <nhs-card title="Price of Catalogue Solution">
            <p>@ContextualContent</p>

        @if (Model.HasFlatListPrices())
        {
            <nhs-table data-test-id="flat-list-price-table">
                <nhs-table-column>Price</nhs-table-column>
                <nhs-table-column>Unit</nhs-table-column>

                @foreach (var item in Model.FlatListPrices)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell data-test-id="price">
                            @item.CurrencyCode@item.Price.Value.ToString("N4")
                        </nhs-table-cell>
                        <nhs-table-cell>
                            @item.Unit
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        }
        </nhs-card>
    </div>
</article>
