@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CommencementDate.CommencementDateModel;
@{
    ViewBag.Title = "Timescales for Call-off Agreement";

    var isUnder40K = Model.OrderTriageValue == OrderTriageValue.Under40K;
    var maximumTermLimit = isUnder40K
        ? 12
        : 36;
    var recommendedPeriod = isUnder40K
        ? 3
        : 6;

    var maximumTermTitle = $"What is the maximum term for this Call-off Agreement{(!isUnder40K ? " for each Service Recipient": string.Empty)} (in months)?";
    var maximumTermHint = $"This is the maximum length the Call-off Agreement can run for{(!isUnder40K ? " each Service Recipient" : string.Empty)}, which includes the initial period. It cannot exceed {maximumTermLimit} months.";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Provide the commencement date, initial period and maximum term for the Call-off Agreement." />

        @if (!isUnder40K)
        {
            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>The Call-off Agreement will extend automatically up to a maximum of 48 months unless notice to terminate is given 30 working days before the end of the initial period.</p>
                <p>This is to allow implementation at multiple sites over an extended period. However, no Service Recipient can receive solutions or services for more than 36 months within the 48 month period.</p>
            </div>
        }

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.BackLinkText" />
            <input type="hidden" asp-for="@Model.OrderTriageValue" />

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="What is commencement date for this Call-off Agreement?"
                                         label-hint="This is the date you’ve agreed with the supplier that the Call-off Agreement will begin."
                                         size="ExtraSmall">
                    <nhs-date-input asp-for="@Model" day="Day" month="Month" year="Year" />
                </nhs-fieldset-form-label>
            </div>

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-bookended-input asp-for="@Model.InitialPeriod"
                                     label-text="What is the initial period for this Call-off Agreement (in months)?"
                                     label-hint="This is the period after which the Call-off Agreement can be terminated without incurring charges. It is recommended the initial period is @(recommendedPeriod) months."
                                     Suffix="months" />
            </div>

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-bookended-input asp-for="@Model.MaximumTerm"
                                     label-text="@(maximumTermTitle)"
                                     label-hint="@(maximumTermHint)"
                                     Suffix="months" />
            </div>

            <nhs-submit-button />
        </form>
    </div>
</div>
