@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CommencementDate.ConfirmChangesModel
@{
    ViewBag.Title = "Are you sure you want to change your commencement date?";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="ConfirmChanges" />

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Your new commencement date is later than some or all of your planned delivery dates. Those dates will be removed from your order if you proceed and new planned delivery dates must be entered." />

        <nhs-warning-callout label-text="Changing a commencement date"> 
            <p>
                Changing to this later commencement date will affect your planned delivery dates.
            </p>
            <p>
                This is because the new commencement date comes after some or all of your planned delivery dates.
                If you confirm the changes, you’ll need to re-enter new planned delivery dates so they come on or after your commencement date.
            </p>
        </nhs-warning-callout>
        
        <h3>
            Changes to your commencement date
        </h3>
        <p>
            You've made the following changes to your order:
        </p>

        <h4>Removed:</h4>
        <ul>
            <li>@($"{Model.CurrentDate:dd MMMM yyyy}")</li>
        </ul>

        <h4>Added:</h4>
        <ul>
            <li>@($"{Model.NewDate:dd MMMM yyyy}")</li>
        </ul>

        <nhs-inset-text>
            <p>This will affect @($"{Model.AffectedPlannedDeliveryDates:N0}") of the @($"{Model.TotalPlannedDeliveryDates:N0}") planned delivery dates you've already entered.</p>
        </nhs-inset-text>

        <hr/>

        <form method="post">
            <input type="hidden" asp-for="@Model.AffectedPlannedDeliveryDates" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.CurrentDate" />
            <input type="hidden" asp-for="@Model.NewDate" />
            <input type="hidden" asp-for="@Model.TotalPlannedDeliveryDates" />

            <div class="nhsuk-u-margin-bottom-9">
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Do you want to confirm your changes?">
                    <nhs-radio-button-container>
                        @foreach (var option in Model.Options)
                        {
                            <nhs-radio-button asp-for="ConfirmChanges"
                                              display-text="@option.Name"
                                              value="@option.Value"/>
                        }
                    </nhs-radio-button-container>
                </nhs-fieldset-form-label>
            </div>

            <nhs-submit-button />
        </form>
        
        <a id="cancel-link"
           href="@Url.Action(
                     nameof(CommencementDateController.CommencementDate),
                     typeof(CommencementDateController).ControllerName(),
                     new { Model.InternalOrgId, Model.CallOffId })">Cancel</a>
    </div>
</div>
