@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderDescription.OrderDescriptionModel;
@{
    ViewBag.Title = Model.Title;
}

<script type="text/javascript" src="@Url.Content("~/js/PreventMultipleRequests.min.js")" asp-append-version="true"></script>

<div data-test-id="description-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title"
                            caption="@Model.Caption"
                            advice="@Model.Advice" />
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.Caption" />
                <input type="hidden" asp-for="@Model.Advice" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-textarea asp-for="Description" />
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
