@model DataProcessingInformationModel

<partial name="Partials/_BackLink" model="@Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="Data processing information"
                        caption="@Model.Solution.CatalogueItem.Name"
                        advice="This is the data processing information for this Catalogue Solution."/>

        <nhs-card-v2>
            @{
                var hasDataProcessing = Model.Solution.DataProcessingInformation?.Details is not null && Model.Solution.DataProcessingInformation?.Location is not null;
            }
            <nhs-card-content title="General data processing information">

                @if (hasDataProcessing)
                {
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Subject matter of the processing" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Details.Subject
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Duration of the processing" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Details.Duration
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Nature and purposes of processing" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Details.ProcessingNature
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Types of personal data" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Details.PersonalDataTypes
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Categories of data subjects" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Details.DataSubjectCategories
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Location of data processing" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Location.Location
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Additional jurisdiction if processing data outside of the UK (optional)" style="word-break: break-word">
                            @Model.Solution.DataProcessingInformation.Location.AdditionalJurisdiction
                        </nhs-summary-list-row>
                    </nhs-summary-list>
                }
                else
                {
                    <p>
                        <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px"/>
                        No data processing information has been added.
                    </p>
                }
            </nhs-card-content>
            <nhs-card-footer>
                @if (hasDataProcessing)
                {
                    <p>
                        <a class="nhsuk-link--no-visited-state" href="#">
                            <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                            Change data processing information
                        </a>
                    </p>
                }
                else
                {
                    <p class="nhsuk-body-m">
                        <a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                            <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true"/>Add data processing information
                        </a>
                    </p>
                }
            </nhs-card-footer>
        </nhs-card-v2>

        <nhs-card-v2>
            @{
                var hasDataProtectionOfficer = Model.Solution.DataProcessingInformation?.Officer is not null;
            }
            <nhs-card-content title="Data Protection Officer details">
                @if (hasDataProtectionOfficer)
                {
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Name">
                            @Model.Solution.DataProcessingInformation.Officer.Name
                        </nhs-summary-list-row>
                        @if (!string.IsNullOrWhiteSpace(Model.Solution.DataProcessingInformation.Officer.PhoneNumber))
                        {
                            <nhs-summary-list-row label-text="Phone number">
                                @Model.Solution.DataProcessingInformation.Officer.PhoneNumber
                            </nhs-summary-list-row>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Solution.DataProcessingInformation.Officer.EmailAddress))
                        {
                            <nhs-summary-list-row label-text="Email address">
                                @Model.Solution.DataProcessingInformation.Officer.EmailAddress
                            </nhs-summary-list-row>
                        }
                    </nhs-summary-list>
                }
                else
                {
                    <p>
                        <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px"/>
                        Data Protection Officer details have not been added.
                    </p>
                }
            </nhs-card-content>
            <nhs-card-footer>
                @if (hasDataProtectionOfficer)
                {
                    <p>
                        <a class="nhsuk-link--no-visited-state" href="#">
                            <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                            Change data protection officer details
                        </a>
                    </p>
                }
                else
                {
                    <p class="nhsuk-body-m">
                        <a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                            <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true"/>Add data protection officer details
                        </a>
                    </p>
                }
            </nhs-card-footer>
        </nhs-card-v2>

        <nhs-card-v2>
            <nhs-card-content title="Sub-processors added">
                @if (Model.Solution.DataProcessingInformation?.SubProcessors.Count > 0)
                {
                    <nhs-table></nhs-table>
                }
                else
                {
                    <p>
                        <img src="~/images/circle-info-solid.svg" aria-hidden="true" width="20px"/>
                        No sub-processors have been added for this Catalogue Solution.
                    </p>
                }
            </nhs-card-content>
            <nhs-card-footer>
                <p class="nhsuk-body-m">
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
                        <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true"/>Add a sub-processor
                    </a>
                </p>
            </nhs-card-footer>
        </nhs-card-v2>

        <vc:nhs-secondary-button text="Save and continue"
                                 type="Primary"
                                 url="@Model.BackLink"/>
    </div>
</div>
