@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home.ActionCardModel

<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <nhs-card-v2>
        <nhs-card-content>
            <h2 class="nhsuk-card__heading nhsuk-heading-l">
                @Model.Title
                <span class="nhsuk-caption-m nhsuk-caption--bottom">
                    @Model.Text
                </span>
            </h2>
            <p class="nhsuk-body">
                <a class="nhsuk-link nhsuk-link--no-visited-state" href="@Model.Url" aria-label="View @Model.Text">View @Model.Text</a>
            </p>
        </nhs-card-content>
    </nhs-card-v2>
</li>
