@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Filtering.Models
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Competitions.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.DashboardModels
@model BuyerDashboardModel
@{
    ViewBag.Title = "Your organisation's dashboard";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title" caption="@Model.OrganisationName"/>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">Account overview</h2>
        <ul class="nhsuk-grid-row nhs-grid-row__no-padding">
            <partial name="_AccountOverview" model="@(new ActionCardModel(Model.Orders.Count.ToString(), "orders", Url.Action(nameof(DashboardController.Index), typeof(DashboardController).ControllerName(), new { Area = typeof(DashboardController).AreaName() })))"/>
            <partial name="_AccountOverview" model="@(new ActionCardModel(Model.Shortlists.Count.ToString(), "shortlists", Url.Action(nameof(ManageFiltersController.Index), typeof(ManageFiltersController).ControllerName(), new { Area = typeof(ManageFiltersController).AreaName() })))"/>
            <partial name="_AccountOverview" model="@(new ActionCardModel(Model.Competitions.Count.ToString(), "competitions", Url.Action(nameof(CompetitionsDashboardController.Index), typeof(CompetitionsDashboardController).ControllerName(), new { Area = typeof(CompetitionsDashboardController).AreaName(), internalOrgId = Model.InternalOrgId })))"/>
        </ul>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h3 class="nhsuk-heading-m">Most recent orders</h3>
        <partial name="Dashboard/_OrderCardPartial" model="@(new DashboardCardBaseModel<Order>(Model.InternalOrgId, Model.Orders, isDashboardView: true))"/>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h3 class="nhsuk-heading-m">Most recent shortlists</h3>
        <partial name="Dashboard/_ShortlistCardPartial" model="@(new DashboardCardBaseModel<Filter>(Model.InternalOrgId, Model.Shortlists, isDashboardView: true))"/>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h3 class="nhsuk-heading-m">Most recent competitions</h3>
        <partial name="Dashboard/_CompetitionsCardPartial" model="@(new DashboardCardBaseModel<CompetitionDashboardItem>(Model.InternalOrgId, Model.Competitions, isDashboardView: true))"/>
    </div>
</div>
