@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Filtering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.AccountManagement.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.DashboardModels
@model BuyerDashboardModel
@{
    ViewBag.Title = "Your organisation's dashboard";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title" caption="@Model.OrganisationName"/>
    </div>
</div>

@if (User.IsAccountManager())
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h2 class="nhsuk-heading-m">Organisation management</h2>
            <ul class="nhsuk-grid-row nhs-grid-row__no-padding">
                <partial name="_DashboardOverview" model="@(new DashboardCardModel("Manage organisation", "Add or edit user accounts and manage organisations that can act on your behalf.", Url.Action(nameof(ManageAccountController.Index), typeof(ManageAccountController).ControllerName(), new { area = typeof(ManageAccountController).AreaName() }), "Manage organisation", HeadingSize.Small, ColumnWidth.Half))"/>
            </ul>
        </div>
    </div>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">Account overview</h2>
        <ul class="nhsuk-grid-row nhs-grid-row__no-padding">
            <partial name="_DashboardOverview" model="@(new DashboardCardModel(Model.Orders.Count.ToString(), "orders", Url.Action(nameof(DashboardController.Index), typeof(DashboardController).ControllerName(), new { Area = typeof(DashboardController).AreaName() }), "View orders"))"/>
            <partial name="_DashboardOverview" model="@(new DashboardCardModel(Model.Shortlists.Count.ToString(), "shortlists", Url.Action(nameof(ManageFiltersController.Index), typeof(ManageFiltersController).ControllerName(), new { Area = typeof(ManageFiltersController).AreaName() }), "View shortlists"))"/>
            <partial name="_DashboardOverview" model="@(new DashboardCardModel(Model.Competitions.Count.ToString(), "competitions", Url.Action(nameof(CompetitionsDashboardController.Index), typeof(CompetitionsDashboardController).ControllerName(), new { Area = typeof(CompetitionsDashboardController).AreaName(), internalOrgId = Model.InternalOrgId }), "View competitions"))"/>
        </ul>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">Most recent orders</h2>
        <partial name="Dashboard/_OrderCardPartial" model="@(new DashboardCardBaseModel<Order>(Model.InternalOrgId, Model.Orders, isDashboardView: true))"/>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">Most recent shortlists</h2>
        <partial name="Dashboard/_ShortlistCardPartial" model="@(new DashboardCardBaseModel<Filter>(Model.InternalOrgId, Model.Shortlists, isDashboardView: true))"/>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">Most recent competitions</h2>
        <partial name="Dashboard/_CompetitionsCardPartial" model="@(new DashboardCardBaseModel<CompetitionDashboardItem>(Model.InternalOrgId, Model.Competitions, isDashboardView: true))"/>
    </div>
</div>

@if (!User.IsAccountManager())
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h2 class="nhsuk-heading-m">Organisation management</h2>
            <ul class="nhsuk-grid-row nhs-grid-row__no-padding">
                <partial name="_DashboardOverview" model="@(new DashboardCardModel("Nominate organisation", "Allow other organisations to create orders on your behalf.", Url.Action(nameof(NominateOrganisationController.Index), typeof(NominateOrganisationController).ControllerName(), new { area = typeof(NominateOrganisationController).AreaName() }), "Nominate organisation", HeadingSize.Medium, ColumnWidth.Half))"/>
            </ul>
        </div>
    </div>
}
