@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.BuyerDashboardModel
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.Framework.Environments
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.AccountManagement.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@{
    ViewBag.Title = "Buyer dashboard";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <nhs-page-title title="@ViewBag.Title"
                        advice="@Model.Advice"
                        caption="@Model.OrganisationName"/>

        <h2>Orders</h2>
        <ul>
            <li>
                <a asp-action="@nameof(DashboardController.Index)"
                   asp-controller="@typeof(DashboardController).ControllerName()"
                   asp-area="@typeof(DashboardController).AreaName()">
                    Create or manage orders
                </a>
                <p>Manage orders currently in progress or view and amend orders that have been submitted for your organisation. </p>
            </li>
        </ul>

        @if (CurrentEnvironment.IsDevelopment)
        {
            <h2>Competitions</h2>
            <ul>
                <li>
                    <a asp-action="@nameof(CompetitionsDashboardController.Index)"
                       asp-controller="@typeof(CompetitionsDashboardController).ControllerName()"
                       asp-area="@typeof(CompetitionsDashboardController).AreaName()"
                       asp-route-internalOrgId="@Model.InternalOrgId">
                        Create or manage competitions
                    </a>
                    <p>Create new procurement competitions or view and edit existing ones.</p>
                </li>
            </ul>
        }


        <h2>Filters</h2>
        <ul>
            <li>
                <a asp-action="@nameof(ManageFiltersController.Index)"
                   asp-controller="@typeof(ManageFiltersController).ControllerName()"
                   asp-area="@typeof(ManageFiltersController).AreaName()">
                    Create or manage filters
                </a>
                <p>Create new filters or view existing ones that you can use to produce a competition shortlist.</p>
            </li>
        </ul>

        @if (User.IsAccountManager())
        {
            <h2>Your organisation</h2>
            <ul>
                <li>
                    <a asp-action="@nameof(ManageAccountController.Index)"
                       asp-controller="@typeof(ManageAccountController).ControllerName()"
                       asp-area="@typeof(ManageAccountController).AreaName()">
                        Manage organisation
                    </a>
                    <p>Add new users or edit the details for existing ones and nominate other organisations to act on your behalf.</p>
                </li>
            </ul>
        }
    </div>
</div>
