@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.NativeDesktop.MemoryAndStorageModel;
@{
    ViewData["Title"] = "Native desktop application – memory, storage, processing and resolution";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Let buyers know the minimum requirements for your Catalogue Solution to function." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <nhs-select asp-for="SelectedMemorySize"
                        asp-items="@(new SelectList(Model.MemorySizes, "Value", "Text"))"
                        label-text="Memory size"
                        label-hint="Select the minimum memory size required for your Catalogue Solution to function." />
            <nhs-textarea asp-for="StorageDescription"
                          label-text="Storage space"
                          label-hint="Provide information about how much storage space a device will need to use your Catalogue Solution." />
            <nhs-textarea asp-for="MinimumCpu"
                          label-text="Processing power"
                          label-hint="Provide information on the minimum CPU power required for your Catalogue Solution to function on desktop." />
            <nhs-select asp-for="SelectedScreenResolution"
                        asp-items="@(new SelectList(Model.ScreenResolutions, "Value", "Text"))"
                        label-text="Screen resolution and aspect ratio (optional)"
                        label-hint="Select the minimum recommended screen resolution and aspect ratio for your Catalogue Solution to function on desktop." />
            <nhs-submit-button />
        </form>
    </div>
</div>
