@using NHSD.GPIT.BuyingCatalogue.Framework.Constants
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model SideNavigationBaseModel
@{
    ViewBag.Title = Model.Title; //(Model.IsSubPage) ? Model.Title : $"{Model.Section}";
    ViewBag.Caption = Model.Caption; //(Model.IsSubPage) ? Model.Caption : $"{Model.SolutionName}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_HeadIncludes" />
</head>
<body>
    @if ((bool?)Context.Items[CatalogueCookies.ShowCookieBanner] == true)
    {
        <partial name="Partials/_CookieConsentPartial" />
    }
    <partial name="Partials/_BetaBanner" />
    <partial name="Headers/_Header" model="@("_Navigation")" />
    
    @if (Model.ShowBreadcrumb)
    {
        //To be replaced by generic breadcrumb model
        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link"
                           data-test-id="home-crumb"
                           asp-action="@nameof(HomeController.Index)"
                           asp-controller="@typeof(HomeController).ControllerName()"
                           asp-area="@typeof(HomeController).AreaName()">Home</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link"
                           data-test-id="catalogue-solutions-crumb"
                           asp-action="@nameof(SolutionsController.Index)"
                           asp-controller="@typeof(SolutionsController).ControllerName()"
                           asp-area="@typeof(SolutionsController).AreaName()">Catalogue Solutions</a>
                    </li>
                    @* @if (Model.NotFirstSection)
                    {
                        <li class="nhsuk-breadcrumb__item">
                            <a asp-action="@nameof(SolutionsController.Description)"
                               asp-controller="@typeof(SolutionsController).ControllerName()"
                               asp-area="@typeof(SolutionsController).AreaName()"
                               asp-route-solutionId="@Model.SolutionId" class="nhsuk-breadcrumb__link">
                                @Model.SolutionName
                            </a>
                        </li>
                    } *@
                </ol>
            </div>
        </nav>
    }


    <div class="nhsuk-width-container nhsuk-main-wrapper">
        <main role="main" id="maincontent">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third sidebar" id="sidebar">
                    @if (Model.ShowSideNavigation)
                    {
                        <vc:nhs-side-navigation-panel sections="@Model.Sections"/>
                    }
                </div>

                <div class="nhsuk-grid-column-two-thirds" id="content">
                    <nhs-page-title title="@ViewBag.Title"
                                    caption="@ViewBag.Caption" />
                    
                    @RenderBody()

                    @if (Model.ShowPagination)
                    {
                        <nhs-page-link-pagination next-url="@Url.Action(
                                                                Model.PaginationFooter?.Next?.Action,
                                                                Model.PaginationFooter?.Next?.Controller,
                                                                Model.PaginationFooter?.Next?.RouteData)"
                                                  next-subtext="@Model.PaginationFooter?.Next?.Name"
                                                  previous-url="@Url.Action(
                                                                    Model.PaginationFooter?.Previous?.Action,
                                                                    Model.PaginationFooter?.Previous?.Controller,
                                                                    Model.PaginationFooter?.Next?.RouteData)"
                                                  previous-subtext="@Model.PaginationFooter?.Previous?.Name" />
                    }
                </div>

            </div>
        </main>
    </div>

    <partial name="Footers/_Footer" />

    <partial name="Partials/_JsAssetIncludes" />
    
@if (Model.ShowBackToTop)
{
        <a href="#">
            <div class="scroll-to-top-container">
                <div class="goup-arrow"></div>

                <div class="scroll-to-top-text">Back to top</div>
            </div>
        </a>
        <script>
            window.onscroll = function () {
                var scrollToTopContainer = document.querySelector('.scroll-to-top-container');
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    scrollToTopContainer.classList.add('show');
                } else {
                    scrollToTopContainer.classList.remove('show');
                }
            };

        </script>
}

</body>
</html>
