@using NHSD.GPIT.BuyingCatalogue.Framework.Settings
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants
@inject CookieExpirationSettings CookieExpirationSettings
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionDisplayBaseModel
@{
    ViewBag.Title = $"Solution {Model.Section}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_HeadIncludes" />
</head>
<body>
    @if ((bool?)Context.Items[Cookies.ShowConsentCookie] == true)
    {
        <partial name="Partials/_CookieConsentPartial" />
    }
    <partial name="Partials/_BetaBanner" />
    <partial name="Headers/_Header" model="@("_Navigation")" />

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" data-test-id="home-crumb" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" data-test-id="catalogue-solutions-crumb" asp-action="SearchResults" asp-controller="Futures">Catalogue Solutions</a>
                </li>
                @if (Model.NotFirstSection())
                {
                    <li class="nhsuk-breadcrumb__item">
                        <a asp-action="Description" asp-controller="SolutionDetails" asp-route-solutionId="@Model.SolutionId" class="nhsuk-breadcrumb__link">
                            @Model.SolutionName
                        </a>
                    </li>
                }
            </ol>
        </div>
    </nav>

    <div class="nhsuk-width-container nhsuk-main-wrapper">
        <main role="main" id="maincontent">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <nhs-page-title title="@Model.Section"
                                    caption="@Model.SolutionName" />
                </div>
            </div>

            <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                <ol class="nhsuk-contents-list__list">
                    @foreach (var sectionModel in Model.GetSections())
                    {
                        @if (sectionModel.Selected)
                        {
                            <li class="nhsuk-contents-list__item" aria-current="page">
                                <span class="nhsuk-contents-list__current">@sectionModel.Name</span>
                            </li>
                        }
                        else
                        {
                            <li class="nhsuk-contents-list__item">
                                <a asp-action="@sectionModel.Action"
                                   asp-controller="@sectionModel.Controller"
                                   asp-route-solutionId="@sectionModel.Id"
                                   class="nhsuk-contents-list__link">
                                    @sectionModel.Name
                                </a>
                            </li>
                        }
                    }
                </ol>
            </nav>

            @RenderBody()

            <nhs-endnote>
                Solution information last reviewed: @Model.LastReviewed
            </nhs-endnote>

            <partial name="Footers/_PaginationFooter" model="@Model.PaginationFooter" />
        </main>
    </div>

    <partial name="Footers/_Footer" />

    <partial name="Partials/_JsAssetIncludes" />
</body>
</html>
