@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.FilterEpicsModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Select Epics";
}

<partial name="Partials/_BackLink" model="Model.NavModel" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />

        <nhs-page-title title="@ViewBag.Title"
                        advice="Select Epics and apply them as a filter." />

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            @foreach (var (kvp, i) in Model.GroupedItems.Select((kvp, i) => (kvp, i)))
            {
                <input type="hidden" name="@(Html.NameFor(m => m.GroupedItems[i])).Key" value="@kvp.Key" />
                @foreach (var (value, j) in kvp.Value.Select((value, j) => (value, j)))
                {
                    <input type="hidden" name="@(Html.NameFor(m => m.GroupedItems[i])).Value[@j].Id" value="@value.Id" />
                    <input type="hidden" name="@(Html.NameFor(m => m.GroupedItems[i])).Value[@j].Name" value="@value.Name" />
                }
            }

            <nhs-card>
                <nhs-table>
                    <nhs-table-column>Epic</nhs-table-column>

                    @{
                        var index = 0;
                        @foreach (var (capability, i) in Model.Groups.Select((value, i) => (value, i)))
                        {
                            <input type="hidden" asp-for="@Model.Groups[i].Id" />
                            <input type="hidden" asp-for="@Model.Groups[i].Name" />
                            var epics = Model.Items(capability.Id);

                            if (!epics.Any())
                            {
                                continue;
                            }

                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    <strong>
                                        @capability.Name
                                    </strong>
                                </nhs-table-cell>
                            </nhs-table-row-container>

                            @foreach (var epic in epics)
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>
                                        <nhs-checkbox-container>
                                            <nhs-checkbox asp-for="SelectedItems[index].Selected"
                                                          hidden-input="SelectedItems[index].Id"
                                                          label-text="@epic.Name"
                                                          sub-group="@capability.Name" />
                                        </nhs-checkbox-container>
                                    </nhs-table-cell>
                                </nhs-table-row-container>
                                index++;
                            }
                        }
                    }
                </nhs-table>
                <nhs-submit-button text="Apply Epics" />
            </nhs-card>
        </form>
    </div>
</div>
