@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.FilterEpicsModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Select Epics";
}

<partial name="Partials/_BackLink" model="Model.NavModel" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />

        <nhs-page-title title="@ViewBag.Title"
                        advice="Select Epics and apply them as a filter." />

        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            @foreach (var (kvp, i) in Model.EpicGroupsAndItems.Where(kv => kv.Value.Any()).Select((kvp, i) => (kvp, i)))
            {
                <input type="hidden" name="@(Html.NameFor(m => m.EpicGroupsAndItems[i])).Key" value="@kvp.Key" />
                @foreach (var (value, j) in kvp.Value.Select((value, j) => (value, j)))
                {
                    <input type="hidden" name="@(Html.NameFor(m => m.EpicGroupsAndItems[i])).Value[@j].Id" value="@value.Id" />
                    <input type="hidden" name="@(Html.NameFor(m => m.EpicGroupsAndItems[i])).Value[@j].Name" value="@value.Name" />
                }
            }
            <nhs-card>
                <partial name="FilterEpicsModal" model="@Model" />
                <nhs-submit-button text="Apply Epics" />
            </nhs-card>
        </form>
    </div>
</div>
