@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.IncludeEpicsModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Filter in more detail";
}

@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link"
                       data-test-id="home-crumb"
                       asp-action="@nameof(HomeController.Index)"
                       asp-controller="@typeof(HomeController).ControllerName()"
                       asp-area="@typeof(HomeController).AreaName()">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link"
                       data-test-id="catalogue-solutions-crumb"
                       asp-action="@nameof(SolutionsController.Index)"
                       asp-controller="@typeof(SolutionsController).ControllerName()"
                       asp-area="@typeof(SolutionsController).AreaName()">Catalogue Solutions</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link"
                       data-test-id="capabilities-crumb"
                       asp-action="@nameof(FilterController.FilterCapabilities)"
                       asp-controller="@typeof(FilterController).ControllerName()"
                       asp-area="@typeof(FilterController).AreaName()"
                       asp-route-selected="@Model.Selected">Capabilities</a>
                </li>
            </ol>
        </div>
    </nav>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary RadioId="IncludeEpics"/>

        <nhs-page-title title="@ViewBag.Title"
                        advice="Select Epics to filter by or view results of Catalogue Solutions with the Capabilities you previously selected."/>

        <nhs-inset-text>
            <h4>
                What is an Epic?
            </h4>
            <p>
                Each Capability has a set of requirements that are defined using short descriptions called Epics.
                The more functionality a Catalogue Solution has, the more Epics it will be able to meet for a particular Capability.
            </p>
            <p>
                They can be defined by the NHS or the supplier of a Catalogue Solution.
            </p>
        </nhs-inset-text>
        
        <form method="post">
            <input type="hidden" asp-for="@Model.Selected"/>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Do you want to filter by Epics?">
                <nhs-radio-button-container>
                    @for (int i = 0; i < Model.Options.Count();i++)
                    {
                        <nhs-radio-button asp-for="IncludeEpics"
                                          display-name="Text"
                                          value="Model.Options.ElementAt(i)"
                                          value-name="Value"
                                          index="i"/>
                    }
                </nhs-radio-button-container>
            </nhs-fieldset-form-label>
            
            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button/>
            </div>
        </form>
    </div>
</div>
