@using System.Linq
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.Framework.Calculations
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Orders;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.OrderSummaryModel
@{
    Layout = "";
    var contractTerm = Model.Order.MaximumTerm.HasValue
        ? $"({Model.Order.MaximumTerm.Value} months)"
        : "(estimated)";
    var title = Model.Order.OrderStatus == OrderStatus.Terminated ? "Terminated contract details" : "Call-off Order Form";
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NHSD Order Form">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.min.css">
    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link rel="shortcut icon" href="~/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="~/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="~/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="~/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="~/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="~/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="~/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="~/nhsuk-frontend/assets/favicons/largetile-310x310.png">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <style>
        @@media print {
            @@page {
                size: A4 landscape;
                max-height: 100%;
                max-width: 100%
            }
        }

        .nhsuk-table-responsive th {
            font-size: 1em;
            white-space: normal;
        }

        .nhsuk-table-responsive td {
            font-size: 1em;
        }

        h1 {
            border-bottom: 1px solid lightgray;
            width: 100%;
        }

        h2 {
            border-bottom: 1px solid lightgray;
            width: 100%;
        }

        .pdf-container {
            -webkit-break-inside: avoid;
            break-inside: avoid;
        }

        table {
            -webkit-break-inside: auto;
            break-inside: auto;
        }

        td, thead th {
            border: 0;
            padding-top: 4px;
            padding-right: 12px;
            padding-bottom: 0;
        }

        th {
            white-space: nowrap;
        }

        tr {
            -ms-break-after: auto;
            -webkit-break-after: auto;
            -webkit-break-inside: avoid;
            break-after: auto;
            break-inside: avoid;
        }

        tbody tr.alternating:nth-child(even) {
            background-color: #F8F8F8;
        }

        tbody tr.totals {
            background-color: #FFFFFF;
        }

        td:last-child {
            padding-right: 0;
        }

        .total {
            border-top: 1px solid lightgray;
            font-weight: 600;
        }

        .numeric {
            text-align: right;
        }

        .signature td {
            padding-top: 20px;
            width: auto;
            border-bottom: 1px solid lightgray;
        }

            .signature td:first-child {
                width: 20%;
                border-bottom: none;
            }

        .pdf-summary-list {
            -webkit-break-inside: avoid;
            break-inside: avoid;
            display: table;
            font-size: 1.1875rem;
            font-weight: 400;
            line-height: 1.47368;
            margin-bottom: 40px;
            table-layout: fixed;
            vertical-align: top;
            width: 100%;
        }

        .pdf-summary-list-row {
            display: table-row;
            margin-bottom: 32px;
        }

            .pdf-summary-list-row div {
                display: table-cell;
                padding-top: 0;
                padding-right: 24px;
                padding-bottom: 0;
                width: 50%;
                border-bottom: 1px solid lightgray;
            }

                .pdf-summary-list-row div:first-child {
                    font-weight: 600;
                    width: 30%;
                }

        .nhsuk-main-wrapper {
            padding-top: 5px;
        }
    </style>
</head>
<body class="nhsuk-bc-print">
    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <nhs-page-title title="@title"
                                    caption="Order @Model.Order.CallOffId" />

                    <pdf-summary-list>
                        <pdf-summary-list-row label-text="Order ID">
                            @Model.Order.CallOffId
                        </pdf-summary-list-row>

                        @if (Model.Order.SelectedFramework is not null)
                        {
                            <pdf-summary-list-row label-text="Framework">
                                @Model.Order.SelectedFramework.ShortName
                            </pdf-summary-list-row>
                        }

                        <pdf-summary-list-row label-text="Description">
                            @Model.Order.Description
                        </pdf-summary-list-row>

                        <pdf-summary-list-row label-text="Date order summary created">
                            @DateTime.UtcNow.ToString("d MMMM yyyy")
                        </pdf-summary-list-row>

                        @if (Model.Order.OrderStatus == OrderStatus.Completed
                        && Model.Order.Completed.HasValue)
                        {
                            <pdf-summary-list-row label-text="Date order summary completed">
                                @Model.Order.Completed.Value.ToString("d MMMM yyyy")
                            </pdf-summary-list-row>
                        }

                        @if (Model.Order.OrderingPartyContact != null)
                        {
                            <pdf-summary-list-row label-text="Call-off Ordering Party">
                                @Model.Order.OrderingPartyContact.FirstName @Model.Order.OrderingPartyContact.LastName <br />
                                @Model.Order.OrderingParty.Name (@Model.Order.OrderingParty.ExternalIdentifier)<br />
                                <vc:nhs-address address="@Model.Order.OrderingParty.Address" />
                            </pdf-summary-list-row>
                        }

                        @if (Model.Order.Supplier != null
                        && Model.Order.SupplierContact != null)
                        {
                            @if (!string.Equals(Model.Order.Supplier.LegalName, Model.Order.Supplier.Name, StringComparison.OrdinalIgnoreCase))
                            {
                                <pdf-summary-list-row label-text="Supplier legal name">
                                    @Model.Order.Supplier.LegalName<br />
                                </pdf-summary-list-row>
                            }
                            <pdf-summary-list-row label-text="Supplier">
                                @Model.Order.SupplierContact.FirstName @Model.Order.SupplierContact.LastName <br />
                                @Model.Order.Supplier.Name <br />
                                <vc:nhs-address address="@Model.Order.Supplier.Address" />
                            </pdf-summary-list-row>
                        }

                        @if (Model.Order.CommencementDate != null)
                        {
                            <pdf-summary-list-row label-text="Commencement date">
                                @($"{Model.Order.CommencementDate.Value:d MMMM yyyy}")
                            </pdf-summary-list-row>
                        }

                        @if (Model.Order.InitialPeriod != null)
                        {
                            <pdf-summary-list-row label-text="Initial period">
                                @($"{Model.Order.InitialPeriod} Months")
                            </pdf-summary-list-row>
                        }

                        @if (Model.Order.MaximumTerm != null)
                        {
                            <pdf-summary-list-row label-text="Maximum term">
                                @($"{Model.Order.MaximumTerm} Months")
                            </pdf-summary-list-row>

                            if (Model.Order.CommencementDate != null)
                            {
                                <pdf-summary-list-row label-text="End date">
                                    @Model.Order.EndDate.DisplayValue
                                </pdf-summary-list-row>
                            }
                        }
                    </pdf-summary-list>

                    @if (Model.Order.OrderStatus == OrderStatus.Terminated)
                    {
                        <h2>Termination details</h2>
                        <pdf-summary-list>
                            <pdf-summary-list-row label-text="Reason for termination" data-test-id="termination-reason-summary">
                                @Model.Order.OrderTermination.Reason
                            </pdf-summary-list-row>

                            <pdf-summary-list-row label-text="Date of termination" data-test-id="termination-date-summary">
                                @($"{Model.Order.OrderTermination.DateOfTermination:d MMMM yyyy}")
                            </pdf-summary-list-row>
                        </pdf-summary-list>
                    }
                    else
                    {
                        <div style="page-break-after: always"></div>
                    }

                    @if (!Model.Order.OrderType.MergerOrSplit)
                    {
                        <h1>Service Recipients</h1>

                        <pdf-summary-list>
                            <pdf-summary-list-row label-text="Number of Service Recipients">
                                @Model.RolledUp.OrderRecipients.Count
                            </pdf-summary-list-row>
                        </pdf-summary-list>

                        <p>You can find the list of Service Recipients and their planned delivery dates by logging into the Buying Catalogue and viewing the summary of this order.</p>

                        <div style="page-break-after: always"></div>
                        <h1>Solution and services</h1>
                    }

                    @if (Model.RolledUp.GetSolutions().Any())
                    {
                        <h2>@(Model.RolledUp.GetSolutions().Count() > 1 ? "Catalogue Solutions" : "Catalogue Solution")</h2>
                        @foreach (var solution in Model.RolledUp.GetSolutions())
                        {
                            var itemModel = Model.BuildAmendOrderItemModel(solution);
                            <partial name="OrderItem" model="@itemModel" />
                        }
                    }

                    @if (Model.RolledUp.GetAdditionalServices().Any())
                    {
                        <h2>@(Model.RolledUp.GetAdditionalServices().Count() > 1 ? "Additional Services" : "Additional Service")</h2>
                        @foreach (var service in Model.RolledUp.GetAdditionalServices())
                        {
                            var itemModel = Model.BuildAmendOrderItemModel(service);
                            <partial name="OrderItem" model="@itemModel" />
                        }
                    }

                    @if (Model.RolledUp.GetAssociatedServices().Any())
                    {
                        <h2>@(Model.RolledUp.GetAdditionalServices().Count() > 1 ? "Associated Services" : "Associated Service")</h2>
                        @foreach (var service in Model.RolledUp.GetAssociatedServices())
                        {
                            var itemModel = Model.BuildAmendOrderItemModel(service);
                            <partial name="OrderItem" model="@itemModel" />
                        }
                    }

                    <div class="pdf-container">
                        <h3>Total indicative costs excluding VAT</h3>
                        @if (Model.Order.IsAmendment)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th>Cost type</th>
                                        <th>Previous cost</th>
                                        <th>Difference</th>
                                        <th>New cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="alternating">
                                        <td>
                                            Total one-off cost
                                        </td>
                                        <td>
                                            £@($"{Model.Previous.TotalOneOffCost(null, true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.RolledUp.TotalOneOffCost(null, true) - Model.Previous.TotalOneOffCost(null, true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.RolledUp.TotalOneOffCost(null, true):N2}")
                                        </td>
                                    </tr>
                                    <tr class="alternating">
                                        <td>
                                            Total monthly cost
                                        </td>
                                        <td>
                                            £@($"{Model.Previous.TotalMonthlyCost(null, true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.RolledUp.TotalMonthlyCost(null, true) - Model.Previous.TotalMonthlyCost(null, true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.RolledUp.TotalMonthlyCost(null, true):N2}")
                                        </td>
                                    </tr>
                                    <tr class="alternating">
                                        <td>
                                            Total annual cost
                                        </td>
                                        <td>
                                            £@($"{Model.Previous.TotalAnnualCost(null, true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.RolledUp.TotalAnnualCost(null, true) - Model.Previous.TotalAnnualCost(null, true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.RolledUp.TotalAnnualCost(null, true):N2}")
                                        </td>
                                    </tr>
                                    <tr class="alternating">
                                        <td>
                                            <strong>Total cost of contract</strong>
                                        </td>
                                        <td>
                                            £@($"{Model.OrderWrapper.TotalPreviousCost(true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.OrderWrapper.TotalCost(true) - Model.OrderWrapper.TotalPreviousCost(true):N2}")
                                        </td>
                                        <td>
                                            £@($"{Model.OrderWrapper.TotalCost(true):N2}")
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            var oneOffCostOnly = Model.Order.TotalOneOffCost(null) > 0M
                            && Model.Order.TotalMonthlyCost(null) == 0M
                            && Model.Order.TotalAnnualCost(null) == 0M;
                            <table>
                                <tbody>
                                    <tr class="alternating">
                                        <td>Total one-off cost</td>
                                        <td>
                                            @($"£{Model.Order.TotalOneOffCost(null):N2}")
                                        </td>
                                    </tr>

                                    @if (!Model.Order.OrderType.MergerOrSplit
                                   || (Model.Order.OrderType.MergerOrSplit && !oneOffCostOnly))
                                    {
                                        <tr class="alternating">
                                            <td>Total monthly cost</td>
                                            <td>
                                                @($"£{Model.Order.TotalMonthlyCost(null):N2}")
                                            </td>
                                        </tr>
                                        <tr class="alternating">
                                            <td>Total annual cost</td>
                                            <td>
                                                @($"£{Model.Order.TotalAnnualCost(null):N2}")
                                            </td>
                                        </tr>
                                        <tr class="alternating">
                                            <td><strong>Total cost of contract @contractTerm</strong></td>
                                            <td>
                                                @($"£{Model.OrderWrapper.TotalCost():N2}")
                                                @if (!Model.Order.MaximumTerm.HasValue)
                                                {
                                                    <br />
                                                    <br />
                                                    <p>
                                                        This is the total estimated cost for the entire duration of the Call-off Agreement, which is usually 3 years.
                                                        The figure is made up of the one-off costs and the yearly cost multiplied by 3.
                                                    </p>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="alternating">
                                            <td><strong>Total cost of contract</strong></td>
                                            <td>
                                                @($"£{Model.OrderWrapper.TotalCost():N2}")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                    <div style="page-break-after: always"></div>


                    @if (!Model.Order.OrderType.AssociatedServicesOnly)
                    {
                        <h2>Contract summary</h2>

                        <div class="pdf-container">
                            <h3>Default milestones and payment triggers</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Milestone</th>
                                        <th>Payment trigger</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var milestone in Model.DefaultImplementationPlan.Milestones)
                                    {
                                        <tr>
                                            <td>@milestone.Title</td>
                                            <td>@milestone.PaymentTrigger</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        @if (Model.HasBespokeMilestones)
                        {
                            <div class="pdf-container">
                                <h3>Bespoke milestones and payment triggers</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Milestone name</th>
                                            <th>Payment trigger</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var milestone in Model.BespokePlan.Milestones)
                                        {
                                            <tr>
                                                <td>@milestone.Title</td>
                                                <td>@milestone.PaymentTrigger</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                    @if (Model.Order.HasAssociatedService())
                    {
                        <h2>Milestones and payment triggers for Associated Services</h2>
                        <div class="pdf-container">
                            <h3>Default milestones and payment triggers</h3>
                            <p>
                                The delivery date is the default milestone for an Associated Service and triggers the requirement that payment is made 30 days later.
                                However, you can add bespoke milestones that you've agreed with the supplier to act as payment triggers for this order.
                            </p>
                            <p>
                                The default milestone will apply to any Associated Services not assigned a bespoke milestone.
                            </p>

                            @if (Model.HasBespokeBilling)
                            {
                                <div class="pdf-container">
                                    <h3>Bespoke milestones and payment triggers</h3>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Associated Service name</th>
                                                <th>Milestone name</th>
                                                <th>Payment trigger</th>
                                                <th>Number of units to be billed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.BespokeBilling.ContractBillingItems)
                                            {
                                                <tr>
                                                    <td>@item.OrderItem.CatalogueItem.Name</td>
                                                    <td>@item.Milestone.Title</td>
                                                    <td>@item.Milestone.PaymentTrigger</td>
                                                    <td>@item.Quantity</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>

                        <h2>Associated Service specific requirements</h2>
                        <div class="pdf-container">

                            @if (Model.HasSpecificRequirements)
                            {
                                <div class="pdf-container">
                                    <h3>Specific requirements</h3>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Associated Service name</th>
                                                <th>Requirement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.BespokeBilling.Requirements)
                                            {
                                                <tr>
                                                    <td>@item.OrderItem.CatalogueItem.Name</td>
                                                    <td>@item.Details</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p>
                                    N/A
                                </p>
                            }
                        </div>
                    }

                    <div class="pdf-container">
                        <h3>Data Processing Information</h3>
                        <p>
                            Data processing information will be captured in a separate template
                            that must be included with this Call-off Order Form.
                        </p>

                        @if (!Model.UseDefaultDataProcessing)
                        {
                            <div class="nhsuk-u-margin-bottom-6">
                                <p>Requirements are documented in Data processing information template.</p>
                            </div>
                        }
                    </div>

                    @if (Model.Order.OrderStatus is OrderStatus.Completed)
                    {
                        <div style="page-break-after: always"></div>

                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-full">
                                <nhs-page-title title="Signatures"
                                                caption="Order @Model.Order.CallOffId"/>
                            </div>
                        </div>
                        <p>Both parties are entering into a Call-off Agreement in accordance with the provisions of the framework being procured from.</p>
                        <p>The supplier will provide the solution and any services included in this Call-off Order Form for the duration identified. They must do this subject to the Call-off Terms and the information provided in this Call-off Order Form.</p>
                        <p>No amendments to the Call-off Terms will be valid unless documented in a relevant template. A template will only be valid if it has been attached to this Call-off Order Form prior to it being signed by both parties.</p>
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-one-half">
                                <h4>
                                    On behalf of the buyer
                                    <span class="nhsuk-caption-m nhsuk-caption--bottom">@Model.Order.OrderingParty.Name (@Model.Order.OrderingParty.ExternalIdentifier)</span>
                                </h4>
                                <table>
                                    <tr class="signature">
                                        <td>Name:</td>
                                        <td></td>
                                    </tr>
                                    <tr class="signature">
                                        <td>Job Role:</td>
                                        <td></td>
                                    </tr>
                                    <tr class="signature">
                                        <td>Signature:</td>
                                        <td></td>
                                    </tr>
                                    <tr class="signature">
                                        <td>Date:</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="nhsuk-grid-column-one-half">
                                <h4>
                                    On behalf of the supplier
                                    <span class="nhsuk-caption-m nhsuk-caption--bottom">@(Model.Order.Supplier?.Name ?? "")</span>
                                </h4>
                                <table>
                                    <tr class="signature">
                                        <td>Name:</td>
                                        <td></td>
                                    </tr>
                                    <tr class="signature">
                                        <td>Job Role:</td>
                                        <td></td>
                                    </tr>
                                    <tr class="signature">
                                        <td>Signature:</td>
                                        <td></td>
                                    </tr>
                                    <tr class="signature">
                                        <td>Date:</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </main>
    </div>
</body>
</html>
