@using System.Linq
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.OrderSummaryModel;
@{
    Layout = "";
    ViewBag.Title = Model.Title;
    var itemId = 0;
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NHSD Order Form">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.min.css">
    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link rel="shortcut icon" href="~/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="~/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="~/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="~/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="~/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="~/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="~/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="~/nhsuk-frontend/assets/favicons/largetile-310x310.png">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <style>
        .nhsuk-table-responsive th {
            font-size: 1em;
            white-space: normal;
        }

        .nhsuk-table-responsive td {
            font-size: 1em;
        }
    </style>
</head>
<body class="nhsuk-bc-print">
    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <nhs-validation-summary />
                    <nhs-page-title title="Call-off Order Form"
                                    advice="@Model.AdviceText" 
                                    caption="@ViewBag.Title"/>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Date order summary created">
                            @DateTime.UtcNow.ToLongDateString()
                        </nhs-summary-list-row>
                        @if (Model.Order.OrderStatus == OrderStatus.Completed)
                        {
                            <nhs-summary-list-row label-text="Date order summary completed">
                                @Model.Order.Completed.Value.ToLongDateString()
                            </nhs-summary-list-row>
                        }
						@if (Model.Order.OrderingPartyContact != null)
						{
							<nhs-summary-list-row label-text="Call-off Ordering Party">
								@Model.Order.OrderingPartyContact.FirstName @Model.Order.OrderingPartyContact.LastName <br />
								@Model.Order.OrderingParty.Name<br />
								@Model.Order.OrderingParty.ExternalIdentifier<br />
								<vc:nhs-address address="@Model.Order.OrderingParty.Address" />
							</nhs-summary-list-row>
						}
						@if (Model.Order.Supplier != null && Model.Order.SupplierContact != null)
						{
							<nhs-summary-list-row label-text="Supplier">
								@Model.Order.SupplierContact.FirstName @Model.Order.SupplierContact.LastName <br/>
								@Model.Order.Supplier.Name <br/>
								<vc:nhs-address address="@Model.Order.Supplier.Address" />
							</nhs-summary-list-row>
						}
						@if (Model.Order.CommencementDate != null)
						{
						<nhs-summary-list-row label-text="Commencement date of the Call-off Agreement">
							@(Model.Order.CommencementDate?.ToLongDateString())
						</nhs-summary-list-row>
						}
						<nhs-summary-list-row label-text="Initial period for the Call-off Agreement">
							@(Model.Order.InitialPeriod != null ? $"{Model.Order.InitialPeriod} Months" : "Not Specified")
						</nhs-summary-list-row>
						<nhs-summary-list-row label-text="Maximum term for the Call-off Agreement">
							@(Model.Order.MaximumTerm != null ? $"{Model.Order.MaximumTerm} Months" : "Not Specified")
						</nhs-summary-list-row>
                    </nhs-summary-list>

                    <div style="page-break-after:always"></div>

                    <h2>Order items (one-off cost)</h2>
                    <p>The following items carry a one-off cost for the duration of this Call-off Agreement. They're the Associated Services in this order you can use as and when required.</p>
                    <nhs-table>
                        <nhs-table-column>Recipient name (ODS code)</nhs-table-column>
                        <nhs-table-column>Item ID</nhs-table-column>
                        <nhs-table-column>Item name</nhs-table-column>
                        <nhs-table-column>Price unit of order (£)</nhs-table-column>
                        <nhs-table-column>Quantity</nhs-table-column>
                        <nhs-table-column>Item cost (£)</nhs-table-column>
                        @foreach (var orderItem in Model.Order.OrderItems.Where(oi => oi.CostType == CostType.OneOff))
                        {
                            @foreach (var recipient in orderItem.OrderItemRecipients)
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>@recipient.Recipient.Name</nhs-table-cell>
                                    <nhs-table-cell>@($"{Model.Order.CallOffId}-{recipient.Recipient.OdsCode}-{itemId++}")</nhs-table-cell>
                                    <nhs-table-cell>@orderItem.CatalogueItem.Name</nhs-table-cell>
                                    <nhs-table-cell>@orderItem.Price.Value.ToString("N") @orderItem.CataloguePrice.PricingUnit.Description</nhs-table-cell>
                                    <nhs-table-cell>@recipient.Quantity</nhs-table-cell>
                                    <nhs-table-cell>@((recipient.Quantity * orderItem.Price).Value.ToString("N"))</nhs-table-cell>
                                </nhs-table-row-container>
                            }
                        }
                    </nhs-table>
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Total one off cost (indicative)">
                            @Model.Order.OrderItems.Where(oi => oi.CostType == CostType.OneOff).Sum(oi => oi.OrderItemRecipients.Sum(r => r.Quantity * oi.Price)).Value.ToString("N")
                        </nhs-summary-list-row>
                    </nhs-summary-list>

                    <div style="page-break-after:always"></div>

                    <h2>Order items (recurring cost)</h2>
                    <p>The following items carry a recurring annual cost for the duration of this Call-off Agreement. They're the Catalogue Solutions, Additional Services and Associated Services in this order that you'll be charged for at a monthly rate.</p>
                    <nhs-table>
                        <nhs-table-column>Recipient name (ODS code)</nhs-table-column>
                        <nhs-table-column>Item ID/name</nhs-table-column>
                        <nhs-table-column>Service instance ID</nhs-table-column>
                        <nhs-table-column>Price unit of order (£)</nhs-table-column>
                        <nhs-table-column>Quantity/period</nhs-table-column>
                        <nhs-table-column>Planned delivery date</nhs-table-column>
                        <nhs-table-column>Item cost per year (£)</nhs-table-column>
                        @foreach (var orderItem in Model.Order.OrderItems.Where(oi => oi.CostType == CostType.Recurring))
                        {
                            @foreach (var recipient in orderItem.OrderItemRecipients)
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>@recipient.Recipient.Name</nhs-table-cell>
                                    <nhs-table-cell>
                                        @($"{Model.Order.CallOffId}-{recipient.Recipient.OdsCode}-{itemId++}") <br />
                                        @orderItem.CatalogueItem.Name
                                    </nhs-table-cell>
                                    <nhs-table-cell>
                                        @(Model.Order.ServiceInstanceItems.FirstOrDefault(
                                            si => si.OdsCode == recipient.Recipient.OdsCode
                                            && si.CatalogueItemId == orderItem.CatalogueItemId)?.ServiceInstanceId)
                                    </nhs-table-cell>
                                    <nhs-table-cell>@orderItem.Price.Value.ToString("N") @orderItem.CataloguePrice.PricingUnit.Description</nhs-table-cell>
                                    <nhs-table-cell>@($"{recipient.Quantity} {orderItem.EstimationPeriod?.Description()}")</nhs-table-cell>
                                    <nhs-table-cell>@recipient.DeliveryDate?.ToLongDateString()</nhs-table-cell>
                                    <nhs-table-cell>@((recipient.Quantity * orderItem.Price).Value.ToString("N"))</nhs-table-cell>
                                </nhs-table-row-container>
                            }
                        }
                    </nhs-table>
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Total cost for one year (indicative)">
                            @Model.Order.OrderItems.Where(oi => oi.CostType == CostType.Recurring).Sum(oi => oi.OrderItemRecipients.Sum(r => r.Quantity * oi.Price)).Value.ToString("N")
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Total monthly cost(indicitive)">
                            @((Model.Order.OrderItems.Where(oi => oi.CostType == CostType.Recurring).Sum(oi => oi.OrderItemRecipients.Sum(r => r.Quantity * oi.Price)).Value/ 12).ToString("N"))
                        </nhs-summary-list-row>
                    </nhs-summary-list>
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Total cost of contract (indicative)">
                            @((Model.Order.OrderItems.Where(oi => oi.CostType == CostType.OneOff).Sum(oi => oi.OrderItemRecipients.Sum(r => r.Quantity * oi.Price)).Value
                        + (Model.Order.OrderItems.Where(oi => oi.CostType == CostType.Recurring).Sum(oi => oi.OrderItemRecipients.Sum(r => r.Quantity * oi.Price)) * 3).Value)
                        .ToString("N"))
                            <p>
                                This is the total estimated cost for the entire duration of the Call-off Agreement, which is usually 3 years.
                                The figure is made up of the one-off costs and the estimated yearly cost multiplied by 3.
                            </p>
                        </nhs-summary-list-row>
                    </nhs-summary-list>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
