@model NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models.ServiceLevelAgreements

<div class="pdf-container">
    <h2>Service availability</h2>
    <p>
        This is when you can contact support services for this Catalogue Solution
    </p>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Time period</th>
                <th>Applicable days</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in Model.ServiceHours)
            {
                <tr class="alternating">
                    <td>@time.Category</td>
                    <td>@time.TimeFrom.ToString("HH:mm") - @time.TimeUntil.ToString("HH:mm")</td>
                    <td>@time.ApplicableDays</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pdf-container">
    <h2>Contact details</h2>
    <p>
        This is how you can contact support services for this Catalogue Solution
    </p>
    <table>
        <thead>
            <tr>
                <th>Channel</th>
                <th>Contact</th>
                <th>Accessible hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Contacts)
            {
                <tr class="alternating">
                    <td>@contact.Channel</td>
                    <td>@contact.ContactInformation</td>
                    <td>@contact.TimeFrom.ToString("HH:mm") - @contact.TimeUntil.ToString("HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="page-break-after: always"></div>

<div class="pdf-container">
    <h3>Service levels</h3>
    <table>
        <thead>
            <tr>
                <th>Service level type</th>
                <th>Service level</th>
                <th>How the service levels are measured</th>
                <th>Are service credits applied?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var level in Model.ServiceLevels)
            {
                <tr class="alternating">
                    <td>@level.TypeOfService</td>
                    <td>@level.ServiceLevel</td>
                    <td>@level.HowMeasured</td>
                    <td>@level.ServiceCredits</td>
                </tr>
            }
        </tbody>
    </table>
</div>
