@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Enums
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers.SolutionSelection
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.SolutionSelection.TaskList.TaskListModel;

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        
        @{
            var title = Model.Progress == TaskProgress.Completed
                ? "Edit solutions and services"
                : "Review your progress";

            var advice = Model.Progress == TaskProgress.Completed
                ? "Select the sections that you want to edit."
                : "Review the progress of your order. Make sure you’ve included everything you want to order and that all sections are completed.";
        }

        <nhs-page-title title="@title"
                        caption="Order @Model!.CallOffId"
                        advice="@advice" />
        
        <div id="SolutionDetails" class="nhsuk-u-margin-bottom-9">
            <h2>Catalogue Solution</h2>
            <vc:nhs-action-link text="Change Catalogue Solution"
                                url="@Url.Action(
                                         nameof(CatalogueSolutionsController.EditSolution),
                                         typeof(CatalogueSolutionsController).ControllerName(),
                                         new { Model.InternalOrgId, Model.CallOffId })"/>

            @if (Model.AssociatedServicesOnly)
            {
                <h3>@Model.SolutionName</h3>
            }

            @if (Model.CatalogueSolution != null)
            {
                <div class="nhsuk-u-margin-bottom-9">
                    <partial name="TaskListOrderItem"
                             model="@Model.OrderItemModel(Model.CatalogueSolution.CatalogueItemId)"/>
                </div>
            }
        </div>

        @if (!Model.AssociatedServicesOnly)
        {
            <div id="AdditionalServiceDetails" class="nhsuk-u-margin-bottom-9">
                <h2>Additional Services</h2>
                @if (Model.AdditionalServicesAvailable)
                {
                    <vc:nhs-action-link text="Change Additional Services"
                                        url="@Url.Action(
                                                 nameof(AdditionalServicesController.EditAdditionalServices),
                                                 typeof(AdditionalServicesController).ControllerName(),
                                                 new { Model.InternalOrgId, Model.CallOffId })"/>
                }
                else
                {
                    <p>There are no Additional Services available for this Catalogue Solution.</p>
                }

                @foreach (var service in Model.AdditionalServices)
                {
                    <div class="nhsuk-u-margin-bottom-9">
                        <partial name="TaskListOrderItem"
                                 model="@Model.OrderItemModel(service.CatalogueItemId)"/>
                    </div>
                }
            </div>
        }
        
        <div id="AssociatedServiceDetails" class="nhsuk-u-margin-bottom-9">
            <h2>Associated Services</h2>
            @if (Model.AssociatedServicesAvailable)
            {
                <vc:nhs-action-link text="Change Associated Services"
                                    url="@Url.Action(
                                             nameof(AssociatedServicesController.EditAssociatedServices),
                                             typeof(AssociatedServicesController).ControllerName(),
                                             new { Model.InternalOrgId, Model.CallOffId })"/>
            }
            else
            {
                <p>There are no Associated Services available for this Catalogue Solution.</p>
            }

            @foreach (var service in Model.AssociatedServices)
            {
                <div class="nhsuk-u-margin-bottom-9">
                    <partial name="TaskListOrderItem"
                             model="@Model.OrderItemModel(service.CatalogueItemId)"/>
                </div>
            }
        </div>
        
        <vc:nhs-secondary-button text="Continue" 
                                 url="@Model.BackLink"
                                 use-primary-colour="true"/>
    </div>
</div>
