@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Services.ConfirmServiceChangesModel
@{
    var itemName = Model.CatalogueItemType == CatalogueItemType.Solution
        ? $"{Model.CatalogueItemType.Name()}"
        : $"{Model.CatalogueItemType.Name()}s";

    ViewBag.Title = $"Are you sure you want to change your {itemName}?";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.ConfirmChanges)"/>

        @{
            var article = Model.CatalogueItemType == CatalogueItemType.Solution
                ? "a"
                : "an";

            var adviceSuffix = Model.CatalogueItemType == CatalogueItemType.Solution
                ? $"this {itemName}."
                : $"any {itemName} you remove.";

            var calloutSuffix = Model.CatalogueItemType == CatalogueItemType.Solution
                ? "entered as well as any Additional Services and Associated Services you've added."
                : "entered.";
        }

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.Caption"
                        advice="You'll lose all the information you've previously entered for @adviceSuffix"/>

        <form method="post">
            <input type="hidden" asp-for="CatalogueItemType"/>
            <input type="hidden" asp-for="BackLink" />

            <nhs-warning-callout label-text="Changing @article @Model.CatalogueItemType.Name()">
                Changing @article @Model.CatalogueItemType.Name() will remove any Service Recipients, quantities and prices you've previously @calloutSuffix
            </nhs-warning-callout>

            <h2>Changes to your @itemName</h2>
            <p>You've made the following changes to your @Model.EntityType.ToLowerInvariant():</p>

            <div id="removed-items">
                <h3>Removed:</h3>
                <ul>
                    @for (var i = 0; i < Model.ToRemove.Count; i++)
                    {
                        <input type="hidden" asp-for="ToRemove[i].CatalogueItemId"/>
                        <input type="hidden" asp-for="ToRemove[i].Description"/>
                        <li>@Model.ToRemove[i].Description</li>
                    }
                </ul>
            </div>

            @if (Model.ToAdd?.Any() ?? false)
            {
                <div id="added-items">
                    <h3>Added:</h3>
                    <ul>
                        @for (var i = 0; i < Model.ToAdd.Count; i++)
                        {
                            <input type="hidden" asp-for="ToAdd[i].CatalogueItemId"/>
                            <input type="hidden" asp-for="ToAdd[i].Description"/>
                            <li>@Model.ToAdd[i].Description</li>
                        }
                    </ul>
                </div>
            }

            <hr/>

            <h2>Do you want to confirm your changes?</h2>
            <nhs-fieldset-form-label asp-for="@Model">
                <nhs-radio-buttons asp-for="ConfirmChanges"
                                   values="Model.SelectListItems.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text" />
            </nhs-fieldset-form-label>

            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button/>
            </div>
        </form>
    </div>
</div>
