@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Services.SelectServicesModel
@{
    ViewBag.Title = "Associated Services";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>

        @{
            var advice = Model.AssociatedServicesOnly
                ? "These are all the Associated Services available for your chosen Catalogue Solution. Select any you want to order."
                : $"Select any Associated Services you want to add to this {Model.EntityType.ToLowerInvariant()} or continue if you do not want to add any.";
        }

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionName"
                        advice="@advice"/>

        <form method="post">
            <input type="hidden" asp-for="@Model.AssociatedServicesOnly"/>
            <input type="hidden" asp-for="@Model.EntityType"/>

            @if (Model.Services.Any())
            {
                <div id="services-to-select">
                    <h3>Select Associated Services</h3>
                    <p>These are products that support the implementation of a solution and can be bought independently. For example, training or data migration or arranging the merging or splitting of existing practices.</p>
                    <p>
                        <a href="@Url.Action(
                                      nameof(SolutionsController.AssociatedServices),
                                      typeof(SolutionsController).ControllerName(),
                                      new { solutionId = @Model.SolutionId, area = typeof(SolutionsController).AreaName() })" target="_blank">
                            Find out more (opens in new tab)
                        </a>
                    </p>
                    <nhs-fieldset-form-label asp-for="@Model">
                        <nhs-checkbox-container>
                            @for (var i = 0; i < Model.Services.Count; i++)
                            {
                                <nhs-checkbox asp-for="@Model.Services[i].IsSelected"
                                              label-text="@Model.Services[i].Description"
                                              hidden-input="@Model.Services[i].CatalogueItemId"/>
                            }
                        </nhs-checkbox-container>
                    </nhs-fieldset-form-label>
                </div>
            }
            else
            {
                <div id="nothing-to-select">
                    <p>There are no Associated Services available for this Catalogue Solution.</p>
                </div>
            }

            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button/>
            </div>
        </form>
    </div>
</div>
