@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.FundingSources.FundingSource
@{
    ViewBag.Title = Model.Title;

    var summaryListLabel = $"Total cost of {Model.CatalogueItemName}";
}
<partial name="Partials/_BackLink" model="Model"/>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.SelectedFundingType)"/>
        <nhs-page-title title="@ViewBag.Title"
                        advice="Confirm how you'll be paying for this solution or service."
                        caption="@Model.Caption"/>

        <nhs-summary-list>
            <nhs-summary-list-row label-text="@summaryListLabel">
                @($"£{Model.TotalCost:N2}")
            </nhs-summary-list-row>
        </nhs-summary-list>
        <form method="post">
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="Title"/>
            <input type="hidden" asp-for="Caption"/>
            <input type="hidden" asp-for="TotalCost"/>
            <input type="hidden" asp-for="CatalogueItemName"/>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="How would you like to pay?"
                                     label-hint="Select one option">
                <nhs-radio-buttons asp-for="SelectedFundingType"
                                   values="@Model.AvailableFundingTypes"
                                   value-name="Value"
                                   display-name="Text"
                                   hint-name="Advice"/>
            </nhs-fieldset-form-label>
            <nhs-submit-button/>
        </form>
    </div>
</div>
