@model SelectRecipientsModel;
@{
    ViewBag.Title = "Service Recipients";
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>
        <nhs-page-title title="@ViewBag.Title" caption="@Model.Caption" advice="@Model.Advice"/>

        @if ((Model.SubLocations?.Any() ?? false) && Model.OrganisationType != OrganisationType.GP)
        {
            if (Model.HasImportedRecipients)
            {
                <nhs-inset-text>
                    <p>
                        <span>Your Service Recipients have been imported successfully.</span>

                        If you need to make changes, you can do so manually or re-import them.
                    </p>
                </nhs-inset-text>
            }

            <vc:nhs-action-link text="Upload Service Recipients"
                                url="@Model.ImportRecipientsLink"/>

            <h2>Select Service Recipients</h2>
            <vc:nhs-secondary-button url="@Url.PageLink(values: new { selectionMode = Model.RecipientSelectionMode })"
                                             text="@Model.SelectionCaption"
                                             type="Secondary" />
        }

        <form method="post">
            <input type="hidden" asp-for="ImportRecipientsLink"/>
            @if (Model.SubLocations?.Any() ?? false)
            {
                @if (Model.OrganisationType != OrganisationType.GP)
                {
                    <h3 style="white-space:nowrap">Sublocations for @Model.OrganisationName</h3>
                }

                @foreach (var (location, lIndex) in Model.SubLocations.Select((x, i) => (x, i)))
                {
                    <input type="hidden" asp-for="@Model.SubLocations[lIndex].Name"/>
                    <nhs-expander label-text="@location.Name" bold-title="true" open="@location.ServiceRecipients.Any(x => x.Selected)">

                        <nhs-table>
                            <nhs-table-column>Organisation</nhs-table-column>
                            <nhs-table-column>ODS code</nhs-table-column>
                            @foreach (var (item, rIndex) in location.ServiceRecipients.Select((x, i) => (x, i)))
                            {
                                <nhs-table-row-container>
                                    <nhs-table-cell>
                                        <nhs-checkbox-container>
                                            <nhs-checkbox asp-for="@Model.SubLocations[lIndex].ServiceRecipients[rIndex].Selected"
                                                          label-text="@item.Name"
                                                          hidden-input="@Model.SubLocations[lIndex].ServiceRecipients[rIndex].Name"/>
                                        </nhs-checkbox-container>
                                    </nhs-table-cell>
                                    <nhs-table-cell>
                                        <div class="nhsuk-input--width-10 nhsuk-u-margin-top-2">@item.OdsCode</div>
                                        <input type="hidden" asp-for="@Model.SubLocations[lIndex].ServiceRecipients[rIndex].OdsCode"/>
                                    </nhs-table-cell>
                                </nhs-table-row-container>
                            }
                        </nhs-table>
                    </nhs-expander>
                }
                <br/>
                <nhs-submit-button/>
            }
            else
            {
                <nhs-submit-button text="Continue"/>
            }
        </form>
    </div>
</div>
