@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.CatalogueSolutionsModels.SolutionModel
@{
    Layout = "~/Views/Shared/Layouts/_NoBannersLayout.cshtml";
    ViewBag.Title = Model.Heading;
}
<partial name="Partials/_BackLink" model="Model"/>
<div class="nhsuk-grid-row">
    <nhs-validation-summary />

    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionDisplayName"
                        advice="@Model.Description" />

        <h2>Solution details</h2>
        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="Heading" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="SolutionId" />
            <input type="hidden" asp-for="SolutionDisplayName" />
            <nhs-input asp-for="SolutionName"
                       label-text="Solution name" />

            <nhs-select asp-for="SupplierId"
                        asp-items="@Model.SuppliersSelectList"
                        label-text="Supplier name" />

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Frameworks"
                                     label-hint="Select all the apply.">
                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.Frameworks.Count; i++)
                    {
                        @if (Model.Frameworks[i].Name == "GP IT Futures Framework")
                        {
                            //@if (Model.Frameworks[i].SupportsFoundationSolution)
                            <nhs-checkbox asp-for="@Model.Frameworks[i].Selected"
                                          label-text="@Model.Frameworks[i].Name"
                                          hidden-input="@Model.Frameworks[i].FrameworkId"
                                          data-test-id="framework-names">
                                <nhs-checkbox-container>
                                    <nhs-checkbox asp-for="@Model.Frameworks[i].IsFoundation"
                                                  label-text="Foundation Solution"
                                                  hidden-input="@Model.Frameworks[i].FrameworkId"
                                                  data-test-id="foundation-solution" />
                                </nhs-checkbox-container>
                            </nhs-checkbox>
                        }
                        else
                        {
                            <nhs-checkbox asp-for="@Model.Frameworks[i].Selected"
                                          label-text="@Model.Frameworks[i].Name"
                                          hidden-input="@Model.Frameworks[i].FrameworkId"
                                          data-test-id="framework-names" />
                        }
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>
            @for (var i = 0; i < Model.Frameworks.Count; i++)
            {
                <input type="hidden" asp-for="@Model.Frameworks[i].Name" />
            }

            <nhs-fieldset-form-label 
                label-text="Is this solution available for pilot?"
                label-hint="A solution available for pilot is yet to be deployed in a live, patient facing environment and can only be sold to a single buyer organisation."
                asp-for="IsPilotSolution">
                <nhs-checkbox-container>
                    <nhs-checkbox asp-for="IsPilotSolution" label-text="Yes, this solution is available for pilot"></nhs-checkbox>
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>
            <br/>
            <nhs-submit-button />
        </form>
    </div>
</div>
