@using System.Linq; 
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models 
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels
@model EditListPriceModel

@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.ItemName"
                        advice="Provide the following information about the pricing model for your @Model.CatalogueItemType.DisplayName()." />
        @if (Model.Price.HasValue && Model.CataloguePriceId.HasValue && Model.CatalogueItemType != CatalogueItemType.Solution)
        {
            <nhs-inset-text>Any changes to this price will be visible to anyone ordering this @Model.CatalogueItemType.DisplayName() in future.</nhs-inset-text>
        }
        <form method="post">
            <input type="hidden" asp-for="CataloguePriceId" />
            <input type="hidden" asp-for="ItemName" />
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="ItemId" />
            <input type="hidden" asp-for="CatalogueItemType" />
            <input type="hidden" asp-for="DeleteLink" />
            <nhs-fieldset-form-label id="@nameof(Model.SelectedProvisioningType)" asp-for="@Model" label-text="Provisioning type">
                <nhs-radio-button-container>
                    @{
                        var provisioningTypes = new SelectList(EditListPriceModel.ProvisioningTypeListItems, "Value", "Text").ToList();
                        var timeUnitsSelectList = new SelectList(EditListPriceModel.TimeUnitSelectListItems, "Value", "Text");
                    }
                    <nhs-radio-button asp-for="SelectedProvisioningType"
                                      value="provisioningTypes[0]"
                                      value-name="Value"
                                      display-name="Text"
                                      index="0" />

                    <nhs-radio-button asp-for="SelectedProvisioningType"
                                      value="provisioningTypes[1]"
                                      value-name="Value"
                                      display-name="Text"
                                      index="1">
                        @if (Model.CatalogueItemType == CatalogueItemType.Solution)
                        {
                            <nhs-select asp-for="DeclarativeTimeUnit"
                                        asp-items="timeUnitsSelectList"
                                        label-text="Unit of time"
                                        label-hint="Select the billing period for this list price." />
                        }
                        else if (Model.CatalogueItemType == CatalogueItemType.AdditionalService)
                        {
                            var declarativeSelectList = new SelectList(
                                timeUnitsSelectList.Where(sl => !string.Equals(sl.Value, TimeUnit.PerYear.ToString())),
                                "Value",
                                "Text");

                            <nhs-select asp-for="DeclarativeTimeUnit"
                                        asp-items="declarativeSelectList"
                                        label-text="Unit of time (optional)"
                                        label-hint="Select the billing period for this list price." />
                        }
                    </nhs-radio-button>

                    <nhs-radio-button asp-for="SelectedProvisioningType"
                                      value="provisioningTypes[2]"
                                      value-name="Value"
                                      display-name="Text"
                                      index="2">
                        <nhs-select asp-for="OnDemandTimeUnit"
                                    asp-items="timeUnitsSelectList"
                                    label-text="Unit of time (optional)"
                                    label-hint="Select the billing period for this list price." />
                    </nhs-radio-button>
                </nhs-radio-button-container>
            </nhs-fieldset-form-label>
            <nhs-bookended-input asp-for="Price"
                                 label-text="Price"
                                 label-hint="Provide the list price in pounds to a maximum of 4 decimal places."
                                 Prefix="£" />

            <nhs-input asp-for="Unit"
                       label-text="Unit"
                       label-hint="For example: per consultation, per practice or per licence." />

            <nhs-textarea asp-for="UnitDefinition"
                          label-text="Unit definition (optional)"
                          label-hint="For example, if the unit is per day, between what hours?"
                          number-of-rows="5" />
            <nhs-submit-button />
        </form>
        @if (Model.CataloguePriceId is not null
            && !Model.IsAdding)
        {
            <vc:nhs-delete-button url="@Model.DeleteLink" text="Delete price" />
        }
    </div>
</div>
