@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.CapabilityModels.EditCapabilitiesModel;
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionName"
                        advice="Select the Capabilities and any May Epics met by your @Model.CatalogueItemType." />

        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="SolutionName" />
            <input type="hidden" asp-for="CatalogueItemType" />
            @for (int i = 0; i < Model.CapabilityCategories.Count; i++)
            {
                <nhs-fieldset-form-container asp-for="@Model">
                    <input type="hidden" asp-for="@Model.CapabilityCategories[i].Name" />
                    <nhs-fieldset-form-label asp-for="@Model.CapabilityCategories[i]" label-text="@Model.CapabilityCategories[i].Name">
                        <nhs-checkbox-container>
                            @for (var j = 0; j < Model.CapabilityCategories[i].Capabilities.Count; j++)
                            {
                                <input type="hidden" asp-for="@Model.CapabilityCategories[i].Capabilities[j].Name" />
                                <input type="hidden" asp-for="@Model.CapabilityCategories[i].Capabilities[j].CapabilityRef" />
                                <nhs-checkbox asp-for="@Model.CapabilityCategories[i].Capabilities[j].Selected"
                                              label-text="(@Model.CapabilityCategories[i].Capabilities[j].CapabilityRef) @Model.CapabilityCategories[i].Capabilities[j].Name"
                                              hidden-input="@Model.CapabilityCategories[i].Capabilities[j].Id">
                                    @if (Model.CapabilityCategories[i].Capabilities[j].MustEpics.Any())
                                    {
                                        <nhs-fieldset-form-label asp-for="@Model.CapabilityCategories[i].Capabilities[j]" label-text="Must Epics" size="Small">
                                            <nhs-checkbox-container>
                                                @for (var k = 0; k < Model.CapabilityCategories[i].Capabilities[j].MustEpics.Count; k++)
                                                {
                                                    <input type="hidden" asp-for="@Model.CapabilityCategories[i].Capabilities[j].MustEpics[k].Name" />
                                                    <nhs-checkbox asp-for="@Model.CapabilityCategories[i].Capabilities[j].MustEpics[k].Selected"
                                                                  label-text="(@Model.CapabilityCategories[i].Capabilities[j].MustEpics[k].Id) @Model.CapabilityCategories[i].Capabilities[j].MustEpics[k].Name"
                                                                  hidden-input="@Model.CapabilityCategories[i].Capabilities[j].MustEpics[k].Id" />
                                                }
                                            </nhs-checkbox-container>
                                        </nhs-fieldset-form-label>
                                    }
                                    @if (Model.CapabilityCategories[i].Capabilities[j].MayEpics.Any())
                                    {
                                        <nhs-fieldset-form-label asp-for="@Model.CapabilityCategories[i].Capabilities[j]" label-text="May Epics" size="Small">
                                            <nhs-checkbox-container>
                                                @for (var k = 0; k < Model.CapabilityCategories[i].Capabilities[j].MayEpics.Count; k++)
                                                {
                                                    <input type="hidden" asp-for="@Model.CapabilityCategories[i].Capabilities[j].MayEpics[k].Name" />
                                                    <nhs-checkbox asp-for="@Model.CapabilityCategories[i].Capabilities[j].MayEpics[k].Selected"
                                                                  label-text="(@Model.CapabilityCategories[i].Capabilities[j].MayEpics[k].Id) @Model.CapabilityCategories[i].Capabilities[j].MayEpics[k].Name"
                                                                  hidden-input="@Model.CapabilityCategories[i].Capabilities[j].MayEpics[k].Id" />
                                                }
                                            </nhs-checkbox-container>
                                        </nhs-fieldset-form-label>
                                    }
                                </nhs-checkbox>
                            }
                        </nhs-checkbox-container>
                    </nhs-fieldset-form-label>
                </nhs-fieldset-form-container>
            }

            <nhs-submit-button />
        </form>
    </div>
</div>
