@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels.ManageListPricesModel

@{
    ViewBag.Title = "List price";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CatalogueName"
                        advice="Provide details of how much your Catalogue Solution costs. You must add at least one price type." />

        <vc:nhs-action-link text="Add a list price" url="@Model.AddLink" />

        <nhs-table data-test-id="solution-list-prices">
            <nhs-table-column>Provisioning type</nhs-table-column>
            <nhs-table-column>Price</nhs-table-column>
            <nhs-table-column>Unit</nhs-table-column>
            <nhs-table-column></nhs-table-column>

            @foreach (var cataloguePrice in Model.CataloguePrices)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>@cataloguePrice.ProvisioningType.Name()</nhs-table-cell>
                    <nhs-table-cell>@CurrencyCodeSigns.Code[cataloguePrice.CurrencyCode]@cataloguePrice.Price</nhs-table-cell>
                    <nhs-table-cell>@cataloguePrice.PricingUnit.Description</nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="EditListPrice" asp-controller="ListPrice" asp-route-solutionId="@Model.CatalogueItemId" asp-route-listPriceId="@cataloguePrice.CataloguePriceId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>

        <vc:nhs-secondary-button text="Continue" url="@Model.BackLink" use-primary-colour="true" />

    </div>
</div>
