@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants;
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels.ManageListPricesModel

@{
    ViewBag.Title = "List price";
    ViewBag.Advice = $"Provide details of how much your {Model.SolutionType} costs. You must publish at least one price type.";
}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/ListPriceManagement.min.js")" asp-append-version="true"></script>
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CatalogueName"
                        advice="@ViewBag.Advice" />

        <vc:nhs-action-link text="Add a list price" url="@Model.AddLink" />

        <nhs-checkbox-container Id="unpublished-price-checkbox" style="display:none;">
            <nhs-checkbox asp-for="ShowUnpublishedPrices"
                          label-text="Show unpublished list prices" />
        </nhs-checkbox-container>

        <nhs-table data-test-id="solution-list-prices">
            <nhs-table-column>Provisioning type</nhs-table-column>
            <nhs-table-column>Price</nhs-table-column>
            <nhs-table-column>Unit</nhs-table-column>
            <nhs-table-column>Status</nhs-table-column>
            <nhs-table-column></nhs-table-column>

            @foreach (var cataloguePrice in Model.CataloguePrices)
            {
                <nhs-table-row-container class="@(cataloguePrice.PublishedStatus == PublicationStatus.Unpublished ? "unpublished" : null)">
                    <nhs-table-cell>@cataloguePrice.ProvisioningType.Name()</nhs-table-cell>
                    <nhs-table-cell>@CurrencyCodeSigns.Code[cataloguePrice.CurrencyCode]@cataloguePrice.Price</nhs-table-cell>
                    <nhs-table-cell>@cataloguePrice.PricingUnit.Description</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@cataloguePrice.PublishedStatus" /></nhs-table-cell>
                    <nhs-table-cell>
                    <a asp-action="@(cataloguePrice.IsLocked ? Model.EditPriceStatusActionName : Model.EditPriceActionName)"
                       asp-controller="@Model.ControllerName"
                       asp-route-solutionId="@Model.SolutionId"
                       asp-route-additionalServiceId="@Model.AdditionalServiceId"
                       asp-route-associatedServiceId="@Model.AssociatedServiceId"
                       asp-route-listPriceId="@cataloguePrice.CataloguePriceId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>

        <vc:nhs-secondary-button text="Continue" url="@Model.BackLink" use-primary-colour="true" />

    </div>
</div>
