@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Contracts.ImplementationPlans.DefaultImplementationPlanModel

@{
    var milestones = Model.Plan?.Milestones ?? new List<ImplementationPlanMilestone>();
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary RadioId="UseDefaultMilestones"/>

        <nhs-page-title title="Review standard implementation plan and milestones"
                        caption="Order @Model.CallOffId"
                        advice="Make sure you’re happy with the implementation milestones and acceptance criteria. These milestones will apply to all Service Recipients."/>

        <div class="nhsuk-u-margin-bottom-9">
            <nhs-details label-text="What is the supplier’s standard implementation plan?">
                <p style="white-space: pre-line">
                    @Model.SupplierImplementationPlan
                </p>
            </nhs-details>
        </div>
        
        @if (milestones.Any())
        {
            <div class="nhsuk-u-margin-bottom-9">
                <nhs-table label-text="Milestones and payment triggers">
                    <nhs-table-column>Milestone</nhs-table-column>
                    <nhs-table-column>Payment trigger</nhs-table-column>
                    @foreach (var milestone in milestones)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>@milestone.Title</nhs-table-cell>
                            <nhs-table-cell>@milestone.PaymentTrigger</nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
            </div>

            @foreach (var milestone in milestones)
            {
                <div class="nhsuk-u-margin-bottom-9">
                    <nhs-table label-text="@milestone.Title">
                        <nhs-table-column>Acceptance Criteria</nhs-table-column>
                        @foreach (var criterion in milestone.AcceptanceCriteria)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>@criterion.Description</nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                </div>
            }
        }
        else
        {
            <div class="nhsuk-u-margin-bottom-9">
                <nhs-inset-text>
                    <p>
                        No default implementation plan has been defined.
                    </p>
                </nhs-inset-text>
            </div>
        }

        <form method="post">
            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Do you want to proceed using these milestones?"
                                     size="Medium">
                <nhs-radio-buttons asp-for="UseDefaultMilestones" 
                                   values="Model.Options.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text"/>
            </nhs-fieldset-form-label>
        
            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button/>
            </div>
        </form>
    </div>
</div>
