@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model CompetitionSolutionHubModel

@{
    ViewBag.Title = "Price and quantity";

    var additionalServices = Model.GetCatalogueItemsByType(CatalogueItemType.AdditionalService).ToList();
    var associatedServices = Model.AssociatedServices.ToList();
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        advice="Provide information to calculate the price for this shortlisted solution and any Additional or Associated Services you’ll need."
                        caption="@Model.SolutionName"/>

        <div id="SolutionDetails" class="nhsuk-u-margin-bottom-9">
            <h2>Catalogue Solution</h2>

            <div class="nhsuk-u-margin-bottom-9">
                <partial name="HubCatalogueItem" model="@Model.GetCatalogueItem(Model.SolutionId)"/>
            </div>
        </div>

        @if (additionalServices.Any())
        {
            <div id="AdditionalServiceDetails" class="nhsuk-u-margin-bottom-9">
                <h2>Additional Services</h2>
                <p>These Additional Services are needed along with the solution to meet all the Capabilities and Epics you’ve selected.</p>

                @foreach (var item in additionalServices)
                {
                    <div class="nhsuk-u-margin-bottom-9">
                        <partial name="HubCatalogueItem" model="@Model.GetCatalogueItem(item.CatalogueItemId)"/>
                    </div>
                }
            </div>
        }

        @if (Model.AssociatedServicesAvailable)
        {
            <div id="AssociatedServiceDetails" class="nhsuk-u-margin-bottom-9">
                <h2>Associated Services</h2>
                <p>You can add Associated Services to help implement your solution, for example training or data migration.</p>

                <span data-test-id="associated-services-action">
                    <vc:nhs-action-link text="@Model.AssociatedServicesActionText"
                                        url="@Model.AssociatedServicesUrl"/>
                </span>

                @if (!associatedServices.Any())
                {
                    <p>No Associated Services have been added for this Catalogue Solution.</p>
                }
                else
                {
                    @foreach (var item in associatedServices)
                    {
                        <div class="nhsuk-u-margin-bottom-9">
                            <partial name="HubCatalogueItem" model="@Model.GetCatalogueItem(item.CatalogueItemId)"/>
                        </div>
                    }
                }
            </div>
        }

        <vc:nhs-secondary-button text="Save and continue"
                                 url="@Model.BackLink"
                                 type="Primary"/>
    </div>
</div>
