@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Supplier.ConfirmSupplierModel;
@{
    var pageTitle = Model.GetPageTitle();
    ViewBag.Title = pageTitle.Title;
}

<div data-test-id="supplier-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title model="@pageTitle" />

            <nhs-card-v2>
                <nhs-card-content>
                    <h2>Supplier details</h2>
                    <nhs-summary-list>
                        <nhs-summary-list-row label-text="Supplier name">
                            <p data-test-id="supplier-name">
                                @Model.Name
                            </p>
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Legal name">
                            <p data-test-id="supplier-legal-name">
                                @Model.LegalName
                            </p>
                        </nhs-summary-list-row>
                        <nhs-summary-list-row label-text="Registered address">
                            <div data-test-id="supplier-address">
                                <vc:nhs-address address="@Model.Address"/>
                            </div>
                        </nhs-summary-list-row>
                    </nhs-summary-list>
                </nhs-card-content>
                @if (!Model.OnlyOption)
                {
                    <nhs-card-footer>
                        <p>
                            <a class="nhsuk-link--no-visited-state" href="@Url.Action( nameof(SupplierController.SelectSupplier), typeof(SupplierController).ControllerName(), new { Model.InternalOrgId, Model.CallOffId })">
                                <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                                Change supplier
                            </a>
                        </p>
                    </nhs-card-footer>
                }
            </nhs-card-v2>
            
            <form method="post">
                <input type="hidden" asp-for="SupplierId" />
                <input type="hidden" asp-for="Name" />
                <input type="hidden" asp-for="LegalName" />
                <input type="hidden" asp-for="OnlyOption" />
                
                <div class="nhsuk-u-margin-top-4 nhsuk-u-bottom-bottom-5">
                    <nhs-fieldset-form-label asp-for="ConfirmSupplier"
                                             label-text="Confirm this supplier"
                                             label-hint="Once you’ve confirmed your supplier you’ll not be able to change it for this order."
                                             size="Small">
                        <nhs-radio-buttons asp-for="ConfirmSupplier"
                                           values="@Model.Options.Cast<object>()"
                                           value-name="Value"
                                           display-name="Text"
                                           inline="true" />
                    </nhs-fieldset-form-label>
                </div>
                <div data-test-id="save-button">
                    <nhs-submit-button text="Confirm supplier" />
                </div>
            </form>
        </div>
    </div>
</div>
