@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Supplier.SupplierModel;
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
}

<div data-test-id="supplier-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="SelectedContactId" />

            <nhs-page-title title="@Model.Title"
                            caption="Order @(Model.CallOffId)"
                            advice="Select an existing contact for @Model.SupplierName or add a new one." />

            @if (!Model.IsAmendment)
            {
                <nhs-inset-text>
                    <h3>Your confirmed supplier</h3>
                    <p>As you've confirmed the supplier details for this order they cannot be changed.</p>
                    <p>If you need to select a new supplier, you must start a new order.</p>
                </nhs-inset-text>
            }

            <form method="post">
                <input type="hidden" asp-for="SupplierId" />
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="SupplierName" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="IsAmendment" />

                @if (Model.Contacts.Count > 1)
                {
                    <div class="nhsuk-u-margin-bottom-9">
                        <nhs-fieldset-form-label asp-for="@Model"
                                             label-text="Who is your contact for this order?"
                                             label-hint="Select one option.">
                            <nhs-radio-buttons asp-for="SelectedContactId"
                                           values="@Model.FormattedContacts.Cast<object>()"
                                           value-name="Value"
                                           display-name="Text" />
                        </nhs-fieldset-form-label>
                    </div>
                }
                else if (Model.Contacts.Count == 1)
                {
                    <div class="nhsuk-u-margin-bottom-9">
                        <input type="hidden" asp-for="SelectedContactId" value="@Model.Contacts.First().Id" />
                        <h3>Contact for this order</h3>
                        <p>@Model.FormattedContacts.First().Text</p>
                    </div>
                }

                @if (Model.TemporaryContact != null)
                {
                    <p>
                        Your contact has been added. You may edit this contact at any time.
                    </p>

                    <nhs-table label-text="Contacts added to this order">
                        <nhs-table-column>Contact</nhs-table-column>
                        <nhs-table-column>Telephone</nhs-table-column>
                        <nhs-table-column>Email</nhs-table-column>
                        <nhs-table-column>Action</nhs-table-column>

                        <nhs-table-row-container>
                            <nhs-table-cell>@Model.TemporaryContact.Description</nhs-table-cell>
                            <nhs-table-cell>@Model.TemporaryContact.PhoneNumber</nhs-table-cell>
                            <nhs-table-cell>@Model.TemporaryContact.Email</nhs-table-cell>
                            <nhs-table-cell>
                                <a asp-action="@nameof(SupplierController.NewContact)"
                               asp-controller="@typeof(SupplierController).ControllerName()"
                               asp-route-internalOrgId="@Model.InternalOrgId"
                               asp-route-callOffId="@Model.CallOffId">Edit</a>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    </nhs-table>
                }
                else
                {
                    <vc:nhs-action-link url="@Url.Action(
                                                 nameof(SupplierController.NewContact),
                                                 typeof(SupplierController).ControllerName(),
                                                 new { Model.InternalOrgId, Model.CallOffId })"
                                    text="Add a new contact" />
                    <p>
                        If your contact for this supplier is not listed, you can add their details using the link. The information will only appear on this order.
                    </p>
                }

                <div class="nhsuk-u-margin-top-9">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>
