@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Supplier.SupplierModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="supplier-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="SelectedContactId" />

            <nhs-page-title title="@Model.Title"
                            caption="@(Model.SupplierName)"
                            advice="Select an existing contact for this supplier or add a new one." />

            <form method="post">
                <input type="hidden" asp-for="SupplierId" />
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="SupplierName" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="IsAmendment" />
                
                <nhs-card-v2>
                    <nhs-card-content>
                       @*  <h2>Contacts for this supplier</h2> *@

                        <nhs-fieldset-form-label asp-for="@Model"
                                                 label-text="Contacts for this supplier">
                            <nhs-radio-button-container>
                                @foreach (var contact in Model.Contacts)
                                {
                                    @if (Model.Contacts.Count > 1)
                                    {
                                        <nhs-radio-button asp-for="SelectedContactId"
                                                          display-text="@contact.FullName"
                                                          value="@contact.Id" />
                                    }
                                    
                                    <nhs-summary-list>
                                        <nhs-summary-list-row label-text="Name">
                                            <p data-test-id="supplier-name">
                                                @contact.FullName
                                            </p>
                                        </nhs-summary-list-row>
                                        <nhs-summary-list-row label-text="Email address" action="@CreateAction(contact.Id)">
                                            <p data-test-id="supplier-legal-name">
                                                @contact.Email
                                            </p>
                                        </nhs-summary-list-row>
                                    </nhs-summary-list>
                                }
                            </nhs-radio-button-container>
                        </nhs-fieldset-form-label>
                    </nhs-card-content>
                    @if (Model.TemporaryContact is null)
                    {
                        <nhs-card-footer>
                            <p>
                                <a class="nhsuk-link--no-visited-state" href="@Url.Action(
                                                                                  nameof(SupplierController.NewContact),
                                                                                  typeof(SupplierController).ControllerName(),
                                                                                  new { Model.InternalOrgId, Model.CallOffId })">
                                    <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true" />
                                    Add a new contact
                                </a>
                            </p>
                        </nhs-card-footer>
                    }
                </nhs-card-v2>

                <div class="nhsuk-u-margin-top-9">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>

@{
    (string, string) CreateAction(int id) => id == SupplierContact.TemporaryContactId ? ("Change", Url.Action(
        nameof(SupplierController.NewContact),
        typeof(SupplierController).ControllerName(),
        new { Model.InternalOrgId, Model.CallOffId })) : (null, null);
}
