@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Supplier.SupplierModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="supplier-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="SelectedContactId" />

            <nhs-page-title title="@Model.Title"
                            caption="@(Model.SupplierName)"
                            advice="Select an existing contact for this supplier or add a new one." />

            <form method="post">
                <input type="hidden" asp-for="SupplierId" />
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="SupplierName" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="IsAmendment" />
                
                <nhs-card-v2>
                    <nhs-card-content>
                        <nhs-fieldset-form-label asp-for="@Model"
                                                 label-text="Contacts for this supplier">
                            <nhs-radio-button-container>
                                @for (var i = 0; i < Model.Contacts.Count; i++)
                                {
                                    var contact = Model.Contacts[i];
                                    @if (Model.Contacts.Count > 1)
                                    {
                                        var text = string.IsNullOrEmpty(contact.FullName) ? contact.Department : contact.FullName;
                                        <nhs-radio-button asp-for="SelectedContactId"
                                                          display-text="@text"
                                                          value="@contact.Id"
                                                          index="@i" />
                                    }
                                    
                                    <nhs-summary-list>
                                        @if (!string.IsNullOrEmpty(contact.FullName))
                                        {
                                            <nhs-summary-list-row label-text="Name">
                                                <p data-test-id="supplier-name">
                                                    @contact.FullName
                                                </p>
                                            </nhs-summary-list-row>
                                        }
                                        @if (!string.IsNullOrEmpty(contact.Department))
                                        {
                                            <nhs-summary-list-row label-text="Department">
                                                <p data-test-id="supplier-name">
                                                    @contact.Department
                                                </p>
                                            </nhs-summary-list-row>
                                        }
                                        @if (!string.IsNullOrEmpty(contact.PhoneNumber))
                                        {
                                            <nhs-summary-list-row label-text="Telephone number" action="@CreateAction(contact.Id, string.IsNullOrEmpty(contact.Email))">
                                                <p data-test-id="supplier-name">
                                                    @contact.PhoneNumber
                                                </p>
                                            </nhs-summary-list-row>
                                        }
                                        @if (!string.IsNullOrEmpty(contact.Email))
                                        {
                                            <nhs-summary-list-row label-text="Email address" action="@CreateAction(contact.Id, true)">
                                                <p data-test-id="supplier-legal-name">
                                                    @contact.Email
                                                </p>
                                            </nhs-summary-list-row>
                                        }
                                    </nhs-summary-list>
                                }
                            </nhs-radio-button-container>
                        </nhs-fieldset-form-label>
                    </nhs-card-content>
                    <nhs-card-footer>
                        <p>
                            @if (Model.TemporaryContact is null)
                            {

                                        <a class="nhsuk-link--no-visited-state" href="@Url.Action(
                                                                                          nameof(SupplierController.NewContact),
                                                                                          typeof(SupplierController).ControllerName(),
                                                                                          new { Model.InternalOrgId, Model.CallOffId })">
                                            <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true" />
                                            Add a new contact
                                        </a>
                                   
                            }
                            else
                            {
                                <img src="~/images/circle-info-solid.svg" width="20px" aria-hidden="true"> <p>New contact has already been added.</p>
                            }
                        </p>
                    </nhs-card-footer>
                </nhs-card-v2>

                <div class="nhsuk-u-margin-top-9">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>

@{
    (string, string) CreateAction(int id, bool showAction) => id == SupplierContact.TemporaryContactId && showAction ? ("Change", Url.Action(
        nameof(SupplierController.NewContact),
        typeof(SupplierController).ControllerName(),
        new { Model.InternalOrgId, Model.CallOffId })) : (null, null);
}
