@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Identity
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.UserModels.DetailsModel
@{
    ViewBag.Title = "View user";
}

@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(HomeController.Index)" 
                       asp-controller="@typeof(HomeController).ControllerName()" 
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(UsersController.Index)" 
                       asp-controller="@typeof(UsersController).ControllerName()" 
                       class="nhsuk-breadcrumb__link">Manage users</a>
                </li>
            </ol>
        </div>
    </nav>
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model!.User.Email" />
        </div>

        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-u-margin-bottom-9">
                <h3>Personal details</h3>
                <nhs-table>
                    <nhs-table-row-container>
                        <nhs-table-cell style="width: 200px;">
                            <strong>First name</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-first-name">
                                @Model.User.FirstName
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell style="text-align: right;">
                            <a data-test-id="edit-personal-details-link"
                               asp-controller="@typeof(UsersController).ControllerName()"
                               asp-action="@nameof(UsersController.PersonalDetails)"
                               asp-route-userId="@Model.User.Id">Edit</a>
                        </nhs-table-cell>
                    </nhs-table-row-container>

                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <strong>Last name</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-last-name">
                                @Model.User.LastName
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell/>
                    </nhs-table-row-container>

                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <strong>Telephone number</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-telephone-number">
                                @Model.User.PhoneNumber
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell/>
                    </nhs-table-row-container>

                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <strong>Email</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-email">
                                @Model.User.Email
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell/>
                    </nhs-table-row-container>
                </nhs-table>
            </div>
            
            <div class="nhsuk-u-margin-bottom-9">
                <h3>Account details</h3>
                <nhs-table>
                    <nhs-table-row-container>
                        <nhs-table-cell style="width: 200px;">
                            <strong>Organisation</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-organisation">
                                @Model.User.PrimaryOrganisation.Name
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell style="text-align: right;">
                            <a data-test-id="edit-organisation-link"
                               asp-controller="@typeof(UsersController).ControllerName()"
                               asp-action="@nameof(UsersController.Organisation)"
                               asp-route-userId="@Model.User.Id">Edit</a>
                        </nhs-table-cell>
                    </nhs-table-row-container>

                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <strong>Account type</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-account-type">
                                @(Model.User.OrganisationFunction == OrganisationFunction.AuthorityName
                                    ? "Admin"
                                    : Model.User.OrganisationFunction)
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell style="text-align: right;">
                            <a data-test-id="edit-account-type-link"
                               asp-controller="@typeof(UsersController).ControllerName()"
                               asp-action="@nameof(UsersController.AccountType)"
                               asp-route-userId="@Model.User.Id">Edit</a>
                        </nhs-table-cell>
                    </nhs-table-row-container>

                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <strong>Account status</strong>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="user-account-status">
                                <nhs-tag status-enum="@Model.AccountStatus"/>
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell style="text-align: right;">
                            <a data-test-id="edit-account-status-link"
                               asp-controller="@typeof(UsersController).ControllerName()"
                               asp-action="@nameof(UsersController.AccountStatus)"
                               asp-route-userId="@Model.User.Id">Edit</a>
                        </nhs-table-cell>
                    </nhs-table-row-container>
                </nhs-table>
            </div>
            
            <div class="nhsuk-u-margin-bottom-6">
                <vc:nhs-secondary-button url="@Url.Action(
                                                  nameof(UsersController.ResetPassword),
                                                  typeof(UsersController).ControllerName(),
                                                  new { userId = @Model.User.Id })"
                                         text="Reset password"
                                         use-primary-colour="false" />
            </div>
        </div>

        <div class="nhsuk-grid-column-full">
            <h3>Orders associated with this user</h3>
            @if (Model.Orders.Any())
            {
                <div id="orders-table">
                    <p>Showing 10 orders by most recent.</p>
                    <nhs-table>
                        <nhs-table-column>Call-off ID</nhs-table-column>
                        <nhs-table-column>Description</nhs-table-column>
                        <nhs-table-column>Date created</nhs-table-column>
                        <nhs-table-column>Status</nhs-table-column>
                        <nhs-table-column/>
                        @foreach (var order in Model.Orders)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell style="white-space: nowrap">
                                    <span data-test-id="order-call-off-id">
                                        @order.CallOffId
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <span data-test-id="order-description">
                                        @order.Description
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <span data-test-id="order-created">
                                        @($"{order.Created:dd/MM/yyyy}")
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell style="white-space: nowrap">
                                    <span data-test-id="order-status">
                                        <nhs-tag status-enum="@order.OrderStatus"/>
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <a data-test-id="order-link"
                                       asp-area="@typeof(ManageOrdersController).AreaName()"
                                       asp-controller="@typeof(ManageOrdersController).ControllerName()"
                                       asp-action="@nameof(ManageOrdersController.ViewOrder)"
                                       asp-route-callOffId="@order.CallOffId"
                                       asp-route-returnUrl="@Url.Action(
                                                                nameof(UsersController.Details),
                                                                typeof(UsersController).ControllerName(),
                                                                new { userId = @Model.User.Id })">View</a>
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                </div>
            }
            else
            {
                <div id="orders-error-message">
                    <p>There are no orders associated with this user.</p>
                </div>
            }
        </div>
    </div>
</div>

