@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.ForgotPasswordViewModel
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
    ViewData["PageTitle"] = "Enter your email address";
    ViewData["PageDescription"] = "You'll be sent a link to the address you provide so you can choose a password.";
    var backLinkModel = new NavBaseModel
    {
        BackLink = Url.Action(nameof(AccountController.Login), typeof(AccountController).ControllerName()),
        BackLinkText = "Back to log in"
    };
}

<div data-test-id="login-page">
    <partial name="Partials/_BackLink" model="@backLinkModel" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewData["PageTitle"]" advice="@ViewData["PageDescription"]"/>
            <form data-test-id="input-form"
                  asp-controller="@typeof(AccountController).ControllerName()"
                  asp-action="@nameof(AccountController.ForgotPassword)"
                  novalidate method="post">
                <nhs-input asp-for="EmailAddress"
                           label-text="Email"/>

                <recaptcha/>

                <br/>

                <nhs-submit-button text="Submit"/>
            </form>
        </div>
    </div>
</div>
