@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.LoginViewModel
@{
    ViewBag.Title = "Buying Catalogue log in";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title" />
        <form asp-controller="@typeof(AccountController).ControllerName()"
              asp-action="@nameof(AccountController.Login)"
              asp-route-returnUrl="@Model.ReturnUrl"
              method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <nhs-input asp-for="EmailAddress"
                       label-text="Email"/>
            <nhs-input asp-for="Password"
                       label-text="Password"/>
            <div class="nhsuk-u-margin-bottom-5 ">
                <a data-test-id="forgot-password-link"
                   asp-controller="@typeof(AccountController).ControllerName()"
                   asp-action="@nameof(AccountController.ForgotPassword)"
                   asp-route-returnUrl="@Model.ReturnUrl">Forgot password?</a>
            </div>

            <recaptcha />

            <br/>

            <nhs-submit-button text="Log in" />
            <div>
                <a data-test-id="request-account-link"
                   asp-controller="@typeof(RegistrationController).ControllerName()"
                   asp-action="@nameof(RegistrationController.Index)">
                    Don't have an account? Request one now
                </a>
            </div>
        </form>
    </div>
</div>
