@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.Solution.SolutionStatusModel;
@{
    ViewData["Title"] = "listing page - all the sections";
}

<div class="nhsuk-width-container ">
    <main id="maincontent" role="main">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1>
                    <span role="text">
                        @Model.Section
                        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                            <span class="nhsuk-u-visually-hidden"> - </span>
                            @Model.SolutionName
                        </span>
                    </span>
                </h1>
            </div>
        </div>

        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Solution name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.SolutionName
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Supplier name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.SupplierName
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Solution ID
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.SolutionId
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Framework
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.Framework
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Foundation Solution
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Yes
                            </dd>

                        </div>

                    </dl>


                    <h2>Summary</h2>

                    <p>@Model.Summary</p>

                    <h2>Full description</h2>

                    <p>@Model.Description</p>
                    
                </div>
            </div>
        </article>

    </main>
</div>
