@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.Solution.SolutionStatusModel;
@{

    ViewData["Title"] = $"{Model.CatalogueItemName} listing page – all sections";
}

<div data-test-id="dashboard">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div data-test-id="supplier-name-tag" class="bc-c-tag nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-5 bc-c-tag-outline">@Model.SupplierName</div>
            <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7">
                <nhs-page-title title="@ViewData["Title"]"
                                advice="Explain what your Catalogue Solution is for and how it works. This information will be published on the Buying Catalogue to help buyers understand if it meets their needs." />
                <nhs-inset-text>
                    <p class="nhsuk-u-font-size-14">Provide as much information as possible for buyers. You can save your progress at any point, but a Catalogue Solution listing page cannot be published until all mandatory fields have been completed.</p>
                </nhs-inset-text>
                <vc:nhs-secondary-button url="/solutions/preview/@Model.SolutionId" text="Preview your page" use-primary-colour="false" />
            </div>
        </div>
        <div class="nhsuk-grid-column-full">
            <div data-test-id="dashboard-sectionGroup-about-your-solution" class="nhsuk-u-padding-bottom-7">
                <div class="bc-c-title">
                    <h2>
                        About Catalogue Solution
                    </h2>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>
                                Tell buyers about your Catalogue Solution, describe its features and provide information on how it integrates with NHS systems.
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="bc-c-section-list__items">
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="solution-description" data-test-id="dashboard-section-solution-description">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/solution-description">
                                Solution description
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Mandatory
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.SolutionDescriptionStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="features" data-test-id="dashboard-section-features">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/features">
                                Features
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.FeaturesStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="integrations" data-test-id="dashboard-section-integrations">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/integrations">
                                Integrations
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.IntegrationsStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="implementation" data-test-id="dashboard-section-implementation">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a asp-action="Implementation" asp-controller="AboutSolution" asp-route-solutionId="@Model.SolutionId">Implementation</a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.ImplementationTimescalesStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="roadmap" data-test-id="dashboard-section-roadmap">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/roadmap">
                                Roadmap
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.RoadmapStatus
                        </strong>
                    </li>
                </ul>
            </div>

            <div data-test-id="dashboard-sectionGroup-client-application-type" class="nhsuk-u-padding-bottom-7">
                <div class="bc-c-title">
                    <h2>
                        Client application type
                    </h2>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>
                                Let buyers know which types of application will work with your Catalogue Solution.
                            </p>
                        </div>
                    </div>
                </div>

                <ul class="bc-c-section-list__items">

                    <li id="client-application-types" data-test-id="dashboard-section-client-application-types">
                        <ul class="nhsuk-u-margin-0 nhsuk-u-padding-0">
                            <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0">
                                <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                    <a href="@Model.SolutionId/section/client-application-types">
                                        Client application type
                                    </a>
                                </div>
                                <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                    Mandatory
                                </div>
                                <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                                    @Model.ClientApplicationTypeStatus
                                </strong>
                            </li>
                        </ul>
                        <ul class="bc-c-section-list__items-sub-section nhsuk-u-font-size-19 nhsuk-u-margin-bottom-0">
                            <li class="nhsuk-inset-text bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-0" id="browser-based" data-test-id="dashboard-sub-section-browser-based">
                                @if (Model.IsBrowserBased)
                                {
                                    <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                        <a href="@Model.SolutionId/section/browser-based">
                                            Browser-based
                                        </a>
                                    </div>
                                    <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                        Mandatory
                                    </div>
                                    <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                                        @Model.BrowserBasedStatus
                                    </strong>
                                }
                                else
                                {
                                    <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                        Browser-based
                                    </div>
                                    <span data-test-id="dashboard-section-default-message" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                        Select from client application types
                                    </span>
                                }
                            </li>
                            <li class="nhsuk-inset-text bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-0" id="native-mobile" data-test-id="dashboard-sub-section-native-mobile">
                                @if (Model.IsNativeMobile)
                                {
                                    <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                        <a href="@Model.SolutionId/section/native-mobile">
                                            Native mobile or tablet
                                        </a>
                                    </div>
                                    <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                        Mandatory
                                    </div>
                                    <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                                        @Model.NativeMobileStatus
                                    </strong>
                                }
                                else
                                {
                                    <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                        Native mobile or tablet
                                    </div>
                                    <span data-test-id="dashboard-section-default-message" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                        Select from client application types
                                    </span>
                                }
                            </li>
                            <li class="nhsuk-inset-text bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-0" id="native-desktop" data-test-id="dashboard-sub-section-native-desktop">
                                @if (Model.IsNativeDesktop)
                                {
                                    <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                        <a href="@Model.SolutionId/section/native-desktop">
                                            Native desktop
                                        </a>
                                    </div>
                                    <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                        Mandatory
                                    </div>
                                    <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                                        @Model.NativeDesktopStatus
                                    </strong>
                                }
                                else
                                {
                                    <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                                        Native desktop
                                    </div>
                                    <span data-test-id="dashboard-section-default-message" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                                        Select from client application types
                                    </span>
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div data-test-id="dashboard-sectionGroup-hosting-type" class="nhsuk-u-padding-bottom-7">
                <div class="bc-c-title">
                    <h2>
                        Hosting type
                    </h2>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>
                                Provide information to buyers about how your Catalogue Solution can be hosted.
                            </p>
                        </div>
                    </div>
                </div>

                <ul class="bc-c-section-list__items">
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="hosting-type-public-cloud" data-test-id="dashboard-section-hosting-type-public-cloud">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/hosting-type-public-cloud">
                                Public cloud
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.PublicCloudStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="hosting-type-private-cloud" data-test-id="dashboard-section-hosting-type-private-cloud">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/hosting-type-private-cloud">
                                Private cloud
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.PrivateCloudStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="hosting-type-hybrid" data-test-id="dashboard-section-hosting-type-hybrid">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/hosting-type-hybrid">
                                Hybrid
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.HybridStatus
                        </strong>
                    </li>
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="hosting-type-on-premise" data-test-id="dashboard-section-hosting-type-on-premise">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/hosting-type-on-premise">
                                On premise
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.OnPremisesStatus
                        </strong>
                    </li>
                </ul>
            </div>

            <div data-test-id="dashboard-sectionGroup-about-your-organisation" class="nhsuk-u-padding-bottom-7">
                <div class="bc-c-title">
                    <h2>
                        About organisation
                    </h2>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <p>
                                Give details about your organisation and let buyers know how to get in touch.
                            </p>
                        </div>
                    </div>
                </div>

                <ul class="bc-c-section-list__items">
                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="about-supplier" data-test-id="dashboard-section-about-supplier">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/about-supplier">
                                About supplier
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.AboutSupplierStatus
                        </strong>
                    </li>

                    <li class="bc-c-section-list__item bc-t-border-bottom--grey-3 nhsuk-u-margin-bottom-0" id="contact-details" data-test-id="dashboard-section-contact-details">
                        <div data-test-id="dashboard-section-title" class="bc-u-block-float-left nhsuk-grid-column-one-half">
                            <a href="@Model.SolutionId/section/contact-details">
                                Contact details
                            </a>
                        </div>
                        <div data-test-id="dashboard-section-requirement" class="bc-u-block-float-left bc-c-section-list__task-requirement">
                            Optional
                        </div>
                        <strong data-test-id="dashboard-section-status" class="bc-c-section-list__task-tag">
                            @Model.ContactDetailsStatus
                        </strong>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nhsuk-grid-column-two-thirds">
            <div data-test-id="dashboard-sections-box" class="bc-c-section-box-border nhsuk-u-padding-4 nhsuk-u-margin-bottom-5">
                <h3>Sections added by NHS Digital</h3>
                <p>The following sections of your Catalogue Solution page will be completed for you by NHS Digital. The information will be taken from your Catalogue Solution’s framework tender and capabilities assessment.</p>                
                <ul class="nhsuk-u-margin-bottom-0">
                    <li>Price</li>
                    <li>Capabilities met</li>
                    <li>NHS standards met</li>
                    <li>Compliance work-off plans</li>
                    <li>Additional services</li>
                    <li>Associated services</li>
                    <li>Service level information</li>
                    <li>Transition timescales</li>
                    <li>Framework</li>
                </ul>                
            </div>
        </div>
    </div>
</div>
