@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.SolutionSelection.Shared.RemoveServiceModel;

@{
    ViewBag.Title = "Remove Additional Service";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary RadioId="ConfirmRemoveService" />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.ServiceName"
                        advice="Confirm you want to remove this @Model.ServiceType from your order." />

        <nhs-warning-callout label-text="Removing an @Model.ServiceType">
            <p>Removing an @Model.ServiceType will also remove any quantities and prices you've previously entered for it.</p>
        </nhs-warning-callout>

        <form method="post">
            <input type="hidden" asp-for="@Model.ServiceName" />
            <input type="hidden" asp-for="@Model.ServiceType" />
            <input type="hidden" asp-for="BackLink" />
            <nhs-fieldset-form-label asp-for="@Model" label-text="Remove @Model.ServiceName">
                <nhs-radio-buttons asp-for="ConfirmRemoveService"
                                   values="@Model.RemoveServiceOptions.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text" />
            </nhs-fieldset-form-label>
            <nhs-submit-button>Save and continue</nhs-submit-button>
        </form>


    </div>
</div>
