@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.FundingSources
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.WarningCallout
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.FundingSources.ConfirmFrameworkChangeModel
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.ConfirmChanges)" />
        <nhs-page-title title="@ViewBag.Title"
                        advice="You’ll lose any funding information you’ve previously entered for this order."
                        caption="@Model.Caption" />

            <nhs-warning-callout label-text="Changing procurement framework">
                Changing procurement framework will wipe out any funding information you’ve already applied to your Catalogue Solution and any services on this order. This information will need to be entered again if you change framework.
            </nhs-warning-callout>

            <h2>Changes to your procurement framework</h2>
            <p>You've made the following changes:</p>

            <div id="removed-items">

                <h3>Removed:</h3>
                <ul><li>@Model.CurrentFramework.ShortName</li></ul>

                <h3>Added:</h3>
                <ul><li>@Model.SelectedFramework.ShortName</li></ul>
            </div>

            <hr />

        <form method="post">
            <nhs-fieldset-form-label asp-for="ConfirmChanges"
                                     label-text="Do you want to confirm your changes?"
                                     size="Small">
                <nhs-radio-buttons asp-for="ConfirmChanges"
                                   values="@ConfirmFrameworkChangeModel.Options.Cast<object>()"
                                   display-name="Name"
                                   value-name="Value" />
            </nhs-fieldset-form-label>
            <input type="hidden" asp-for="CurrentFramework.Id" />
            <input type="hidden" asp-for="CurrentFramework.ShortName" />
            <input type="hidden" asp-for="SelectedFramework.Id" />
            <input type="hidden" asp-for="SelectedFramework.ShortName" />
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="Caption" />
            <input type="hidden" asp-for="Title" />
            <nhs-submit-button />
        </form>
    </div>
</div>

