@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.FundingSource.FundingSourceModel;
@{
    ViewData["Title"] = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@Model.Title" advice="Explain how you’re paying for this order" />
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.BackLinkText" />
            <input type="hidden" asp-for="@Model.OdsCode" />
            <input type="hidden" asp-for="@Model.Title" />
                        <nhs-fieldset-form-label asp-for="@Model"
                                           label-text="Are you paying for this order in full using your GP IT Futures centrally held funding allocation?">
                            <nhs-yesno-radio-buttons asp-for="@Model.FundingSourceOnlyGms" />
                        </nhs-fieldset-form-label>
            <nhs-inset-text>
                <p>Only answer ‘Yes’ if you’re using your central funding allocation to pay for the entire value of this order. It’ll then be centrally processed and paid for out of your allocation.</p>
                <p>If you answer ‘No’, the order can still be completed but you’ll need to contact the supplier to arrange payment.</p>
                <p>In both cases completing your order will generate an order summary that you’ll need to include in the contract you send to the supplier.</p>
                <p>If you’re intending to pay using a combination of your central allocation and any other funding sources, you’ll need to create separate orders for each of the funding sources you’re using.</p>
            </nhs-inset-text>
            <nhs-submit-button />
        </form>
    </div>
</div>
