@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSideNavigationPanel.NhsSideNavigationPanelModel

<div>
    <nav class="side-nav ">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ul class="side-nav__component">
            @foreach (var item in Model.Sections)
            {
                <vc:nhs-side-navigation-section name="@item.Name" controller="@item.Controller" action="@item.Action" route-data="@item.RouteData" selected="@item.Selected" show="@item.Show"/>
            }
        </ul>
    </nav>
</div>


