@using NHSD.GPIT.BuyingCatalogue.WebApp.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionsModel;
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["Title"] = "GP IT Futures framework – results";
    var backLinkModel = new NavBaseModel{ BackLink = "/solutions/futures/capabilitiesselector", BackLinkText = "Go back" };
}

<div data-test-id="solutions-list-body">
    <partial name="Partials/_BackLink" model="@backLinkModel" />
    <div class="nhsuk-grid-row" data-test-id="general-description">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewData["Title"]" advice="These are the Catalogue Solutions available on the GP IT Futures framework that match your search criteria." />
            <p data-test-id="compare-solutions-description">
                You can use our compare document to help find what you’re looking for. It gives an overview of all the Catalogue Solutions available on the GP IT Futures framework and lets you filter them by the Capabilities they offer.
            </p>
            <div data-test-id="compare-button" class="nhsuk-u-margin-top-5">
                <vc:nhs-secondary-button url="/document/compare-futures-solutions.xlsx" text="Compare Solutions (.xlsx)" use-primary-colour="false" />
            </div>
        </div>
    </div>
</div>

<div data-test-id="solution-cards" class="nhsuk-u-margin-top-5">
    @foreach (var solution in Model.CatalogueItems)
    {

        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                    <div data-test-id="solution-card-foundation" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Foundation Solution Set</div>

                    <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="Description" asp-route-solutionId="@solution.CatalogueItemId">
                            @solution.Name
                        </a>
                    </h2>

                    <h3 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-supplier">
                        @solution.Supplier.Name
                    </h3>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        @solution.Solution.Summary
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="Description" asp-route-solutionId="@solution.CatalogueItemId">
                            View this solution<span class="nhsuk-u-visually-hidden"> for @solution.Name</span>
                        </a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-third" data-test-id="solution-card-capability-list">

                    <div data-test-id="capability-list">
                        <h4>Capabilities met</h4>
                        <ul>

                            @foreach (var capability in solution.CatalogueItemCapabilities)
                            {
                                <li data-test-id="capability-list-item" class="nhsuk-u-font-size-16">
                                    @capability.Capability.Name
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="bc-t-border-top--blue" />
</div>
