@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.Shared.NonPriceElementsPartialModel

@if (Model.NonPriceElements.Features.Any())
{
    <nhs-card title="Features" size="Large">
        <partial name="Partials/_FeaturesRequirements" model="@(new FeaturesRequirementsPartialModel(Model.InternalOrgId, Model.CompetitionId, Model.NonPriceElements.Features, Model.HasReviewedCriteria) { ReturnUrl = Url.Action(), IsAdding = false })" />

        @if (!Model.IsReviewScreen && !Model.HasReviewedCriteria)
        {
            <vc:nhs-action-link text="Add another features requirement" url="@Url.Action(nameof(CompetitionNonPriceElementsController.FeatureRequirement), typeof(CompetitionNonPriceElementsController).ControllerName(), new { Model.InternalOrgId, Model.CompetitionId, returnUrl = Url.Action() })" />
        }
    </nhs-card>
}

@if (Model.NonPriceElements.Implementation != null)
{
    var implementationUrl = Url.Action(nameof(CompetitionNonPriceElementsController.Implementation), typeof(CompetitionNonPriceElementsController).ControllerName(), Model.RouteValues);
    <nhs-card title="Implementation" size="Large">
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Implementation" action="@CreateAction(implementationUrl)">
                @Model.NonPriceElements.Implementation.Requirements
            </nhs-summary-list-row>
        </nhs-summary-list>
    </nhs-card>
}

@if (Model.NonPriceElements.IntegrationTypes.Any())
{
    var interopUrl = Url.Action(nameof(CompetitionNonPriceElementsController.Interoperability), typeof(CompetitionNonPriceElementsController).ControllerName(), Model.RouteValues);

    <nhs-card title="Interoperability" size="Large">
        @foreach (var integration in Model.AvailableIntegrations.OrderBy(x => x.Key))
        {
            var selectedIntegrationTypes = Model.NonPriceElements.IntegrationTypes.Where(x => x.IntegrationId == integration.Key).OrderBy(x => x.Name).ToList();

            <nhs-summary-list>
                <nhs-summary-list-row label-text="@(integration.Value) integrations" action="@CreateAction(interopUrl)">
                    @if (!selectedIntegrationTypes.Any())
                    {
                        <span>None selected</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var selectedIntegration in selectedIntegrationTypes.OrderBy(x => x.Name))
                            {
                                <li>@selectedIntegration.Name</li>
                            }
                        </ul>
                    }
                </nhs-summary-list-row>
            </nhs-summary-list>
        }
    </nhs-card>
}

@if (Model.NonPriceElements.ServiceLevel != null)
{
    var serviceLevelUrl = Url.Action(nameof(CompetitionNonPriceElementsController.ServiceLevel), typeof(CompetitionNonPriceElementsController).ControllerName(), Model.RouteValues);

    <nhs-card title="Service levels" size="Large">
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Core support hours" action="@CreateAction(serviceLevelUrl)">
                @($"{Model.NonPriceElements.ServiceLevel.TimeFrom:HH:mm} to {Model.NonPriceElements.ServiceLevel.TimeUntil:HH:mm}")
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Applicable days" action="@CreateAction(serviceLevelUrl)">
                <ul>
                    @foreach (var day in Model.NonPriceElements.ServiceLevel.ApplicableDays)
                    {
                        <li>@day.ToString()</li>
                    }
                </ul>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Including Bank Holidays?" action="@CreateAction(serviceLevelUrl)">
                @Model.NonPriceElements.ServiceLevel.IncludesBankHolidays.ToYesNo()
            </nhs-summary-list-row>
        </nhs-summary-list>
    </nhs-card>
}

@{
    (string, string) CreateAction(string url) => Model.HasReviewedCriteria ? (null, null) : ("Edit", url);
}
