@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.Shared.NonPriceElementsPartialModel

@if (Model.NonPriceElements.Features.Any())
{
    <nhs-card title="Features">
        <partial name="Partials/_FeaturesRequirements" model="@(new FeaturesRequirementsPartialModel(Model.InternalOrgId, Model.CompetitionId, Model.NonPriceElements.Features) { ReturnUrl = Url.ActionLink() })"/>

        <vc:nhs-action-link text="Add another features requirement" url="@Url.Action(nameof(CompetitionNonPriceElementsController.FeatureRequirement), typeof(CompetitionNonPriceElementsController).ControllerName(), new { Model.InternalOrgId, Model.CompetitionId, returnUrl = Url.ActionLink() })"/>
    </nhs-card>
}

@if (Model.NonPriceElements.Implementation != null)
{
    var implementationUrl = Url.Action(nameof(CompetitionNonPriceElementsController.Implementation), typeof(CompetitionNonPriceElementsController).ControllerName(), Model.RouteValues);
    <nhs-card title="Implementation">
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Implementation" action="@("Edit", implementationUrl)">
                @Model.NonPriceElements.Implementation.Requirements
            </nhs-summary-list-row>
        </nhs-summary-list>
    </nhs-card>
}

@if (Model.NonPriceElements.Interoperability.Any())
{
    var interopUrl = Url.Action(nameof(CompetitionNonPriceElementsController.Interoperability), typeof(CompetitionNonPriceElementsController).ControllerName(), Model.RouteValues);

    <nhs-card title="Interoperability">
        @{
            var im1Integrations = Model.GetIm1Integrations();
            var gpConnectIntegrations = Model.GetGpConnectIntegrations();
        }
        <nhs-summary-list>
            <nhs-summary-list-row label-text="IM1 integrations" action="@("Edit", interopUrl)">
                @if (!im1Integrations.Any())
                {
                    <span>None selected</span>
                }
                else
                {
                    <ul>
                        @foreach (var integration in im1Integrations.Order())
                        {
                            <li>@integration</li>
                        }
                    </ul>
                }
            </nhs-summary-list-row>
        </nhs-summary-list>

        <nhs-summary-list>
            <nhs-summary-list-row label-text="GP Connect integrations" action="@("Edit", interopUrl)">
                @if (!gpConnectIntegrations.Any())
                {
                    <span>None selected</span>
                }
                else
                {
                    <ul>
                        @foreach (var integration in gpConnectIntegrations.Order())
                        {
                            <li>@integration</li>
                        }
                    </ul>
                }
            </nhs-summary-list-row>
        </nhs-summary-list>
    </nhs-card>
}

@if (Model.NonPriceElements.ServiceLevel != null)
{
    var serviceLevelUrl = Url.Action(nameof(CompetitionNonPriceElementsController.ServiceLevel), typeof(CompetitionNonPriceElementsController).ControllerName(), Model.RouteValues);

    <nhs-card title="Service levels">
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Core support hours" action="@("Edit", serviceLevelUrl)">
                @($"{Model.NonPriceElements.ServiceLevel.TimeFrom:HH:mm} to {Model.NonPriceElements.ServiceLevel.TimeUntil:HH:mm}")
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Applicable days" action="@("Edit", serviceLevelUrl)">
                <ul>
                    @foreach (var day in Model.NonPriceElements.ServiceLevel.ApplicableDays)
                    {
                        <li>@day.ToString()</li>
                    }
                </ul>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Including Bank Holidays?" action="@("Edit", serviceLevelUrl)">
                @Model.NonPriceElements.ServiceLevel.IncludesBankHolidays.ToYesNo()
            </nhs-summary-list-row>
        </nhs-summary-list>
    </nhs-card>
}
