@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ServiceLevelAgreements.EditServiceAvailabilityTimesModel

@{
    ViewBag.Title = "Service availability times";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@(nameof(Model.IncludesBankHolidays))" />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionName"
                        advice="Provide information on when your support services are available under this Service Level Agreement." />

        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="CanDelete" />
            <input type="hidden" asp-for="SolutionId" />
            <input type="hidden" asp-for="SolutionName" />
            <input type="hidden" asp-for="ServiceAvailabilityTimesId" />

            <nhs-input asp-for="SupportType"
                       label-text="Type of support"
                       label-hint="The name of the type of support offered, for example, support hours." />

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Times when the support is available"
                                     label-hint="Enter times in the 24 hour format.\r\nFor 9am use 09:00 and for midday use 12:00"
                                     size="Medium">
                <nhs-time-range-input asp-for="@Model"
                                      asp-for-from="From"
                                      asp-for-until="Until" />
            </nhs-fieldset-form-label>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Applicable days (optional)"
                                     label-hint="The days this support type is available during the times entered."
                                     size="Medium">
                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.ApplicableDays.Count; i++)
                    {
                    <input type="hidden" asp-for="@Model.ApplicableDays[i].Text" />
                    <nhs-checkbox asp-for="@Model.ApplicableDays[i].Selected"
                                  label-text="@Model.ApplicableDays[i].Text"
                                  hidden-input="@Model.ApplicableDays[i].Value"/>
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Bank Holidays"
                                     label-hint="Select if this support type is available on Bank Holidays."
                                     size="Medium">
                <nhs-radio-buttons asp-for="IncludesBankHolidays"
                                   values="@Model.BankHolidayOptions"
                                   display-name="Text"
                                   value-name="Value" />
            </nhs-fieldset-form-label>

            <nhs-textarea asp-for="AdditionalInformation"
                       label-text="Additional information (optional)"
                       label-hint="Provide additional information about this support type." number-of-rows="8" />

            <nhs-submit-button />
        </form>
        @if (Model.CanDelete)
        {
            <vc:nhs-delete-button url="@Url.Action(
                                          nameof(ServiceLevelAgreementsController.DeleteServiceAvailabilityTimes),
                                          typeof(ServiceLevelAgreementsController).ControllerName(),
                                          new { solutionId = Model.SolutionId, serviceAvailabilityTimesId = Model.ServiceAvailabilityTimesId })"
                                  text="Delete service availability times" />
        }
        </div>
    </div>
