@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ServiceLevelAgreements.AddSlaTypeModel
@{ 
    ViewBag.Title = Model.Title;
}
<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionName"
                        advice="Select the type of Catalogue Solution this Service Level Agreement covers." />
        <form method="post">
            <input type="hidden" asp-for="@Model.Title" />
            <input type="hidden" asp-for="@Model.SolutionName" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.BackLinkText" />
            <nhs-fieldset-form-label asp-for="@Model">
                <nhs-radio-buttons asp-for="SlaLevel"
                                   values="@Model.SlaTypes.Cast<object>()"
                                   value-name="EnumMemberName"
                                   display-name="Name" />
            </nhs-fieldset-form-label>

            <nhs-submit-button />
        </form>
    </div>
</div>
