@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ServiceLevelAgreements.EditServiceLevelAgreementModel
@{ ViewBag.Title = "Service Level Agreement"; }

<partial name="Partials/_BackLink" model="Model" />
<nhs-page-title title="@ViewBag.Title"
                caption="@Model.CatalogueItem.Name"
                advice="Let buyers know what support is provided for your Catalogue Solution and how they can contact you." />

<p class="nhsuk-heading-m">Current solution type: @ConvertSlaType(Model.ServiceLevelAgreements.SlaType)</p>
@if (Model.CatalogueItem.PublishedStatus is PublicationStatus.Published) {
    <vc:nhs-action-link text="Change solution type"
                        url="@Url.Action(
                        nameof(ServiceLevelAgreementsController.EditServiceLevelAgreementType),
                        typeof(ServiceLevelAgreementsController).ControllerName(),
                        new  { solutionId = Model.CatalogueItem.Id })" />

    <p>Use the link to select the Catalogue Solution type that this Service Level Agreement covers.</p>
} else
{
    <nhs-inset-text>You cannot change the solution type while the solution is published.</nhs-inset-text>
}

<h2>Service availability</h2>
<p>Provide information on when users can contact your support services. You must add at least one time period.</p>
<vc:nhs-action-link text="Add availability times"
                    url="@Url.Action(
                    nameof(ServiceLevelAgreementsController.AddServiceAvailabilityTimes),
                    typeof(ServiceLevelAgreementsController).ControllerName(),
                    new  { solutionId = Model.CatalogueItem.Id })" />

<nhs-table data-test-id="service-hours-table">
    <nhs-table-column>Type of support</nhs-table-column>
    <nhs-table-column>Time period</nhs-table-column>
    <nhs-table-column>Applicable days</nhs-table-column>
    <nhs-table-column>Includes bank holidays</nhs-table-column>
    <nhs-table-column>Additional information</nhs-table-column>
    <nhs-table-column>Action</nhs-table-column>
    @foreach (var item in Model.ServiceLevelAgreements.ServiceHours)
    {
        <nhs-table-row-container>
            <nhs-table-cell>@item.Category</nhs-table-cell>
            <nhs-table-cell>@item.TimeFrom.ToString("HH:mm") - @item.TimeUntil.ToString("HH:mm")</nhs-table-cell>
            <nhs-table-cell>
                @if (item.IncludedDays?.Count > 0)
                {
                    <ul>
                        @foreach (var day in item.IncludedDays)
                        {
                            <li>@day.ToString()</li>
                        }
                    </ul>
                }
                else
                {
                    <span>None</span>
                }
            </nhs-table-cell>
            <nhs-table-cell>
                @item.IncludesBankHolidays.ToYesNo()
            </nhs-table-cell>
            <nhs-table-cell style="word-break:break-word">
                @if (string.IsNullOrWhiteSpace(item.AdditionalInformation))
                {
                    <span>None</span>
                }
                else
                {
                    <span>@item.AdditionalInformation</span>
                }
            </nhs-table-cell>
            <nhs-table-cell>
                <a asp-action="@nameof(ServiceLevelAgreementsController.EditServiceAvailabilityTimes)"
                   asp-controller="@typeof(ServiceLevelAgreementsController).ControllerName()"
                   asp-route-solutionId="@item.SolutionId"
                   asp-route-serviceAvailabilityTimesId="@item.Id">
                    Edit
                </a>
            </nhs-table-cell>
        </nhs-table-row-container>
    }
</nhs-table>

<h2>Contact details</h2>
<p>Provide information on how users can contact your support services. You must add at least one contact channel.</p>
<vc:nhs-action-link text="Add contact details"
                    url="@Url.Action(
                        nameof(ServiceLevelAgreementsController.AddContact),
                        typeof(ServiceLevelAgreementsController).ControllerName(),
                        new { solutionId = Model.CatalogueItem.Id })" />

<nhs-table data-test-id="contact-details-table">
    <nhs-table-column>Channel</nhs-table-column>
    <nhs-table-column>Contact</nhs-table-column>
    <nhs-table-column>Hours available</nhs-table-column>
    <nhs-table-column>Applicable days</nhs-table-column>
    <nhs-table-column>Action</nhs-table-column>
    @foreach (var item in Model.ServiceLevelAgreements.Contacts)
    {
        <nhs-table-row-container>
            <nhs-table-cell>@item.Channel</nhs-table-cell>
            <nhs-table-cell>@item.ContactInformation</nhs-table-cell>
            <nhs-table-cell>@item.TimeFrom.ToString("HH:mm") - @item.TimeUntil.ToString("HH:mm")</nhs-table-cell>
            <nhs-table-cell>@item.ApplicableDays</nhs-table-cell>
            <nhs-table-cell>
                <a href="@Url.Action(
                                    nameof(ServiceLevelAgreementsController.EditContact),
                                    typeof(ServiceLevelAgreementsController).ControllerName(),
                                    new { solutionId = Model.CatalogueItem.Id, contactId = item.Id })
                            ">Edit</a>
            </nhs-table-cell>
        </nhs-table-row-container>
    }
</nhs-table>

<h2>Service levels</h2>
<p>Detail the levels of service you provide for users. You must add at least one type of service.</p>
<vc:nhs-action-link text="Add service levels"
                    url="@Url.Action(
                    nameof(ServiceLevelAgreementsController.AddServiceLevel),
                    typeof(ServiceLevelAgreementsController).ControllerName(),
                    new  { solutionId = Model.CatalogueItem.Id })" />

<nhs-table data-test-id="service-levels-table">
    <nhs-table-column>Type of service</nhs-table-column>
    <nhs-table-column>Service level</nhs-table-column>
    <nhs-table-column>How the service levels are measured</nhs-table-column>
    <nhs-table-column>Are service credits applied?</nhs-table-column>
    <nhs-table-column>Action</nhs-table-column>
    @foreach (var item in Model.ServiceLevelAgreements.ServiceLevels)
    {
        <nhs-table-row-container>
            <nhs-table-cell>@item.TypeOfService</nhs-table-cell>
            <nhs-table-cell>@item.ServiceLevel</nhs-table-cell>
            <nhs-table-cell>@item.HowMeasured</nhs-table-cell>
            <nhs-table-cell>@item.ServiceCredits.ToYesNo()</nhs-table-cell>
            <nhs-table-cell>
                <a asp-action="@nameof(ServiceLevelAgreementsController.EditServiceLevel)"
                   asp-controller="@typeof(ServiceLevelAgreementsController).ControllerName()"
                   asp-route-solutionId="@item.SolutionId"
                   asp-route-serviceLevelId="@item.Id">
                    Edit
                </a>
            </nhs-table-cell>
        </nhs-table-row-container>
    }
</nhs-table>

<vc:nhs-secondary-button text="Save and continue"
                         type="Primary"
                         url="@Url.Action(
                                nameof(CatalogueSolutionsController.ManageCatalogueSolution),
                                typeof(CatalogueSolutionsController).ControllerName(),
                                new { solutionId = Model.CatalogueItem.Id })" />

@{
    static string ConvertSlaType(SlaType slaType) => slaType switch
    {
        SlaType.Type1 => "Type 1",
        SlaType.Type2 => "Type 2",
        _ => throw new ArgumentOutOfRangeException(nameof(slaType)),
    };
}
