@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Quantities.SelectServiceRecipientQuantityModel

@{
    ViewBag.Title = Model.Title;
    var inputRequired = false;
}
<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row" data-test-id="perServiceRecipient">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title model="Model" />

        @if (Model.ShouldShowInset)
        {
            <nhs-inset-text>
                <p>
                    The latest practice list sizes are published on
                    <a href="https://digital.nhs.uk/data-and-information/publications/statistical/patients-registered-at-a-gp-practice"
                       target="_blank">the NHS website (opens in a new tab)</a>.
                </p>
            </nhs-inset-text>
        }

        <form method="post">
            <hidden-inputs title="Title" caption="Caption" advice="Advice" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.Source" />
            <input type="hidden" asp-for="@Model.ProvisioningType" />
            <input type="hidden" asp-for="@Model.BillingPeriod" />
            @if (Model.OrderType != null)
            {
                <input type="hidden" asp-for="@Model.OrderType.Value" name="@nameof(Model.OrderType)" />
            }

            @if (Model.OrderType?.MergerOrSplit ?? false)
            {
                var tobeValue = Model.OrderType.Value switch
                {
                    OrderTypeEnum.AssociatedServiceSplit => "split",
                    OrderTypeEnum.AssociatedServiceMerger => "retained",
                    _ => throw new InvalidOperationException("Expected only merger or split")
                };


                <h2 class="nhsuk-heading-s">
                    Service Recipient to be @tobeValue: @Model.PracticeReorganisationRecipient
                </h2>

                var perValue = Model.OrderType.Value switch
                {
                    OrderTypeEnum.AssociatedServiceSplit => "per receiving practice",
                    OrderTypeEnum.AssociatedServiceMerger => "per merging practice",
                    _ => "per practice"
                };

                <h2 class="nhsuk-heading-s">
                    @($"Quantity {perValue} {Model.BillingPeriod?.Description() ?? string.Empty}")
                </h2>
            }

            @foreach (var location in Model.ServiceRecipients.GroupBy(x => x.Location))
            {
                var count = location.Count();
                <nhs-expander label-text="@location.Key" secondary-text-title="@count.ToString()" secondary-text=" recipients added" bold-title="true" open="true">
                    <nhs-table data-test-id="additional-service-dashboard-table">
                        <nhs-table-column>Organisation </nhs-table-column>
                        <nhs-table-column>ODS code</nhs-table-column>
                        <nhs-table-column>@Model.QuantityColumnTitle</nhs-table-column>

                        @foreach (var recipient in location)
                        {
                            var index = Array.FindIndex(Model.ServiceRecipients, x => x.OdsCode.Contains(recipient.OdsCode));
                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    <input type="hidden" asp-for="@Model.ServiceRecipients[index].Name" />
                                    <input type="hidden" asp-for="@Model.ServiceRecipients[index].OdsCode" />
                                    <input type="hidden" asp-for="@Model.ServiceRecipients[index].Quantity" />
                                    <input type="hidden" asp-for="@Model.ServiceRecipients[index].Location" />
                                    <div style="margin-top: 6px">
                                        @Model.ServiceRecipients[index].Name
                                    </div>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <div style="margin-top: 6px">
                                        @Model.ServiceRecipients[index].OdsCode
                                    </div>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    @if (Model.ServiceRecipients[index].Quantity > 0 && (Model.OrderType?.MergerOrSplit ?? false))
                                    {
                                        <input type="hidden" asp-for="@Model.ServiceRecipients[index].InputQuantity" />
                                        @($"{Model.ServiceRecipients[index].Quantity:N0}")
                                    }
                                    else
                                    {
                                        inputRequired = true;
                                        <nhs-input asp-for="@Model.ServiceRecipients[index].InputQuantity"
                                                   input-width="Five"
                                                   data-test-id="input_quantity" />
                                    }
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                </nhs-expander>
            }

            @if (Model.PreviouslySelected?.Any() ?? false)
            {
                <div id="previously-selected-quantities">
                    <nhs-details label-text="View Service Recipients from the original order">
                        <ul>
                            @foreach (var (recipient, index) in Model.PreviouslySelected.Select((x, i) => (x, i)))
                            {
                                <input type="hidden" asp-for="PreviouslySelected[index].Name" />
                                <input type="hidden" asp-for="PreviouslySelected[index].OdsCode" />
                                <input type="hidden" asp-for="PreviouslySelected[index].InputQuantity" />
                                <li>@recipient.Description : @recipient.InputQuantity</li>
                            }
                        </ul>
                    </nhs-details>
                </div>
            }

            <div class="nhsuk-u-margin-top-9">
                @{
                    var submitButton = !inputRequired && Model.OrderType.MergerOrSplit
                    ? "Continue"
                    : string.Empty; // use the default text
                }
                <nhs-submit-button text="@submitButton" />
            </div>
        </form>
    </div>
</div>
