@model ServiceLevelScoringModel

@{
    ViewBag.Title = "Compare and score service levels";
}
<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        advice="Compare and score shortlisted solutions based on your service level criteria."
                        caption="@Model.CompetitionName"/>

        <partial name="_ScoringGuidancePartial"/>

        <h2>Your service level criteria</h2>

        <nhs-card>
            <h3>Core support hours</h3>

            <nhs-summary-list>
                <nhs-summary-list-row label-text="Times">@($"{Model.From:HH:mm} to {Model.Until:HH:mm}")</nhs-summary-list-row>
                <nhs-summary-list-row label-text="Days">
                    <ul>
                        @foreach (var day in Model.ApplicableDays)
                        {
                            <li>@day.ToString()</li>
                        }
                    </ul>
                </nhs-summary-list-row>
            </nhs-summary-list>
        </nhs-card>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <form method="post">
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="From"/>
            <input type="hidden" asp-for="Until"/>
            @for (var i = 0; i < Model.ApplicableDays.Count; i++)
            {
                <input type="hidden" asp-for="@Model.ApplicableDays[i]" />
            }

            @for (var i = 0; i < Model.SolutionScores.Count; i++)
            {
                var solutionScoreModel = Model.SolutionScores[i];
                var solutionName = solutionScoreModel.Solution.CatalogueItem.Name;

                <h2>@solutionName</h2>
                <nhs-expander label-text="View @solutionName implementation details" open="true">
                    <h2>@solutionScoreModel.Solution.CatalogueItem.Name</h2>

                    <b>These are the levels of service the supplier has committed to for this Catalogue Solution:</b>

                    <br/>
                    <br/>

                    <nhs-table label-text="Service availability">
                        <nhs-table-column>Category</nhs-table-column>
                        <nhs-table-column>Time period</nhs-table-column>
                        <nhs-table-column>Applicable days</nhs-table-column>

                        @foreach (var serviceLevelItem in solutionScoreModel.Solution.ServiceLevelAgreement.ServiceHours)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>@serviceLevelItem.Category</nhs-table-cell>
                                <nhs-table-cell>@($"{serviceLevelItem.TimeFrom:HH:mm} - {serviceLevelItem.TimeUntil:HH:mm}")</nhs-table-cell>
                                <nhs-table-cell>@serviceLevelItem.ApplicableDays</nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>

                    <nhs-fieldset-form-label asp-for="@Model.SolutionScores[i]"
                                             label-text="What score would you give this solution?"
                                             label-hint="Score each solution between 1 and 5. The higher the score, the better you think a solution meets your needs." size="Medium">
                        <input type="hidden" asp-for="@Model.SolutionScores[i].SolutionId"/>
                        <nhs-input asp-for="@Model.SolutionScores[i].Score" input-width="Three"/>
                    </nhs-fieldset-form-label>

                    <nhs-fieldset-form-label asp-for="@Model.SolutionScores[i]"
                                             label-text="Why have you given this score?"
                                             label-hint="Provide a justification for the score you have given this solution." size="Medium">
                        <input type="hidden" asp-for="@Model.SolutionScores[i].SolutionId"/>
                        <nhs-textarea asp-for="@Model.SolutionScores[i].Justification" />
                    </nhs-fieldset-form-label>
                </nhs-expander>
                @if (i == Model.SolutionScores.Count - 1)
                {
                    <br/>
                    <nhs-button-group>
                        <nhs-submit-button/>

                        <vc:nhs-secondary-button text="Download service levels comparison (PDF)"
                                             url="@Model.PdfUrl"
                                             type="Secondary" />
                    </nhs-button-group>
                }
                <hr/>
            }
        </form>
    </div>
</div>
