@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.SolutionsFilterResultsModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Filter Results">
    <title>Filter Results</title>
    <link rel="stylesheet" href="~/css/main.min.css">
    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link rel="shortcut icon" href="~/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="~/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="~/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="~/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="~/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="~/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="~/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="~/nhsuk-frontend/assets/favicons/largetile-310x310.png">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <style>
        @@media print {
            @@page {
                size: A4 portrait;
                max-height: 100%;
                max-width: 100%
            }
        }

        .nhsuk-table-responsive th {
            font-size: 1em;
            white-space: normal;
        }

        .nhsuk-table-responsive td {
            font-size: 1em;
        }

        .pdf-container {
            -webkit-break-inside: avoid;
            break-inside: avoid;
        }

        p {
            font-size: 22px;
        }

        .description {
            font-size: 24px;
        }

        h1 {
            font-size: 28px;
        }

        h2 {
            width: 100%;
            font-size: 28px;
            border-bottom: 1px solid lightgray;
        }

        table {
            -webkit-break-inside: auto;
            break-inside: auto;
        }

        td, thead th {
            border: 0;
            padding-top: 4px;
            padding-right: 12px;
            padding-bottom: 0;
            font-size: 22px;
        }

        th {
            white-space: nowrap;
        }

        tr {
            -ms-break-after: auto;
            -webkit-break-after: auto;
            -webkit-break-inside: avoid;
            break-after: auto;
            break-inside: avoid;
            font-size: 22px;
        }

        li{
            font-size: 22px;
        }

        tbody tr.alternating:nth-child(even) {
            background-color: #F8F8F8;
        }

        td:last-child {
            padding-right: 0;
        }

        .pdf-summary-list {
            -webkit-break-inside: avoid;
            break-inside: avoid;
            display: table;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.47368;
            margin-bottom: 40px;
            table-layout: fixed;
            vertical-align: top;
            width: 100%;
        }

        .pdf-summary-list-row {
            display: table-row;
            margin-bottom: 32px;
        }

            .pdf-summary-list-row div {
                display: table-cell;
                padding-top: 10px;
                padding-right: 24px;
                padding-bottom: 10px;
                width: 50%;
                border-bottom: 1px solid lightgray;
            }

                .pdf-summary-list-row div:first-child {
                    font-weight: 600;
                    width: 30%;
                }


        .nhsuk-main-wrapper {
            padding-top: 5px;
        }
    </style>

</head>
<body class="nhsuk-bc-print">
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1>Results for shortlist: @Model.ReviewFilter.FilterDetails.Name</h1>
                <p class="description">@Model.ReviewFilter.FilterDetails.Description</p>
                <p>Date generated <b>@Model.DateAndTime</b></p>

                <h2 class="underlined">Filters used to create shortlist</h2>
                @if (Model.ReviewFilter.HasEpics())
                {
                    <div class="pdf-container">
                        <h3>Capabilities and Epics</h3>
                        <table>
                            <thead>
                            <tr>
                                <th>Capability</th>
                                <th>Epics</th>
                            </tr>
                            </thead>
                            @foreach (var capability in Model.ReviewFilter.FilterDetails.Capabilities)
                            {
                                <tr class="alternating">
                                    <td>
                                        @capability.Key
                                    </td>
                                    <td>
                                        @if (capability.Value is null || !capability.Value.Any())
                                        {
                                            <span>
                                                None selected
                                            </span>
                                        }
                                        else
                                        {
                                            <ul>
                                                @foreach (var epic in capability.Value)
                                                {
                                                    <li>
                                                        @epic
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <div class="pdf-container">
                        <h2>Capabilities</h2>
                        @foreach (var capability in Model.ReviewFilter.FilterDetails.Capabilities)
                        {
                            <p>@capability.Key</p>
                        }
                    </div>
                }
                <div class="pdf-container">
                    <pdf-summary-list>
                        <pdf-summary-list-row label-text="Client application type">
                            @if (!Model.ReviewFilter.HasApplicationTypes())
                            {
                                <span>
                                    None selected
                                </span>
                            }
                            else
                            {
                                @if (Model.ReviewFilter.FilterDetails.ApplicationTypes.Count == 1)
                                {
                                    <span>
                                        @Model.ReviewFilter.FilterDetails.ApplicationTypes.First().Name()
                                    </span>
                                }
                                else
                                {
                                    <ul>
                                        @foreach (var item in Model.ReviewFilter.FilterDetails.ApplicationTypes)
                                        {
                                            <li>
                                                @item.Name()
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </pdf-summary-list-row>
                        <pdf-summary-list-row label-text="Framework">
                            <span>
                                @(Model.ReviewFilter.HasFramework() ? Model.ReviewFilter.FilterDetails.FrameworkName : "None selected")
                            </span>
                        </pdf-summary-list-row>
                        
                        <pdf-summary-list-row label-text="Hosting type">
                            @if (!Model.ReviewFilter.HasHostingTypes())
                            {
                                <span>
                                    None selected
                                </span>
                            }
                            else
                            {
                                @if (Model.ReviewFilter.FilterDetails.HostingTypes.Count == 1)
                                {
                                    <span>
                                        @Model.ReviewFilter.FilterDetails.HostingTypes.First().Name()
                                    </span>
                                }
                                else
                                {
                                    <ul>
                                        @foreach (var item in Model.ReviewFilter.FilterDetails.HostingTypes)
                                        {
                                            <li>
                                                @item.Name()
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </pdf-summary-list-row>
                    </pdf-summary-list>
                </div>

                @if (Model.ResultsCount == 0)
                {
                    <pdf-summary-list>
                        <pdf-summary-list-row label-text="Total number of results">
                            @Model.ResultsCount
                        </pdf-summary-list-row>
                    </pdf-summary-list>
                    <div class="pdf-container">
                        <p>
                            You'll need to use a different filter.
                        </p>
                    </div>
                }
                else
                {
                    <div style="page-break-after: always"></div>
                        <h2 class="underlined">Results summary and frameworks</h2>
                        <pdf-summary-list>
                            <pdf-summary-list-row label-text="Total number of results">
                                @Model.ResultsCount
                            </pdf-summary-list-row>
                        </pdf-summary-list>
                    <br/>
                    @foreach(var frameworkResults in Model.ResultsForFramework)
                    {
                        <h2 class="underlined">Results for @frameworkResults.FrameworkName framework (@frameworkResults.CatalogueItems.Count)</h2>
                        @foreach (var item in frameworkResults.CatalogueItems)
                        {
                            <pdf-summary-list>
                                <pdf-summary-list-row label-text="Solution name">
                                    @item.Name
                                </pdf-summary-list-row>
                                <pdf-summary-list-row label-text="Supplier">
                                    @item.Supplier.Name
                                </pdf-summary-list-row>
                                <pdf-summary-list-row label-text="Description">
                                    @item.Solution.Summary
                                </pdf-summary-list-row>
                            </pdf-summary-list>
                        }
                    }
                        
                }
            </div>
        </div>
    </main>
</div>
</body>
</html>
