@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.SolutionsFilterResultsModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Filter Results">
    <title>Filter Results</title>
    <link rel="stylesheet" href="~/css/main.min.css">
    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link rel="shortcut icon" href="~/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="~/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="~/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="~/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="~/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="~/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="~/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="~/nhsuk-frontend/assets/favicons/largetile-310x310.png">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <style>
        @@media print {
            @@page {
                size: A4 portrait;
                max-height: 100%;
                max-width: 100%
            }
        }

        .nhsuk-table-responsive th {
            font-size: 1em;
            white-space: normal;
        }

        .nhsuk-table-responsive td {
            font-size: 1em;
        }

        .pdf-container {
            -webkit-break-inside: avoid;
            break-inside: avoid;
        }

        table {
            -webkit-break-inside: auto;
            break-inside: auto;
        }

        td, thead th {
            border: 0;
            padding-top: 4px;
            padding-right: 12px;
            padding-bottom: 0;
        }

        th {
            white-space: nowrap;
        }

        tr {
            -ms-break-after: auto;
            -webkit-break-after: auto;
            -webkit-break-inside: avoid;
            break-after: auto;
            break-inside: avoid;
        }

        tbody tr.alternating:nth-child(even) {
            background-color: #F8F8F8;
        }

        td:last-child {
            padding-right: 0;
        }

        .pdf-summary-list {
            -webkit-break-inside: avoid;
            break-inside: avoid;
            display: table;
            font-size: 1.1875rem;
            font-weight: 400;
            line-height: 1.47368;
            margin-bottom: 40px;
            table-layout: fixed;
            vertical-align: top;
            width: 100%;
        }

        .pdf-summary-list-row {
            display: table-row;
            margin-bottom: 32px;
        }

            .pdf-summary-list-row:nth-child(even) {
                background-color: #F8F8F8;
            }

            .pdf-summary-list-row div {
                display: table-cell;
                padding-top: 0;
                padding-right: 24px;
                padding-bottom: 0;
                width: 50%;
            }

                .pdf-summary-list-row div:first-child {
                    font-weight: 600;
                    width: 30%;
                }

        .nhsuk-main-wrapper {
            padding-top: 5px;
        }
    </style>

</head>
<body class="nhsuk-bc-print">
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <nhs-page-title model="@Model.Title"/>
                <pdf-summary-list>
                    <pdf-summary-list-row label-text="Date and time">
                        @Model.DateAndTime
                    </pdf-summary-list-row>
                    <pdf-summary-list-row label-text="Filter name">
                        @Model.ReviewFilter.FilterDetails.Name
                    </pdf-summary-list-row>
                    <pdf-summary-list-row label-text="Description">
                        @Model.ReviewFilter.FilterDetails.Description
                    </pdf-summary-list-row>
                </pdf-summary-list>
                @if (Model.ReviewFilter.HasEpics())
                {
                    <div class="pdf-container">
                        <h2>Capabilities and Epics selected</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>Capability</th>
                                <th>Epics</th>
                            </tr>
                            </thead>
                            @foreach (var capability in Model.ReviewFilter.FilterDetails.Capabilities)
                            {
                                <tr class="alternating">
                                    <td>
                                        @capability.Key
                                    </td>
                                    <td>
                                        @if (capability.Value is null || !capability.Value.Any())
                                        {
                                            <p>
                                                None selected
                                            </p>
                                        }
                                        else
                                        {
                                            @if (capability.Value.Count() == 1)
                                            {
                                                <p>
                                                    @capability.Value.First()
                                                </p>
                                            }
                                            else
                                            {
                                                <ul>
                                                    @foreach (var epic in capability.Value)
                                                    {
                                                        <li>
                                                            @epic
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <div class="pdf-container">
                        <h2>Capabilities</h2>
                        @foreach (var capability in Model.ReviewFilter.FilterDetails.Capabilities)
                        {
                            <p>@capability.Key</p>
                        }
                    </div>
                }
                <div class="pdf-container">
                    <h2>Additional filters selected</h2>
                    <pdf-summary-list>
                        <pdf-summary-list-row label-text="Framework">
                            <p>
                                @(Model.ReviewFilter.HasFramework() ? Model.ReviewFilter.FilterDetails.FrameworkName : "None selected")
                            </p>
                        </pdf-summary-list-row>
                        <pdf-summary-list-row label-text="Application type">
                            @if (!Model.ReviewFilter.HasApplicationTypes())
                            {
                                <p>
                                    None selected
                                </p>
                            }
                            else
                            {
                                    @if (Model.ReviewFilter.FilterDetails.ApplicationTypes.Count == 1)
                                {
                                    <p>
                                            @Model.ReviewFilter.FilterDetails.ApplicationTypes.First().Name()
                                    </p>
                                }
                                else
                                {
                                    <ul>
                                            @foreach (var item in Model.ReviewFilter.FilterDetails.ApplicationTypes)
                                        {
                                            <li>
                                                @item.Name()
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </pdf-summary-list-row>
                        <pdf-summary-list-row label-text="Hosting type">
                            @if (!Model.ReviewFilter.HasHostingTypes())
                            {
                                <p>
                                    None selected
                                </p>
                            }
                            else
                            {
                                @if (Model.ReviewFilter.FilterDetails.HostingTypes.Count == 1)
                                {
                                    <p>
                                        @Model.ReviewFilter.FilterDetails.HostingTypes.First().Name()
                                    </p>
                                }
                                else
                                {
                                    <ul>
                                        @foreach (var item in Model.ReviewFilter.FilterDetails.HostingTypes)
                                        {
                                            <li>
                                                @item.Name()
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </pdf-summary-list-row>
                    </pdf-summary-list>
                </div>
                @if (Model.CatalogueItems.Count == 0)
                {
                    <partial name="/Areas/Solutions/Views/Shared/_SearchResultsHeader.cshtml" model="@(Model.CatalogueItems.Count)"/>
                    <div class="pdf-container">
                        <p>
                            You'll need to use a different filter.
                        </p>
                    </div>
                }
                else
                {
                    <div style="page-break-after: always"></div>
                    <partial name="/Areas/Solutions/Views/Shared/_SearchResultsHeader.cshtml" model="@(Model.CatalogueItems.Count)"/>
                    <br/>
                    @foreach (var item in Model.CatalogueItems)
                    {
                        <div class="pdf-container">
                            <partial name="/Areas/Solutions/Views/Shared/_SolutionSearchDisplay.cshtml" model="@(new SolutionSearchResultModel(item, Model.CapabilitiesAndEpics, true))"/>
                        </div>
                    }
                }
            </div>
        </div>
    </main>
</div>
</body>
</html>
