@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels
@model AddEditFlatListPriceModel

@{
    ViewBag.Title = Model.CataloguePriceId is null
        ? "Add a flat list price"
        : "Edit a flat list price";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.SelectedProvisioningType),
									     @nameof(Model.SelectedPublicationStatus),
										 @nameof(Model.OnDemandQuantityCalculationType),
										 @nameof(Model.DeclarativeQuantityCalculationType),
										 @nameof(Model.SelectedCalculationType)" />
        <nhs-page-title
            title="@ViewBag.Title"
            caption="@Model.CatalogueItemName"
            advice="Provide the following information about the pricing model for your @(Model.CatalogueItemType.Name()).">
        </nhs-page-title>

        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="CataloguePriceId" />
            <input type="hidden" asp-for="CatalogueItemId" />
            <input type="hidden" asp-for="CatalogueItemName" />
            <input type="hidden" asp-for="CataloguePricePublicationStatus" />
            <input type="hidden" asp-for="DeleteListPriceUrl" />
            <input type="hidden" asp-for="PracticeReorganisation" />

            @if ((Model.PracticeReorganisation ?? 0) != 0)
            {
                <input type="hidden" asp-for="SelectedProvisioningType" value="@ProvisioningType.Declarative" />
                <input type="hidden" asp-for="DeclarativeQuantityCalculationType" value="@CataloguePriceQuantityCalculationType.PerServiceRecipient" />
                <input type="hidden" asp-for="SelectedCalculationType" value="@CataloguePriceCalculationType.Volume" />

                <nhs-inset-text>As this service supports the merging or splitting of practices, the provisioning and calculation types cannot be changed.</nhs-inset-text>
                <nhs-summary-list>
                    <nhs-summary-list-row label-text="Provisioning type">Declarative per Service Recipient</nhs-summary-list-row>
                    <nhs-summary-list-row label-text="Calculation type">Volume</nhs-summary-list-row>
                </nhs-summary-list>   
            }
            else
            {
                @if (Model.CatalogueItemType == CatalogueItemType.AssociatedService && Model.CataloguePriceId is not null)
                {
                    <nhs-inset-text>For Associated Services that support mergers and splits, the provisioning type must be declarative per Service Recipient and the calculation type must be volume.</nhs-inset-text>
                }
                <nhs-fieldset-form-label asp-for="SelectedProvisioningType" label-text="Provisioning type" size="Medium">
                    <nhs-radio-button-container>
                        <nhs-radio-button asp-for="SelectedProvisioningType"
                                          value="Model.AvailableProvisioningTypes.ElementAt(0)"
                                          value-name="Value"
                                          display-name="Text"
                                          index="0" />

                        <nhs-radio-button asp-for="SelectedProvisioningType"
                                          value="Model.AvailableProvisioningTypes.ElementAt(1)"
                                          value-name="Value"
                                          display-name="Text"
                                          index="1">

                            <nhs-fieldset-form-label asp-for="DeclarativeQuantityCalculationType" label-text="How are quantities for this price calculated?" size="Small">
                                <nhs-radio-buttons asp-for="DeclarativeQuantityCalculationType"
                                                   values="@Model.AvailableQuantityCalculationTypes.Cast<object>()"
                                                   display-name="Text"
                                                   value-name="Value" />
                            </nhs-fieldset-form-label>

                            <nhs-select asp-for="DeclarativeBillingPeriod"
                                        asp-items="Model.AvailableBillingPeriods"
                                        label-text="Billing period (optional)"
                                        label-hint="Select if it’s a recurring payment either per month or per year."
                                        use-default-value="false" />
                        </nhs-radio-button>

                        <nhs-radio-button asp-for="SelectedProvisioningType"
                                          value="Model.AvailableProvisioningTypes.ElementAt(2)"
                                          value-name="Value"
                                          display-name="Text"
                                          index="2">

                            <nhs-fieldset-form-label asp-for="OnDemandQuantityCalculationType" label-text="How are quantities for this price calculated?" size="Small">
                                <nhs-radio-buttons asp-for="OnDemandQuantityCalculationType"
                                                   values="@Model.AvailableQuantityCalculationTypes.Cast<object>()"
                                                   display-name="Text"
                                                   value-name="Value" />
                            </nhs-fieldset-form-label>

                            <nhs-select asp-for="OnDemandBillingPeriod"
                                        asp-items="Model.AvailableBillingPeriods"
                                        label-text="Billing period (optional)"
                                        label-hint="Select if it’s a recurring payment either per month or per year."
                                        use-default-value="false" />
                        </nhs-radio-button>
                    </nhs-radio-button-container>
                </nhs-fieldset-form-label>

                <nhs-fieldset-form-label asp-for="SelectedCalculationType" label-text="Calculation type" size="Medium">
                    <nhs-radio-buttons asp-for="SelectedCalculationType"
                                       values="@Model.AvailableCalculationTypes.Cast<object>()"
                                       display-name="Text"
                                       value-name="Value"
                                       hint-name="Advice" />
                </nhs-fieldset-form-label>
            }
            

            <nhs-bookended-input
                asp-for="InputPrice"
                label-text="Price"
                label-hint="Provide the list price in pounds to a maximum of 4 decimal places."
                prefix="£" />

            <nhs-input
                label-text="Unit"
                label-hint="For example, per consultation, per practice, per licence."
                asp-for="UnitDescription" />

			<nhs-input
                label-text="Units"
                label-hint="Pluralised version of your unit. For example, patients, users, licences."
                asp-for="RangeDefinition" />

            <nhs-textarea
                label-text="Unit definition (optional)"
                label-hint="For example, if the unit is per day, between what hours?"
                asp-for="UnitDefinition"
                character-count="false" />

            <nhs-fieldset-form-label label-text="Publication status" size="Medium" asp-for="SelectedPublicationStatus">
                <nhs-radio-buttons
                    asp-for="SelectedPublicationStatus"
                    values="Model.AvailablePublicationStatuses.Cast<object>()"
                    display-name="Text"
                    value-name="Value">
                </nhs-radio-buttons>
            </nhs-fieldset-form-label>

            <nhs-submit-button />
        </form>

        @if (Model.CataloguePriceId is not null && Model.CataloguePricePublicationStatus != PublicationStatus.Published)
        {
            <vc:nhs-delete-button url="@Model.DeleteListPriceUrl" text="Delete list price"></vc:nhs-delete-button>
        }
    </div>
</div>
