@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels
@model AddTieredListPriceModel

@{
    ViewBag.Title = "Add a tiered list price";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.SelectedProvisioningType),@nameof(Model.SelectedCalculationType),@nameof(Model.OnDemandQuantityCalculationType),@nameof(Model.DeclarativeQuantityCalculationType)" />
        <nhs-page-title
            title="@ViewBag.Title"
            caption="@Model.CatalogueItemName"
            advice="Provide the following information about the pricing model for your @(Model.CatalogueItemType.Name()).">
        </nhs-page-title>

        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="CataloguePriceId" />
            <input type="hidden" asp-for="CatalogueItemId" />
            <input type="hidden" asp-for="CatalogueItemName" />
            <input type="hidden" asp-for="CatalogueItemType" />
            <input type="hidden" asp-for="ServiceId" />

            @if ((Model.PracticeReorganisation ?? 0) != 0)
            {
                <partial name ="ListPrices/_MergerSplitFixedTypes" model="Model" />
                {
                    Model.SelectedProvisioningType = ProvisioningType.Declarative;
                    Model.DeclarativeQuantityCalculationType = CataloguePriceQuantityCalculationType.PerServiceRecipient;
                    Model.SelectedCalculationType = CataloguePriceCalculationType.Volume;
                }
            }
            else
            {
                <nhs-fieldset-form-label asp-for="SelectedProvisioningType" label-text="Provisioning type" size="Medium">
                    <nhs-radio-button-container>
                        <nhs-radio-button asp-for="SelectedProvisioningType"
                                          value="Model.AvailableProvisioningTypes.ElementAt(0)"
                                          value-name="Value"
                                          display-name="Text"
                                          index="0" />

                        <nhs-radio-button asp-for="SelectedProvisioningType"
                                          value="Model.AvailableProvisioningTypes.ElementAt(1)"
                                          value-name="Value"
                                          display-name="Text"
                                          index="1">

                            <nhs-fieldset-form-label asp-for="DeclarativeQuantityCalculationType" label-text="How are quantities for this price calculated?" size="Small">
                                <nhs-radio-buttons asp-for="DeclarativeQuantityCalculationType"
                                                   values="@Model.AvailableQuantityCalculationTypes.Cast<object>()"
                                                   display-name="Text"
                                                   value-name="Value"/>
                            </nhs-fieldset-form-label>

                            <nhs-select asp-for="DeclarativeBillingPeriod"
                                        asp-items="Model.AvailableBillingPeriods"
                                        label-text="Billing period (optional)"
                                        label-hint="Select if it’s a recurring payment either per month or per year."
                                        use-default-value="false" />
                        </nhs-radio-button>

                        <nhs-radio-button asp-for="SelectedProvisioningType"
                                          value="Model.AvailableProvisioningTypes.ElementAt(2)"
                                          value-name="Value"
                                          display-name="Text"
                                          index="2">

                            <nhs-fieldset-form-label asp-for="OnDemandQuantityCalculationType"  label-text="How are quantities for this price calculated?" size="Small">
                                <nhs-radio-buttons asp-for="OnDemandQuantityCalculationType"
                                                   values="@Model.AvailableQuantityCalculationTypes.Cast<object>()"
                                                   display-name="Text"
                                                   value-name="Value"/>
                            </nhs-fieldset-form-label>

                            <nhs-select asp-for="OnDemandBillingPeriod"
                                        asp-items="Model.AvailableBillingPeriods"
                                        label-text="Billing period (optional)"
                                        label-hint="Select if it’s a recurring payment either per month or per year."
                                        use-default-value="false"/>
                        </nhs-radio-button>
                    </nhs-radio-button-container>
                </nhs-fieldset-form-label>

                <nhs-fieldset-form-label asp-for="SelectedCalculationType" label-text="Calculation type" size="Medium">
                        <nhs-radio-buttons asp-for="SelectedCalculationType"
                                            values="@Model.AvailableCalculationTypes.Cast<object>()"
                                            display-name="Text"
                                            value-name="Value"
                                            hint-name="Advice" />
                </nhs-fieldset-form-label>
            }

            <nhs-input
                label-text="Unit"
                label-hint="For example, per consultation, per practice, per licence."
                asp-for="UnitDescription" />

			<nhs-input
                label-text="Range definition"
                label-hint="For example, patients, users, licences."
                asp-for="RangeDefinition" />

            <nhs-textarea
                label-text="Unit definition (optional)"
                label-hint="For example, if the unit is per day, between what hours?"
                asp-for="UnitDefinition"
                character-count="false" />

            <nhs-submit-button />
        </form>

        @if (Model.CataloguePriceId is not null)
        {
            <vc:nhs-delete-button url="@Model.DeleteListPriceUrl"
                text="Delete list price"></vc:nhs-delete-button>
        }
    </div>
</div>
