@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.InsetText
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Table
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model TieredPriceTiersModel

@{
    ViewBag.Title = "Tiered list price information";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.SelectedPublicationStatus)"/>
        <nhs-page-title
            title="@ViewBag.Title"
            caption="@Model.CatalogueItemName"
            advice="Provide information about the pricing tiers available for your @(Model.CatalogueItemType.Name()).">
        </nhs-page-title>

		@if(Model.Tiers.Count < Model.MaximumNumberOfTiers){
        <vc:nhs-action-link
            text="Add a pricing tier"
             url="@Model.AddTieredPriceTierUrl" />
		}else{
			<nhs-inset-text data-test-id="maximum-tiers-reached-inset">
				The maximum number of tiers you can add is @Model.MaximumNumberOfTiers. You cannot add any more tiers for this price.
			</nhs-inset-text>
		}

        @if(Model.Tiers.Any())
        {
            var orderedTiers = Model.Tiers.OrderBy(p => p.LowerRange).ToList();
            <div data-test-id="tiered-price-table">
                <nhs-table>
                    <nhs-table-column>Tier</nhs-table-column>
                    <nhs-table-column>Price</nhs-table-column>
                    <nhs-table-column>Range</nhs-table-column>
                    <nhs-table-column>Action</nhs-table-column>
                    @for(int i = 0; i < orderedTiers.Count; i++)
                    {
                        var tier = orderedTiers[i];
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                @GetTierName(i)
                            </nhs-table-cell>
                            <nhs-table-cell>
                                £@tier.Price
                            </nhs-table-cell>
                            <nhs-table-cell>
                                @tier.GetRangeDescription()
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <a href="@GetEditTierLink(tier)" data-test-id="edit-tier-price-@(i+1)">Edit</a>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
            </div>
        }

        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="CataloguePriceId" />
            <input type="hidden" asp-for="CatalogueItemId" />
            <input type="hidden" asp-for="ServiceId" />
            <input type="hidden" asp-for="CatalogueItemName" />
            <input type="hidden" asp-for="CatalogueItemType" />
            <input type="hidden" asp-for="AddTieredPriceTierUrl" />
            <nhs-fieldset-form-label label-text="Publication status" size="Medium" asp-for="SelectedPublicationStatus">
                <nhs-radio-buttons
                    asp-for="SelectedPublicationStatus"
                    values="@TieredPriceTiersModel.AvailablePublicationStatuses.Cast<object>()"
                    display-name="Text"
                    value-name="Value">
                </nhs-radio-buttons>
            </nhs-fieldset-form-label>

            <nhs-submit-button />
        </form>
    </div>
</div>

@{
    static string GetTierName(int index) => $"Tier {index + 1}";

    string GetEditTierLink(CataloguePriceTier tier) => Model.CatalogueItemType switch {
        CatalogueItemType.Solution => Url.Action(
            nameof(CatalogueSolutionListPriceController.EditTieredPriceTier),
            typeof(CatalogueSolutionListPriceController).ControllerName(),
            new { solutionId = Model.CatalogueItemId, cataloguePriceId = tier.CataloguePriceId, tierId = tier.Id }),
        CatalogueItemType.AdditionalService => Url.Action(
            nameof(AdditionalServiceListPriceController.EditTieredPriceTier),
            typeof(AdditionalServiceListPriceController).ControllerName(),
            new { solutionId = Model.CatalogueItemId, additionalServiceId = Model.ServiceId, cataloguePriceId = tier.CataloguePriceId, tierId = tier.Id }),
        CatalogueItemType.AssociatedService => Url.Action(
            nameof(AssociatedServiceListPriceController.EditTieredPriceTier),
            typeof(AssociatedServiceListPriceController).ControllerName(),
            new { solutionId = Model.CatalogueItemId, associatedServiceId = Model.ServiceId, cataloguePriceId = tier.CataloguePriceId, tierId = tier.Id }),
        _ => string.Empty,
        };
}
