@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AdditionalServices.AdditionalServiceModel
@{ ViewBag.Title = Model.Title; }

<div data-test-id="additional-services-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div>
            <nhs-page-title title="@ViewBag.Title"
                            advice="Add the Additional Services you want to be part of this order." />
            <nhs-fieldset-form-container asp-for="@Model"
                                         label-text="Order description"
                                         label-hint="@Model.OrderDescription"
                                         size="Large">

                <vc:nhs-secondary-button url="@Url.Action(
                                                nameof(AdditionalServicesController.SelectAdditionalService),
                                                typeof(AdditionalServicesController).ControllerName(),
                                                new {Model.OdsCode, Model.CallOffId})"
                                         text="Add an Additional Service"
                                         use-primary-colour="false" />

                <nhs-table data-test-id="added-order-items">
                    <nhs-table-column>Additional Service</nhs-table-column>
                    <nhs-table-column>Unit of order</nhs-table-column>
                    <nhs-table-column>Service Recipients (ODS code)</nhs-table-column>
                    @foreach (var item in Model.OrderItems)
                    {
        <nhs-table-row-container>
            <nhs-table-cell>
                <a data-test-id="@item.CatalogueItemId-catalogueItemName"
                   asp-controller="@typeof(AdditionalServicesController).ControllerName()"
                   asp-action="@nameof(AdditionalServicesController.EditAdditionalService)"
                   asp-route-callOffId="@Model.CallOffId"
                   asp-route-odsCode="@Model.OdsCode"
                   asp-route-catalogueItemId="@item.CatalogueItemId">@item.CatalogueItem.Name</a>
            </nhs-table-cell>
            <nhs-table-cell>
                <div>@item.CataloguePrice.PricingUnit.Description @item.CataloguePrice.TimeUnit?.Description()</div>
            </nhs-table-cell>
            <nhs-table-cell>
                <nhs-details label-text="Service recipients (ODS code)">
                    @foreach (var recipient in item.OrderItemRecipients)
                    {@($"{recipient.Recipient.Name}({recipient.Recipient.OdsCode})")
                        <br><br>}
                </nhs-details>
            </nhs-table-cell>
        </nhs-table-row-container>}
                </nhs-table>
            </nhs-fieldset-form-container>
            <vc:nhs-secondary-button text="Continue"
                                     use-primary-colour="true"
                                     url="@Url.Action(
                                     nameof(OrderController.Order),
                                     typeof(OrderController).ControllerName(),
                                     new { Model.OdsCode, Model.CallOffId })" />
        </div>
    </div>
</div>
