@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AdditionalServices.SelectAdditionalServiceModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="additional-service-select-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title" advice="These are the Additional Services for the Catalogue Solutions you've added to this order. Select the one you want to purchase from the list." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Select Additional Service">
                    <nhs-radio-buttons asp-for="SelectedSolutionId"
                                       values="@Model.Solutions"
                                       value-name="CatalogueItemId"
                                       display-name="Name" />
                </nhs-fieldset-form-label>
                <nhs-submit-button text="Continue" />               
            </form>
        </div>
    </div>
</div>
