@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.SolutionSelection.SelectServicesModel
@{
    ViewBag.Title = "Additional Services";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Select the Additional Services that you want to add to your order."/>

        @if (Model!.ExistingServices.Any())
        {
            <div id="existing-services">
                <h2>Selected Additional Services</h2>
                <p>These services have already been added to your order:</p>
                <ul>
                    @foreach (var item in Model.ExistingServices)
                    {
                        <li>@item</li>
                    }
                </ul>
                <hr/>
            </div>
        }
        
        <form method="post">
            @if (Model.Services.Any())
            {
                var title = Model.ExistingServices.Any()
                    ? "Other Additional Services available"
                    : "Additional Services available";

                <div id="services-to-select">
                    <h3>@title</h3>
                    <p>These are optional add-ons to the main solution that provide extra functionality.</p>

                    <nhs-checkbox-container>
                        @foreach (var (service, i) in Model.Services.Select((value, i) => (value, i)))
                        {
                            <input type="hidden" asp-for="@Model.Services[i].CatalogueItemId"/>
                            <input type="hidden" asp-for="@Model.Services[i].Description"/>
                            <nhs-checkbox asp-for="@Model.Services[i].IsSelected"
                                          label-text="@service.Description"/>
                        }
                    </nhs-checkbox-container>
                </div>
            }
            else
            {
                <div id="nothing-to-select">
                    <p>There are no Additional Services available for this Catalogue Solution.</p>
                </div>
            }

            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button/>
            </div>
        </form>
    </div>
</div>
