@using NHSD.GPIT.BuyingCatalogue.Framework.Constants;
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsDeleteButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ReviewFilterModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = Model.FilterDetails.Name;
}

<partial name="Partials/_BackLink" model="@Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.Caption"
                        advice="These are the details for this filter." />
        @if (Model.FilterDetails.EpicsMissingCapabilities)
        {
            <nhs-warning-callout label-text="Filter cannot be used">
                <p>This filter cannot be used to run a competition as it contains some Epics or Capabilities that are no longer valid.</p>
                <p>It should be deleted and a new filter created using valid Epics or Capabilities.</p>
            </nhs-warning-callout>
        }
        <partial name="Partials/_FilterDetailsPartial" model="Model" />

        <h2 data-test-id="view-solutions">View solutions</h2>
        <p>
            The results will be based on solutions currently available that match to this filter.
        </p>
        @if (!Model.FilterDetails.EpicsMissingCapabilities)
        {
            <p>
                <a href="@Url.Action(nameof(SolutionsController.Index), typeof(SolutionsController).ControllerName(), new
                            {
                                selected = Model.FilterIds.CapabilityAndEpicIds.ToFilterString(),
                                selectedFrameworkId = Model.FilterIds.FrameworkId,
                                selectedApplicationTypeIds = Model.FilterIds.ApplicationTypeIds.ToFilterString(),
                                selectedHostingTypeIds = Model.FilterIds.HostingTypeIds.ToFilterString(),
                                filterId = Model.FilterDetails.Id,
                            })" target="_blank">View results for this filter (opens in a new tab)</a>
            </p>
        }
        <vc:nhs-delete-button url="@Url.Action(nameof(ManageFiltersController.DeleteFilter),
                                               new { filterId = Model.FilterDetails.Id })"
                              text="Delete filter" />

    </div>
</div>
