@using NHSD.GPIT.BuyingCatalogue.Framework.Constants;
@using NHSD.GPIT.BuyingCatalogue.Framework.Environments;
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsDeleteButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ManageFilters
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ReviewFilterModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = Model.FilterDetails.Name;
}

<partial name="Partials/_BackLink" model="@Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full-width">
        <nhs-page-title title="Results for this shortlist"/>
        <nhs-card-v2>
            <nhs-card-content>
                
                
                @if (Model.FilterDetails.Invalid)
                {
                    <nhs-warning-callout label-text="Filter cannot be used">
                        <p>This filter cannot be used to run a competition as it contains some Capabilities or Epics that are no longer valid.</p>
                        <p>It should be deleted and a new filter created using valid Capabilities or Epics.</p>
                    </nhs-warning-callout>
                }
                else
                {
                    <h3 class="header-with-detail">@Model.FilterDetails.Name (@Model.FilterResults.Count)</h3>
                    <p class="nhsuk-body">@Model.FilterDetails.Description</p>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Results updated: @DateTime.Now.ToString("MMMM dd, yyyy")</p>
                    

                    @if (@Model.FilterDetails.FrameworkName != null)
                    {
                        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4">Results from @Model.FilterDetails.FrameworkName (@Model.FilterResults.Count)</h2>
                    }
                    else
                    {
                        foreach(var framework in Model.Frameworks)
                        {
                            var newModel = new ResultsForFrameworkModel(Model.InternalOrgId, Model.FilterDetails.Id, framework, Model.FilterResults);
                            <partial name="_ResultsForFramework.cshtml" model="newModel"/>
                        }
                    }
                }
            </nhs-card-content>
        </nhs-card-v2>

        

        <nhs-expander label-text="View filters used for this shortlist" open="false">
            <p>These are the filters used in this shortlist:</p>

            <partial name="Partials/_FilterDetailsPartial" model="Model" />
        </nhs-expander>
            
        <vc:nhs-delete-button url="@Url.Action(nameof(ManageFiltersController.DeleteFilter),
                                                        new { filterId = Model.FilterDetails.Id })"
                              text="Delete filter" />
    </div>
</div>
