@using NHSD.GPIT.BuyingCatalogue.Framework.Constants;
@using NHSD.GPIT.BuyingCatalogue.Framework.Environments;
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsDeleteButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ReviewFilterModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = Model.FilterDetails.Name;
}

<partial name="Partials/_BackLink" model="@Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.Caption"
                        advice="These are the details for this filter." />
        @if (Model.FilterDetails.Invalid)
        {
            <nhs-warning-callout label-text="Filter cannot be used">
                <p>This filter cannot be used to run a competition as it contains some Capabilities or Epics that are no longer valid.</p>
                <p>It should be deleted and a new filter created using valid Capabilities or Epics.</p>
            </nhs-warning-callout>
        }
        else
        {
            <vc:nhs-action-link url="@Url.Action(
                                    nameof(CompetitionsDashboardController.SaveCompetition),
                                    typeof(CompetitionsDashboardController).ControllerName(),
                                    new {
                                        internalOrgId = Model.InternalOrgId,
                                        filterId = Model.FilterDetails.Id,
                                        fromFilter = true,
                                        Area = typeof(CompetitionsDashboardController).AreaName(),})"
                            text="Begin a competition using this filter" />
        }
        <partial name="Partials/_FilterDetailsPartial" model="Model" />

        @if (!Model.FilterDetails.Invalid)
        {
            <h2 data-test-id="view-solutions">View solutions</h2>
            <p>
                The results will be based on solutions currently available that match to this filter.
            </p>
            <p>
                <a href="@Url.Action(nameof(SolutionsController.Index), typeof(SolutionsController).ControllerName(), new
                            {
                                selected = Model.FilterIds.CapabilityAndEpicIds.ToFilterString(),
                                selectedFrameworkId = Model.FilterIds.FrameworkId,
                                selectedApplicationTypeIds = Model.FilterIds.ApplicationTypeIds.ToFilterString(),
                                selectedHostingTypeIds = Model.FilterIds.HostingTypeIds.ToFilterString(),
                                selectedIM1Integrations = Model.FilterIds.IM1Integrations.ToFilterString(),
                                selectedGPConnectIntegrations = Model.FilterIds.GPConnectIntegrations.ToFilterString(),
                                selectedInteroperabilityOptions = Model.FilterIds.InteroperabilityOptions.ToFilterString(),
                                filterId = Model.FilterDetails.Id,
                            })" target="_blank">View results for this filter (opens in a new tab)</a>
            </p>
        }
        <vc:nhs-delete-button url="@Url.Action(nameof(ManageFiltersController.DeleteFilter),
                                               new { filterId = Model.FilterDetails.Id })"
                              text="Delete filter" />

    </div>
</div>
