@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.InsetText
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Filtering.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ManageFilters.ManageFiltersModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Your organisation’s shortlists";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title" caption="@Model.OrganisationName" />
        <partial name="Dashboard/_ShortlistCardPartial" model="@(new DashboardCardBaseModel<Filter>(Model.InternalOrgId, Model.Shortlists, Model.Shortlists.Count, isDashboardView: false))" />
        <nhs-card-v2>
            <nhs-card-content>
                <div class="header-with-detail">
                    <h3 class="nhsuk-heading-m">Total number of shortlists (@Model.Shortlists.Count)</h3>
                </div>
                @if (Model.Shortlists is null || Model.Shortlists.Count < 10)
                {
                    <div class="detail">
                        <a class="nhsuk-button nhsuk-u-margin-bottom-2" href="@Url.Action(
                                                     nameof(SolutionsController.Index),
                                                     typeof(SolutionsController).ControllerName())">Create new shortlist</a>
                    </div>
                }
                else
                {
                    <div class="detail">
                        <a class="nhsuk-button nhsuk-u-margin-bottom-2" href="@Url.Action(
                                                     nameof(ManageFiltersController.MaximumShortlists),
                                                     typeof(ManageFiltersController).ControllerName())">Create new shortlist</a>
                    </div>
                }

                @if (Model.Shortlists is null || !Model.Shortlists.Any())
                {
                    <p data-test-id="no-filters">No filters have been added for your organisation yet.</p>
                }
                else
                {
                    <p class="nhsuk-body-s nhsuk-u-margin-top-3" style="width: 80%">You can save a maximum of 10 shortlists for use by your organisation. To delete a filter, use the relevant view link in the table.</p>

                    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-padding-bottom-0 nhsuk-u-margin-bottom-0">

                    <nhs-table data-test-id="filters-table">
                        @foreach (var heading in new[] { "Name", "Description", "Last updated", "Action" })
                        {
                            <nhs-table-column>@heading</nhs-table-column>
                        }

                        @foreach (var item in Model.Shortlists)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    <span data-test-id="filter-name">
                                        @item.Name
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <span data-test-id="filter-description">
                                        @item.Description
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <span data-test-id="filter-last-updated">
                                        @item.LastUpdated.ToShortDateString()
                                    </span>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <span data-test-id="filter-view-link">
                                        <a asp-action="@nameof(ManageFiltersController.FilterDetails)"
                                            asp-controller="@typeof(ManageFiltersController).ControllerName()"
                                           asp-route-filterId="@item.Id">View</a>
                                    </span>
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                }
            </nhs-card-content>
        </nhs-card-v2>
    </div>
</div>
