@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.InsetText
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ManageFilters.ManageFiltersModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Manage saved filters";
}
@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a href="@Url.Action(
                                 nameof(HomeController.Index),
                                 typeof(HomeController).ControllerName())"
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a href="@Url.Action(
                                nameof(BuyerDashboardController.Index),
                                typeof(BuyerDashboardController).ControllerName())"
                       class="nhsuk-breadcrumb__link">Buyer Dashboard</a>
                </li>
            </ol>
        </div>
    </nav>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title" caption="@Model.OrganisationName" advice="Create new filters or view existing ones." />
        
        <nhs-inset-text>
            <p>You can save a maximum of 10 filters for use by your organisation. To delete a filter, use the relevant view link in the table.</p>
        </nhs-inset-text>
        
        @if (Model.Filters is null || Model.Filters.Count() < 10)
        {
            <vc:nhs-action-link text="Create a new filter"
                                url="@Url.Action(
                                         nameof(FilterController.FilterCapabilities),
                                         typeof(FilterController).ControllerName())" />
        }

        @if (Model.Filters is null || !Model.Filters.Any())
        {
            <p data-test-id="no-filters">No filters have been added for your organisation yet.</p>
        }
        else
        {
            var filters = Model.Filters.Count() == 1 ? "filter" : "filters";
            <p>@Model.Filters.Count() saved search @filters.</p>

            <nhs-table data-test-id="filters-table">
                @foreach (var heading in new[] { "Name", "Description", "Last updated", "Action" })
                {
                    <nhs-table-column>@heading</nhs-table-column>
                }

                @foreach (var item in Model.Filters)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <span data-test-id="filter-name">
                                @item.Name
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="filter-description">
                                @item.Description
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="filter-last-updated">
                                @item.LastUpdated.ToShortDateString()
                            </span>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <span data-test-id="filter-view-link">
                                <a asp-action="@nameof(ManageFiltersController.FilterDetails)"
                                    asp-controller="@typeof(ManageFiltersController).ControllerName()"
                                   asp-route-filterId="@item.Id">View</a>
                            </span>
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        }

    </div>
</div>
