@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ManageFilters.MaximumShortlistsModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Maximum number of shortlists created";
}

<partial name="Partials/_BackLink" model="@Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-l nhsuk-caption--top">@Model.OrganisationName</span>
        <nhs-page-title title="@ViewBag.Title" advice="You can save a maximum of 10 shortlists for use by your organisation. You must delete an existing shortlist before you can create a new one." />

        <a asp-action="@nameof(ManageFiltersController.Index)"
           asp-controller="@typeof(ManageFiltersController).ControllerName()">Return to shortlists</a>
    </div>
</div>
