@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ManageFilters.SaveFilterModel

@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewBag.Title = "Save filters";
}

<partial name="Partials/_BackLink" model="@Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        advice="Save your selected filters so you can use them to carry out a competition using the results." />

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>
            @for (var i = 0; i < Model.CapabilityIds.Count; i++)
            {
                <input type="hidden" asp-for="CapabilityIds[i]" />
            }
            @for (var i = 0; i < Model.EpicIds.Count; i++)
            {
                <input type="hidden" asp-for="EpicIds[i]" />
            }
            <input type="hidden" asp-for="FrameworkId" />

            <nhs-input
                asp-for="@Model.Name"
                label-text="Filter name"
                label-hint="Provide a unique name for this set of filters so you can use them to carry out a competition." />

            <nhs-textarea 
                asp-for="@Model.Description"
                label-text="Filter name"
                label-hint="Provide a description for this set of filters to remind you what search criteria was used." />
            
            <h2>Filters to be saved</h2>
            
            <nhs-table>
                <nhs-table-column>Capability</nhs-table-column>
                <nhs-table-column>Epic</nhs-table-column>
                @foreach (var capability in Model.GroupedCapabilities)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            @capability.Key
                        </nhs-table-cell>
                        <nhs-table-cell>
                            @foreach (var epic in capability.Value)
                            {
                                <li>
                                    @epic.Name
                                </li>
                            }
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
            
            <h2>Additional filters</h2>
            
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Client application type">
                    @for(var i= 0; i< Model.ClientApplicationTypes.Count; i++)
                    {
                        <p>
                            <input type="hidden" asp-for="ClientApplicationTypes[i]" />
                            @Model.ClientApplicationTypes[i]
                        </p>
                    }
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Framework">
                    <p>
                        @Model.FrameworkName
                    </p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Hosting Type">
                    @for (var i = 0; i < Model.HostingTypes.Count; i++)
                    {
                        <p>
                            <input type="hidden" asp-for="HostingTypes[i]" />
                            @Model.HostingTypes[i]
                        </p>
                    }
                </nhs-summary-list-row>
            </nhs-summary-list>

            <nhs-submit-button/>

        </form>

        <a href="@Model.BackLink">Cancel</a>
    </div>
</div>
