@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Orders.AmendOrderModel
@{
    ViewBag.Title = "Amending an order";

    var returnUrl = Url.Action(
        nameof(OrderController.AmendOrder),
        typeof(OrderController).ControllerName(),
        new { Model.InternalOrgId, Model.CallOffId });

    var procurementSupportUrl = Url.Action(
        nameof(ProcurementHubController.Index),
        typeof(ProcurementHubController).ControllerName(),
        new { returnUrl });
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Before amending an order, familiarise yourself with what you can and cannot change."/>

        <vc:nhs-do-list title="You can"
                        items="@Model.DoItems"/>

        <vc:nhs-dont-list title="You cannot"
                          items="@Model.DontItems"/>

        <form method="post">
            <nhs-submit-button text="Amend order"/>

            <p>
                <a href="@Url.Action(
                             nameof(DashboardController.Index),
                             typeof(DashboardController).ControllerName())">Cancel</a>
            </p>
        </form>

        <div class="nhsuk-u-margin-top-6">
            <h2>Terminate contract</h2>
            <p>
                Alternatively, you can <a href="@Url.Action(
                                                    nameof(OrderController.TerminateOrder),
                                                    typeof(OrderController).ControllerName(),
                                                    new { Model.InternalOrgId, Model.CallOffId })">terminate this contract</a> altogether.
            </p>
        </div>

        <div class="nhsuk-u-margin-top-6">
            <h2>Need help?</h2>
            <p>
                For help using the Buying Catalogue, contact the National and Commercial Procurement Hub:
            </p>
        </div>

        <div class="nhsuk-u-margin-top-6">
            <vc:nhs-action-link text="Get procurement support"
                                url="@procurementSupportUrl"/>
        </div>
    </div>
</div>
