@using System.Linq
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.Contracts
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Orders.SummaryModel;
@{
	ViewBag.Title = Model.Title;
}

<style>
    .nhsuk-table-responsive th {
        font-size: 1em;
        white-space: normal;
    }

    .nhsuk-table-responsive td {
        font-size: 1em;
    }
</style>

<partial name="Partials/_BackLink" model="Model" />

@{
    var solutions = Model.Order.GetSolutions().ToList();
    var additionalServices = Model.Order.GetAdditionalServices().ToList();
    var associatedServices = Model.Order.GetAssociatedServices().ToList();
    var contractTerm = Model.Order.MaximumTerm.HasValue ? $" ({Model.Order.MaximumTerm} months)" : " (estimated)";
    var solutionsTitle = solutions.Count > 1 ? "Catalogue Solutions" : "Catalogue Solution";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.Order.CallOffId"
                        advice="@Model.AdviceText" />

        @if (Model.CanBeAmended)
        {
            <vc:nhs-action-link text="Amend this order"
                                url="@Url.Action(
                                         nameof(OrderController.AmendOrder),
                                         typeof(OrderController).ControllerName(),
                                         new { Model.InternalOrgId, Model.CallOffId })"/>
        }

        <nhs-summary-list>
            <nhs-summary-list-row label-text="Order ID" data-test-id="order-id-summary">
                @Model.Order.CallOffId
            </nhs-summary-list-row>

            <nhs-summary-list-row label-text="Description" data-test-id="order-description-summary">
                @Model.Order.Description
            </nhs-summary-list-row>

            <nhs-summary-list-row label-text="Date created" data-test-id="date-created-summary">
                @($"{Model.Order.Created:d MMMM yyyy}")
            </nhs-summary-list-row>

            @if (Model.Order.OrderingParty != null
                && Model.Order.OrderingPartyContact != null)
            {
                <nhs-summary-list-row label-text="Call-off Ordering Party" data-test-id="ordering-party-summary">
                    @($"{Model.Order.OrderingPartyContact.FirstName} {Model.Order.OrderingPartyContact.LastName}")<br/>
                    @Model.Order.OrderingParty.Name<br/>
                    @Model.Order.OrderingParty.ExternalIdentifier<br/>
                    <vc:nhs-address address="@Model.Order.OrderingParty.Address"/>
                </nhs-summary-list-row>
            }

            @if (Model.Order.Supplier != null
                && Model.Order.SupplierContact != null)
            {
                <nhs-summary-list-row label-text="Supplier" data-test-id="supplier-summary">
                    @($"{Model.Order.SupplierContact.FirstName} {Model.Order.SupplierContact.LastName}")<br/>
                    @Model.Order.Supplier.Name<br/>
                    <vc:nhs-address address="@Model.Order.Supplier.Address"/>
                </nhs-summary-list-row>
            }

            @if (Model.Order.CommencementDate.HasValue)
            {
                <nhs-summary-list-row label-text="Commencement date" data-test-id="start-date-summary">
                    @($"{Model.Order.CommencementDate.Value:d MMMM yyyy}")
                </nhs-summary-list-row>
            }

            @if (Model.Order.InitialPeriod.HasValue)
            {
                <nhs-summary-list-row label-text="Initial period" data-test-id="initial-period-summary">
                    @($"{Model.Order.InitialPeriod} months")
                </nhs-summary-list-row>
            }

            @if (Model.Order.MaximumTerm.HasValue)
            {
                <nhs-summary-list-row label-text="Maximum term" data-test-id="maximum-term-summary">
                    @($"{Model.Order.MaximumTerm} months")
                </nhs-summary-list-row>
            }

            @if (Model.Order.CommencementDate.HasValue
                && Model.Order.MaximumTerm.HasValue)
            {
                <nhs-summary-list-row label-text="End date" data-test-id="end-date-summary">
                    @Model.Order.EndDate
                </nhs-summary-list-row>
            }
        </nhs-summary-list>

        <h2>Items added to this order</h2>
        @if (!(Model.Order.OrderItems?.Any() ?? false))
        {
            <p>No items have been added to this order yet</p>
        }
        else
        {
            <br/>
            @if (solutions.Any())
            {
                <h3 id="catalogue-solutions-title">@solutionsTitle</h3>
                @foreach (var solution in solutions)
                {
                    <partial name="_OrderItemSummary" model="solution"/>
                }
            }

            @if (additionalServices.Any())
            {
                <h3 id="additional-services-title">Additional Services</h3>
                @foreach (var additionalService in additionalServices)
                {
                    <partial name="_OrderItemSummary" model="additionalService"/>
                }
            }

            @if (associatedServices.Any())
            {
                <h3 id="associated-services-title">Associated Services</h3>
                @foreach (var associatedService in associatedServices)
                {
                    <partial name="_OrderItemSummary" model="associatedService"/>
                }
            }

            <br/>
            <h3 data-test-id="indicative-costs-title">Indicative costs</h3>
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Total one-off cost:" data-test-id="one-off-cost-summary">
                    £@($"{Model.Order.TotalOneOffCost():N2}")
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="Total monthly cost:" data-test-id="monthly-cost-summary">
                    £@($"{Model.Order.TotalMonthlyCost():N2}")
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="Total cost for one year:" data-test-id="one-year-cost-summary">
                    £@($"{Model.Order.TotalAnnualCost():N2}")
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="@($"Total cost of contract{contractTerm}:")" data-test-id="total-cost-summary">
                    £@($"{Model.Order.TotalCost():N2}")
                    @if (!Model.Order.MaximumTerm.HasValue)
                    {
                        <br/>
                        <br/>
                        <p>
                            This is the total estimated cost for the entire duration of the Call-off Agreement, which is usually 3 years.
                            The figure is made up of the one-off costs and the yearly cost multiplied by 3.
                        </p>
                    }
                </nhs-summary-list-row>
            </nhs-summary-list>
            <p><b>All prices exclude VAT</b></p>
        }

        <br />

        <vc:nhs-secondary-button text="Continue"
                                 type="Primary"
                                 url="@Url.Action(
                                          nameof(ReviewContractController.ContractSummary),
                                          typeof(ReviewContractController).ControllerName(),
                                          new { Model.InternalOrgId, Model.Order.CallOffId })"/>
    </div>
</div>

