@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.InteroperabilityModels.AddEditNhsAppIntegrationModel;
@{
    ViewBag.Title = "Add NHS App integrations";
}

<div class="nhsuk-width-container">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            advice="Select all the NHS App integrations your Catalogue Solution works with." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />

                    <nhs-fieldset-form-label asp-for="@Model">
                        <nhs-checkbox-container>
                        @for (int i = 0; i < Model.NhsAppIntegrations.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model.NhsAppIntegrations[i].Value" />
                            <nhs-checkbox asp-for="@Model.NhsAppIntegrations[i].Selected"
                                          hidden-input="@Model.NhsAppIntegrations[i].Text"
                                          label-text="@Model.NhsAppIntegrations[i].Text" />
                        }
                        </nhs-checkbox-container>
                    </nhs-fieldset-form-label>
                <br/>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
