@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.InteroperabilityModels.AddEditIm1IntegrationModel;
@{
    ViewBag.Title = $"{(Model.IntegrationTypeId is not null ? "Edit" : "Add")} an IM1 integration";
}

<div class="nhsuk-width-container">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Provide the following information about the NHS assured integrations your Catalogue Solution works with." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />

                <nhs-select asp-for="SelectedIntegrationType"
                            asp-items="@Model.IntegrationTypes"
                            label-text="Integration type" />

                <nhs-select asp-for="IsConsumer"
                            asp-items="@Model.ProviderConsumerTypes"
                            label-text="Provider or consumer" />

                <nhs-input asp-for="IntegratesWith"
                           label-text="System integrating with" />

                <nhs-textarea asp-for="Description"
                              label-text="Description"
                              label-hint="Describe how your Catalogue Solution integrates with the other system." />

                <nhs-submit-button />
            </form>
            @if (Model.IntegrationTypeId is not null)
            {
                <vc:nhs-delete-button url="@Url.Action(
                                               nameof(InteroperabilityController.DeleteIm1Integration),
                                               typeof(InteroperabilityController).ControllerName(),
                                               new { Model.SolutionId, integrationId = Model.IntegrationTypeId })"
                              text="Delete integration" />
            }
        </div>
    </div>
</div>
