@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.InteroperabilityModels.AddIm1IntegrationModel;
@{
    ViewData["Title"] = "Add an IM1 integration";
}

<div class="nhsuk-width-container">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewData["Title"]"
                            caption="@Model.SolutionName"
                            advice="Provide the following information about the NHS assured integrations your Catalogue Solution works with." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />

                <nhs-select asp-for="SelectedIntegrationType"
                            asp-items="@(new SelectList(Model.IntegrationTypes, "Value", "Text"))"
                            label-text="Integration type" />

                <nhs-select asp-for="SelectedProviderOrConsumer"
                            asp-items="@(new SelectList(Model.ProviderConsumerTypes, "Value", "Text"))"
                            label-text="Provider or consumer" />

                <nhs-input asp-for="IntegratesWith"
                           label-text="System integrating with" character-count="true" />

                <nhs-textarea asp-for="Description"
                              label-text="Description"
                              label-hint="Describe how your Catalogue Solution integrates with the other system." />

                <nhs-submit-button text="Save and continue" />
            </form>
        </div>
    </div>
</div>
