@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.InteroperabilityModels.InteroperabilityModel;
@{
    ViewBag.Title = "Interoperability";
}

<div class="nhsuk-width-container">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Provide information on the integrations your Catalogue Solution works with." />

            <h2>NHS assured integrations (optional)</h2>

            <nhs-details label-text="What are NHS assured integrations?">
                <p>
                    IM1, GP Connect and the NHS App offer integrations specified and assured by the NHS. They allow clinical information and data to be shared quickly and efficiently between IT systems.
                </p>
                <p>
                    If your Catalogue Solution uses any of these integrations, you must provide information on them using the add integrations links.
                </p>
                <p>
                    You can find more information about <a href="https://digital.nhs.uk/services/gp-it-futures-systems/im1-pairing-integration">IM1 integrations</a>, <a href="https://digital.nhs.uk/services/gp-connect">GP Connect integrations</a> and <a href="https://digital.nhs.uk/services/nhs-app">NHS App integrations</a> on the NHS website.
                </p>
            </nhs-details>

            <h3>IM1 integrations</h3>
            <vc:nhs-action-link url="@Url.Action(nameof(InteroperabilityController.AddIm1Integration), typeof(InteroperabilityController).ControllerName(), new { solutionId = @Model.CatalogueItemId })" text="Add an IM1 integration" />
            <p>
                Use the link to add information on each of the IM1 integrations your Catalogue Solution works with.
            </p>

            @if (Model.IM1Integrations.Any())
            {
                @foreach (var integrations in Model.IM1Integrations.GroupBy(x => x.IntegrationType.Name))
                {
                    <nhs-expander label-text="@($"IM1 {integrations.Key}")" open="false">
                    <nhs-table>
                        <nhs-table-column>
                            Provider or<br>consumer
                        </nhs-table-column>
                        <nhs-table-column>
                            System integrating with
                        </nhs-table-column>
                        <nhs-table-column>
                            Description
                        </nhs-table-column>
                        <nhs-table-column>Action</nhs-table-column>
                        @foreach (var integration in integrations)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    @(integration.IsConsumer.GetValueOrDefault() ? "Consumer" : "Provider")
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    @integration.IntegratesWith
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <p class="nhsuk-u-margin-0">
                                        @integration.Description
                                    </p>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <a asp-action="@nameof(InteroperabilityController.EditIm1Integration)"
                                       asp-controller="@typeof(InteroperabilityController).ControllerName()"
                                       asp-route-solutionId="@Model.CatalogueItemId"
                                       asp-route-integrationId="@integration.Id">
                                        Edit
                                    </a>
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                    </nhs-expander>
                }
            }

            <h3>GP Connect integrations</h3>

            <vc:nhs-action-link url="@Url.Action(nameof(InteroperabilityController.AddGpConnectIntegration), typeof(InteroperabilityController).ControllerName(), new { solutionId = @Model.CatalogueItemId })" text="Add a GP Connect integration" />

            <p>
                Use the link to add information on each of the GP Connect integrations your Catalogue Solution works with.
            </p>

            @if (Model.GpConnectIntegrations.Any())
            {
                @foreach (var integrations in Model.GpConnectIntegrations.GroupBy(x => x.IntegrationType.Name))
                {
                    <nhs-expander label-text="@($"GP Connect {integrations.Key}")" open="false">
                    <nhs-table>
                        <nhs-table-column>
                            Provider or consumer
                        </nhs-table-column>
                        <nhs-table-column>
                            Additional information
                        </nhs-table-column>
                        <nhs-table-column>Action</nhs-table-column>
                        @foreach (var integration in integrations)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    @(integration.IsConsumer.GetValueOrDefault() ? "Consumer" : "Provider")
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <p class="nhsuk-u-margin-0">
                                        @integration.Description
                                    </p>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <a asp-action="@nameof(InteroperabilityController.EditGpConnectIntegration)"
                                       asp-controller="@typeof(InteroperabilityController).ControllerName()"
                                       asp-route-solutionId="@Model.CatalogueItemId"
                                       asp-route-integrationId="@integration.Id">
                                        Edit
                                    </a>
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                    </nhs-expander>
                }
            }

            <h3>NHS App integrations</h3>

            <vc:nhs-action-link url="@Url.Action(nameof(InteroperabilityController.AddNhsAppIntegration), typeof(InteroperabilityController).ControllerName(), new { solutionId = @Model.CatalogueItemId})" text="Add NHS App integrations" />

            <p>
                Use the link to add all the NHS App integrations your Catalogue Solution works with.
            </p>
            @if (Model.NhsAppIntegrations.Any())
            {
                <nhs-card title="Selected NHS App integrations">
                    <nhs-table>
                        <nhs-table-row-container>
                            <nhs-table-cell class="no-bottom-border">
                                <strong>Integrations</strong>
                            </nhs-table-cell>
                            <nhs-table-cell class="no-bottom-border">
                                @foreach (var integration in Model.NhsAppIntegrations)
                                {
                                    <p>
                                        @integration.IntegrationType.Name
                                    </p>
                                }
                            </nhs-table-cell>
                            <nhs-table-cell class="no-bottom-border">
                                <a asp-action="@nameof(InteroperabilityController.AddNhsAppIntegration)"
                                   asp-controller="@typeof(InteroperabilityController).ControllerName()"
                                   asp-route-solutionId="@Model.CatalogueItemId">
                                    Edit
                                </a>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    </nhs-table>
                </nhs-card>
            }
            <hr>
            <h2 for="@nameof(Model.Link)">Supplier asserted integrations (optional)</h2>

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <nhs-input asp-for="Link"
                           label-hint="Provide a URL to a page that gives information about your own integrations that fully or partially integrate with other systems. " />
                <nhs-inset-text>
                    <p>
                        If you are providing a URL, it must link to a page detailing all the supplier asserted integrations for your Catalogue Solution. It’s your responsibility to keep this page up to date.
                    </p>
                </nhs-inset-text>
                <br/>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
