@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Table
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.SolutionSelection
@using System.Linq
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.SolutionSelection.ServiceRecipients.SelectRecipientsModel;
@{
    ViewBag.Title = $"Service Recipients for {Model.ItemType.Name()}";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />
        <nhs-page-title model="Model" />

        @if (Model.SubLocations?.Any() ?? false)
        {
            if (Model.HasImportedRecipients
                || (Model.PreviouslySelected?.Any() ?? false)
                || (Model.PreSelected && Model.ItemType != CatalogueItemType.Solution))
            {
                <nhs-inset-text>
                    @if (Model.HasImportedRecipients)
                    {
                        <p>
                            @if (Model.HasMissingImportedRecipients)
                            {
                                <span>Some of your Service Recipients were already on the original order. The ones that were not have been uploaded successfully.</span>
                            }
                            else
                            {
                                <span>Your Service Recipients have been imported successfully.</span>
                            }

                            If you need to make changes, you can do so manually or re-import them.
                        </p>
                    }

                    @if (Model.PreviouslySelected?.Any() ?? false)
                    {
                        <p id="previously-selected">
                            We're only showing the Service Recipients which were not included in the original order.
                        </p>
                    }

                    @if (Model.PreSelected
                        && Model.ItemType != CatalogueItemType.Solution)
                    {
                        <p id="pre-selected">
                            The recipients you selected for your @Model.PreSelectedItemType have been pre-selected.
                        </p>
                    }
                </nhs-inset-text>
            }

            <vc:nhs-action-link text="Upload Service Recipients"
                                url="@Url.Action(
                                         nameof(ImportServiceRecipientsController.Index),
                                         typeof(ImportServiceRecipientsController).ControllerName(),
                                         new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId, Model.ImportMode })" />

            <h2>Select Service Recipients</h2>

            <vc:nhs-secondary-button url="@Url.Action(
                                          Model.ActionName,
                                          typeof(ServiceRecipientsController).ControllerName(),
                                          new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId, Model.SelectionMode })"
                                 text="@Model.SelectionCaption"
                                 type="Secondary" />
        }

        <form method="post">
            <hidden-inputs title="Title" caption="Caption" advice="Advice" />
            <input type="hidden" asp-for="AssociatedServicesOnly"/>
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="CatalogueItemId"/>
            <input type="hidden" asp-for="HasImportedRecipients"/>
            <input type="hidden" asp-for="HasMissingImportedRecipients"/>
            <input type="hidden" asp-for="ItemName"/>
            <input type="hidden" asp-for="ItemType"/>
            <input type="hidden" asp-for="OrganisationName" />
            <input type="hidden" asp-for="SelectionCaption"/>
            <input type="hidden" asp-for="SelectionMode"/>
            <input type="hidden" asp-for="Source"/>

            @if (Model.PreviouslySelected?.Any() ?? false)
            {
                for (var i = 0; i < Model.PreviouslySelected.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.PreviouslySelected[i]"/>
                }
            }

            @if (Model.SubLocations?.Any() ?? false)
            {
                <h3 style="white-space:nowrap">Sublocations for @Model.OrganisationName</h3>
                @foreach (var (location, lIndex) in Model.SubLocations.Select((x, i) => (x, i)))
                {
                    <input type="hidden" asp-for="@Model.SubLocations[lIndex].Name" />
                    <nhs-expander label-text="@location.Name" open="true" bold-title="true">

                    <nhs-table>
                        <nhs-table-column>Organisation</nhs-table-column>
                        <nhs-table-column>ODS code</nhs-table-column>
                        @foreach (var (item, rIndex) in location.ServiceRecipients.Select((x, i) => (x, i)))
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>
                                    <nhs-checkbox-container>
                                            <nhs-checkbox asp-for="@Model.SubLocations[lIndex].ServiceRecipients[rIndex].Selected"
                                                      label-text="@item.Name"
                                              hidden-input="@Model.SubLocations[lIndex].ServiceRecipients[rIndex].Name" />
                                    </nhs-checkbox-container>
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    <div class="nhsuk-input--width-10 nhsuk-u-margin-top-2">@item.OdsCode</div>
                                        <input type="hidden" asp-for="@Model.SubLocations[lIndex].ServiceRecipients[rIndex].OdsCode" />
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                </nhs-expander>
                }
                <br/>
                <nhs-submit-button/>
            }
            else
            {
                <nhs-submit-button text="Continue" />
            }
        </form>
    </div>
</div>
