@model NHSD.GPIT.BuyingCatalogue.UI.Components.WebApp.Models.DoDontModel
@{
    ViewBag.Title = "Do and Dont lists";
}

<nhs-page-title title="@ViewBag.Title"
                advice="Use Do and Don't lists to help users understand more easily what they should and shouldn't do."
                caption="View Components"
                additional-advice="This page is rendered from DoAndDontList.cshtml using the DoDontModel.
                This model has been initialised in the controller." />

<vc:nhs-do-list items="@Model.Options" />

<vc:nhs-dont-list items="@Model.Options" />

<nhs-fieldset-form-container asp-for="@Model"
                             label-text="Code Examples for the above lists"
                             size="Medium">
    <div class="app-tabs__container bc-code-snippet">
        <span class="vs-light-theme-blue ">&lt;</span><span class="vs-light-theme-purple">vc:nhs-do-list items</span><span class="vs-light-theme-blue">="@@Model.Options"</span>
        <span class="vs-light-theme-blue ">/&gt;</span>
    </div>

    <div class="app-tabs__container bc-code-snippet">
        <span class="vs-light-theme-blue ">&lt;</span><span class="vs-light-theme-purple">vc:nhs-dont-list items</span><span class="vs-light-theme-blue">="@@Model.Options"</span>
        <span class="vs-light-theme-blue ">/&gt;</span>
    </div>
</nhs-fieldset-form-container>

<nhs-table label-text="Attributes">
    <nhs-table-column>Attribute</nhs-table-column>
    <nhs-table-column>Functionality</nhs-table-column>
    <nhs-table-column>Required</nhs-table-column>

    <nhs-table-row-container>
        <nhs-table-cell>items</nhs-table-cell>
        <nhs-table-cell>
            <p>This attribute requires a List&lt;string&gt; Model, where each string is a single list item</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="Yes" colour="Red" />
        </nhs-table-cell>
    </nhs-table-row-container>
</nhs-table>

<p style="margin-bottom:30px;"></p>

<nhs-fieldset-form-container asp-for="@Model"
                             size="Medium"
                             label-text="Example of the Model">

    <span>var model = new CareCardModel()</span><br />
    <span>{</span><br />
    <span>&nbsp;Options = new List&lt;string&gt;</span><br />
    <span>&nbsp;{</span><br />
    <span>&nbsp;&nbsp;"This is the first option",</span><br />
    <span>&nbsp;&nbsp;"This is the second option",</span><br />
    <span>&nbsp;&nbsp;"This is the third option",</span><br />
    <span>&nbsp;},</span><br />
    <span> };</span><br />
</nhs-fieldset-form-container>

<nhs-endnote>
    Page last Updated: 10 June 2021
</nhs-endnote>
