@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AssociatedServices.DeleteAssociatedServiceModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" advice="This Associated Service will be deleted from your order." />
            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.OdsCode" />
                <input type="hidden" asp-for="@Model.Title" />

                <nhs-fieldset-form-container asp-for="@Model"
                                             label-text="Order Description"
                                             label-hint="@Model.OrderDescription">

                    <nhs-submit-button text="Confirm Delete" />
                    <vc:nhs-backlink text="Cancel delete"
                                     url="@Url.Action(
                                            "EditAssociatedService",
                                            "AssociatedServices",
                                            new
                                            {
                                                odsCode = Model.OdsCode,
                                                callOffId = Model.CallOffId,
                                                Model.CatalogueItemId,
                                            })" />
                </nhs-fieldset-form-container>
            </form>
        </div>
    </div>
</div>
