@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AssociatedServices.EditAssociatedServiceModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="order-item-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@Model.Title"
                            advice="Provide the price you've agreed with the supplier and the quantity you want to order." />
        </div>
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.BackLinkText" />
            <input type="hidden" asp-for="@Model.OdsCode" />
            <input type="hidden" asp-for="@Model.Title" />
            <input type="hidden" asp-for="@Model.CurrencySymbol" />

            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-u-margin-bottom-5">
                    <div class="">
                        <input type="hidden" asp-for="@Model.OrderItem.ServiceRecipients[0].Name" />
                        <input type="hidden" asp-for="@Model.OrderItem.ServiceRecipients[0].OdsCode" />
                        <nhs-bookended-input asp-for="@Model.OrderItem.ServiceRecipients[0].Quantity"
                                             label-text="How many do you think you'll need?" />
                        <nhs-details label-text="What quantity should i enter?">
                            Enter the estimated quantity you think you'll need either per month or per year.
                        </nhs-details>
                    </div>

                    @if (Model.OrderItem.ProvisioningType == NHSD.GPIT.BuyingCatalogue.EntityFramework.Models.Ordering.ProvisioningType.OnDemand)
                    {
                        <div class="nhsuk-u-margin-bottom-5">
                            <div id="selectEstimationPeriod" data-test-id="question-selectEstimationPeriod">
                                <div data-test-id="radiobutton-options">
                                    <nhs-fieldset-form-label asp-for="@Model"
                                                             label-text="Over what period did you estimate the quantity?"
                                                             label-hint="Select one option.">
                                        <nhs-radio-buttons asp-for="@Model.TimeUnit"
                                                           values="@Model.TimeUnits"
                                                           value-name="Name"
                                                           display-name="DisplayText" />
                                    </nhs-fieldset-form-label>
                                </div>
                            </div>
                            <div data-test-id="view-section-estimation-period-id" class="">
                                <nhs-details label-text="What period should I enter?">
                                    This should be based on how you estimated the quantity you want to order.
                                </nhs-details>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="nhsuk-grid-column-full">
                <nhs-table>
                    <nhs-table-column>What price have you agreed? (@Model.CurrencySymbol)</nhs-table-column>
                    <nhs-table-column>Unit of order</nhs-table-column>
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <nhs-bookended-input asp-for="OrderItem.Price"
                                                 Prefix="@Model.CurrencySymbol" />
                            <nhs-details label-text="What price should I enter?">
                                You can change the list price if you’ve agreed a different rate with the supplier.
                            </nhs-details>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            @Model.OrderItem.ItemUnit.Description @Model.OrderItem.TimeUnit?.Description
                        </nhs-table-cell>
                    </nhs-table-row-container>
                </nhs-table>

                <nhs-submit-button text="Save" /><br/>

                @if (!Model.OrderItem.IsNewOrder)
                {
                    <vc:nhs-delete-button text="Delete Associated Service"
                                          url="@Url.Action(
                                          action: "DeleteAssociatedService",
                                          controller: "AssociatedServices",
                                          values: new { odsCode = Model.OdsCode,
                                                        callOffId = Model.CallOffId,
                                                        id = Model.OrderItem.CatalogueItemId,
                                                        serviceName = Model.OrderItem.CatalogueItemName,
                                                       })" />
                }
            </div>
        </form>
    </div>
</div>






