@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AssociatedServices.AssociatedServiceModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="associated-services-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <nhs-page-title title="@Model.Title" advice="Add the Associated Services you want to be part of this order, for example training days or data migration." />

            <nhs-fieldset-form-container asp-for="@Model"
                                         label-text="Order description"
                                         label-hint="@Model.OrderDescription"
                                         size="Large">

                <vc:nhs-secondary-button url="@Url.Action(
                                                  "SelectAssociatedService",
                                                  "AssociatedServices",
                                                  new { Model.OdsCode, Model.CallOffId })"
                                         text="Add Associated Service"
                                         use-primary-colour="false" />
                <nhs-table>
                    <nhs-table-column>Associated Service</nhs-table-column>
                    <nhs-table-column>Unit of order</nhs-table-column>
                    @foreach (var item in Model.OrderItems)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                <a asp-action="EditAssociatedService"
                                   asp-controller="AssociatedServices"
                                   asp-route-id="@item.CatalogueItemId"
                                   asp-route-odsCode="@Model.OdsCode"
                                   asp-route-callOffId="@Model.CallOffId">
                                    @item.CatalogueItem.Name
                                </a>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                @item.CataloguePrice.PricingUnit.Description @item.CataloguePrice.TimeUnit
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
                @if (!Model.OrderItems.Any())
                {
                    <div data-test-id="show-added-orderItems">
                        <div data-test-id="no-added-orderItems">
                            <p>No Associated Services added</p>
                        </div>
                    </div>
                }

            </nhs-fieldset-form-container>
            <vc:nhs-secondary-button text="Continue"
                                     use-primary-colour="true"
                                     url="@Url.Action(
                                     nameof(OrderController.Order),
                                     typeof(OrderController).ControllerName(),
                                     new { Model.OdsCode, Model.CallOffId })" />
        </div>
    </div>
</div>
