@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AssociatedServices.SelectAssociatedServicePriceModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="solution-price-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="SelectedPrice"/>
            <nhs-page-title title="@ViewBag.Title"
                            advice="Select the list price for this Associated Service. If you’ve agreed a different price with the supplier, the values can be altered later." />

            <form method="post">
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <input type="hidden" asp-for="@Model.InternalOrgId" />
                <input type="hidden" asp-for="@Model.Title" />
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Select list price">
                    <nhs-radio-buttons asp-for="SelectedPrice"
                                       values="@Model.Prices"
                                       value-name="CataloguePriceId"
                                       display-name="Description" />
                </nhs-fieldset-form-label>
                <nhs-submit-button text="Continue" />
            </form>
        </div>
    </div>
</div>
