@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.HostingType.HybridModel;
@{
    ViewData["Title"] = "Hosting type - hybrid";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">


        <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7">
            <h1 data-test-id="section-title" class="nhsuk-u-margin-bottom-3">Hosting type – hybrid</h1>
            <h2 data-test-id="section-main-advice" class="nhsuk-u-font-size-22">Provide information to buyers about how your Catalogue Solution can be hosted.</h2>
            <div data-test-id="section-additional-advice">

            </div>
        </div>

        <form method="post">

            <input type="hidden" asp-for="@Model.SolutionId" />






            <div data-test-id="section-question-textarea-field" class="nhsuk-u-margin-bottom-6">














                <div data-test-id="question-summary">

                    <div data-test-id="textarea-field">



                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">


                            <div class="govuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="govuk-label nhsuk-u-font-size-24 nhsuk-label nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" asp-for="@Model.HybridHostingType.Summary">
                                    Summary (optional)
                                </label>



                                <div id="summary-hint" class="govuk-hint nhsuk-hint nhsuk-u-margin-bottom-3">
                                    Provide information on how your Catalogue Solution can be hosted.
                                </div>


                                <textarea class="govuk-textarea govuk-js-character-count" rows="5" aria-describedby="summary-info summary-hint" asp-for="@Model.HybridHostingType.Summary"></textarea>
                            </div>

                            <div id="summary-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 500 characters
                            </div>

                        </div>

                    </div>

                </div>












            </div>










            <div data-test-id="section-question-text-field" class="nhsuk-u-margin-bottom-6">

















                <div data-test-id="question-link">

                    <div data-test-id="text-field-input">


                        <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">
                            <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" asp-for="@Model.HybridHostingType.Link">
                                Link to more information (optional)
                            </label>
                            <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="link-hint">
                                Provide a URL to a page that gives buyers further information about the hybrid hosting requirements for your Catalogue Solution.
                            </div>
                            <input class="nhsuk-input" type="text" asp-for="@Model.HybridHostingType.Link" aria-describedby="link-hint">
                        </div>

                    </div>

                    <div data-test-id="text-field-footer">
                        <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                            (Maximum number of characters 1,000)
                        </span>
                    </div>
                </div>








            </div>










            <div data-test-id="section-question-textarea-field" class="nhsuk-u-margin-bottom-6">














                <div data-test-id="question-hosting-model">

                    <div data-test-id="textarea-field">



                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">


                            <div class="govuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="govuk-label nhsuk-u-font-size-24 nhsuk-label nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" asp-for="@Model.HybridHostingType.HostingModel">
                                    Data centre model (optional)
                                </label>



                                <div id="hosting-model-hint" class="govuk-hint nhsuk-hint nhsuk-u-margin-bottom-3">
                                    Provide information on the data centre hosting model for your Catalogue Solution.
                                </div>


                                <textarea class="govuk-textarea govuk-js-character-count" rows="5" aria-describedby="hosting-model-info hosting-model-hint" asp-for="@Model.HybridHostingType.HostingModel"></textarea>
                            </div>

                            <div id="hosting-model-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 1000 characters
                            </div>

                        </div>

                    </div>

                </div>












            </div>










            <div data-test-id="section-question-checkbox-options" class="nhsuk-u-margin-bottom-6">




















                <div id="requires-hscn" data-test-id="question-requires-hscn">

                    <div data-test-id="checkbox-options">







                        <div class="nhsuk-form-group">

                            <fieldset class="nhsuk-fieldset" aria-describedby="requires-hscn-hint">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                    HSCN/N3 connectivity (optional)
                                </legend>

                                <div class="nhsuk-hint nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0" id="requires-hscn-hint">
                                    Use the checkbox if end user devices must be connected to HSCN/N3 in order to use your Catalogue Solution.
                                </div>


                                <div class="nhsuk-checkboxes">






                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" type="checkbox" asp-for="@Model.RequiresHscnChecked" >
                                        <label class="nhsuk-label nhsuk-checkboxes__label" asp-for="@Model.RequiresHscnChecked">
                                            Yes, devices must be connected to HSCN/N3
                                        </label>
                                    </div>



                                </div>
                            </fieldset>


                        </div>

                    </div>

                </div>






            </div>








            <div data-test-id="section-submit-button" class="nhsuk-u-margin-top-7">










                <button class="nhsuk-button" type="submit">
                    Save and return
                </button>



            </div>
        </form>

    </div>
</div>




