@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.ContractBilling.DeleteContractBillingItemModel

@{
    ViewBag.Title = "Delete milestone?";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        
        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId" />
        
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Name">
                @Model.ItemName
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Payment trigger">
                @Model.ItemPaymentTrigger
            </nhs-summary-list-row>
        </nhs-summary-list>

        <form method="post">
            <div class="nhsuk-u-margin-top-9">

                <input type="hidden" asp-for="CallOffId" />
                <input type="hidden" asp-for="InternalOrgId" />
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="ItemId" />
                <div style="display: inline;">
                    <nhs-submit-button text="Delete milestone"/>
                    <a href="@Model.BackLink" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-margin-left-4 modal-link-adjuster">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
