@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.DeleteOrder.DeleteOrderModel;
@{
    ViewBag.Title = $"Are you sure you want to delete this {Model.OrderType}?";
}

<div data-test-id="delete-order-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="@nameof(Model.SelectedOption)" />

            <nhs-page-title title="@ViewBag.Title"
                            caption="Order @Model.CallOffId"
                            advice="@Model.Advice" />

            <nhs-warning-callout label-text="Deleting an @Model.OrderType"
                                 data-test-id="delete-warning-callout">
                <p>@Model.Warning</p>
            </nhs-warning-callout>

            <form method="post">
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="IsAmendment" />

                <nhs-fieldset-form-label asp-for="@Model">
                    <nhs-radio-buttons asp-for="SelectedOption" 
                                       values="Model.AvailableOptions.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text"/>
                </nhs-fieldset-form-label>
                
                <div class="nhsuk-u-margin-top-6">
                    <nhs-submit-button/>
                </div>
            </form>
        </div>
    </div>
</div>
