@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.PageTitle.NhsPageTitleModel;
@{
}
@if (!string.IsNullOrWhiteSpace(Model.Title) && string.IsNullOrWhiteSpace(Model.Caption))
{
    <h1>@Model.Title</h1>
}
@if (!string.IsNullOrWhiteSpace(Model.Title) && !string.IsNullOrWhiteSpace(Model.Caption))
{
    <h1 class="nhsuk-u-margin-bottom-2">
        <span class="nhsuk-caption-m nhsuk-caption--top">
            @Model.Caption
            <span class="nhsuk-u-visually-hidden"> - </span>
        </span>
        @Model.Title
    </h1>
}
@if (!string.IsNullOrWhiteSpace(Model.Advice))
{
    <div class="nhsuk-hint">@Model.Advice</div>
}
@if (!string.IsNullOrWhiteSpace(Model.AdditionalAdvice))
{
    <nhs-inset-text>
        <p>@Model.AdditionalAdvice</p>
    </nhs-inset-text>
}
