@using System.Linq;
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models;
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.DetailsAndExpander
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Table
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.SolutionSelection.Review.ReviewExpanderModel
@{
	var totalCosts = Model.OrderItem.OrderItemPrice.CalculateTotalCostPerTier(Model.OrderItem.TotalQuantity);
    var totalCost = totalCosts.Sum(tc => tc.Cost);
    var billingPeriod = Model.OrderItem.OrderItemPrice?.BillingPeriod?.Description() ?? string.Empty;
    var hasTieredPricing = Model.OrderItem.OrderItemPrice?.CataloguePriceType is CataloguePriceType.Tiered;
    var hasServiceRecipientQuantities = Model.OrderItem.OrderItemPrice?.IsPerServiceRecipient() ?? false;
}

<nhs-expander label-text="@Model.OrderItem.CatalogueItem.Name"
              added-sticker="@Model.IsAmendment && @Model.IsOrderItemAdded"
			  colour-mode="BlackAndWhite"
			  secondary-text-title="Subtotal: "
			  secondary-text="£@($"{totalCost:N2} {billingPeriod}")"
			  open="true"
			  bold-title="true">
	<br/>
    <nhs-table label-text="Service Recipients">
        @if (Model.IsAmendment)
        {
            <nhs-table-column>Status</nhs-table-column>
        }
        <nhs-table-column>Recipient</nhs-table-column>
        <nhs-table-column>Quantity</nhs-table-column>
        @foreach (var recipient in Model.OrderItem.OrderItemRecipients)
        {
            <nhs-table-row-container>
                @if (Model.IsAmendment)
                {
                    <nhs-table-cell style="width: 50px;">
                        @if (Model.IsServiceRecipientAdded(recipient.OdsCode))
                        {
                            <div class="bc-c-task-list__task-status">
                                <strong class="nhsuk-tag nhsuk-tag--blue">Added</strong>
                            </div>
                        }
                    </nhs-table-cell>
                }
                <nhs-table-cell>
                    @recipient.Recipient.Name
                </nhs-table-cell>
                <nhs-table-cell>
                    @if (hasServiceRecipientQuantities)
                    {
                        @(recipient.Quantity.HasValue ? $"{recipient.Quantity:N0}" : "-")
                    }
                    else
                    {
                        @("N/A")
                    }
                </nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>

    <nhs-table label-text="Pricing">
        @if (hasTieredPricing)
        {
            <nhs-table-column>Pricing Tier</nhs-table-column>
        }
        <nhs-table-column>Price per unit</nhs-table-column>
        <nhs-table-column>Quantity</nhs-table-column>

        @for (var i = 0; i < totalCosts.Count; i++)
        {
            var price = Model.OrderItem.OrderItemPrice.OrderItemPriceTiers.ElementAt(i).Price;

            <nhs-table-row-container>
                @if (hasTieredPricing)
                {
                    <nhs-table-cell>
                        Tier @totalCosts[i].Id
                    </nhs-table-cell>
                }
                <nhs-table-cell>
                    £@($"{price:#,###,##0.00##}") @Model.OrderItem.OrderItemPrice.ToPriceUnitString()
                </nhs-table-cell>
                <nhs-table-cell>
                    @($"{totalCosts[i].Quantity:N0}")
                </nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>
</nhs-expander>
