@using EnumsNET
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Dashboard.OrganisationModel;
@{
    ViewBag.Title = "Orders dashboard";
}

<div data-test-id="dashboard-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.OrganisationName"
                            advice="Manage orders currently in progress and view completed orders." />
            @if (Model.CanActOnBehalf)
            {
                <h2>Current organisation</h2>
                <p class="nhsuk-u-margin-bottom-2">You are currently acting on behalf of:</p>
                <p data-test-id="dashboard-page-proxy-on-behalf" class="nhsuk-u-margin-bottom-6">
                    @Model.OrganisationName <a asp-action="@nameof(DashboardController.SelectOrganisation)"
                                               asp-controller="@typeof(DashboardController).ControllerName()"
                                               asp-route-internalOrgId="@Model.InternalOrgId"
                                               class="nhsuk-u-margin-left-4">Change organisation</a>
                </p>
            }
            <vc:nhs-action-link text="Create a new order"
                                     url="@Url.Action(
                                         nameof(OrderTriageController.OrderItemType),
                                         typeof(OrderTriageController).ControllerName(),
                                         new { Model.InternalOrgId })" />
        </div>

        <div class="nhsuk-grid-column-full">
            @if (Context.Request.Query["search"].Count > 0
                || Model.Orders.Count > 0)
            {
                <vc:nhs-suggestion-search id="orders-suggestion-search"
                                          ajax-url="@Url.Action(
                                                        nameof(DashboardController.FilterSearchSuggestions),
                                                        typeof(DashboardController).ControllerName(),
                                                        new { Model.InternalOrgId })"
                                          title-text="Search for order by order description or Call-off ID"
                                          query-parameter-name="search"/>
            }

            @if (Model.Orders.Count > 0)
            {
                <nhs-table data-test-id="orders-table">
                    <nhs-table-column>Call-off ID</nhs-table-column>
                    <nhs-table-column>Order description</nhs-table-column>
                    <nhs-table-column>Last updated</nhs-table-column>
                    <nhs-table-column>Status</nhs-table-column>
                    <nhs-table-column>Action</nhs-table-column>
                    @foreach(var order in Model.Orders)
                    {
                        <nhs-table-row-container>
                            <nhs-table-cell>
                                <span style="white-space: nowrap">
                                    @order.CallOffId
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>@order.Description</nhs-table-cell>
                            <nhs-table-cell>@order.LastUpdated.ToString("d MMM yyyy")</nhs-table-cell>
                            <nhs-table-cell>
                                <span style="white-space: nowrap">
                                    <nhs-tag colour="@Model.TagColour(order.OrderStatus)"
                                             text="@order.OrderStatus.AsString(EnumFormat.EnumMemberValue)"/>
                                </span>
                            </nhs-table-cell>
                            <nhs-table-cell>
                                <a data-test-id="link-@order.CallOffId"
                                   asp-action="@nameof(OrderController.Order)"
                                   asp-controller="@typeof(OrderController).ControllerName()"
                                   asp-route-internalOrgId="@Model.InternalOrgId"
                                   asp-route-callOffId="@order.CallOffId" style="white-space: nowrap;">
                                    @Model.LinkName(order)
                                </a>
                            </nhs-table-cell>
                        </nhs-table-row-container>
                    }
                </nhs-table>
                <div id="pagination">
                    <nhs-page-number-pagination current-page-number="@Model.Options.PageNumber"
                                                total-number-of-pages="@Model.Options.NumberOfPages" />

                </div>
            }
            else
            {
                @if(Context.Request.Query["search"].Count > 0)
                {
                    <h2 id="no-results-search">No results were found for "@Context.Request.Query["search"].FirstOrDefault()"</h2>
                    <p style="white-space:nowrap;">
                        Try entering a different search term, or <a
                        data-test-id="clear-results-link"
                        asp-action="@nameof(DashboardController.Organisation)"
                        asp-controller="@typeof(DashboardController).ControllerName()"
                        asp-route-internalOrgId="@Model.InternalOrgId"
                        >select an order from the complete list</a>.
                        </p>
                } else
                {
                    <partial name="~/Views/Home/_EmptyStateCard.cshtml" model="@(new EmptyStateModel("order","Browse the {0} available to order.", Url.Action(nameof(OrderTriageController.OrderItemType), typeof(OrderTriageController).ControllerName(), new { area= typeof(OrderTriageController).AreaName(), internalOrgId = Model.InternalOrgId }), "/images/orders-splash-with-shadow.svg"))" />
                }
            }
        </div>
    </div>
</div>
