@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSuggestionSearch
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Dashboard.OrganisationModel;
@{
    ViewBag.Title = "Your organisation’s orders";
}

<div data-test-id="dashboard-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.OrganisationName"/>
            @if (Model.CanActOnBehalf)
            {
                <h2>Current organisation</h2>
                <p class="nhsuk-u-margin-bottom-2">You are currently acting on behalf of:</p>
                <p data-test-id="dashboard-page-proxy-on-behalf" class="nhsuk-u-margin-bottom-6">
                    @Model.OrganisationName
                    <a asp-action="@nameof(DashboardController.SelectOrganisation)"
                       asp-controller="@typeof(DashboardController).ControllerName()"
                       asp-route-internalOrgId="@Model.InternalOrgId"
                       class="nhsuk-u-margin-left-4">
                        Change organisation
                    </a>
                </p>
            }

            @if (Context.Request.Query["search"].Count > 0
                 || Model.Orders.Count > 0)
            {
                <vc:nhs-suggestion-search id="orders-suggestion-search"
                                          ajax-url="@Url.Action(nameof(DashboardController.FilterSearchSuggestions), typeof(DashboardController).ControllerName(), new { Model.InternalOrgId })"
                                          title-text="Search for order by order description or Call-off ID"
                                          placeholder-text="Search by Call-off Agreement ID or order description"
                                          query-parameter-name="search"/>
            }
            <br/>

            <partial name="Dashboard/_OrderCardPartial" model="@(new DashboardCardBaseModel<Order>(Model.InternalOrgId, Model.Orders, Model.OrderIds.Count(), pageOptions: Model.Options))"/>
        </div>
    </div>
</div>
