@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSuggestionSearch
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Dashboard.OrganisationModel;
@{
    ViewBag.Title = "Your organisation’s orders";
    var caption = Model.CanActOnBehalf ? string.Empty : Model.OrganisationName;
}

<div data-test-id="dashboard-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@caption"/>
            @if (Model.CanActOnBehalf)
            {
                <details class="bc-account-switcher">
                    <summary>
                        <span class="current-org-title">
                            Current organisation:
                        </span>
                        <span class="currentOrg">
                            @Model.OrganisationName
                        </span>
                    </summary>
                    <form method="post">
                        <div class="nhsuk-form-group nhsuk-u-margin-top-3">
                            <nhs-fieldset-form-label label-text="Which organisation do you want to represent?"
                                                     asp-for="@Model"
                                                     size="Small">
                                <nhs-radio-buttons asp-for="SelectedOrganisationId"
                                                   values="Model.UserOrganisations.Cast<object>()"
                                                   value-name="Value"
                                                   display-name="Text"
                                                   size="Small"/>
                            </nhs-fieldset-form-label>
                        </div>
                        <nhs-submit-button text="Apply change"/>
                    </form>
                </details>
            }

            @if (Context.Request.Query["search"].Count > 0
                 || Model.Orders.Count > 0)
            {
                <vc:nhs-suggestion-search id="orders-suggestion-search"
                                          ajax-url="@Url.Action(nameof(DashboardController.FilterSearchSuggestions), typeof(DashboardController).ControllerName(), new { Model.InternalOrgId })"
                                          title-text="Search for order by order description or Call-off ID"
                                          placeholder-text="Search by Call-off Agreement ID or order description"
                                          query-parameter-name="search"/>
            }
            <br/>

            <partial name="Dashboard/_OrderCardPartial" model="@(new DashboardCardBaseModel<Order>(Model.InternalOrgId, Model.Orders, pageOptions: Model.Options))"/>
        </div>
    </div>
</div>
