@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home.EmptyStateModel

@{
    var solutionsUrl = Url.Action(
                            nameof(SolutionsController.Index),
                            typeof(SolutionsController).ControllerName(),
                            new { area = typeof(SolutionsController).AreaName()});
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h3 class="nhsuk-heading-m">Most recent @Model.EntityPlural</h3>
        <nhs-card-v2>
            <nhs-card-content centre-alignment="true">
                <img src="/images/orders-splash-with-shadow.svg" alt="alt text here" class="splash-intro-img nhsuk-u-margin-top-2" />
                <h3 class="nhsuk-heading-m">No @Model.EntityPlural created yet</h3>
                <p class="nhsuk-body">
                    @Model.EntityPlural.CapitaliseFirstLetter() you create for your organisation will appear here. <br>
                    @Html.Raw(string.Format(Model.Text, "<a href=\"" + solutionsUrl + "\">Catalogue Solutions</a>"))
                </p>
                <vc:nhs-secondary-button text="Create new @Model.Entity"
                                         url="@Model.Url"
                                         type="Primary" />
            </nhs-card-content>
        </nhs-card-v2>
    </div>
</div>
