@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home.EmptyStateModel
@{
    var partialName = "~/Views/Home/_Empty" + Model.Entity.CapitaliseFirstLetter() + "CardContent.cshtml";
}


<nhs-card-v2>
    <nhs-card-content centre-alignment="true">
        <img src="@Model.Image" alt="@Model.Entity.CapitaliseFirstLetter() image" class="splash-intro-img nhsuk-u-margin-top-2" />
        <h3 class="nhsuk-heading-m">No @Model.EntityPlural created yet</h3>
        <p class="nhsuk-body">
            @Model.EntityPlural.CapitaliseFirstLetter() you create for your organisation will appear here. <br>
            <partial name="@partialName" />
        </p>
        <vc:nhs-secondary-button text="Create new @Model.Entity"
                                 url="@Model.Url"
                                 type="Primary" />
    </nhs-card-content>
</nhs-card-v2>

