@model NavBaseModel
@{
    ViewBag.Title = "Advanced Telephony Better Purchasing framework";

    var returnUrl = Url.Action(
        nameof(HomeController.AdvancedTelephony),
        typeof(HomeController).ControllerName());

    var procurementSupportUrl = Url.Action(
        nameof(ProcurementHubController.Index),
        typeof(ProcurementHubController).ControllerName(),
        new { returnUrl });
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        advice="A new way of supporting the commissioning of advanced, cloud-hosted GP telephony systems."/>

        <p>
            The Advanced Telephony Better Purchasing framework allows commissioners to procure cloud-based telephone systems from a number of assured telephony suppliers within the Better Purchasing Framework List.
        </p>

        <p>
            Owned by the National Commercial and Procurement Hub, the list includes suppliers who meet a national cloud-based telephony specification and NHS terms and conditions.
        </p>

        <p>
            The framework offers commissioners support with requirements identification, procurement support, exit and migration support and supplier management.
        </p>

        <p>
            Later this year, the list will be replaced by the Digital Care Services Cloud Telephony framework. Until then, practices with urgent telephony solutions requirements, such as those whose contracts are coming to an end, can move forward with procurement using the list.
        </p>

        <p>
            Suppliers that are on the list will be pre-committed to the terms of the new Digital Care Services Cloud Telephony framework, prior to its launch. Buying organisations can therefore procure services from any of the suppliers with confidence in the capability of the advanced telephony solutions offered and the suppliers operating them.
        </p>

        <h2>Suppliers on the Better Purchasing Framework List</h2>

        <p>These are the suppliers that are available from the list. You can find information about their solutions using the links:</p>

        <ul>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.BabbleVoice">Babblevoice (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.CheckCloud">Check Communications Ltd (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.DaisyPatientLine">Daisy Communications Ltd (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.LouisComm">Louiscomm (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.Redcentric">Redcentric Solutions Ltd (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.RpmPatientContact">RPM Business Communications (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.SurgeryConnect">Surgery Connect (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.ThinkHealthcare">Think Healthcare (PDF)</a>
            </li>
            <li>
                <a asp-controller="@typeof(AdvancedTelephonyController).ControllerName()" asp-action="@nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf)" asp-route-file="@AdvancedTelephonyConstants.WaveNet">Wavenet (PDF)</a>
            </li>
        </ul>

        <p>The list will grow over time as more suppliers meet the qualification criteria.</p>

        <p>
            Find out more about the Better Purchasing framework in the buyer’s guide produced by the National Commercial and Procurement Hub.
        </p>

        <vc:nhs-secondary-button type="Secondary"
                                 text="Download buyer’s guide (PDF)"
                                 url="@Url.Action(nameof(AdvancedTelephonyController.GetAdvancedTelephonyPdf), typeof(AdvancedTelephonyController).ControllerName(), new { file = AdvancedTelephonyConstants.BuyersGuide })"/>

        <p>
            For more information on the Better Purchasing framework and the suppliers and solutions currently involved, contact National Commercial and Procurement Hub.
        </p>

        <div class="nhsuk-u-margin-top-6">
            <vc:nhs-action-link text="Contact Procurement Hub"
                                url="@procurementSupportUrl"/>
        </div>

        <h2>
            Digital Care Services Cloud Telephony framework
        </h2>

        <p>
            The Digital Care Services Cloud Telephony framework is planned to launch in spring 2023. It will set the strategic technical and commercial direction for future services, as well as the standard for unified communications and telephony services in general practice and primary care.
        </p>

        <p>
            The Digital Care Services Cloud Telephony framework will support practices, Primary Care Networks and their Integrated Care Boards in commissioning advanced GP telephony systems built around cloud-hosted Voiceover IP (VoIP) systems, which include clinical system integration, remote access and peak demand management capabilities.
        </p>

        <p>
            The framework will be built around the following Capabilities:
        </p>
        <ul>
            <li>Auto-Attendant and Interactive Voice Response (IVR)</li>
            <li>Call Reporting and Forecasting</li>
            <li>Call Recording</li>
            <li>Office Telephony</li>
            <li>Rule-based Call Routing</li>
        </ul>

        <p>
            It is being planned for implementation before the end of the first quarter of financial year 2023 to 2024.
        </p>


        <vc:nhs-secondary-button text="Back to homepage"
                                 type="Primary"
                                 url="@Url.Action(nameof(HomeController.Index), typeof(HomeController).ControllerName())"/>
    </div>
</div>
