@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers; 
@{
    ViewData["Title"] = "Buying Catalogue";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Find out what clinical information solutions are available from procurement frameworks on the Buying Catalogue." />
        <hr />
        <h2>About the Buying Catalogue</h2>
        <p>The NHS Digital Buying Catalogue is an online marketplace where you can purchase clinical information systems that meet digital needs in health and social care.</p>
        <p>All the listed products – known as Catalogue Solutions – have been assessed against a set of Capabilities defined by the NHS and a set of Standards defined by NHS Digital.</p>
        <p>The functionality of the Buying Catalogue will be enhanced and the number of Catalogue Solutions available will increase over time.</p>
        <vc:nhs-action-link url="/" text="Browse Catalogue Solutions" />
        <hr />
        <h2>What would you like to do?</h2>
        <ul>
            <li>
                <a id="manage-orders-link"
                   asp-area="@typeof(DashboardController).AreaName()"
                   asp-controller="@typeof(DashboardController).ControllerName()"
                   asp-action="@nameof(DashboardController.Index)"><strong>Create or manage orders</strong></a>
                <p>Place a new order or complete an order you've already started (log in required).</p>
            </li>
            <li>
                <a id="request-account-link"
                   asp-area="@typeof(AccountController).AreaName()"
                   asp-controller="@typeof(AccountController).ControllerName()"
                   asp-action="@nameof(AccountController.Registration)"><strong>Request an account</strong></a>
                <p>Get log in credentials so you can create orders on the Buying Catalogue.</p>
            </li>
            <li>
                <a id="nominate-organisation-link"
                   asp-area="@typeof(NominateOrganisationController).AreaName()"
                   asp-controller="@typeof(NominateOrganisationController).ControllerName()"
                   asp-action="@nameof(NominateOrganisationController.Index)"><strong>Nominate an organisation</strong></a>
                <p>Allow an organisation to create orders on your behalf (user account required).</p>
            </li>
        </ul>
    </div>
</div>
