@{
    ViewBag.Title = "Privacy policy and cookies on the Buying Catalogue";
    var backLinkModel = new NavBaseModel { BackLink = "/", BackLinkText = "Go back to homepage" };
}

<partial name="Partials/_BackLink" model="@backLinkModel" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        advice="A description of the information NHS Digital collects as part of our operation of the Buying Catalogue website. We want you to understand why we hold and process this information, and your choices." />

        <p>This page covers the information we collect about you as part of our operation of the Buying Catalogue website. We want you to understand why we hold and process this information, and your choices.</p>

        <p>We always collect, hold and process information securely and lawfully.</p>

        <h2>What personal data are you collecting from me?</h2>

        <p>Personal data means any information relating to an identified or identifiable individual. We collect, use, and store different kinds of personal data about you. Here is a list of the types of personal data that we process about you through the operation of the Buying Catalogue website:</p>

        <h3>Identity Data</h3>

        <p>Your first and last name, username, and organisations ODS code.</p>

        <h3>Contact Data</h3>

        <p>Your email address and telephone number.</p>

        <h3>Technical Data</h3>

        <p>Data collected through use of cookies on the Buying Catalogue website, as listed in the cookies policy below. We also log your internet protocol (IP) address when you access the Buying Catalogue website.</p>

        <p>We will only process the minimum personal data necessary to achieve our purposes.</p>

        <h2>How do we collect your personal data?</h2>

        <p>We use different methods to collect personal data from and about you including:</p>

        <h3>Direct interactions</h3>

        <p>You may give us your Identity Data and Contact Data when you create an account on the Buying Catalogue website or when you enter your personal details into the order form.</p>

        <h3>Automated interactions</h3>

        <p>As you interact with the Buying Catalogue website, we will automatically collect personal data.</p>

        <h2>How is my personal data used?</h2>

        <p>When using the Buying Catalogue website, we will process your personal data for the following reasons:</p>

        <ul>
            <li>to establish the authority that you are ordering for and using the website from</li>
            <li>to enable each part of the Buying Catalogue website to work with each other part</li>
            <li>to ensure that the Buying Catalogue website can operate in a secure manner</li>
            <li>to authenticate users that log in to the Buying Catalogue website</li>
            <li>to capture personal data of authenticated users on the Buying Catalogue website to facilitate the ordering process</li>
            <li>to enable us to contact authenticated users for the purposes of user research with their explicit consent to help us improve the Buying Catalogue website</li>
        </ul>

        <p>See the lawful basis section of this policy below to find out about the types of lawful basis that we rely on to process your personal data for these purposes.</p>

        <h2>What cookies are used on the Buying Catalogue website?</h2>

        <h3>What are cookies?</h3>

        <p>Cookies are files saved on your phone, tablet, or computer when you visit a website. They store information about how you use a website, such as the pages you visit.</p>

        <p>Cookies are not viruses or computer programs. They are very small so do not take up much space.</p>

        <p>Find out <a href="https://www.allaboutcookies.org/">more information about cookies</a>.</p>

        <h3>How we use cookies</h3>

        <p>Some of the cookies used are essential to the operation of the Buying Catalogue website and only persist while a user’s browser is open. Our non-essential cookies relate to analytics and can be switched off.</p>

        <p>If you do nothing other than use the Buying Catalogue website, we will capture and store some information about your visit to make our website work and keep it secure. The information collected in these cookies relates to:</p>

        <ul>
            <li>establishing the authority that you are ordering for and using the website from</li>
            <li>enabling each part of the Buying Catalogue website to work with each other part</li>
            <li>ensuring that the Buying Catalogue website can operate in a secure manner</li>
            <li>checking that the user has the correct permissions</li>
        </ul>

        <p>We do not know (and do not wish to know) the identities of individuals who visit the Buying Catalogue website, other than those users who have registered accounts with us. The information collected through the cookies in operation is not shared with anyone and we do not merge this information with other personal data.</p>
    </div>
</div>

<div data-test-id="cookie-table">
    <nhs-details label-text="List of cookies that make our website work">
        <p>All but one of the cookies we use are essential to allow you to use the Buying Catalogue website. Our one non-essential cookie lets us know if you dismissed our cookie banner.</p>
        <nhs-table>
            <nhs-table-column>Name</nhs-table-column>
            <nhs-table-column>Expires</nhs-table-column>
            <nhs-table-column>Necessary</nhs-table-column>
            <nhs-table-column>Purpose of cookie</nhs-table-column>
            <nhs-table-row-container>
                <nhs-table-cell>
                    buyingcatalogue-cookie-consent
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close the browser (if you do not dismiss the banner) or 1 year (if you dismiss the banner)
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Remembers if you dismissed our cookies banner
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    io
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close the browser
                </nhs-table-cell>
                <nhs-table-cell>
                    Yes
                </nhs-table-cell>
                <nhs-table-cell>
                    This cookie is generated by an identity server as part of the authentication/authorisation mechanisms
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    token
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close the browser
                </nhs-table-cell>
                <nhs-table-cell>
                    Yes
                </nhs-table-cell>
                <nhs-table-cell>
                    This cookie enables authorisation that is passed to our API&#39;s to verify that the current user is authorised to use the areas of the site that are being requested
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    .AspNetCore.Antiforgery
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close the browser
                </nhs-table-cell>
                <nhs-table-cell>
                    Yes
                </nhs-table-cell>
                <nhs-table-cell>
                    This cookie provides vital security information that enables APIs/User Interfaces to remain trusted between each other and prevent external attacks via strange media
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _csrf Security
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close the browser
                </nhs-table-cell>
                <nhs-table-cell>
                    Yes
                </nhs-table-cell>
                <nhs-table-cell>
                    This cookie provides vital security information focussed on the Cross Site Request Forgery (i.e. fake scripts/redirects that could be injected)
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    .AspNetCore.Identity.Application
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close the browser
                </nhs-table-cell>
                <nhs-table-cell>
                    Yes
                </nhs-table-cell>
                <nhs-table-cell>
                    This cookie enables Authorisation confirmation that is used by the token cookie and the User Interface to determine the current authenticated user and their claims (permissions/other necessary information) within the application
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _GRECAPTCHA
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    Yes
                </nhs-table-cell>
                <nhs-table-cell>
                    reCAPTCHA sets a necessary cookie (_GRECAPTCHA) when executed for the purpose of providing its risk analysis
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    s_ecid
                </nhs-table-cell>
                <nhs-table-cell>
                    After 2 years
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Allows persistent ID tracking in the first-party state and is used as a reference ID if the AMCV cookie has expired
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    s_cc
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set and read by the JavaScript code to determine if cookies are enabled
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    s_sq
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set and read by the JavaScript code when the Adobe Select Map functionality or the Adobe Activity Map functionality are enabled; it contains information about the previous link selected by the user
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    s_vi
                </nhs-table-cell>
                <nhs-table-cell>
                    After 2 years
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Used to identify a unique visitor
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    s_fid
                </nhs-table-cell>
                <nhs-table-cell>
                    After 2 years
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Used to identify a unique visitor if the standard s_vi cookie is unavailable due to third-party cookie restrictions. Not used for implementations that use first-party cookies
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjSessionUser{site_id}
                </nhs-table-cell>
                <nhs-table-cell>
                    After 1 year
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Used to persist the Hotjar User ID, unique to that website on the browser. This ensures that behaviour in subsequent visits to the same website will be attributed to the same user ID
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjSession{site_id}
                </nhs-table-cell>
                <nhs-table-cell>
                    After 30 minutes
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Holds the current session data to ensure that subsequent requests within the session window will be attributed to the same Hotjar session
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjClosedSurveyInvites
                </nhs-table-cell>
                <nhs-table-cell>
                    After 1 year
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set once a user interacts with a Hotjar External Link Survey invitation modal. It is used to ensure that the same invite does not reappear if it has already been shown
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjDonePolls
                </nhs-table-cell>
                <nhs-table-cell>
                    After 1 year
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set once a user completes a survey using the Hotjar On-site Survey widget. It is used to ensure that the same survey does not reappear if it has already been filled in
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjMinimizedPolls
                </nhs-table-cell>
                <nhs-table-cell>
                    After 1 year
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set once a user minimises a Hotjar On-site Survey widget. It is used to ensure that the widget stays minimised when the user navigates through a website
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjShownFeedbackMessage
                </nhs-table-cell>
                <nhs-table-cell>
                    After 1 year
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set when a user minimises or completes Hotjar's Incoming Feedback. This is done so that the Incoming Feedback will load as minimised immediately if the user navigates to another page where it is set to show
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjSessionTooLarge
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Causes Hotjar to stop collecting data if a session becomes too large. This is determined automatically by a signal from the WebSocket server if the session size exceeds the limit
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjSessionRejected
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set to '1' for the duration of a user's session, if Hotjar rejected the session from connecting to its WebSocket due to server overload. This cookie is only applied in extremely rare situations to prevent severe performance issues
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjSessionResumed
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set when a session/recording is reconnected to Hotjar servers after a break in connection
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjid
                </nhs-table-cell>
                <nhs-table-cell>
                    After 1 year
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set when the user first lands on a page with the Hotjar script. It is used to persist the Hotjar User ID, unique to that website on the browser. This ensures that behaviour in subsequent visits to the same website will be attributed to the same user ID
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjRecordingLastActivity
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Found in session storage (as opposed to cookies). This gets updated when a user recording starts and when data is sent through the WebSocket (the user performs an action that Hotjar records)
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjTLDTest
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    When the Hotjar script executes it tries to determine the most generic cookie path to should use, instead of the page hostname. This is done so that cookies can be shared across subdomains (where applicable). To determine this, Hotjar tries to store the _hjTLDTest cookie for different URL substring alternatives until it fails. After this check, the cookie is removed
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjUserAttributesHash
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    User Attributes sent through the Hotjar Identify API are cached for the duration of the session in order to know when an attribute has changed and needs to be updated
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjCachedUserAttributes
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Stores User Attributes which are sent through the Hotjar Identify API, whenever the user is not in the sample. Collected attributes will only be saved to Hotjar servers if the user interacts with a Hotjar Feedback tool, but the cookie will be used regardless of whether a Feedback tool is present
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjLocalStorageTest
                </nhs-table-cell>
                <nhs-table-cell>
                    After less than 100 milliseconds
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Used to check if the Hotjar Tracking Script can use local storage. If it can, a value of '1' is set in this cookie. The data stored in _hjLocalStorageTest has no expiration time, but it is deleted almost immediately after it is created
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjIncludedInPageviewSample
                </nhs-table-cell>
                <nhs-table-cell>
                    After 30 minutes
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set to let Hotjar know whether a user is included in the data sampling defined by a website's pageview limit
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjIncludedInSessionSample
                </nhs-table-cell>
                <nhs-table-cell>
                    After 30 minutes
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set to let Hotjar know whether that user is included in the data sampling defined by a website's daily session limit
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjAbsoluteSessionInProgress
                </nhs-table-cell>
                <nhs-table-cell>
                    After 30 minutes
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Used to detect the first pageview session of a user. This is a True/False flag set by the cookie
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjFirstSeen
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Set to identify a new user's first session. It stores a True/False value, indicating whether this was the first time Hotjar saw this user. It is used by recording filters to identify new user sessions
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjViewportId
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Stores information about the user viewport, such as size and dimensions
                </nhs-table-cell>
            </nhs-table-row-container>
            <nhs-table-row-container>
                <nhs-table-cell>
                    _hjRecordingEnabled
                </nhs-table-cell>
                <nhs-table-cell>
                    When you close your browser
                </nhs-table-cell>
                <nhs-table-cell>
                    No
                </nhs-table-cell>
                <nhs-table-cell>
                    Added when a recording starts and is read when the recording module is initialised to see if the user is already in a recording in a particular session
                </nhs-table-cell>
            </nhs-table-row-container>
        </nhs-table>
        <p class="nhsuk-u-margin-top-4">You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, please note that the Buying Catalogue website may become inaccessible or not function properly.</p>
    </nhs-details>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h2>Change your cookie settings</h2>

        <p>Some cookies, like those used to measure how you use our website, are not needed for our website to work.</p>

        <p>These cookies send information about how our site is used to services called Adobe Analytics and Hotjar. We use this information to improve our website.</p>

        <p>You can read the <a href="https://www.adobe.com/uk/privacy/policy.html" target="_blank">Adobe Analytics privacy policy</a> and <a href="https://www.hotjar.com/legal/policies/privacy/" target="_blank">Hotjar privacy policy</a>.</p>

        <vc:nhs-action-link text="Cookies that measure website use"
                            url="@Url.Action(
                                nameof(ConsentController.CookieSettings),
                                typeof(ConsentController).ControllerName())" />

        <h2>Is my personal data used for user research purposes?</h2>

        <p>We would like to contact you about taking part in user research panels and surveys to improve the Buying Catalogue website and connected services. We will ask you if you would like to join our user research panel when you register for a Buying Catalogue account and log in for the first time.</p>

        <p>If you agree to join, we may ask you to:</p>

        <ul>
            <li>try new features</li>
            <li>answer questions or surveys by email</li>
            <li>talk to our researchers about your experience of using the Buying Catalogue website or connected services</li>
        </ul>

        <p>You can always say no to our requests, and you can leave the user research panel at any time.</p>

        <p>
            We will only use your information to contact you about the Buying Catalogue website user research panel.
            It will not be shared with anyone else. You can unsubscribe at any time by contacting the
            <a data-test-id="first-contact-us" asp-controller="@typeof(HomeController).ControllerName()"
               asp-action="@nameof(HomeController.ContactUs)">Buying Catalogue Team</a>.
        </p>

        <h2>What lawful basis are you using to process my personal data?</h2>

        <p>
            The lawful basis we use to process your personal data is as follows:
        </p>

        <h3>
            Performance of a contact
        </h3>

        <p>
            We will process your personal data as we provide you with products and services through the operation of the Buying Catalogue website. This includes processing your personal data to facilitate the ordering process.
        </p>

        <h3>
            Legitimate Interests
        </h3>

        <p>
            We will process your personal data as it is within the legitimate interests of NHS Digital to process this personal data for the operation of the Buying Catalogue website. Legitimate interest means the interest of NHS Digital in conducting and managing the Buying Catalogue website to enable us to give you the best service and most secure experience.
        </p>

        <h3>
            Consent
        </h3>

        <p>
            For users that have registered accounts on the Buying Catalogue website, we may contact you for user research purposes.
            The lawful basis for this activity will be consent. We will only contact you for these purposes when you have given us informed and explicit consent.
            You can withdraw this consent at any time by contacting the
            <a data-test-id="second-contact-us" asp-controller="@typeof(HomeController).ControllerName()"
               asp-action="@nameof(HomeController.ContactUs)">Buying Catalogue Team</a>.
        </p>

        <h2>
            Where will my personal data be stored and processed?
        </h2>

        <p>
            We will only store and process your personal data within the UK.
        </p>

        <h2>
            What are my data processing rights?
        </h2>

        <p>
            Data protection laws give you the right:
        </p>

        <ul>
            <li>
                to request a copy of the information we hold about you. You can do this by making a <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/publication-scheme/how-to-make-a-subject-access-request">subject access request</a>
            </li>
            <li>
                to know how your personal data will be collected, processed, and stored, and for what purposes
            </li>
            <li>
                to correct your personal data errors or omissions
            </li>
            <li>
                to request that we delete your personal data
            </li>
            <li>
                to restrict our use of your personal data (for example, if you think it is inaccurate and needs to be corrected before it is used)
            </li>
            <li>
                to object to us processing your personal data at any time
            </li>
            <li>
                to be subject to a decision based solely on automated decision making, including profiling
            </li>
            <li>
                to withdraw your consent, which applies to your participation in user research activities
            </li>
        </ul>

        <p>
            <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">Find more information on these rights</a>.
        </p>

        <p>
            If you wish to exercise any of the rights set out above, please contact us using the contact details at the bottom of this page.
        </p>

        <h2>
            Can my personal data be processed for unrelated purposes not listed in this policy?
        </h2>

        <p>
            We will only use your personal data for the purposes for which we collected it, unless we reasonably consider that we need to use it for another reason and that reason is compatible with the original purpose. If you wish to gain an explanation as to how the processing for the new purpose is compatible with the original purpose, please contact us.
        </p>

        <p>
            If we need to use your personal data for an unrelated purpose, we will notify you and we will explain the lawful basis which allows us to do so in an updated privacy and cookies policy.
        </p>

        <p>
            Please note that we may process your personal data without your knowledge or consent, in compliance with the above rules, where this is required or permitted by law.
        </p>

        <h2>
            How is my personal data protected?
        </h2>

        <p>
            We have organisational technical  controls in place to ensure that your personal data is not lost, accidently destroyed, misused, or disclosed, and is not accessed except by our employees in the performance of their duties in operating the Buying Catalogue website. We have set up security measures, policies, and procedures such as:
        </p>

        <ul>
            <li>
                training all staff annually in data and security protection
            </li>
            <li>
                monitoring our platform to keep your personal information secure
            </li>
            <li>
                following good practice guidance provided by the National Technical Authority
            </li>
            <li>
                always using legally binding agreements with all organisations we use
            </li>
            <li>
                having security and confidentiality policies in place across the organisation, to which staff must agree before they are given access to personal information
            </li>
            <li>
                restricting access to personal information to only those staff who need access to perform their role
            </li>
        </ul>

        <h2>
            How long is my personal data retained for?
        </h2>

        <p>
            We will only retain your personal data for as long as reasonably necessary to fulfil the purposes we collected it for. Listed below are the different types of personal data that NHS Digital process in the operation of the Buying Catalogue website and the period this data is retained for:
        </p>

        <h3>
            Identity Data and Contact Data
        </h3>

        <p>
            We retain this personal data for as long as you have an active user account on the Buying Catalogue website. Once an account has been requested closed, we delete all the data associated with the account within 30 days.
        </p>

        <h3>
            Technical Data
        </h3>

        <p>
            Data collected from the cookies in use is destroyed as soon as you close the browser. The IP addresses that we process when you access the Buying Catalogue website are retained for 30 days, after which they are over written and destroyed.
        </p>

        <h2>
            Does this policy apply to other websites?
        </h2>

        <p>
            This privacy notice only relates to information obtained through use of the Buying Catalogue website.
        </p>

        <p>
            If you visit a website operated by a third party through a link included on this website, your information may be used differently by the operator of the linked website. These third parties may include, for example, suppliers that are listed on the Buying Catalogue website.
        </p>

        <p>
            When you are moving to another site you are advised to read the privacy policy relating to that website.
        </p>

        <h2>
            How can I contact NHS Digital?
        </h2>

        <p>
            <strong>You can contact us by:</strong><br />
            Email: <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a><br />
            Telephone: 0300 303 5678<br />
        </p>

        <p class="nhsuk-u-margin-bottom-0">
            <strong>Or by writing to us:</strong>
        </p>
        <address>
            Information Governance Compliance Team<br />
            NHS Digital<br />
            1 Trevelyan Square<br />
            Boar Lane<br />
            Leeds<br />
            LS1 6AE
        </address>

        <p>
            Your enquiry will be answered by our contact centre.
        </p>

        <p>
            We collect the information that you give us, and use it to help resolve your query, to contact you about your query, and to improve our services.
        </p>

        <p>
            We keep this information for 3 years from the date of your enquiry.
        </p>

        <p>
            Our Data Protection Officer is Kevin Willis, whose duties include monitoring internal compliance and advising the organisation on its data protection obligations and can be contacted via <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>.
        </p>

        <h2>
            How can I lodge a complaint?
        </h2>

        <p>
            If you wish to raise a complaint concerning NHS Digital's processing activity, visit our <a href="https://digital.nhs.uk/about-nhs-digital/contact-us/feedback-and-complaints">Feedback and Complaints</a> page.
        </p>

        <p>
            You also have the right to raise a concern with the <a href="https://ico.org.uk/global/contact-us/">Information Commissioner's Office</a> (ICO) at any time. We would, however, appreciate the chance to deal with your concerns before you approach the ICO so please contact us in the first instance.
        </p>

        <p class="nhsuk-u-margin-bottom-0">
            <strong>The contact details for the ICO are:</strong>
        </p>
        <address>
            Information Commissioner's Office<br />
            Wycliffe House<br />
            Water Lane<br />
            Wilmslow<br />
            SK9 5AF
        </address>

        <p>
            Visit the <a href="https://ico.org.uk/global/contact-us/">Information Commissioner's Office website</a>.
        </p>
    </div>
</div>
