@using NHSD.GPIT.BuyingCatalogue.Framework.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.DevelopmentPlans.EditWorkOffPlanModel
@{
    ViewBag.Title = "Work-off plan information";

    var standardsList = Model.Standards.OrderBy(s => s.Name).Select(s => new SelectOption<string>(s.Name, s.Id));
}
<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionName"
                        advice="Provide the following information about a Work-off Plan item for your Catalogue Solution." />
        <form method="post">
            <input type="hidden" asp-for="SolutionName" />
            <input type="hidden" asp-for="SolutionId" />
            <input type="hidden" asp-for="BackLink" />

            <nhs-select asp-for="SelectedStandard"
                        asp-items="standardsList"
                        label-text="Select Standard" />

            <nhs-input asp-for="Details"
                       label-text="Work-off Plan details"
                       label-hint="For example, which part of a Standard still requires work to meet compliance?" />

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Agreed completion date"
                                     label-hint="For example, 15 3 1984">
                <nhs-date-input asp-for="@Model"
                                day="@Model.Day"
                                month="@Model.Month"
                                year="@Model.Year" />
            </nhs-fieldset-form-label>
            <br/>
            <nhs-submit-button />
        </form>
        @if (Model.WorkOffPlanId.HasValue)
        {
            <vc:nhs-delete-button text="Delete Work-off Plan item"
                                  url="@Url.Action(
                                    nameof(DevelopmentPlansController.DeleteWorkOffPlan),
                                    typeof(DevelopmentPlansController).ControllerName(),
                                    new { Model.SolutionId, Model.WorkOffPlanId })" />
        }
    </div>
</div>
