@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderingParty.OrderingPartyModel;
@{
    ViewBag.Title = "Who is the primary contact for this order?";
}

<div data-test-id="ordering-party-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <form method="post">
               <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />
                <nhs-validation-summary />
                <nhs-page-title title="@ViewBag.Title"
                                advice="Provide information about the best person to contact at your organisation."
								caption = "Order @Model.CallOffId"/>

				<nhs-fieldset-form-container asp-for="@Model">
					<nhs-input asp-for="@Model.Contact.FirstName"
                                            label-text="First name" />
                    <nhs-input asp-for="@Model.Contact.LastName"
                                            label-text="Last name" />
					<nhs-input asp-for="@Model.Contact.TelephoneNumber"
											label-text="Telephone number"
											input-width="Ten"/>
                    <nhs-input asp-for="@Model.Contact.EmailAddress"
                                            label-text="Email address" />
				</nhs-fieldset-form-container>
				<br/>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
