@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers.SolutionSelection;
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Extensions
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Catalogue.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.SolutionSelection.ServiceRecipients.SelectRecipientsModel;
@{
    ViewBag.Title = "Service Recipients";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary />
        
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model!.ItemName"
                        advice="Select the organisations you want to receive this @(Model.ItemType.Name())." />

        @if (Model.PreSelected && Model.ItemType != CatalogueItemType.Solution)
        {
            <div id="pre-selected" class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>The recipients you selected for your Catalogue Solution have been pre-selected.</p>
            </div>
        }

        <h2>Select Service Recipients</h2>

        <vc:nhs-secondary-button url="@Url.Action(
                                          nameof(ServiceRecipientsController.AddServiceRecipients),
                                          typeof(ServiceRecipientsController).ControllerName(),
                                          new { Model.InternalOrgId, Model.CallOffId, Model.CatalogueItemId, Model.SelectionMode })"
                                 text="@Model.SelectionCaption"
                                 use-primary-colour="false" />
        
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.CatalogueItemId" />
            <input type="hidden" asp-for="@Model.ItemName" />
            <input type="hidden" asp-for="@Model.ItemType" />
            <input type="hidden" asp-for="@Model.SelectionCaption" />
            <input type="hidden" asp-for="@Model.SelectionMode" />
            <input type="hidden" asp-for="@Model.Source" />

            <nhs-table>
                <nhs-table-column>Organisation</nhs-table-column>
                <nhs-table-column>ODS code</nhs-table-column>
                @foreach (var (item, i) in Model.ServiceRecipients.Select((x, i) => (x, i)))
                {
                    <nhs-table-row-container>
                        <nhs-table-cell>
                            <nhs-checkbox-container>
                                <nhs-checkbox asp-for="@Model.ServiceRecipients[i].Selected"
                                              label-text="@item.Name"
                                              hidden-input="@Model.ServiceRecipients[i].Name" />
                            </nhs-checkbox-container>
                        </nhs-table-cell>
                        <nhs-table-cell>
                            <div class="nhsuk-input--width-10 nhsuk-u-margin-top-2">@item.OdsCode</div>
                            <input type="hidden" asp-for="@Model.ServiceRecipients[i].OdsCode" />
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
            <br />
            <nhs-submit-button />
        </form>
    </div>
</div>
