@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.BrowserBased.MobileFirstApproachModel;
@{
    ViewData["Title"] = "Browser based application - mobile first approach";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="_BackLink" model="Model"/>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>
        <partial name="_NhsPageTitle" model="@Model.PageTitle()"/>
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId"/>
            <input type="hidden" asp-for="@Model.BackLink"/>
            <nhs-fieldset-form asp-for="@Model"
                               label-text="Mobile first approach"
                               label-hint="Is your Catalogue Solution designed with a mobile first approach?">
                <nhs-radio-buttons asp-for="@Model.MobileFirstApproach" is-yes-no="true"/>
            </nhs-fieldset-form>
            <nhs-submit-button/>
        </form>
    </div>
</div>
