@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.BrowserBased.SupportedBrowsersModel;
@{
    ViewData["Title"] = "Browser-based application - suppported browsers";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title
            title="Browser-based application – supported browsers"
            title-advice="Let buyers know which types of browser will work with your Catalogue Solution."
        />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <nhs-fieldset-form asp-for="@Model"
                label-text="Supported browser types"
                label-hint="Select all the types of browser that are supported by your Catalogue Solution.">
                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.Browsers.Length; i++)
                    {
                        <nhs-validation-checkbox asp-for="@Model.Browsers[i].Checked" label-text="@Model.Browsers[i].BrowserName" hidden-input="@Model.Browsers[i].BrowserName" />
                    }
                    </nhs-checkbox-container> 
            </nhs-fieldset-form>
            <nhs-fieldset-form asp-for="@Model"
                label-text="Mobile responsive"
                label-hint="Does the design of your Catalogue Solution adapt for use on mobile or tablet devices?">
                    <nhs-radio-buttons
                    asp-for="MobileResponsive"
                    is-yes-no="true" 
                    />                
            </nhs-fieldset-form>
            <nhs-submit-button />
        </form>
    </div>
</div>