@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AddSolutionModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add a Solution page";
}
<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
        <partial name="Partials/_BackLink" model="Model" />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <nhs-page-title title="Add a solution" advice="Provide the following information about your Catalogue Solution." />
                <h2>Solution details</h2>
                <form method="post">
                    <input type="hidden" asp-for="@Model.BackLink" />
                    <input type="hidden" asp-for="@Model.BackLinkText" />
                    <nhs-input asp-for="@Model.SolutionName"
                               label-text="Solution name" />
                    <nhs-select asp-for="@Model.SupplierId"
                                asp-items="@(new SelectList(Model.Suppliers.Select(s => new SelectListItem($"{s.Value} ({s.Key})", s.Key)).ToList(),"Value","Text"))"
                                label-text="Supplier name" />

                    <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                                <h1 class="nhsuk-fieldset__heading">
                                    Framework(s)
                                </h1>
                            </legend>
                            <div class="nhsuk-hint" id="contact-hint">
                                Select all that apply.
                            </div>
                            <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" asp-for="@Model.FrameworkModel.GpitFuturesFramework" type="checkbox" value="gpit" aria-controls="conditional-contact-1" aria-expanded="false">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                                        GP IT Futures Framework
                                    </label>
                                </div>
                                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
                                    <div class="nhsuk-form-group">
                                        <div class="nhsuk-checkboxes">
                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" asp-for="@Model.FrameworkModel.FoundationSolutionFramework" type="checkbox" value="foundation">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                                    Foundation Solution
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" asp-for="@Model.FrameworkModel.DfocvcFramework" type="checkbox" value="dfocvc">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                                        DFOCVC Framework
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br>
                    <nhs-submit-button text="Save and continue" />
                </form>
            </div>
        </div>
    </main>
</div>
