@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.ListOrganisationsModel
@{
    ViewBag.Title = "Manage buyer organisations and users";
}
<div data-test-id="organisations">
    <nhs-page-title title="@ViewBag.Title"
                    advice="Add a new buyer organisation or edit the details and user accounts for one that's already been created." />

    <div data-test-id="add-org-button">
        <vc:nhs-action-link url="@Url.Action(
            nameof(OrganisationsController.Find),
            typeof(OrganisationsController).ControllerName())"
            text="Add an organisation"/>
    </div>
    <nhs-table data-test-id="org-table">
        <nhs-table-column>Organisation</nhs-table-column>
        <nhs-table-column class="nhsuk-u-nowrap">ODS code</nhs-table-column>
        <nhs-table-column>
        </nhs-table-column>

        @foreach (var organisationModel in Model.Organisations)
        {
            <nhs-table-row-container>
                <nhs-table-cell>
                    <span data-test-id="org-name">
                        @organisationModel.Name
                    </span>
                </nhs-table-cell>
                <nhs-table-cell>
                    <span data-test-id="org-ods-code">
                        @organisationModel.OdsCode
                    </span>
                </nhs-table-cell>
                <nhs-table-cell>
                    <a data-test-id="org-link" data-org-id="@organisationModel.Id" asp-area="Admin" asp-controller="Organisations" asp-action="Details" asp-route-organisationId="@organisationModel.Id">Edit</a>
                </nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>
</div>
