@{
    ViewBag.Title = "Buying Catalogue admin";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <nhs-page-title title="@ViewBag.Title"
                        advice="Manage solutions, organisations, users and orders on the Buying Catalogue." />

        <hr>

        <h2>Manage solutions</h2>
        <ul>
            <li>
                <a href="@Url.Action(nameof(CatalogueSolutionsController.Index), typeof(CatalogueSolutionsController).ControllerName())">Manage Catalogue Solutions</a>
                <p>Add new solutions and edit ones that are already published.</p>
            </li>
            <li>
                <a href="@Url.Action(nameof(FrameworksController.Dashboard), typeof(FrameworksController).ControllerName())">Manage Frameworks</a>
                <p>Add new frameworks and edit ones that are already supported.</p>
            </li>
            <li>
                <a href="@Url.Action(nameof(SupplierDefinedEpicsController.Dashboard), typeof(SupplierDefinedEpicsController).ControllerName())">Manage supplier defined Epics</a>
                <p>Add new supplier defined Epics and edit ones that are already published.</p>
            </li>
        </ul>

        <h2>Manage organisations</h2>
        <ul>
            <li>
                <a href="@Url.Action(nameof(OrganisationsController.Index), typeof(OrganisationsController).ControllerName())">Manage buyer organisations</a>
                <p>Add users to buyer organisations and edit accounts that have already been created.</p>
            </li>
            <li>
                <a href="@Url.Action(nameof(SuppliersController.Index), typeof(SuppliersController).ControllerName())">Manage supplier organisations</a>
                <p>Add a new supplier organisation or edit the details for one that's already been created.</p>
            </li>
        </ul>

        <h2>Manage users</h2>
        <ul>
            <li>
                <a href="@Url.Action(nameof(UsersController.Index), typeof(UsersController).ControllerName())">Manage all users</a>
                <p>Add a new user or edit the details for one that's already been created.</p>
            </li>

            <li>
                <a href="@Url.Action(nameof(EmailDomainManagementController.Index), typeof(EmailDomainManagementController).ControllerName())">Manage allowed email domains</a>
                <p>Add or delete email domains that a user can register with.</p>
            </li>
        </ul>

        <h2>Manage orders</h2>
        <ul>
            <li>
                <a href="@Url.Action(nameof(ManageOrdersController.Index), typeof(ManageOrdersController).ControllerName())">Manage all orders</a>
                <p>View all orders that have been created on the Buying Catalogue.</p>
            </li>
        </ul>
    </div>
</div>
