@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.CommencementDate.CommencementDateModel;
@{
    ViewBag.Title = "Timescales for Call-off Agreement";

    var advice = Model.IsAmendment
        ? "This is the commencement date, initial period and duration for the original order. They cannot be changed."
        : "Provide the commencement date, initial period and duration of the Call-off Agreement.";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="@advice" />

        @if (Model.IsAmendment)
        {
            var commencementDate = Model.Date.HasValue
                ? $"{Model.Date.Value:d MMMM yyyy}"
                : "No commencement date entered";

            <div id="commencement-date-read-only-display"
                 class="nhsuk-u-margin-bottom-9">
                <nhs-summary-list>
                    <nhs-summary-list-row label-text="Commencement date">
                        @commencementDate
                    </nhs-summary-list-row>
                    <nhs-summary-list-row label-text="Initial period">
                        @Model.InitialPeriod months
                    </nhs-summary-list-row>
                    <nhs-summary-list-row label-text="Maximum term for each Service Recipient">
                        @Model.MaximumTerm months
                    </nhs-summary-list-row>
                </nhs-summary-list>
            </div>

            <vc:nhs-secondary-button text="Continue"
                                     type="Primary"
                                     url="@Url.Action(
                                              nameof(OrderController.Order),
                                              typeof(OrderController).ControllerName(),
                                              new { Model.InternalOrgId, Model.CallOffId })"/>
        }
        else
        {
            <form method="post">
                <input type="hidden" asp-for="@Model.MaxumimTermUpperLimit" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.BackLinkText" />

                <div class="nhsuk-u-margin-bottom-9">
                    <nhs-fieldset-form-label asp-for="@Model"
                                             label-text="What is the Call-off Agreement commencement date?"
                                             label-hint="This is the date you've agreed with the supplier that the Call-off Agreement will begin."
                                             size="ExtraSmall">
                        <nhs-date-input asp-for="@Model" day="Day" month="Month" year="Year" />
                    </nhs-fieldset-form-label>
                </div>

                <div class="nhsuk-u-margin-bottom-9">
                    <nhs-bookended-input asp-for="@Model.InitialPeriod"
                                         label-text="What is the Call-off Agreement initial period (in months)?"
                                         label-hint="This is the period after which the Call-off Agreement can be terminated without incurring charges by giving 30 days' notice."
                                         Suffix="months" />
                </div>

                <div class="nhsuk-u-margin-bottom-9">
                    <nhs-bookended-input asp-for="@Model.MaximumTerm"
                                         label-text="What is the Call-off Agreement duration (in months)?"
                                         label-hint="This is the maximum length of time the Call-off Agreement can run for and begins on the date the first of your ordered items starts being used. It includes the initial period and cannot exceed @Model.MaxumimTermUpperLimit months."
                                         Suffix="months" />
                </div>

                <nhs-submit-button />
            </form>
        }
    </div>
</div>
