@model OrderingInformationModel

@{
    ViewBag.Title = "Review order details and start order";
    var additionalServices = Model.GetAdditionalServices();
    var associatedServices = Model.GetAssociatedServices();
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="This is what you're ordering based on this competition."/>

        <nhs-card>
            <h2>Catalogue Solution</h2>
            <partial name="_OrderingInformationItem" model="Model.SolutionDisplay"/>
            <br/>

            @if (additionalServices.Any())
            {
                <h2>Additional Services</h2>
                @foreach (var additionalService in additionalServices)
                {
                    <partial name="_OrderingInformationItem" model="additionalService"/>
                    <br/>
                }
            }

            @if (associatedServices.Any())
            {
                <h2>Associated Services</h2>
                @foreach (var associatedService in associatedServices)
                {
                    <partial name="_OrderingInformationItem" model="associatedService"/>
                    <br/>
                }
            }

            <h2>Total indicative costs excluding VAT</h2>
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Total one-off cost:">
                    £@($"{Model.CalculateTotalOneOffCost():N2}")
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="Total monthly cost:">
                    £@($"{Model.CalculateTotalMonthlyCost():N2}")
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="Total cost for one year:">
                    £@($"{Model.CalculateTotalYearlyCost():N2}")
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="Contract length:">
                    @Model.ContractLength months
                </nhs-summary-list-row>

                <nhs-summary-list-row label-text="@($"Total cost of contract")">
                    £@($"{Model.CalculateTotalCost():N2}")
                </nhs-summary-list-row>
            </nhs-summary-list>

            <h2>Service Recipients</h2>
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Total Service Recipients">@Model.NumberOfRecipients</nhs-summary-list-row>
            </nhs-summary-list>

            <form method="post">
                <nhs-submit-button text="Start order"/>
            </form>
        </nhs-card>
    </div>
</div>
