@model SelectWinningSolutionModel

@{
    ViewBag.Title = "Which solution would you like to select as winner?";
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.SolutionId)"/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="As your competition produced more than 1 solution with a winning score, you can choose to procure any of the winning solutions."/>

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="CompetitionName"/>

            @for (var i = 0; i < Model.WinningSolutions.Count; i++)
            {
                <input type="hidden" asp-for="@Model.WinningSolutions[i].Advice" />
                <input type="hidden" asp-for="@Model.WinningSolutions[i].Text" />
                <input type="hidden" asp-for="@Model.WinningSolutions[i].Value" />
            }

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Winning solutions"
                                     label-hint="These solutions have all achieved a winning score. Select the one you want to be the winner of this competition.">
                <nhs-radio-buttons asp-for="SolutionId"
                                   values="Model.WinningSolutions.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text"
                                   hint-name="Advice"/>
            </nhs-fieldset-form-label>

            <br/>
            <div>
                <nhs-submit-button text="Save and continue"/>
            </div>
            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
        </form>

    </div>
</div>
