@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AddAnOrganisationModel
@{
    ViewData["Title"] = "Buying Catalogue - Admin";
}


<div class="nhsuk-width-container" data-test-id="add-proxy-organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title 
                title="Add organisation to @Model.Organisation.Name"
                title-advice="@Model.Organisation.Name will then be able to create orders on this organisation's behalf." />

            <form method="post">
                <input type="hidden" asp-for="@Model.Organisation.OrganisationId" />

                <nhs-fieldset-form label-text="Which organisation are you looking for?" label-hint="Select one option." name="relatedOrganisationId">
                    <nhs-radio-buttons asp-for="@Model.SelectedOrganisation" values="@Model.AvailableOrganisations" value-name="OrganisationId" display-name="Name" />
                </nhs-fieldset-form>
                <nhs-submit-button text="Confirm" />
            </form>
        </div>
    </div>
</div>