@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Organisations.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AddAnOrganisationModel
@{
    ViewBag.Title = "Add a related organisation";
}

<div data-test-id="add-proxy-organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title
                title="@ViewBag.Title"
                caption="@Model.Organisation.Name"
                advice="This organisation will then be able to create orders on behalf of the organisation you select." />
            <form method="post">
                <input type="hidden" asp-for="@Model.Organisation.Id" />

                <nhs-fieldset-form-label
                    asp-for="@Model"
                    label-text="Which organisation are you looking for?"
                    label-hint="Select one option.">
                    <nhs-radio-buttons asp-for="SelectedOrganisation"
                                       values="@Model.AvailableOrganisations"
                                       value-name="@nameof(Organisation.Id)"
                                       display-name="@nameof(Organisation.Name)" />
                </nhs-fieldset-form-label>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
