@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Organisations.Models
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.AddAnOrganisationModel
@{
    ViewBag.Title = "Add a related organisation";
}

<div data-test-id="add-proxy-organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="@nameof(Model.SelectedOrganisation)"/>
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.OrganisationName"
                            advice="This organisation will then be able to create orders on behalf of the organisation you select." />
            <form method="post">
                <input type="hidden" asp-for="OrganisationId" />
                <input type="hidden" asp-for="OrganisationName" />

                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Which organisation are you looking for?"
                                         label-hint="Select one option.">
                    <nhs-radio-button-container>
                        @for (int i = 0; i < Model.AvailableOrganisations.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model.AvailableOrganisations[i].Id" />
                            <input type="hidden" asp-for="@Model.AvailableOrganisations[i].Name" />
                            <nhs-radio-button asp-for="SelectedOrganisation"
                                              value="@Model.AvailableOrganisations[i]"
                                              value-name="@nameof(Organisation.Id)"
                                              display-name="@nameof(Organisation.Name)" />
                        }
                    </nhs-radio-button-container>
                </nhs-fieldset-form-label>
                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
