@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AddUserModel
@{
    ViewData["Title"] = "Add new user";
}

<div data-test-id="add-user-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="Add new user" advice="Provide the following information to make a new user account." />
            <h2 data-test-id="org-name-subheading" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">Organisation name</h2>
            <p data-test-id="org-name" class="nhsuk-u-margin-bottom-9">
                @Model.Organisation.Name
            </p>
            <form method="post">
                <nhs-input
                    asp-for="@Model.FirstName" 
                    label-text="First name"
                />

                <nhs-input
                    asp-for="@Model.LastName" 
                    label-text="Last name"
                />
                <nhs-input
                    asp-for="@Model.TelephoneNumber" 
                    label-text="Telephone number"
                />
                <nhs-input
                    asp-for="@Model.EmailAddress" 
                    label-text="Email address"
                />
                <div data-test-id="add-user-button">
                    <nhs-submit-button text="Add user" />
                </div>
            </form>
        </div>
    </div>
</div>
