@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AddUserModel
@{
    ViewBag.Title = "Add a new user";
}

<div data-test-id="add-user-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.Organisation.Name"
                            advice="Provide the following information to create a new user account." />
            <form method="post">
                <nhs-input
                    asp-for="@Model.FirstName" 
                    label-text="First name" />
                <nhs-input
                    asp-for="@Model.LastName" 
                    label-text="Last name" />
                <nhs-input
                    asp-for="@Model.TelephoneNumber" 
                    label-text="Telephone number" />
                <nhs-input
                    asp-for="@Model.EmailAddress" 
                    label-text="Email address"
                />
                <div data-test-id="add-user-button">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>
