@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.AddUserModel
@{
    ViewBag.Title = "Add a new user";
}

<div data-test-id="add-user-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model!.OrganisationName"
                            advice="Provide the following information about this user." />

            <form method="post">
                <input type="hidden" asp-for="OrganisationName" />
                
                <nhs-input
                    asp-for="@Model.EmailAddress" 
                    label-text="Email address"
                    label-hint="This will also become the user's username" />
                <nhs-input
                    asp-for="@Model.FirstName" 
                    label-text="First name" />
                <nhs-input
                    asp-for="@Model.LastName" 
                    label-text="Last name" />
                <nhs-input
                    asp-for="@Model.TelephoneNumber" 
                    label-text="Telephone number (optional)" />

                <div data-test-id="add-user-button">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>
