@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.CreateOrganisationModel
@{
    ViewBag.Title = "Confirm organisation";
}

<div data-test-id="create-org-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="Create organisation" advice="Create organisation on the Buying Catalogue." />
        </div>
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-grid-row">
                <h2 data-test-id="organisation-details-heading" class="nhsuk-grid-column-one-half">Organisation details</h2>
                <a data-test-id="change-org-link" 
                   asp-area="@typeof(OrganisationsController).AreaName()" 
                   asp-controller="@typeof(OrganisationsController).ControllerName()" 
                   asp-action="@nameof(OrganisationsController.Find)" 
                   asp-route-ods="@Model.OdsOrganisation.OdsCode" 
                   class="nhsuk-grid-column-one-half nhsuk-u-font-size-19">Change organisation</a>
            </div>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-summary-list>
                <nhs-summary-list-row label-text="ODS code">
                    <p>
                        @Model.OdsOrganisation.OdsCode
                    </p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Organisation name">
                    <p>
                        @Model.OdsOrganisation.OrganisationName
                    </p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Address">
                    <vc:nhs-address address="@Model.OdsOrganisation.Address" />
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Primary role ID">
                    <p>
                        @Model.OdsOrganisation.OrganisationRoleId
                    </p>
                </nhs-summary-list-row>
            </nhs-summary-list>
            <form method="post">
                <input type="hidden" asp-for="@Model.OdsOrganisation.OdsCode" />
                <nhs-fieldset-form-label asp-for="@Model">
                    <nhs-checkbox-container>
                        <nhs-checkbox
                        asp-for="@Model.CatalogueAgreementSigned" 
                        label-text="Ensure this organisation has a signed Organisation End User Agreement before confirming" />
                    </nhs-checkbox-container>
                </nhs-fieldset-form-label>
                <div data-test-id="save-button">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>
