@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.DetailsModel
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@{
    ViewBag.Title = "Organisation details";
}
@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(HomeController.Index)" 
                       asp-controller="@typeof(HomeController).ControllerName()" 
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(OrganisationsController.Index)" 
                       asp-controller="@typeof(OrganisationsController).ControllerName()" 
                       class="nhsuk-breadcrumb__link">Manage buyer organisations</a>
                </li>
            </ol>
        </div>
    </nav>
}
<div data-test-id="organisation-page">
    <nhs-page-title title="@ViewBag.Title"
                    caption="@Model!.Organisation.Name"
                    advice="These are the details for the organisation and its users." />
    <nhs-summary-list>
        <nhs-summary-list-row label-text="ODS code">
            <p data-test-id="org-page-external-identifier">
                @Model.Organisation.ExternalIdentifier
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Primary role ID">
            <p>
                @Model.Organisation.PrimaryRoleId
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Business address">
            <div data-test-id="org-page-address">
                <vc:nhs-address address="@Model.OrganisationAddress" />
            </div>
        </nhs-summary-list-row>
    </nhs-summary-list>

    <h2>Further details</h2>
    <ul>
        <li>
            <a href="@Url.Action(
                         nameof(OrganisationsController.Users),
                         typeof(OrganisationsController).ControllerName(),
                         new { organisationId = @Model.Organisation.Id })"><strong>User accounts</strong></a>
            <p>Add, edit and view user accounts for @Model.Organisation.Name.</p>
        </li>
    </ul>

    <h2>Related organisations</h2>
    <p>These are the organisations this organisation can create orders on behalf of.</p>
    <div data-test-id="add-organisation-button">
        <vc:nhs-action-link url="/admin/organisations/proxy/@Model.Organisation.Id" text="Relate to an organisation" />
    </div>

    <div id="related-org-table" data-test-id="related-org-table">
        <nhs-table>
            <nhs-table-column>
                Organisation name
            </nhs-table-column>
            <nhs-table-column>
                ODS code
            </nhs-table-column>
            <nhs-table-column>
            </nhs-table-column>
            @foreach (var relatedOrganisation in Model.RelatedOrganisations)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>
                        <div data-test-id="related-org-name-@relatedOrganisation.Id">@relatedOrganisation.Name</div>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <div data-test-id="related-org-externalIdentifier-@relatedOrganisation.Id">@relatedOrganisation.ExternalIdentifier</div>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a data-test-id="related-org-remove-@relatedOrganisation.Id" 
                           asp-area="@typeof(OrganisationsController).AreaName()" 
                           asp-controller="@typeof(OrganisationsController).ControllerName()" 
                           asp-action="@nameof(OrganisationsController.RemoveAnOrganisation)" 
                           asp-route-organisationId="@Model.Organisation.Id" 
                           asp-route-relatedOrganisationId="@relatedOrganisation.Id">Remove</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>
    </div>
</div>
