@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.DetailsModel
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@{
    ViewData["Title"] = "Buying Catalogue – Admin";
}

<div data-test-id="organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="Organisation details"
                    caption="@Model.Organisation.Name"
                    advice="These are the details for the organisation and its users." />
    <nhs-summary-list>
        <nhs-summary-list-row label-text="ODS code">
            <p data-test-id="org-page-ods-code">
                @Model.Organisation.OdsCode
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Primary Role ID">
            <p>
                @Model.Organisation.PrimaryRoleId
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Business address">
            <div data-test-id="org-page-address">
                <vc:nhs-address address="@Model.OrganisationAddress" />
            </div>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Contract">
            <p>
                <a data-test-id="edit-org-button" asp-area="Admin" asp-controller="Organisations" asp-action="EditOrganisation" asp-route-organisationId="@Model.Organisation.Id" class="bc-u-float-right nhsuk-u-margin-left-2">Change</a>
                @Model.CatalogueAgreementText
            </p>
        </nhs-summary-list-row>
    </nhs-summary-list>

    <h2 data-test-id="accounts-subheading">User accounts for @Model.Organisation.Name</h2>

    <div data-test-id="add-user-button">
        <vc:nhs-action-link url="/admin/organisations/@Model.Organisation.Id/adduser" text="Add new user" />
    </div>

    <div data-test-id="user-table">
        <nhs-table>
            <nhs-table-column>
                Name
            </nhs-table-column>
            <nhs-table-column>
                Telephone number
            </nhs-table-column>
            <nhs-table-column>
                Email address
            </nhs-table-column>
            <nhs-table-column>
            </nhs-table-column>
            @foreach (var user in Model.Users)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>
                        @user.GetDisplayName()
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <div data-test-id="user-phone-@user.Id">@user.PhoneNumber</div>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <div data-test-id="user-email-@user.Id">@user.Email</div>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a data-test-id="user-name-@user.Id" asp-area="Admin" asp-controller="Organisations" asp-action="UserDetails" asp-route-organisationId="@Model.Organisation.Id" asp-route-userId="@user.Id">Manage</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>
    </div>

    <h2>Related organisations</h2>
    <p>These are the organisations @Model.Organisation.Name can create orders for.</p>
    <div data-test-id="add-organisation-button">
        <vc:nhs-action-link url="/admin/organisations/proxy/@Model.Organisation.Id" text="Add an organisation" />
    </div>

    <div id="related-org-table" data-test-id="related-org-table">
        <nhs-table>
            <nhs-table-column>
                Organisation name
            </nhs-table-column>
            <nhs-table-column>
                ODS code
            </nhs-table-column>
            <nhs-table-column>
            </nhs-table-column>
            @foreach (var relatedOrganisation in Model.RelatedOrganisations)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>
                        <div data-test-id="related-org-name-@relatedOrganisation.Id">@relatedOrganisation.Name</div>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <div data-test-id="related-org-odsCode-@relatedOrganisation.Id">@relatedOrganisation.OdsCode</div>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a data-test-id="related-org-remove-@relatedOrganisation.Id" asp-area="Admin" asp-controller="Organisations" asp-action="RemoveAnOrganisation" asp-route-organisationId="@Model.Organisation.Id" asp-route-relatedOrganisationId="@relatedOrganisation.Id">Remove</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>
    </div>
</div>
