@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.DetailsModel
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@{
    ViewData["Title"] = "Buying Catalogue - Admin";
}

<div class="nhsuk-width-container" data-test-id="organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <h1 data-test-id="org-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">@Model.Organisation.Name</h1>
    <h2 data-test-id="org-page-description" class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-9">These are the details for the organisation and its users.</h2>
    <h3 data-test-id="organisation-details-subheading" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-7">Organisation details</h3>

    <div data-test-id="edit-org-button">
        <a class="nhsuk-button nhsuk-u-margin-bottom-9" href="/admin/organisations/@Model.Organisation.OrganisationId/edit" draggable="false">
            Edit organisation
        </a>
    </div>

    <div class="nhsuk-u-font-size-19 nhsuk-grid-row nhsuk-u-padding-bottom-5">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <h4 data-test-id="org-page-ods-code-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-0">ODS code</h4>
                    <div data-test-id="org-page-ods-code" class="nhsuk-u-padding-bottom-6">@Model.Organisation.OdsCode</div>
                    <h4 data-test-id="org-page-primary-role-id-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Primary Role ID</h4>
                    <div data-test-id="org-page-primary-role-id">@Model.Organisation.PrimaryRoleId</div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <h4 data-test-id="org-page-address-heading" class="nhsuk-heading-s nhsuk-u-padding-margin-0">Business address</h4>
                    <div data-test-id="org-page-address-1">@Model.OrganisationAddress.Line1</div>
                    <div data-test-id="org-page-address-2">@Model.OrganisationAddress.Line2</div>
                    <div data-test-id="org-page-address-3">@Model.OrganisationAddress.Line3</div>
                    <div data-test-id="org-page-address-4">@Model.OrganisationAddress.Town</div>
                    <div data-test-id="org-page-address-5">@Model.OrganisationAddress.County</div>
                    <div data-test-id="org-page-address-6">@Model.OrganisationAddress.Postcode</div>
                    <div data-test-id="org-page-address-7">@Model.OrganisationAddress.Country</div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h3 data-test-id="accounts-subheading" class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-7">User accounts for @Model.Organisation.Name</h3>

    <div data-test-id="add-user-button">

        <a class="nhsuk-button nhsuk-u-margin-bottom-9" href="/admin/organisations/a98f01d6-3f73-4b59-b213-e2bd3397c16f/adduser" draggable="false">
            Add new user
        </a>

    </div>


    <div data-test-id="user-table" class="nhsuk-u-font-size-19">

        <table data-test-id="table" class="" style="page-break-inside:auto">


            <thead data-test-id="table-headings" style="display:table-header-group;">

            <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Name</div>
            </th>

            <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">Telephone number</div>
            </th>

            <th data-test-id="column-heading-2" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-2-data" class="nhsuk-u-font-weight-bold">Email address</div>
            </th>

            <th data-test-id="column-heading-3" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-3-data" class="nhsuk-u-font-weight-bold"></div>
            </th>

            </thead>


            <tbody>

                @for (int i = 0; i < Model.Users.Count(); i++)
                {
                    <tr data-test-id="table-row-@i" style="page-break-inside:avoid; page-break-after:auto">
                        <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                            <a data-test-id="user-name-@Model.Users[i].Id" href="/admin/organisations/@Model.Organisation.OrganisationId/@Model.Users[i].Id">@Model.Users[i].GetDisplayName()</a>
                        </td>
                        <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                            <div data-test-id="user-phone-@Model.Users[i].Id" class="bc-c-data-text ">@Model.Users[i].PhoneNumber</div>
                        </td>
                        <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                            <div data-test-id="user-email-@Model.Users[i].Id" class="bc-c-data-text ">@Model.Users[i].Email</div>
                        </td>
                        <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                        </td>
                    </tr>
                }
   
            </tbody>

        </table>

    </div>

    <h3 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-7">Related organisations</h3>
    <p>These are the organisations Cumbria and North East – H&amp;J Commissioning Hub can create orders for.</p>
    <div data-test-id="add-organisation-button">
        <a class="nhsuk-button nhsuk-u-margin-bottom-9" href="/admin/organisations/proxy/a98f01d6-3f73-4b59-b213-e2bd3397c16f" draggable="false">
            Add an organisation
        </a>
    </div>

    <div id="related-org-table" data-test-id="related-org-table" class="nhsuk-u-font-size-19">

        <table data-test-id="table" class="" style="page-break-inside:auto">


            <thead data-test-id="table-headings" style="display:table-header-group;">

            <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Organisation name</div>


            </th>

            <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">ODS code</div>


            </th>

            <th data-test-id="column-heading-2" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-2-data" class="nhsuk-u-font-weight-bold"></div>


            </th>

            </thead>


            <tbody>
            </tbody>

        </table>

    </div>
</div>