@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.EditOrganisationModel
@{
    ViewBag.Title = "Edit End User Agreement status";
}

<div data-test-id="edit-organisation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="@ViewBag.Title" 
                    caption="@Model.Organisation.Name"
                    advice="Change the Organisation End User Agreement status for this organisation." />
    <nhs-summary-list>
        <nhs-summary-list-row label-text="ODS code">
            <p>
                @Model.Organisation.ExternalIdentifier
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Organisation name">
            <p>
                @Model.Organisation.Name
            </p>
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Address">
            <vc:nhs-address address="@Model.OrganisationAddress" />
        </nhs-summary-list-row>
        <nhs-summary-list-row label-text="Primary Role ID">
            <p>
                @Model.Organisation.OrganisationRoleId
            </p>
        </nhs-summary-list-row>
    </nhs-summary-list>
    <form method="post">
        <input type="hidden" asp-for="@Model.BackLink" />
        <div data-test-id="catalogue-agreement-checkbox" class="nhsuk-u-margin-bottom-9">
            <nhs-checkbox-container>
                <nhs-checkbox asp-for="@Model.CatalogueAgreementSigned" label-text="Organisation End User Agreement has been signed" />
            </nhs-checkbox-container>
        </div>
        <div data-test-id="save-button">
            <nhs-submit-button text="Save" />
        </div>
    </form>
</div>
