@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.OrganisationModels.SelectOrganisationModel
@{
    ViewBag.Title = "Confirm organisation";
}

<div data-test-id="select-org-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewBag.Title"
                            advice="Confirm this is the organisation you are looking for or go back and enter a different ODS code." />
            <nhs-summary-list>
                <nhs-summary-list-row label-text="ODS code">
                    <p>
                        @Model.OdsOrganisation.OdsCode
                    </p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Organisation name">
                    <p>
                        @Model.OdsOrganisation.OrganisationName
                    </p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Address">
                    <vc:nhs-address address="@Model.OdsOrganisation.Address" />
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Primary role ID">
                    <p>
                        @Model.OdsOrganisation.OrganisationRoleId
                    </p>
                </nhs-summary-list-row>
            </nhs-summary-list>
            <form method="post">
                <input type="hidden" asp-for="@Model.OdsOrganisation.OdsCode" />
                <div data-test-id="select-org-button">
                    <nhs-submit-button text="Select this organisation" />
                </div>
            </form>
        </div>
    </div>
</div>
