@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.UserDetailsModel
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@{
    ViewData["Title"] = "details";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row" data-test-id="view-user-page">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@Model.User.GetDisplayName() details" />
        <nhs-summary-list>
            <nhs-summary-list-row label-text="Organisation name">
                <p data-test-id="organisation-name">
                    @Model.Organisation.Name
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Name">
                <p data-test-id="user-name">
                    @Model.User.GetDisplayName()
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Contact details">
                <p data-test-id="user-contact-details">
                    @Model.User.PhoneNumber
                </p>
            </nhs-summary-list-row>
            <nhs-summary-list-row label-text="Email address">
                <p data-test-id="user-email">
                    @Model.User.Email
                </p>
            </nhs-summary-list-row>
        </nhs-summary-list>
        <form method="post">
            <input type="hidden" asp-for="@Model.Organisation.Id" />
            <input type="hidden" asp-for="@Model.User.Id" />
            <input type="hidden" asp-for="@Model.User.Disabled" />
            <div data-test-id="change-account-status-button">
                <nhs-submit-button text="@Model.ToggleText" />
            </div>
        </form>
    </div>
</div>
