@model AddNonPriceElementModel

@{
    ViewBag.Title = "Which non-price element would you like to add?";
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="You can add any or all optional non-price elements to help you score your shortlisted solutions."/>

        <form method="post">
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="BackLink"/>

            @for (var i = 0; i < Model.AvailableNonPriceElements.Count; i++)
            {
                <input type="hidden" asp-for="@Model.AvailableNonPriceElements[i].Text"/>
                <input type="hidden" asp-for="@Model.AvailableNonPriceElements[i].Value"/>
            }

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Select non-price elements"
                                     label-hint="You must add non-price elements 1 at a time. If you want to add more than 1, you can do so later.">

                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.AvailableNonPriceElements.Count; i++)
                    {
                        <nhs-checkbox asp-for="@Model.AvailableNonPriceElements[i].Selected" label-text="@Model.AvailableNonPriceElements[i].Text"/>
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>

            <div>
                <nhs-submit-button/>
            </div>
            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
        </form>

    </div>
</div>
