@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.Shared
@model NonPriceElementsModel

@{
    ViewBag.Title = "Non-price elements";

    var advice = Model.HasAllNonPriceElements()
        ? "All available non-price elements have been added for this competition."
        : "Add at least 1 optional non-price element to help you score your shortlisted solutions, for example implementation, interoperability or service levels.";
    var routeValues = new { internalOrgId = Model.InternalOrgId, competitionId = Model.CompetitionId };
    var editRouteValues = new { internalOrgId = Model.InternalOrgId, competitionId = Model.CompetitionId, returnUrl = Url.ActionLink() };
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="@advice"/>

        @if (!Model.HasAllNonPriceElements())
        {
            <vc:nhs-action-link text="Add a non-price element" url="@Url.Action(nameof(CompetitionNonPriceElementsController.AddNonPriceElement), typeof(CompetitionNonPriceElementsController).ControllerName(), routeValues)"/>
        }

        @if (!Model.HasAnyNonPriceElements())
        {
            <p>No non-price elements have been added yet for this competition.</p>
        }
        else
        {
            <partial name="Partials/_NonPriceElements" model="@(new NonPriceElementsPartialModel(Model.InternalOrgId, Model.CompetitionId, Model.NonPriceElements, editRouteValues))" />
        }

        <br/>
        <vc:nhs-secondary-button type="Primary" text="Continue" url="@Model.BackLink"/>
    </div>
</div>
