@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.Shared
@model NonPriceElementsModel

@{
    ViewBag.Title = "Non-price elements";
    var routeValues = new { internalOrgId = Model.InternalOrgId, competitionId = Model.CompetitionId };
    var editRouteValues = new { internalOrgId = Model.InternalOrgId, competitionId = Model.CompetitionId, returnUrl = Url.Action() };
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="@Model.Advice"/>

        @if (!Model.HasAllNonPriceElements() && !Model.HasReviewedCriteria)
        {
            <vc:nhs-action-link text="Add a non-price element" url="@Url.Action(nameof(CompetitionNonPriceElementsController.AddNonPriceElement), typeof(CompetitionNonPriceElementsController).ControllerName(), routeValues)"/>
        }

        @if (!Model.HasAnyNonPriceElements())
        {
            <p>No non-price elements have been added yet for this competition.</p>
        }
        else
        {
            <partial name="Partials/_NonPriceElements" model="@(new NonPriceElementsPartialModel(Model.InternalOrgId, Model.CompetitionId, Model.NonPriceElements, editRouteValues, Model.HasReviewedCriteria, Model.AvailableIntegrations))" />
        }

        <br/>
        <vc:nhs-secondary-button type="Primary" text="Save and continue" url="@Model.BackLink"/>
    </div>
</div>
