@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Competitions
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsDeleteButton
@model SelectInteroperabilityCriteriaModel

@{
    ViewBag.Title = "Interoperability requirements";
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="Select which integrations your winning solution needs to work with."/>

        <form method="post">
            <input type="hidden" asp-for="CanDelete"/>
            <input type="hidden" asp-for="InternalOrgId"/>
            <input type="hidden" asp-for="CompetitionId"/>
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="BackLink"/>

            @for (var i = 0; i < Model.Integrations.Count; i++)
            {
            <input type="hidden" asp-for="@Model.Integrations[i].Name"/>
            <nhs-fieldset-form-label asp-for="@Model.Integrations[i]"
                                     label-text="@Model.Integrations[i].Name integrations"
                                     label-hint="Select all options that are relevant to you.">
                <nhs-checkbox-container>
                    @for (var j = 0; j < Model.Integrations[i].IntegrationTypes.Count; j++)
                    {
                    <input type="hidden" asp-for="@Model.Integrations[i].IntegrationTypes[j].Text"/>
                    <nhs-checkbox asp-for="@Model.Integrations[i].IntegrationTypes[j].Selected"
                                  label-text="@Model.Integrations[i].IntegrationTypes[j].Text"
                                  hidden-input="@Model.Integrations[i].IntegrationTypes[j].Value"/>
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>
            }

            <br/>
            <div>
                <nhs-submit-button/>
            </div>
            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
            @if (Model.CanDelete)
            {
                <br/>
                <div>
                    <vc:nhs-delete-button text="Delete this requirement" url="@Url.Action(nameof(CompetitionNonPriceElementsController.Delete), typeof(CompetitionNonPriceElementsController).ControllerName(), new { Model.InternalOrgId, Model.CompetitionId, nonPriceElement = NonPriceElement.Interoperability })"/>
                </div>
            }
        </form>

    </div>
</div>
