@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Competitions
@model AddServiceLevelCriteriaModel

@{
    ViewBag.Title = "Service level requirements";
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@(nameof(Model.IncludesBankHolidays))" />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="Provide information on the level of support you require for a winning solution."/>

        <form method="post">
            <input type="hidden" asp-for="CanDelete"/>
            <input type="hidden" asp-for="InternalOrgId"/>
            <input type="hidden" asp-for="CompetitionId"/>
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="BackLink"/>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Times you require core support to be available"
                                     size="Medium">
                <nhs-time-range-input asp-for="@Model"
                                      asp-for-from="TimeFrom"
                                      asp-for-until="TimeUntil"/>
            </nhs-fieldset-form-label>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Applicable days"
                                     label-hint="Select the days you require core support to be available."
                                     size="Medium">
                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.ApplicableDays.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.ApplicableDays[i].Text" />
                        <nhs-checkbox asp-for="@Model.ApplicableDays[i].Selected"
                                      label-text="@Model.ApplicableDays[i].Text"
                                      hidden-input="@Model.ApplicableDays[i].Value"/>
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Bank Holidays"
                                     label-hint="Select if you need support on Bank Holidays."
                                     size="Medium">
                <nhs-radio-buttons asp-for="IncludesBankHolidays"
                                   values="@Model.BankHolidayOptions"
                                   display-name="Text"
                                   value-name="Value" />
            </nhs-fieldset-form-label>

            <br/>
            <div>
                <nhs-submit-button/>
            </div>
            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
            @if (Model.CanDelete)
            {
                <br/>
                <div>
                    <vc:nhs-delete-button text="Delete this requirement" url="@Url.Action(nameof(CompetitionNonPriceElementsController.Delete), typeof(CompetitionNonPriceElementsController).ControllerName(), new { Model.InternalOrgId, Model.CompetitionId, nonPriceElement = NonPriceElement.ServiceLevel })"/>
                </div>
            }
        </form>

    </div>
</div>
