@model NonPriceElementWeightsModel

@{
    ViewBag.Title = Model.Title;
}


<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="@Model.Advice"/>

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="HasFeatures"/>
            <input type="hidden" asp-for="HasImplementation"/>
            <input type="hidden" asp-for="HasInteroperability"/>
            <input type="hidden" asp-for="HasServiceLevel"/>
            <input type="hidden" asp-for="HasReviewedCriteria"/>

            @if (Model.HasReviewedCriteria)
            {
                <input type="hidden" asp-for="Features"/>
                <input type="hidden" asp-for="Implementation"/>
                <input type="hidden" asp-for="Interoperability"/>
                <input type="hidden" asp-for="ServiceLevel"/>
                <nhs-summary-list>
                    @foreach (var nonPriceWeighting in Model.NonPriceWeights)
                    {
                        <nhs-summary-list-row label-text="@nonPriceWeighting.Key.ToString()">@nonPriceWeighting.Value%</nhs-summary-list-row>
                    }
                </nhs-summary-list>
            }
            else
            {
                if (Model.HasFeatures)
                {
                    <nhs-bookended-input asp-for="Features"
                                         label-text="Features weighting as a percentage"
                                         label-hint="Enter a percentage in multiples of 5. The total weightings must add up to 100%."
                                         Suffix="%"/>
                }

                if (Model.HasImplementation)
                {
                    <nhs-bookended-input asp-for="Implementation"
                                         label-text="Implementation weighting as a percentage"
                                         label-hint="Enter a percentage in multiples of 5. The total weightings must add up to 100%."
                                         Suffix="%"/>
                }

                if (Model.HasInteroperability)
                {
                    <nhs-bookended-input asp-for="Interoperability"
                                         label-text="Interoperability weighting as a percentage"
                                         label-hint="Enter a percentage in multiples of 5. The total weightings must add up to 100%."
                                         Suffix="%"/>
                }

                if (Model.HasServiceLevel)
                {
                    <nhs-bookended-input asp-for="ServiceLevel"
                                         label-text="Service level weighting as a percentage"
                                         label-hint="Enter a percentage in multiples of 5. The total weightings must add up to 100%."
                                         Suffix="%"/>
                }
            }

            <br/>
            <div>
                <nhs-submit-button text="@Model.ContinueButton"/>
            </div>
        </form>

    </div>
</div>
