@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.HostingTypeModel

@if (Model.DisplayHostingType)
{
    <nhs-details label-text="@Model.Label"> 
        @if (Model.DisplaySummary)
        {
            <div data-test-id="view-section-table-row-summary" class="bc-c-section-table-row ">
                <div data-test-id="view-section-table-row-vertical">
                    <h4 data-test-id="view-section-table-row-title">
                        Summary
                    </h4>
                    <div class="nhsuk-grid-row">
                        <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                            @if (Model.DisplaySummaryDescription)
                            {
                                <div data-test-id="view-question-data-text-summary">@Model.Summary</div>
                            }
                            @if (Model.DisplayLink)
                            {
                                <div data-test-id="view-question-data-text-link" class="bc-c-data-link ">
                                    <a href="@Model.Link" target="_blank">
                                        @Model.Link
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.DisplayHostingModel)
        {
            <div data-test-id="view-section-table-row-hosting-model" class="bc-c-section-table-row ">
                <div data-test-id="view-section-table-row-vertical">
                    <h4 data-test-id="view-section-table-row-title">
                        Data center hosting model
                    </h4>
                    <div class="nhsuk-grid-row">
                        <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                            <div data-test-id="view-question-data-text-hosting-model">@Model.HostingModel</div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.DisplayRequiresHscn)
        {
            <div data-test-id="view-section-table-row-requires-hscn" class="bc-c-section-table-row ">
                <div data-test-id="view-section-table-row-vertical">
                    <div class="nhsuk-grid-row">
                        <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                            <div data-test-id="view-question-data-text-requires-hscn" class="nhsuk-u-font-weight-bold">@Model.RequiresHscn</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </nhs-details>
}
