@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.AdditionalServicesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Solution Additional Services";
}

<div>
    <p>
        <b>
            These are the Additional Services offered with this Catalogue Solution:
        </b>
    </p>
    <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
        <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
            <span class="nhsuk-details__summary-text">
                What are Additional Services?
            </span>
        </summary>
        <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
            <p>
                Additional Services are add-ons that provide additional functionality to a Catalogue Solution for an extra cost. For example, enabling a Catalogue Solution to be used on a mobile device.
            </p>
        </div>
    </details>


    <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">Additional Services available</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">Additional Service</th>
                <th role="columnheader" class="" scope="col">Price</th>
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        @{ var id = $"#addit{i + 1}"; }
                        <a href="@id">@Model.Services[i].Name</a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        @for (int j = 0; j < Model.Services[i].Prices.Count; j++)
                        {
                            <span style="white-space: nowrap;">
                                @Model.Services[i].Prices[j]
                            </span>
                            @if (j < @Model.Services[i].Prices.Count - 1)
                            {
                                <br />
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <dl class="nhsuk-summary-list">
        @for (int i = 0; i < Model.Services.Count; i++)
        {
            var id = $"addit{i + 1}";
            <hr style="border-width: 4px;">
            <a id="@id"></a>
            <h3>@Model.Services[i].Name</h3>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Description</dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.Services[i].Description
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Capabilities and Epics</dt>
                    <dd class="nhsuk-summary-list__value">
                        @*TODO: Update URL with new page once implemented*@
                        <a asp-action="CheckCapabilityEpic" asp-controller="SolutionDetails" asp-route-id="@Model.SolutionId" class="nhsuk-breadcrumb__link">
                            Check Capabilities and Epics
                        </a> 
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Associated Services</dt>
                    <dd class="nhsuk-summary-list__value">
                        @*TODO: Update URL with new page once implemented*@
                        <a asp-action="CheckAssociatedService" asp-controller="SolutionDetails" asp-route-id="@Model.SolutionId" class="nhsuk-breadcrumb__link">
                            Check Associated Services
                        </a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Price</dt>
                    <dd class="nhsuk-summary-list__value">
                        @for (var index = 0; index < Model.Services[i].Prices.Count; index++)
                        {
                            <span style="white-space: nowrap;">@Model.Services[i].Prices[index]</span>
                            @if (index < Model.Services[i].Prices.Count - 1)
                            {
                                <br />
                            }
                        }
                    </dd>
                </div>
            </dl>
            <partial name="_BackToTop" />
        }
    </dl>
</div>
