@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.AssociatedServicesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Solution Associated Services";
}

<div>
    <p>
        <b>These are the Associated Services offered with this Catalogue Solution:</b>
    </p>
    <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
        <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
            <span class="nhsuk-details__summary-text">
                What are Associated Services?
            </span>
        </summary>
        <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
            <p>Associated Services help you to implement or optimise the live operation of a Catalogue Solution or Additional Service, for example, training or data migration.</p>
        </div>
    </details>

    @if (!Model.HasServices())
    {
        <h2>No Associated Services setup</h2>
    }
    else
    {
        <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Associated Services available</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">Associated Service</th>
                <th role="columnheader" class="" scope="col">Price</th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        @{ var id = $"#assoc{i + 1}"; }
                        <a href="@id">@Model.Services[i].Name</a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        @for (int j = 0; j < Model.Services[i].Prices.Count; j++)
                        {
                            <span style="white-space: nowrap;">
                                @Model.Services[i].Prices[j]
                            </span>
                            @if (j < @Model.Services[i].Prices.Count - 1)
                            {
                                <br/>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <dl class="nhsuk-summary-list">
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                var id = $"assoc{i + 1}";
                <hr style="border-width: 4px;">
                <a id="@id"></a>
                <h3>@Model.Services[i].Name</h3>
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Description</dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.Services[i].Description
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Order guidance</dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.Services[i].OrderGuidance
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Price</dt>
                        <dd class="nhsuk-summary-list__value">
                            @for (var index = 0; index < Model.Services[i].Prices.Count; index++)
                            {
                                <span style="white-space: nowrap;">@Model.Services[i].Prices[index]</span>
                                @if (index < Model.Services[i].Prices.Count - 1)
                                {
                                    <br/>
                                }
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="_BackToTop"/>
            }
        </dl>
    }
</div>
