@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.AssociatedServicesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Solution Associated Services";
}

<div>
    <p>
        <b>These are the Associated Services offered with this Catalogue Solution:</b>
    </p>

    <nhs-details label-text="What are Associated Services?">
        <p>Associated Services help you to implement or optimise the live operation of a Catalogue Solution or Additional Service, for example, training or data migration.</p>
    </nhs-details>

    @if (!Model.HasServices())
    {
        <h2>No Associated Services setup</h2>
    }
    else
    {
        <nhs-table label-text="Associated Services available" data-test-id="associated-services-table">
            <nhs-table-column>Associated Service</nhs-table-column>
            <nhs-table-column>Price</nhs-table-column>

            @for (int i = 0; i < Model.Services.Count; i++)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>
                        @{ var id = $"#assoc{i + 1}"; }
                        <a href="@id">@Model.Services[i].Name</a>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        @for (int j = 0; j < Model.Services[i].Prices.Count; j++)
                        {
                            <span style="white-space: nowrap;">
                                @Model.Services[i].Prices[j]
                            </span>
                            @if (j < Model.Services[i].Prices.Count - 1)
                            {
                                <br />
                            }
                        }
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>

        <dl class="nhsuk-summary-list" data-test-id="associated-services-details">
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                var id = $"assoc{i + 1}";
                <hr style="border-width: 4px;">
                <a id="@id"></a>
                <h3>@Model.Services[i].Name</h3>
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Description</dt>
                    <dd class="nhsuk-summary-list__value" data-test-id="description">
                        @Model.Services[i].Description
                    </dd>
        </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Order guidance</dt>
                        <dd class="nhsuk-summary-list__value" data-test-id="order-guidance">
                            @Model.Services[i].OrderGuidance
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Price</dt>
                        <dd class="nhsuk-summary-list__value" data-test-id="price">
                            @for (var index = 0; index < Model.Services[i].Prices.Count; index++)
                            {
                                <span style="white-space: nowrap;">@Model.Services[i].Prices[index]</span>
                                @if (index < Model.Services[i].Prices.Count - 1)
                                {
                                    <br />
                                }
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="_BackToTop" />
            }
        </dl>
    }
</div>
