@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionDetailModel;
@{
    ViewData["Title"] = Model.CatalogueItem.Name;
}

<div class="nhsuk-width-container nhsuk-u-margin-top-5">
    @*<div data-test-id="view-solution-page-back-link" class="nhsuk-u-margin-bottom-5">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="./">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back to previous page
            </a>
        </div>
    </div>*@

    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div data-test-id="view-solution-header">
                @if (Model.CatalogueItem.Solution.FrameworkSolutions.Any(x => x.IsFoundation))
                {
                    <div data-test-id="view-solution-foundation" class="bc-c-tag nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-4 bc-c-tag-outline">Foundation Solution Set</div>
                }
                <h1 data-test-id="view-solution-page-solution-name" class="nhsuk-u-margin-bottom-2">@Model.CatalogueItem.Name</h1>
                <h2 data-test-id="view-solution-page-supplier-name" class="nhsuk-u-margin-bottom-4">@Model.CatalogueItem.Supplier.Name</h2>
                <p data-test-id="view-solution-page-solution-id" class="nhsuk-u-font-size-24">Solution ID: @Model.CatalogueItem.CatalogueItemId</p>
                <div data-test-id="view-solution-page-last-updated" class="bc-t-font-color--grey-1 nhsuk-u-margin-bottom-4">Solution information last updated: @Model.CatalogueItem.Solution.LastUpdated.ToString("d MMMM yyyy")</div>
                <div data-test-id="view-solution-page-frameworks" class="bc-t-font-color--grey-1">
                    Framework(s): @Model.Frameworks
                </div>
            </div>

            @*Description DONE*@

            @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.Summary) ||
            !string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.FullDescription) ||
            !string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.AboutUrl))
            {
                <div class="nhsuk-width-container" data-test-id="view-solution-description">

                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Description</h3>
                    </div>

                    <div class="nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">

                        @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.Summary))
                        {
                            <div data-test-id="view-section-table-row-summary" class="nhsuk-width-container bc-c-section-table-row ">
                                <div data-test-id="view-section-table-row-vertical">
                                    <h4 data-test-id="view-section-table-row-title" class="nhsuk-heading-xs nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                        Summary
                                    </h4>
                                    <div class="nhsuk-grid-row">
                                        <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                                            <div data-test-id="view-question-data-text-summary" class="bc-c-data-text ">@Model.CatalogueItem.Solution.Summary</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.FullDescription) ||
               !string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.AboutUrl))
                        {
                            <div data-test-id="view-section-table-row-description" class="nhsuk-width-container bc-c-section-table-row ">
                                <div data-test-id="view-section-table-row-vertical">
                                    <h4 data-test-id="view-section-table-row-title" class="nhsuk-heading-xs nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                        Full description
                                    </h4>
                                    <div class="nhsuk-grid-row">
                                        <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                                            @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.FullDescription))
                                            {
                                                <div data-test-id="view-question-data-text-description" class="bc-c-data-text ">@Model.CatalogueItem.Solution.FullDescription</div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.AboutUrl))
                                            {
                                                <div data-test-id="view-question-data-link" class="bc-c-data-link ">
                                                    <a href="@Model.CatalogueItem.Solution.AboutUrl" target="_blank">
                                                        @Model.CatalogueItem.Solution.AboutUrl
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @*Features DONE*@

            @if (Model.Features.Any())
            {
                <div class="nhsuk-width-container" data-test-id="view-features">

                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Features</h3>
                    </div>

                    <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                        <div data-test-id="view-section-features-guidance">
                            <div data-test-id="view-features-guidance" class="bc-c-data-text bc-t-font-color--grey-1 nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds">This Catalogue Solution has the following features that can help meet needs in primary care:</div>
                        </div>

                        <div class="nhsuk-grid-column-two-thirds">

                            <div data-test-id="view-question-data-bulletlist" class="bc-c-data-bulletlist ">
                                <ul class="nhsuk-u-margin-bottom-0">
                                    @foreach (var feature in Model.Features)
                                    {
                                        <li>@feature</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*Capabilities*@

            <partial name="_Capabilities" model="Model.Capabilities" />

            @*Integrations DONE*@

            <div data-test-id="view-integrations" class="nhsuk-width-container">
                <div data-test-id="" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Integrations</h3>
                </div>
                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="view-integrations-guidance" class="bc-c-data-text bc-t-font-color--grey-1 nhsuk-u-margin-bottom-3 nhsuk-grid-column-two-thirds">View information about the systems this Catalogue Solution integrates with to exchange data:</div>
                    <div class="nhsuk-grid-column-full">
                        <div data-test-id="view-authority-assured-integrations">
                            <div data-test-id="view-section-table-row-authority-assured-integrations" class="nhsuk-width-container bc-c-section-table-row ">
                                <div data-test-id="view-section-table-row-vertical">
                                    <h4 data-test-id="view-section-table-row-title" class="nhsuk-heading-xs nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                        NHS assured integrations
                                    </h4>
                                    <div class="nhsuk-grid-row">
                                        <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                                            <div data-test-id="view-question-data-text-link-authority-integrations" class="bc-c-data-link nhsuk-u-margin-bottom-3">
                                                <a href="document/integrations.pdf" target="_blank">
                                                    View NHS assured integrations
                                                </a>
                                            </div>
                                            <div data-test-id="view-data-text-additional-information" class="bc-c-data-text bc-t-font-color--grey-1">To find out more about these NHS assured integrations, follow the links below.</div>
                                            <div data-test-id="view-question-data-text-link-gpconnect" class="bc-c-data-link ">
                                                <a href="https://digital.nhs.uk/services/gp-connect" target="_blank">
                                                    GPConnect
                                                </a>
                                            </div>
                                            <div data-test-id="view-question-data-text-link-im1" class="bc-c-data-link ">
                                                <a href="https://digital.nhs.uk/services/future-gp-it-systems-and-services/im1-pairing-integration" target="_blank">
                                                    IM1
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.IntegrationsUrl))
                        {
                            <div data-test-id="view-supplier-asserted-integrations">
                                <div data-test-id="view-section-table-row-supplier-asserted-integrations" class="nhsuk-width-container bc-c-section-table-row bc-t-border--none">
                                    <div data-test-id="view-section-table-row-vertical">
                                        <h4 data-test-id="view-section-table-row-title" class="nhsuk-heading-xs nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                            Supplier asserted integrations
                                        </h4>
                                        <div class="nhsuk-grid-row">
                                            <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-two-thirds">
                                                <div data-test-id="view-data-text-additional-information" class="bc-c-data-text ">Supplier asserted integrations are interoperability interfaces prepared by a supplier and are not specified or assured by the NHS.</div>
                                                <div data-test-id="view-question-data-text-link-supplier-integrations" class="bc-c-data-link ">
                                                    <a href="@Model.CatalogueItem.Solution.IntegrationsUrl" target="_blank">
                                                        @Model.CatalogueItem.Solution.IntegrationsUrl
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @*Implementation Timescales*@

            @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.ImplementationDetail))
            {
                <div class="nhsuk-width-container" data-test-id="view-implementation-timescales">
                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Implementation timescales</h3>
                    </div>
                    <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                        <div data-test-id="view-implementation-timescales-guidance" class="bc-c-data-text bc-t-font-color--grey-1 nhsuk-u-margin-bottom-3 nhsuk-grid-column-two-thirds">These are the typical processes and timescales to implement this Catalogue Solution:</div>
                        <div class="nhsuk-grid-column-two-thirds">
                            <div data-test-id="view-question-data-text-description" class="bc-c-data-text ">@Model.CatalogueItem.Solution.ImplementationDetail</div>
                        </div>
                    </div>
                </div>
            }

            @*Client Application Types*@

            @if (Model.DisplayClientApplicationTypes)
            {
                <div class="nhsuk-width-container" data-test-id="view-client-application-types">
                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Client application type</h3>
                    </div>
                    <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                        <div data-test-id="view-section-client-application-types-guidance">
                            <div data-test-id="view-client-application-types-guidance" class="bc-c-data-text bc-t-font-color--grey-1 nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds">This Catalogue Solution is supported by the following client application types:</div>
                        </div>
                        <div class="nhsuk-grid-column-full">
                            <partial name="_ClientApplicationTypes" model="Model.BrowserBased" />
                            <partial name="_ClientApplicationTypes" model="Model.NativeMobile" />
                            <partial name="_ClientApplicationTypes" model="Model.NativeDesktop" />
                        </div>
                    </div>
                </div>
            }

            @*Hosting Type*@

            @if (Model.DisplayHostingType)
            {
                <div class="nhsuk-width-container" data-test-id="view-hosting-types">
                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Hosting type</h3>
                    </div>
                    <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                        <div data-test-id="view-section-hosting-types-guidance">
                            <div data-test-id="view-hosting-types-guidance" class="bc-c-data-text bc-t-font-color--grey-1 nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds">These are the ways this Catalogue Solution can be hosted:</div>
                        </div>
                        <div class="nhsuk-grid-column-full">
                            <partial name="_HostingType" model="Model.PublicCloud" />
                            <partial name="_HostingType" model="Model.PrivateCloud" />
                            <partial name="_HostingType" model="Model.HybridHostingType" />
                            <partial name="_HostingType" model="Model.OnPremise" />
                        </div>
                    </div>
                </div>
            }

            @*Roadmap DONE APART FROM LINK*@

            <div class="nhsuk-width-container" data-test-id="view-roadmap">
                <div data-test-id="" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Roadmap</h3>
                </div>
                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div data-test-id="view-section-roadmap-guidance">
                            <div data-test-id="view-roadmap-guidance" class="bc-c-data-text bc-t-font-color--grey-1 nhsuk-u-margin-bottom-3">These are the supplier’s development plans for this Catalogue Solution:</div>
                        </div>
                        <div data-test-id="view-section-question-document-link">
                            <div data-test-id="view-question-data-link-document-link" class="bc-c-data-link nhsuk-u-margin-bottom-4">
                                <a href="@Model.CatalogueItem.CatalogueItemId/document/roadmap.pdf" target="_blank">
                                    View roadmap
                                </a>
                            </div>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Solution.RoadMap))
                        {
                            <div data-test-id="view-section-question-summary">
                                <div data-test-id="view-question-data-text-summary" class="bc-c-data-text ">@Model.CatalogueItem.Solution.RoadMap</div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @*About Supplier*@

            @if (Model.DisplaySupplier)
            {
                <div class="nhsuk-width-container" data-test-id="view-about-supplier">
                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">About supplier</h3>
                    </div>
                    <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                            @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Supplier.Summary))
                            {
                                <div data-test-id="view-section-question-description">
                                    <div data-test-id="view-question-data-text-description" class="bc-c-data-text ">@Model.CatalogueItem.Supplier.Summary</div>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.CatalogueItem.Supplier.SupplierUrl))
                            {
                                <div data-test-id="view-section-question-link">
                                    <div data-test-id="view-question-data-link" class="bc-c-data-link ">
                                        <a href="@Model.CatalogueItem.Supplier.SupplierUrl" target="_blank">
                                            @Model.CatalogueItem.Supplier.SupplierUrl
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @*Learn More*@

            <div class="nhsuk-width-container" data-test-id="view-learn-more">

                <div data-test-id="" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Learn more</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3">
                    <div class="nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds">
                        <div data-test-id="view-section-learn-more">
                            <div data-test-id="view-learn-more-guidance" class="bc-c-data-text nhsuk-u-margin-bottom-3">Learn more about this Catalogue Solution, for example its price, the standards it has met and any additional or associated services available.</div>
                        </div>
                        <div data-test-id="view-section-question-document-link">
                            <a class="nhsuk-button nhsuk-button--secondary" href="100000-001/document/solution.pdf" draggable="false">
                                Download PDF
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            @*Contact Details*@

            @if (Model.DisplayContacts)
            {
                <div class="nhsuk-width-container" data-test-id="view-solution-contact-details">
                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Contact details</h3>
                    </div>
                    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3">
                        <div data-test-id="view-section-question-contact-1" class="nhsuk-grid-column-one-half">
                            <div data-test-id="view-question-data-text-contact-name" class="bc-c-data-text ">@Model.Contact1Name</div>
                            <div data-test-id="view-question-data-text-department-name" class="bc-c-data-text ">@Model.Contact1Department</div>
                            <div data-test-id="view-question-data-text-phone-number" class="bc-c-data-text ">@Model.Contact1PhoneNumber</div>
                            <div data-test-id="view-question-data-text-email-address" class="bc-c-data-text ">@Model.Contact1EmailAddress</div>
                        </div>
                        <div data-test-id="view-section-question-contact-2" class="nhsuk-grid-column-one-half">
                            <div data-test-id="view-question-data-text-contact-name" class="bc-c-data-text ">@Model.Contact2Name</div>
                            <div data-test-id="view-question-data-text-department-name" class="bc-c-data-text ">@Model.Contact2Department</div>
                            <div data-test-id="view-question-data-text-phone-number" class="bc-c-data-text ">@Model.Contact2PhoneNumber</div>
                            <div data-test-id="view-question-data-text-email-address" class="bc-c-data-text ">@Model.Contact2EmailAddress</div>
                        </div>
                    </div>
                </div>
            }

            @*Associated Services*@

            @if (Model.AssociatedServices)
            {
                <div class="nhsuk-width-container" data-test-id="view-solution-contact-details">
                    <div data-test-id="" class="bc-c-section-heading ">
                        <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Associated Services</h3>
                    </div>
                    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3">

                        <p>Associated Services page</p>

                    </div>
                </div>
            }

            <div class="nhsuk-u-padding-left-3 nhsuk-u-padding-right-3 nhsuk-u-padding-top-5 bc-u-text-align-right">
                <div data-test-id="back-to-top-link" class="bc-c-back-to-top ">
                    <a class="nhsuk-back-to-top__link" href="#maincontent">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                        Back to top
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
