@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionSupplierDetailsModel;

<div class="nhsuk-grid-row">
    <article class="nhsuk-grid-column-two-thirds">
        <h2>About @Model.Name</h2>
        @if (!string.IsNullOrWhiteSpace(Model.Summary))
        {
            <p style="white-space: pre-line">@Model.Summary</p>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Url))
        {
            <p>
                <a href="@Model.Url">@Model.Url</a>
            </p>
        }
        @if (Model.HasContacts())
        {
            <h2>Contact details</h2>
            @foreach (var contact in Model.Contacts)
            {
                <nhs-summary-list>
                    <nhs-summary-list-row label-text="Contact name">
                        <p>
                            @contact.FullName
                        </p>
                    </nhs-summary-list-row>
                    <nhs-summary-list-row label-text="Department">
                        <p>
                            @contact.Department
                        </p>
                    </nhs-summary-list-row>
                    <nhs-summary-list-row label-text="Contact details">
                        @if (!string.IsNullOrWhiteSpace(contact.PhoneNumber))
                        {
                            <p>@contact.PhoneNumber</p>
                        }
                        <p>@contact.Email</p>
                    </nhs-summary-list-row>
                </nhs-summary-list>
            }
        }
    </article>
</div>
