@model Gen2UploadModel

@{
    ViewBag.Title = "Map Epics to solutions and services";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        advice="Upload a correctly formatted CSV file to map updated Epics to the correct solutions and services."/>

        <form method="post" enctype="multipart/form-data">
            <nhs-fieldset-form-container asp-for="@Model" label-text="Upload Epics CSV file" size="Medium">
                <nhs-file-upload file-type="Csv" asp-for="File"></nhs-file-upload>
            </nhs-fieldset-form-container>

            <div>
                <nhs-submit-button text="Upload Epics"/>
            </div>
            <div>
                <a asp-controller="@(typeof(HomeController).ControllerName())"
                   asp-action="@(nameof(HomeController.Index))"
                   asp-area="@(typeof(HomeController).AreaName())">Cancel</a>
            </div>
        </form>
    </div>
</div>
