@using System.Linq
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.HostingTypeModels.HostingTypeSelectionModel
@{
    ViewBag.Title = "Add a Hosting Type";
    var anyHostingTypes = Model.HostingTypesToAdd.Any();
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="SelectedHostingType"/>
                <nhs-page-title title="@ViewBag.Title"
                                advice="@(anyHostingTypes ? "Select a hosting type that supports your Catalogue Solution. You can add other options later." : "All hosting types already added.")" />
        <form method="post">
            <input type="hidden" asp-for="@Model.HostingTypesAvailableForSelection" value="@anyHostingTypes" />

            @if (anyHostingTypes)
            {
                <div class="nhsuk-form-group">
                    <nhs-fieldset-form-label asp-for="@Model">
                        <nhs-radio-buttons asp-for="SelectedHostingType"
                                           values="@Model.HostingTypesToAddRadioItems"
                                           value-name="Value"
                                           display-name="Text" />
                    </nhs-fieldset-form-label>
                </div>
                <br />
            }
            <nhs-submit-button text="Save and continue" />
        </form>
    </div>
</div>
