@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Solutions;
@using EnumsNET
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ApplicationTypeModels.ApplicationTypeSectionModel;
@{
    ViewBag.Title = "Application type";
}
<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <partial name="Partials/_BackLink" model="Model" />
        </div>
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Let buyers know which platforms are compatible with your Catalogue Solution." />

            <vc:nhs-action-link url="@Url.Action(
            nameof(CatalogueSolutionsController.AddApplicationType),
            typeof(CatalogueSolutionsController).ControllerName(),
            new { Model.SolutionId })" text=" Add an application type" />

            <p>
                Use the link to add information on which platforms your Catalogue Solution is compatible with.
            </p>

            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.ExistingApplicationTypesCount" />

                @if (Model.ExistingApplicationTypes.Any())
                {
                    <nhs-table>
                        <nhs-table-column>Application types added</nhs-table-column>
                        <nhs-table-column>Status</nhs-table-column>
                        <nhs-table-column>Action</nhs-table-column>

                        @foreach (var applicationType in Model.ExistingApplicationTypes)
                        {
                            <nhs-table-row-container>
                                <nhs-table-cell>@FormatApplicationType(applicationType)</nhs-table-cell>
                                <nhs-table-cell>
                                    <nhs-tag status-enum="@Model.ClientApplication.ApplicationTypeStatus(applicationType)" />
                                </nhs-table-cell>
                                <nhs-table-cell>
                                    @if (applicationType == ApplicationType.MobileTablet)
                                    {
                                        <a asp-action="@nameof(MobileTabletBasedController.MobileTablet)"
                                           asp-controller="@typeof(MobileTabletBasedController).ControllerName()"
                                           asp-route-solutionId="@Model.SolutionId"
                                           class="nhsuk-breadcrumb__link">Edit</a>
                                    }
                                    else if (applicationType == ApplicationType.Desktop)
                                    {
                                        <a asp-action="@nameof(DesktopBasedController.Desktop)"
                                           asp-controller="@typeof(DesktopBasedController).ControllerName()"
                                           asp-route-solutionId="@Model.SolutionId"
                                           class="nhsuk-breadcrumb__link">Edit</a>
                                    }
                                    else if (applicationType == ApplicationType.BrowserBased)
                                    {
                                        <a asp-action="@nameof(BrowserBasedController.BrowserBased)"
                                           asp-controller="@typeof(BrowserBasedController).ControllerName()"
                                           asp-route-solutionId="@Model.SolutionId"
                                           class="nhsuk-breadcrumb__link">Edit</a>
                                    }
                                </nhs-table-cell>
                            </nhs-table-row-container>
                        }
                    </nhs-table>
                }
                <br/>
                <vc:nhs-secondary-button text="Continue"
                                         type="Primary"
                                         url="@Url.Action(
                                     nameof(CatalogueSolutionsController.ManageCatalogueSolution),
                                     typeof(CatalogueSolutionsController).ControllerName(),
                                     new { Model.SolutionId })" />

            </form>
        </div>
    </div>
</div>

@{
    string FormatApplicationType(ApplicationType applicationType) => applicationType switch
    {
        ApplicationType.MobileTablet => "Mobile application",
        _ => $"{applicationType.AsString(EnumFormat.DisplayName)} application",
    };
}
