@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.BrowserBasedModels.ConnectivityAndResolutionModel;
@{
    ViewData["Title"] = "Browser-based application – connectivity and resolution";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="Browser-based application – connectivity and resolution"
                            caption="@Model.SolutionName"
                            advice="Let buyers know the connection speed and screen resolution needed to use your Catalogue Solution." />
            <form method="post">
                <input type="hidden" asp-for="@Model.SolutionId" />
                <input type="hidden" asp-for="@Model.BackLink" />
                <input type="hidden" asp-for="@Model.SolutionName" />
                <nhs-select asp-for="SelectedConnectionSpeed"
                            asp-items="@(new SelectList(Model.ConnectionSpeeds,"Value","Text"))"
                            label-text="Connection speed"
                            label-hint="Select the minimum bandwidth required for your Catalogue Solution to function." />

                <nhs-select asp-for="SelectedScreenResolution"
                            asp-items="@(new SelectList(Model.ScreenResolutions,"Value","Text"))"
                            label-text="Screen resolution and aspect ratio (optional)"
                            label-hint="Select the minimum recommended screen resolution and aspect ratio for your Catalogue Solution to function on desktop." />
                <nhs-submit-button text="Save and continue" />
            </form>
        </div>
    </div>
</div>
