@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Tags
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.CatalogueSolutionsModel
@{
    ViewData["Title"] = "Manage Catalogue Solutions";
    Layout = "_Layout";
}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1>Manage Catalogue Solutions</h1>
        <p class="nhsuk-lede-text">
            Add a new solution or edit one that's already been published.
        </p>

        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Add a solution</span>
            </a>
        </div>

        <details
            class="nhsuk-details nhsuk-expander"
            id="nhsuk-details0"
            nhsuk-polyfilled="true"
            @if (Model.HasSelected)
            {
                <text>open=""</text>
            }>
            <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
                <span class="nhsuk-details__summary-text">
                    Filter Catalogue Solutions
                </span>
            </summary>
            <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
                <form method="post">
                    <p class="nhsuk-hint">
                        Select one option.
                    </p>
                    <div class="nhsuk-form-group">
                        <div class="nhsuk-radios">
                            @foreach (var status in Model.AllPublicationStatuses)
                            {
                                <div class="nhsuk-radios__item">
                                    <input name="publicationStatus"
                                           checked="@status.Checked"
                                           class="nhsuk-radios__input"
                                           id="@status.Id"
                                           type="radio"
                                           value="@status.Id"/>
                                    <label class="nhsuk-label nhsuk-radios__label" for="@status.Id">
                                        @status.Display
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <hr style="margin: 0; margin-bottom: 1em;">
                    <button id="Submit" class="nhsuk-button" type="submit">
                        Apply filter
                    </button>
                </form>
                <a asp-action="Index" asp-controller="CatalogueSolutions">Clear filter</a>
            </div>
        </details>

        <nhs-table>
            @foreach (var heading in new[]
            {
                "Solution ID", "Solution name", "Supplier", "Last updated", "Status", string.Empty,
            })
            {
                <nhs-table-column>@heading</nhs-table-column>
            }

            @foreach (var item in Model.Solutions)
            {
                <nhs-table-row-container>
                    @foreach (var cell in new[]
                    {
                        item.CatalogueItemId,
                        item.Name,
                        item.Supplier,
                        item.LastUpdated == DateTime.MinValue ? string.Empty : item.LastUpdated.ToString("dd/MM/yyy"),
                    })
                    {
                        <nhs-table-cell>@cell</nhs-table-cell>
                    }

                    <nhs-table-cell>
                        @{
                            NhsTagsTagHelper.TagColour colour = NhsTagsTagHelper.TagColour.White;
                            switch (item.PublishedStatusId)
                            {
                                case 1:
                                    colour = NhsTagsTagHelper.TagColour.Red;
                                    break;
                                case 2:
                                    break;
                                case 3:
                                    colour = NhsTagsTagHelper.TagColour.Green;
                                    break;
                                case 4:
                                    colour = NhsTagsTagHelper.TagColour.Yellow;
                                    break;
                            }
                        }
                        <nhs-tag text="@item.PublishedStatus" colour="@colour"/>
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a href="#" style="white-space: nowrap;">
                            Edit
                        </a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            }
        </nhs-table>

    </div>
</div>
