@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.CatalogueSolutionsModel
@{
    ViewData["Title"] = "Manage Catalogue Solutions";
}

<div class="nhsuk-width-container" data-test-id="organisations">

    <div class="nhsuk-grid-column-full">
        <h1>Manage Catalogue Solutions</h1>
        <p class="nhsuk-lede-text">
            Add a new solution or edit one that's already been published.
        </p>

        <table role="table" class="nhsuk-table-responsive">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Solution ID
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Solution name
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Supplier
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Last updated
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Status
                    </th>
                    <th role="columnheader" class="" scope="col">

                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                @foreach (var item in Model.CatalogueItems)
                {
                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Solution </span>@item.CatalogueItemId
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Solution </span>@item.Name
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Supplier </span>@item.SupplierId
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Last updated </span>TODO @item.Created
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--white">@item.PublishedStatusId</strong>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Action </span><a href="#" style="white-space: nowrap;">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
