@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.CatalogueSolutionsModels.ManageCatalogueSolutionModel;
@{
    ViewBag.Title = Model.SolutionName;
}

@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(HomeController.Index)"
                       asp-controller="@typeof(HomeController).ControllerName()"
                       class="nhsuk-breadcrumb__link">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="@nameof(CatalogueSolutionsController.Index)"
                       asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                       class="nhsuk-breadcrumb__link">Manage Catalogue Solutions</a>
                </li>
            </ol>
        </div>
    </nav>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="SelectedPublicationStatus"/>
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SupplierName"
                        advice="Explain what your Catalogue Solution is for and how it works. This information will be published on the Buying Catalogue to help buyers understand if it meets their needs." />
        @if (!string.IsNullOrWhiteSpace(Model.LastUpdatedByName))
        {
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Last updated by">
                    @Model.LastUpdatedByName
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Last updated">
                    @Model.LastUpdated.ToString("d MMMM yyyy")
                </nhs-summary-list-row>
            </nhs-summary-list>
        }

        <vc:nhs-secondary-button url="@Url.Action(
                                      nameof(SolutionsController.Description),
                                      typeof(SolutionsController).ControllerName(),
                                      new { solutionId = Model.SolutionId, area = "Solutions" })"
                                 type="Secondary"
                                 text="Preview" />

        <nhs-fieldset-form-container asp-for="@Model"
                                     label-text="Sections"
                                     size="Large"
                                     label-hint="Provide as much information as possible for buyers. You can save your progress at any point, but a Catalogue Solution listing page cannot be published until all mandatory fields have been completed.">

            <nhs-table data-test-id="manage-solution-table">
                <nhs-table-column>Section</nhs-table-column>
                <nhs-table-column>Mandatory</nhs-table-column>
                <nhs-table-column>Status</nhs-table-column>
                <nhs-table-column>Action</nhs-table-column>
                <nhs-table-row-container>
                    <nhs-table-cell>Details</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(CatalogueSolutionsController.Details)"
                           asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Description</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.DescriptionStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(CatalogueSolutionsController.Description)"
                           asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Features</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.FeaturesStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(CatalogueSolutionsController.Features)"
                           asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Interoperability</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.InteroperabilityStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(InteroperabilityController.Interoperability)"
                           asp-controller="@typeof(InteroperabilityController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Implementation</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.ImplementationStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(CatalogueSolutionsController.Implementation)"
                           asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Application type</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.ApplicationTypeStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(CatalogueSolutionsController.ClientApplicationType)"
                           asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Hosting type</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.HostingTypeStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-controller="@typeof(HostingTypesController).ControllerName()"
                           asp-action="@nameof(HostingTypesController.HostingType)"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>List price</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.ListPriceStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-controller="@typeof(CatalogueSolutionListPriceController).ControllerName()"
                           asp-action="@nameof(CatalogueSolutionListPriceController.Index)"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Capabilities and Epics</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.CapabilitiesStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-action="@nameof(CatalogueSolutionsController.EditCapabilities)"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Additional Services</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="Model.AdditionalServicesStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-controller="@typeof(AdditionalServicesController).ControllerName()"
                           asp-action="@nameof(AdditionalServicesController.Index)"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Associated Services</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell><nhs-tag status-enum="@Model.AssociatedServicesStatus" /></nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-controller="@typeof(AssociatedServicesController).ControllerName()"
                           asp-action="@nameof(AssociatedServicesController.AssociatedServices)"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Development plans</nhs-table-cell>
                    <nhs-table-cell>No</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.RoadmapStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(DevelopmentPlansController.DevelopmentPlans)"
                           asp-controller="@typeof(DevelopmentPlansController).ControllerName()"
                           asp-area="@typeof(DevelopmentPlansController).AreaName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Supplier details</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.SupplierDetailsStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(CatalogueSolutionsController.EditSupplierDetails)"
                           asp-controller="@typeof(CatalogueSolutionsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
                <nhs-table-row-container>
                    <nhs-table-cell>Service Level Agreement</nhs-table-cell>
                    <nhs-table-cell>Yes</nhs-table-cell>
                    <nhs-table-cell>
                        <nhs-tag status-enum="@Model.SlaStatus" />
                    </nhs-table-cell>
                    <nhs-table-cell>
                        <a asp-action="@nameof(ServiceLevelAgreementsController.Index)"
                           asp-controller="@typeof(ServiceLevelAgreementsController).ControllerName()"
                           asp-route-solutionId="@Model.SolutionId">Edit</a>
                    </nhs-table-cell>
                </nhs-table-row-container>
            </nhs-table>
        </nhs-fieldset-form-container>

        <form method="post" asp-action="SetPublicationStatus" asp-route-solutionId="@Model.SolutionId">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="BackLinkText" />

            <input type="hidden" asp-for="SolutionId" />
            <input type="hidden" asp-for="SolutionName" />
            <input type="hidden" asp-for="SolutionPublicationStatus" />
            <input type="hidden" asp-for="SupplierName" />
            <input type="hidden" asp-for="LastUpdated" />
            <input type="hidden" asp-for="LastUpdatedByName" />

            <input type="hidden" asp-for="DescriptionStatus" />
            <input type="hidden" asp-for="FeaturesStatus" />
            <input type="hidden" asp-for="ImplementationStatus" />
            <input type="hidden" asp-for="RoadmapStatus" />
            <input type="hidden" asp-for="HostingTypeStatus" />
            <input type="hidden" asp-for="ApplicationTypeStatus" />
            <input type="hidden" asp-for="InteroperabilityStatus" />
            <input type="hidden" asp-for="ListPriceStatus" />
            <input type="hidden" asp-for="AssociatedServicesStatus" />
            <input type="hidden" asp-for="AdditionalServicesStatus" />
            <input type="hidden" asp-for="SupplierDetailsStatus" />
            <input type="hidden" asp-for="SlaStatus" />
            <input type="hidden" asp-for="CapabilitiesStatus" />
            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Catalogue Solution status"
                                     label-hint="Select one option."
                                     size="Large">
                <nhs-radio-buttons asp-for="SelectedPublicationStatus"
                                   values="Model.PublicationStatuses.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text" />
            </nhs-fieldset-form-label>

            <nhs-submit-button />
        </form>
    </div>
</div>

