@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ManageCatalogueSolutionModel;
@section Breadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="Index" asp-controller="Home" class="nhsuk-breadcrumb__link">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a asp-action="Index" asp-controller="CatalogueSolutions" class="nhsuk-breadcrumb__link">Manage Catalogue Solutions</a>
                </li>
            </ol>
        </div>
    </nav>
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@Model.Solution.Name"
                            caption="@Model.Solution.Supplier.Name"
                            advice="Explain what your Catalogue Solution is for and how it works. This information will be published on the Buying Catalogue to help buyers understand if it meets their needs." />
            @if (!string.IsNullOrWhiteSpace(Model.LastUpdatedByName))
            {
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Last updated by">
                    @Model.LastUpdatedByName  
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Last updated">
                    @Model.Solution.Solution.LastUpdated.ToLongDateString()
                </nhs-summary-list-row>
            </nhs-summary-list>
            }

            <nhs-fieldset-form-container asp-for="@Model"
                                         label-text="Sections"
                                         size="Large"
                                         label-hint="Provide as much information as possible for buyers. You can save your progress at any point, but a Catalogue Solution Listing page cannot be published until all mandatory fields have been completed.">

                <nhs-table>
                    <nhs-table-column>Section</nhs-table-column>
                    <nhs-table-column>Mandatory</nhs-table-column>
                    <nhs-table-column>Status</nhs-table-column>
                    <nhs-table-column></nhs-table-column>
                    <nhs-table-row-container>
                        <nhs-table-cell>Details</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Description</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a asp-action="EditDescription" asp-controller="SolutionSections" asp-route-solutionId="@Model.Solution.CatalogueItemId">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Features</nhs-table-cell>
                        <nhs-table-cell>No</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="@Model.StatusFeatures()" /></nhs-table-cell>
                        <nhs-table-cell>
                            <a asp-action="Features" asp-route-solutionId="@Model.Solution.CatalogueItemId">Edit</a>
                        </nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Capabilities</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>List Price</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Additional Services</nhs-table-cell>
                        <nhs-table-cell>No</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Associated Services</nhs-table-cell>
                        <nhs-table-cell>No</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Interoperability</nhs-table-cell>
                        <nhs-table-cell>No</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Implementation</nhs-table-cell>
                        <nhs-table-cell>No</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Client Application Type</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Hosting Type</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Service Level Agreement</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Development plans</nhs-table-cell>
                        <nhs-table-cell>No</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>
                    <nhs-table-row-container>
                        <nhs-table-cell>Supplier details</nhs-table-cell>
                        <nhs-table-cell>Yes</nhs-table-cell>
                        <nhs-table-cell><nhs-tag colour="Green" text="Completed" /></nhs-table-cell>
                        <nhs-table-cell><a href="#">Edit</a></nhs-table-cell>
                    </nhs-table-row-container>                    
                </nhs-table>
            </nhs-fieldset-form-container>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="What would you like to do with this Catalogue Solution?"
                                     label-hint="Select one option."
                                     size="Large">
                <nhs-radio-buttons asp-for="SelectedOption"
                                   values="Model.PublicationStatuses.Cast<object>()"
                                   value-name="EnumMemberName"
                                   display-name="Name" />
            </nhs-fieldset-form-label>

            <nhs-submit-button text="Continue" />
        </div>
    </div>
</div>
