@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers

@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard.DashboardCardBaseModel<NHSD.GPIT.BuyingCatalogue.EntityFramework.Filtering.Models.Filter>

@{
    var hasFilters = Model.Items.Count > 0;
}

<nhs-card-v2>
    <nhs-card-content centre-alignment="@(!hasFilters)">
        @if (!hasFilters)
        {
            <img src="~/images/competitions-splash-with-shadow.svg" alt="Shortlist image" class="splash-intro-img nhsuk-u-margin-top-2"/>
            <h3 class="nhsuk-heading-m">No shortlists created yet</h3>
            <p class="nhsuk-body">
                Shortlists you create for your organisation will appear here.<br/>

                Competitions allow you to compare available
                <a asp-action="@nameof(SolutionsController.Index)"
                   asp-controller="@typeof(SolutionsController).ControllerName()"
                   asp-area="@typeof(SolutionsController).AreaName()">
                    Catalogue Solutions
                </a>.
            </p>
            <vc:nhs-secondary-button text="Create new shortlist"
                                     url="@(Url.Action(nameof(SolutionsController.Index), typeof(SolutionsController).ControllerName(), new { Area = typeof(SolutionsController).AreaName() }))"
                                     type="Primary"/>
        }
    </nhs-card-content>
</nhs-card-v2>
