@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.DetailsAndExpander
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.AdditionalFiltersModel
<form method="post">

    <input type="hidden" asp-for="Selected"/>
    <input type="hidden" asp-for="SortBy" />

    <nhs-expander label-text="Framework"
                  open="true"
                  data-test-id="filter-framework-expander">

        @if (Model.FrameworkOptions.Count == 1)
        {
            var framework = Model.FrameworkOptions.First();
            Model.SelectedFrameworkId = framework.Value;

            <input type="hidden" asp-for="SelectedFrameworkId" />
            @(framework.Text)
        }
        else
        {
            <nhs-fieldset-form-label asp-for="SelectedFrameworkId">
                <nhs-radio-buttons asp-for="SelectedFrameworkId"
                                   values="Model.FrameworkOptions.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text"/>
            </nhs-fieldset-form-label>
        }
    </nhs-expander>
     <nhs-expander label-text="Application type" open="true">

         <nhs-fieldset-form-label asp-for="@Model">
            <nhs-checkbox-container>
				@for (int clientAppTypeIndex = 0; clientAppTypeIndex < Model.ApplicationTypeOptions.Count; clientAppTypeIndex++)
				{
                    <nhs-checkbox asp-for="@Model.ApplicationTypeOptions[clientAppTypeIndex].Selected"
                              hidden-input="@Model.ApplicationTypeOptions[clientAppTypeIndex].Value"
                              label-text="@Model.ApplicationTypeOptions[clientAppTypeIndex].Text" />
				}
			</nhs-checkbox-container>
         </nhs-fieldset-form-label>

    </nhs-expander>
	<nhs-expander label-text="Hosting type"
				  open="true"
				data-test-id="filter-hosting-expander">

		<nhs-fieldset-form-label asp-for="@Model">
			<nhs-checkbox-container>
					@for (var i = 0; i < Model.HostingTypeOptions.Count; i++)
					{
					<nhs-checkbox asp-for="@Model.HostingTypeOptions[i].Selected"
								label-text="@Model.HostingTypeOptions[i].Text"
								hidden-input="@Model.HostingTypeOptions[i].Value" />
					}
			</nhs-checkbox-container>
		</nhs-fieldset-form-label>
    </nhs-expander>
	<nhs-expander label-text="Interoperability"
				  open="true">
        @for (int j = 0; j < @Model.InteroperabilityOptions.Count();j++)
        {
            <nhs-fieldset-form-label asp-for="@Model">
                <nhs-checkbox-container>
                    <nhs-checkbox asp-for="@Model.InteroperabilityOptions[j].Selected"
                                          label-text="@Model.InteroperabilityOptions[j].Text integrations"
                                          hidden-input="@Model.InteroperabilityOptions[j].Value">
                        @if (@Model.InteroperabilityOptions[j].Text == @Model.InteroperabilityOptions[0].Text)
                        {
                            <nhs-checkbox-container>
                                @for (var i = 0; i < Model.IM1IntegrationsOptions.Count; i++)
                                {
                                    <nhs-checkbox asp-for="@Model.IM1IntegrationsOptions[i].Selected"
                                      label-text="@Model.IM1IntegrationsOptions[i].Text"
                                      hidden-input="@Model.IM1IntegrationsOptions[i].Value"/>
                                }
                            </nhs-checkbox-container>
                        }
                        @if (@Model.InteroperabilityOptions[j].Text == @Model.InteroperabilityOptions[1].Text)
                        {
                            <nhs-checkbox-container>
					            @for (var i = 0; i < Model.GPConnectIntegrationsOptions.Count; i++)
					            {
					                <nhs-checkbox asp-for="@Model.GPConnectIntegrationsOptions[i].Selected"
								    label-text="@Model.GPConnectIntegrationsOptions[i].Text"
								    hidden-input="@Model.GPConnectIntegrationsOptions[i].Value" />
					            }
                            </nhs-checkbox-container>
                        }
                    </nhs-checkbox>
			</nhs-checkbox-container>
		</nhs-fieldset-form-label>
        }
    </nhs-expander>
    <nhs-submit-button style="width:100%" text="View results" class="nhsuk-button--secondary"/>

    <nhs-submit-button style="width:100%" text="Save all filters" formaction="@Url.Action(nameof(ManageFiltersController.SaveFilter), typeof(ManageFiltersController).ControllerName())" />
</form>
