@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.DetailsAndExpander
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.AdditionalFiltersModel

<nhs-expander label-text="Framework" open="true">
    @if (!string.IsNullOrWhiteSpace(Model.FrameworkFilter))
    {
        <ul>
            <li>
                @(Model.FrameworkFilter)
            </li>
        </ul>
    }
    else
    {
        @("None selected")
    }
</nhs-expander>
<nhs-expander label-text="Application type" open="true">
    @if (Model.ApplicationTypeFilters.Any())
    {
        <ul>
            @foreach (var filter in Model.ApplicationTypeFilters)
            {
                <li>
                    @(filter)
                </li>
            }
        </ul>
    }
    else
    {
        @("None selected")
    }
</nhs-expander>
<nhs-expander label-text="Hosting type" open="true">
    @if (Model.HostingTypeFilters.Any())
    {
        <ul>
            @foreach (var thing in Model.HostingTypeFilters)
            {
                <li>
                    @(thing)
                </li>
            }
        </ul>
    }
    else
    {
        @("None selected")
    }
</nhs-expander>
@if (Model.FilterId.HasValue)
{
    <div>
        <vc:nhs-secondary-button text="Download results (PDF)"
                             url="@Url.Action(nameof(ManageFiltersController.DownloadResults), typeof(ManageFiltersController).ControllerName(), new { filterId = Model.FilterId.Value })"
                             type="Secondary" />
    </div>
}
