@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionDisplayBaseModel
@{
    ViewBag.Title = $"Solution {Model.Section}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>

<body>

    <header data-test-id="header-banner" class="bc-c-header nhsuk-header nhsuk-header--organisation nhsuk-header--white nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2" role="banner">

        <partial name="_Header" />

        <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
            <div class="nhsuk-width-container">
                <p class="nhsuk-header__navigation-title">
                    <span id="label-navigation">Menu</span>
                    <button class="nhsuk-header__navigation-close" id="close-menu">
                        <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                        </svg>
                        <span class="nhsuk-u-visually-hidden">Close menu</span>
                    </button>
                </p>
                <ul class="nhsuk-header__navigation-list">
                    <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile">
                        <a class="nhsuk-header__navigation-link" asp-action="Index" asp-controller="Home">
                            Home
                            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" asp-action="Index" asp-controller="Home">
                            Catalogue Solutions
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" asp-action="Index" asp-controller="Home">
                            Create or manage orders
                        </a>
                    </li>
                    <li class="nhsuk-header__navigation-item">
                        <a class="nhsuk-header__navigation-link" asp-action="Index" asp-controller="Home">
                            Buyer's guide
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" data-test-id="home-crumb" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" data-test-id="catalogue-solutions-crumb" asp-action="SearchResults" asp-controller="Futures">Catalogue Solutions</a>
                </li>
                @if (Model.NotFirstSection())
                {
                    <li class="nhsuk-breadcrumb__item">
                        <a asp-action="Description" asp-controller="SolutionDetails" asp-route-id="@Model.SolutionId" class="nhsuk-breadcrumb__link">
                            @Model.SolutionName
                        </a>
                    </li>
                }
            </ol>
        </div>
    </nav>

    <div class="nhsuk-width-container">
        <main role="main" class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent">

            <div class="nhsuk-u-padding-top-5"></div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h1>
                        <span role="text">
                            @Model.Section
                            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                                <span class="nhsuk-u-visually-hidden"> - </span>
                                @Model.SolutionName
                            </span>
                        </span>
                    </h1>
                </div>
            </div>

            <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                <ol class="nhsuk-contents-list__list">
                    @foreach (var sectionModel in Model.GetSections())
                    {
                        @if (sectionModel.Selected)
                        {
                            <li class="nhsuk-contents-list__item" aria-current="page">
                                <span class="nhsuk-contents-list__current">@sectionModel.Name</span>
                            </li>
                        }
                        else
                        {
                            <li class="nhsuk-contents-list__item">
                                <a asp-action="@sectionModel.Action"
                                   asp-controller="@sectionModel.Controller"
                                   asp-route-id="@sectionModel.Id"
                                   class="nhsuk-contents-list__link">
                                    @sectionModel.Name
                                </a>
                            </li>
                        }
                    }
                </ol>
            </nav>

            @RenderBody()

            <partial name="_LastReviewed" model="@Model.LastReviewed" />

            <partial name="_PaginationFooter" model="@Model.PaginationFooter" />
        </main>
    </div>

    <footer role="contentinfo">
        <div class="nhsuk-footer" id="nhsuk-footer">
            <div class="nhsuk-width-container">
                <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                <ul class="nhsuk-footer__list">
                    <li class="nhsuk-footer__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                        <a class="nhsuk-footer__list-item-link" href="https://digital.nhs.uk/about-nhs-digital/privacy-and-cookies">Privacy policy and cookies</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                        <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
                    </li>
                </ul>

                <p class="nhsuk-footer__copyright">© Crown copyright</p>
            </div>
        </div>
    </footer>

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <script src="~/govuk-frontend/assets/js/govuk-frontend-3.11.0.min.js"></script>
    <script src="~/nhsuk-frontend/assets/js/nhsuk.min.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
</body>
</html>
