@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Models.SolutionsFilterModels
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionSearchResultModel;

<div class="nhsuk-card nhsuk-card__inverted">
    <div class="nhsuk-card__content">
        <h3 class="nhsuk-heading-m">
            @if (Model.NoLinks)
            {
                @Model.CatalogueItem.Name
            }
            else
            {
                <a asp-area="@typeof(SolutionsController).AreaName()"
                   asp-controller="@typeof(SolutionsController).ControllerName()"
                   asp-action="@nameof(SolutionsController.Description)"
                   asp-route-solutionId="@Model.CatalogueItem.Id">
                    @Model.CatalogueItem.Name
                </a>
            }
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
                @Model.CatalogueItem.Supplier.Name
            </span>
        </h3>
        <p>
            @Model.CatalogueItem.Solution.Summary
        </p>
        @if (Model.CatalogueItem.Solution.AdditionalServices.Any())
        {
            <h4 class="nhsuk-heading-xs">Additional Services required</h4>
            <p>These Additional Services are needed along with the solution to meet all the Capabilities and Epics you’ve selected:</p>
            <p>
                @for (int i = 0; i < Model.CatalogueItem.Solution.AdditionalServices.Count; i++)
                {
                    @if (Model.NoLinks)
                    {
                        @Model.CatalogueItem.Solution.AdditionalServices.ElementAt(i).CatalogueItem.Name
                    }
                    else
                    {

                        <a asp-area="@typeof(SolutionsController).AreaName()"
                           asp-controller="@typeof(SolutionsController).ControllerName()"
                           asp-action="@nameof(SolutionsController.AdditionalServices)"
                           asp-fragment="@Model.CatalogueItem.Solution.AdditionalServices.ElementAt(i).CatalogueItemId"
                           asp-route-solutionId="@Model.CatalogueItem.Id">
                            @Model.CatalogueItem.Solution.AdditionalServices.ElementAt(i).CatalogueItem.Name
                        </a>
                    }
                    @if (i + 1 != Model.CatalogueItem.Solution.AdditionalServices.Count)
                    {
                        @(", ")
                    }
                }
            </p>
        }

        @if (Model.NoLinks)
        {
            <h4 class="nhsuk-heading-xs">@FrameworkHeading()</h4>
            <p>@(string.Join(", ", Model.CatalogueItem.Solution.FrameworkSolutions.Select(fs => $"{fs.Framework.ShortName}{(fs.Framework.IsExpired ? " (expired)" : string.Empty)}")))</p>
        }
        else
        {
            foreach (var fs in Model.CatalogueItem.Solution.FrameworkSolutions) //.Select(fs => $"{fs.Framework.ShortName}{(fs.Framework.IsExpired ? " (expired)" : string.Empty)}")))</p>
            {
                var name = $"{fs.Framework.ShortName}{(fs.Framework.IsExpired ? " (expired)" : string.Empty)}";
                <nhs-tag text="@name" colour="Grey" />
            }
        }
    </div>
</div>

@{
    string FrameworkHeading() => Model.CatalogueItem.Solution.FrameworkSolutions.Select(x => x.Framework).Count() > 1 ? "Frameworks" : "Framework";
}
