@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Models.SolutionsFilterModels
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionSearchResultModel;

@{
    var orderedCapabilities = Model.CatalogueItem.CatalogueItemCapabilities.OrderBy(cic => cic.Capability.Name).ToList();
    var index = orderedCapabilities.FindIndex(oc => oc.Capability.Name == "Productivity");
    if (index >= 0)
    {
        var item = orderedCapabilities.First(oc => oc.Capability.Name == "Productivity");
        orderedCapabilities.RemoveAt(index);
        orderedCapabilities.Add(item);
    }
}

<div data-test-id="solutions-card">
    <div class="nhsuk-grid-columns-full">
        <h3 class="nhsuk-heading-m">
            @if (Model.NoLinks)
            {
                @Model.CatalogueItem.Name
            }
            else
            {
                <a asp-area="@typeof(SolutionsController).AreaName()"
               asp-controller="@typeof(SolutionsController).ControllerName()"
               asp-action="@nameof(SolutionsController.Description)"
               asp-route-solutionId="@Model.CatalogueItem.Id">
                    @Model.CatalogueItem.Name
                </a>
            }
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
                @Model.CatalogueItem.Supplier.Name
            </span>
        </h3>
        <p>
            @Model.CatalogueItem.Solution.Summary
        </p>
        @if (Model.CatalogueItem.Solution.AdditionalServices.Any())
        {
            <h4 class="nhsuk-heading-xs">Additional Services relevant to your search</h4>
            <p>
                @for (int i = 0; i < Model.CatalogueItem.Solution.AdditionalServices.Count; i++)
                {
                    @if (Model.NoLinks)
                    {
                        @Model.CatalogueItem.Solution.AdditionalServices.ElementAt(i).CatalogueItem.Name
                    }
                    else
                    {

                        <a asp-area="@typeof(SolutionsController).AreaName()"
               asp-controller="@typeof(SolutionsController).ControllerName()"
               asp-action="@nameof(SolutionsController.AdditionalServices)"
               asp-fragment="@Model.CatalogueItem.Solution.AdditionalServices.ElementAt(i).CatalogueItemId"
               asp-route-solutionId="@Model.CatalogueItem.Id">
                            @Model.CatalogueItem.Solution.AdditionalServices.ElementAt(i).CatalogueItem.Name
                        </a>
                    }
                    @if (i + 1 != Model.CatalogueItem.Solution.AdditionalServices.Count)
                    {
                        @(", ")
                    }
                }
            </p>
        }
        @if (Model.SelectedCapabilityIds.Any())
        {
            <h4 class="nhsuk-heading-xs">Search information</h4>
            <p>
                @(CapabilitiesNotMet())
            </p>
        }

        <h4 class="nhsuk-heading-xs">@FrameworkHeading()</h4>
        <p>@(string.Join(", ", Model.CatalogueItem.Solution.FrameworkSolutions.Select(fs => $"{fs.Framework.ShortName}{(fs.Framework.IsExpired ? " (expired)" : string.Empty)}")))</p>
        <nhs-endnote>
            Published on: @Model.CatalogueItem.LastPublished?.ToString("d MMMM yyyy")
        </nhs-endnote>
    </div>
</div>
<hr />

@{
    string CapabilitiesNotMet()
    {
        var claimedCapabilities = Model.CatalogueItem.CatalogueItemCapabilities.Select(cic => cic.CapabilityId).ToList();

        claimedCapabilities.AddRange(Model.CatalogueItem.Solution.AdditionalServices.SelectMany(adit => adit.CatalogueItem.CatalogueItemCapabilities.Select(cic => cic.CapabilityId)));

        claimedCapabilities = claimedCapabilities.Distinct().ToList();

        var excludedIds = Model.SelectedCapabilityIds
            .Where(sci => !claimedCapabilities.Contains(sci.CapabilityId))
            .Select(sci => sci.CapabilityName)
            .OrderBy(sci => sci);

        return excludedIds.Any() ? $"Missing from your search criteria: {string.Join(", ", excludedIds)}" : "All of the Capabilities you've selected have been met.";
    }

    string FrameworkHeading() => Model.CatalogueItem.Solution.FrameworkSolutions.Select(x => x.Framework).Count() > 1 ? "Frameworks" : "Framework";
}
