@model CompetitionAwardCriteriaModel

@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.IncludesNonPrice)"/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="@Model.Advice"/>

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="HasReviewedCriteria"/>

            @if (Model.HasReviewedCriteria)
            {
                <input type="hidden" asp-for="IncludesNonPrice"/>

                <nhs-summary-list>
                    <nhs-summary-list-row label-text="Award criteria">@(Model.AwardCriteriaOptions.First(x => x.Value == Model.IncludesNonPrice.GetValueOrDefault())?.Text)</nhs-summary-list-row>
                </nhs-summary-list>
            }
            else
            {
                <nhs-fieldset-form-label asp-for="@Model">
                    <nhs-radio-buttons asp-for="IncludesNonPrice"
                                       values="Model.AwardCriteriaOptions.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text"/>
                </nhs-fieldset-form-label>
            }
            <br/>
            <nhs-submit-button text="@Model.ContinueButton"/>
        </form>

    </div>
</div>
