@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Competitions.Models.Shared
@using NHSD.GPIT.BuyingCatalogue.ServiceContracts.Competitions
@model CompetitionReviewCriteriaModel

@{
    ViewBag.Title = "Review competition criteria";
    var editRouteValues = new { internalOrgId = Model.InternalOrgId, competitionId = Model.CompetitionId, returnUrl = Url.ActionLink() };

    var editPriceWeightings = Url.Action(nameof(CompetitionTaskListController.Weightings), typeof(CompetitionTaskListController).ControllerName(), editRouteValues);
    var editNonPriceElementWeightings = Url.Action(nameof(CompetitionNonPriceElementsController.Weights), typeof(CompetitionNonPriceElementsController).ControllerName(), editRouteValues);
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="Review the weightings you’ve applied to your competition and the details of any non-price elements you’ve added."/>

        <h2 class="nhsuk-heading-l">Weightings</h2>
        <nhs-card>
            <h3 class="nhsuk-heading-s">Award criteria weighting</h3>
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Price" action="@CreateAction(editPriceWeightings)">@Model.CompetitionWeights.Price%</nhs-summary-list-row>
                <nhs-summary-list-row label-text="Non-price" action="@CreateAction(editPriceWeightings)">@Model.CompetitionWeights.NonPrice%</nhs-summary-list-row>
            </nhs-summary-list>

            <h3 class="nhsuk-heading-s">Non-price weighting</h3>
            <nhs-summary-list>
                @foreach (var nonPriceWeighting in Model.NonPriceWeights)
                {
                    <nhs-summary-list-row label-text="@nonPriceWeighting.Key.ToString()" action="@CreateAction(editNonPriceElementWeightings)">@nonPriceWeighting.Value%</nhs-summary-list-row>
                }
            </nhs-summary-list>
        </nhs-card>

        <h2 class="nhsuk-heading-l">Non-price elements</h2>
        <partial name="Partials/_NonPriceElements" model="@(new NonPriceElementsPartialModel(Model.InternalOrgId, Model.CompetitionId, Model.NonPriceElements, editRouteValues, Model.HasReviewedCriteria) { IsReviewScreen = true })"/>
        <br/>

        @if (!Model.HasReviewedCriteria)
        {
            <nhs-warning-callout label-text="Confirming competition criteria">
                Confirming your competition criteria will mean you can no longer change the information you’ve provided. Both the award criteria and non-price elements you’ve selected will be locked, as will the weightings you’ve given for each of them.

                If you’re happy with the information you can confirm your competition criteria and proceed.
            </nhs-warning-callout>
        }

        <form method="post">
            <nhs-submit-button text="@Model.ContinueButton"/>
        </form>
    </div>
</div>

@{
    (string, string) CreateAction(string url) => Model.HasReviewedCriteria ? (null, null) : ("Edit", url);
}
