@model CompetitionWeightingsModel

@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="@Model.Advice"/>

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="CompetitionName"/>
            <input type="hidden" asp-for="HasReviewedCriteria"/>

            @if (Model.HasReviewedCriteria)
            {
                <input type="hidden" asp-for="Price"/>
                <input type="hidden" asp-for="NonPrice"/>
                <nhs-summary-list>
                    <nhs-summary-list-row label-text="Price">@Model.Price%</nhs-summary-list-row>
                    <nhs-summary-list-row label-text="Non-price">@Model.NonPrice%</nhs-summary-list-row>
                </nhs-summary-list>
            }
            else
            {
                <nhs-bookended-input asp-for="Price"
                                     label-text="Price weighting as a percentage"
                                     label-hint="Enter a percentage between 30% and 90% in multiples of 5. The total weightings must add up to 100%."
                                     Suffix="%"/>

                <nhs-bookended-input asp-for="NonPrice"
                                     label-text="Non-price weighting as a percentage"
                                     label-hint="Enter a percentage between 10% and 70% in multiples of 5. The total weightings must add up to 100%."
                                     Suffix="%"/>
            }
            <br/>
            <nhs-submit-button text="@Model.ContinueButton"/>
        </form>

    </div>
</div>
