@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.FrameworkModels.AddEditFrameworkModel

@{
    var titleModel = Model.GetPageTitle();
    ViewBag.Title = titleModel.Title;
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />

        <nhs-page-title model="titleModel" />

        <form method="post">
            <input type="hidden" asp-for="BackLink" />

            <nhs-input label-text="Name"
                       label-hint="Provide a unique name for this framework"
                       asp-for="Name" />
            <br />

            <nhs-bookended-input asp-for="@Model.MaximumTerm"
                                 label-text="What is the maximum duration (in months)?"
                                 label-hint="This is the maximum length of time a Call-off Agreement can run for under this framework."
                                 Suffix="months" />
            <br />

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="What type of funding can be used"
                                     label-hint="Select all that apply."
                                     size="Small">
                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.FundingTypes.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.FundingTypes[i].Text" />
                        <nhs-checkbox asp-for="@Model.FundingTypes[i].Selected"
                                      label-text="@Model.FundingTypes[i].Text"
                                      hidden-input="@Model.FundingTypes[i].Value"
                                      data-test-id="funding-types-text" />
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>
            <br />

            <nhs-submit-button />
            <br />
            <p class="nhsuk-body">
                <a href="@Model.BackLink">Cancel</a>
            </p>
            @if (Model.FrameworkId is not null)
            {
                <p>
                    <vc:nhs-delete-button url="@Url.Action(
                                                   nameof(FrameworksController.Expire),
                                                   typeof(FrameworksController).ControllerName(),
                                                   new { Model.FrameworkId})"
                                          text="Expire this framework" />
                </p>
            }
        </form>
    </div>
</div>
