@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.FrameworkModels.AddEditFrameworkModel

@{
    ViewBag.Title = Model.FrameworkId is null
        ? "Add a framework"
        : "Edit framework";
}

<partial name="Partials/_BackLink" model="Model"/>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title" advice="Provide details for this framework."/>

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>

            <nhs-input label-text="Name"
                       label-hint="Provide a unique name for this framework"
                       asp-for="Name"/>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="What type of funding can be used"
                                     label-hint="Select all funding types that apply."
                                     size="Small">
                <nhs-checkbox-container>
                    @for (var i = 0; i < Model.FundingTypes.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.FundingTypes[i].Text"/>
                        <nhs-checkbox asp-for="@Model.FundingTypes[i].Selected"
                                      label-text="@Model.FundingTypes[i].Text"
                                      hidden-input="@Model.FundingTypes[i].Value"
                                      data-test-id="funding-types-text" />
                    }
                </nhs-checkbox-container>
            </nhs-fieldset-form-label>

            <div>
                <nhs-submit-button/>
            </div>
            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
            @if(Model.FrameworkId is not null)
            {
                <div style="margin-top:15px">
                    <vc:nhs-delete-button url="@Url.Action(
                                                   nameof(FrameworksController.Expire),
                                                   typeof(FrameworksController).ControllerName(),
                                                   new { Model.FrameworkId})"
                                      text="Expire this framework" />
                </div>
            }
            

        </form>
    </div>
</div>
